**Author: PSI**

**Project Descriptio:2018 LEHD Data QC (version 7.5) of the origin- destination (OD) data**

QC checks: <br>

Part 1-Compare the source data and staging tables for: <br>
-Field totals<br>
-Number of Records <br>
-Spot checking data <br>

Part 2-Checking outliers in data by sorting data from highest to lowest and visualizing those census tracts in ArcGISPro

**Installing Packages**

In [4]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

**Loading the source data**

In [5]:
%%time 

path = r'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD'

# 2016 source data
csv_2016 = glob.glob(path + "/*2016.csv")
list_2016 = []

# for filename in csv_2016:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     list_2016.append(df)

# od_2016 = pd.concat(list_2016, axis=0, ignore_index=True)

# od_2016

Wall time: 37.4 ms

In [6]:
csv_2016[1]

'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT01_2016.csv'

In [7]:
df = pd.read_csv(csv_2016[1], index_col=None, header=0)

In [8]:
df

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,60014001001007,483396924001037,1,1,0,0,1,0,0,0,0,1,20200924
1,60014001001068,271159505002033,1,0,0,1,0,1,0,0,0,1,20200924
2,60014002002003,530610538011002,1,0,1,0,0,1,0,0,0,1,20200924
3,60014002002006,260750012002001,1,1,0,0,0,1,0,0,0,1,20200924
4,60014003001006,481130131022007,1,0,1,0,1,0,0,0,0,1,20200924
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127810,61150411003021,320310010112025,1,0,1,0,0,1,0,0,1,0,20200924
127811,61150411003058,320310030003011,1,0,1,0,0,1,0,0,0,1,20200924
127812,61150411004035,320310031081021,1,0,0,1,0,1,0,0,0,1,20200924
127813,61150411004037,517700009003013,1,1,0,0,0,1,0,0,1,0,20200924
127814,61150411004051,320310033062006,1,0,1,0,1,0,0,0,0,1,20200924

In [40]:
db16.dtypes

w_geoid    object
h_geoid    object
S000        int64
SA01        int64
SA02        int64
SA03        int64
SE01        int64
SE02        int64
SE03        int64
SI01        int64
SI02        int64
SI03        int64
type       object
yr          int64
dtype: object

In [4]:
glob.glob(path + "/*2016.csv")

['R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT00_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT01_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT02_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT03_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT04_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT05_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT00_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT01_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT02_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT03_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT04_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT05_2016.csv']

In [5]:
# %%time

# # 2017 source data
# csv_2017 = glob.glob(path + "/*2017.csv")
# list_2017 = []

# for filename in csv_2017:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     list_2017.append(df)

# od_2017 = pd.concat(list_2017, axis=0, ignore_index=True)

In [6]:
# %%time

# # 2018 source data
# csv_2018 = glob.glob(path + "/*2018.csv")
# list_2018 = []

# for filename in csv_2018:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     list_2018.append(df)

# od_2018 = pd.concat(list_2018, axis=0, ignore_index=True)

**Loading the staging tables**

In [7]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=socioec_data;'
                      'Trusted_Connection=yes;')

In [8]:
%%time

#2016
od_db16 ="SELECT * "\
                  "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
                   "WHERE yr= 2016"
db16 = pd.read_sql_query(od_db16, conn)

# #2017
# od_db17 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2017"
# db17 = pd.read_sql_query(od_db17, conn)  

# #2018
# od_db18 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2018"
# db18 = pd.read_sql_query(od_db18, conn)

Wall time: 3min 53s

In [9]:
# %%time

# #2017
# od_db17 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2017"
# db17 = pd.read_sql_query(od_db17, conn)

In [10]:
# %%time

# #2018
# od_db18 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2018"
# db18 = pd.read_sql_query(od_db18, conn)

In [11]:
db16

,w_geoid,h_geoid,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,type,yr
0,060730133101040,060730032122007,1,0,1,0,0,0,1,0,0,1,JT00,2016
1,060730133101040,060730032122009,1,0,1,0,0,0,1,0,0,1,JT00,2016
2,060730133101040,060730032122018,1,0,0,1,0,1,0,0,0,1,JT00,2016
3,060730133101040,060730032122022,1,0,1,0,0,0,1,0,0,1,JT00,2016
4,060730133101040,060730032131001,1,0,1,0,0,1,0,0,0,1,JT00,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5459436,060590886013000,060730200271003,1,1,0,0,0,1,0,0,1,0,JT00,2016
5459437,060590886013000,060730202022000,1,0,1,0,1,0,0,0,1,0,JT00,2016
5459438,060590886013000,060730202102000,1,0,1,0,0,0,1,0,1,0,JT00,2016
5459439,060590886013000,060730202113000,1,0,1,0,1,0,0,0,1,0,JT00,2016
5459440,060590886013000,060730203071005,1,0,1,0,0,1,0,0,1,0,JT00,2016

**QC checks** 
1. Compare the sum totals by columns
2. Compare data types 
3. Conduct spot checks for top 1000 rows<br> 
**Note**- The source data will have to be subsetted to include only San Diego geoid (starting with 6073) and remove unnecessary columns

In [12]:
%%time
# Subsetting the source data 
od_2016_sub= od_2016 [od_2016 ['w_geocode'].astype(str).str.startswith('6073') | od_2016 ['h_geocode'].astype(str).str.startswith('6073') ]

Wall time: 4min 19s

In [41]:
od_2016_sub.dtypes

w_geocode     float64
h_geocode     float64
S000            int64
SA01            int64
SA02            int64
SA03            int64
SE01            int64
SE02            int64
SE03            int64
SI01            int64
SI02            int64
SI03            int64
createdate      int64
dtype: object

In [14]:
# %%time
# od_2017_sub= od_2017 [od_2017 ['w_geocode'].astype(str).str.startswith('6073') | od_2017 ['h_geocode'].astype(str).str.startswith('6073') ]

In [15]:
# %%time
# od_2018_sub= od_2018 [od_2018 ['w_geocode'].astype(str).str.startswith('6073') | od_2018 ['h_geocode'].astype(str).str.startswith('6073') ]

In [16]:
# od_2016_sub
# od_2017_sub
# od_2018_sub

In [17]:
# len(od_2016_w)+ len(od_2016_h)

In [18]:
print('2016: {0} {1}'.format(len(od_2016_sub), len(db16)))
# print('2017: {0} {1} ({2})'.format(len(od_2017_sub), len(db17), len(od_2017_sub)-len(db17)))
# print('2018: {0} {1}'.format(len(od_2018_sub), len(db18)))

2016: 5469881 5459441

In [19]:
# od_2017.info(memory_usage='deep')

# Finding the Sums of the tables

# Sums from R drive

In [20]:
od_2016_sub.head()

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
103967,6.073000e+13,1.325200e+14,1,0,0,1,1,0,0,0,0,1,20200924
103968,6.073000e+13,3.104800e+14,1,0,0,1,0,1,0,0,0,1,20200924
103969,6.073000e+13,4.007400e+14,1,0,0,1,0,1,0,0,0,1,20200924
103970,6.073000e+13,3.200300e+14,1,1,0,0,0,1,0,0,0,1,20200924
103971,6.073000e+13,3.301300e+14,1,1,0,0,0,1,0,0,0,1,20200924

In [33]:
db16.head()

,w_geoid,h_geoid,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,type,yr
0,060730133101040,060730032122007,1,0,1,0,0,0,1,0,0,1,JT00,2016
1,060730133101040,060730032122009,1,0,1,0,0,0,1,0,0,1,JT00,2016
2,060730133101040,060730032122018,1,0,0,1,0,1,0,0,0,1,JT00,2016
3,060730133101040,060730032122022,1,0,1,0,0,0,1,0,0,1,JT00,2016
4,060730133101040,060730032131001,1,0,1,0,0,1,0,0,0,1,JT00,2016

In [34]:
## CHECKING CSV

# h_geocode blocks
od_blocks = od_2016_sub.drop_duplicates(subset=['h_geocode'])
od_count_h = len(od_blocks)
print('h_geocode: {0}'.format(od_count_h))

# w_geocode blocks
od_blocks = od_2016_sub.drop_duplicates(subset=['w_geocode'])
od_count_w = len(od_blocks)
print('w_geocode: {0}'.format(od_count_w))

h_geocode: 148054
w_geocode: 58140

In [36]:
## CHECKING DB TABLE
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=socioec_data;'
                      'Trusted_Connection=yes;')
                      
# h_geoid blocks
qry = "SELECT DISTINCT h_geoid FROM socioec_data.lehd_lodes.od_7_5 WHERE yr = 2016"
db_blocks = pd.read_sql_query(qry, conn)
db_count_h = len(db_blocks)
print('h_geoid: {0}'.format(db_count_h))

# w_geoid blocks
qry = "SELECT DISTINCT w_geoid FROM socioec_data.lehd_lodes.od_7_5 WHERE yr = 2016"
db_blocks = pd.read_sql_query(qry, conn)
db_count_w = len(db_blocks)
print('w_geoid: {0}'.format(db_count_w))

h_geoid: 146668
w_geoid: 58137

In [37]:
print('h difference: {0}'.format(od_count_h - db_count_h))
print('w difference: {0}'.format(od_count_w - db_count_w))

h difference: 1386
w difference: 3

In [27]:
SQL_sumcheck_df = db16[['S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02',
       'SE03', 'SI01', 'SI02', 'SI03']]

In [25]:
od_2016_sub.columns

Index(['w_geocode', 'h_geocode', 'S000', 'SA01', 'SA02', 'SA03', 'SE01',
       'SE02', 'SE03', 'SI01', 'SI02', 'SI03', 'createdate'],
      dtype='object')

In [26]:
r_sumcheck_df = od_2016_sub[['S000', 'SA01', 'SA02', 'SA03', 'SE01',
       'SE02', 'SE03', 'SI01', 'SI02', 'SI03']]

In [32]:
SQL_sumcheck_df.sum()

S000    5917791
SA01    1427425
SA02    3275504
SA03    1214862
SE01    1162046
SE02    2011510
SE03    2744235
SI01     909003
SI02    1091479
SI03    3917309
dtype: int64

In [30]:
r_sumcheck_df.sum()

S000    5928234
SA01    1430272
SA02    3280816
SA03    1217146
SE01    1164553
SE02    2015663
SE03    2748018
SI01     910739
SI02    1092984
SI03    3924511
dtype: int64