In [1]:
import pandas as pd

In [8]:
housing = pd.read_csv(r'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\housing\region_housing_est_2022_01_ind_QA.csv')
housing = housing.set_index(['region', 'yr_id'])
population = pd.read_csv(r'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\population\region_population_est_2022_01_ind_QA.csv')
population = population.set_index(['region', 'yr_id'])
household = pd.read_csv(r'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\households\region_households_est_2022_01_ind_QA.csv')
household = household.set_index(['region', 'yr_id'])

In [9]:
household

                 Family household:female householder, no husband present   \
region    yr_id
San Diego 2020                                              191908
          2021                                              192652
          2022                                              194626

                 Family household:male householder, no wife present  \
region    yr_id
San Diego 2020                                              377440
          2021                                              378902
          2022                                              382784

                 Family household:married-couple  \
region    yr_id
San Diego 2020                            272996
          2021                            274054
          2022                            276861

                 Nonfamily household:female householder, living alone  \
region    yr_id
San Diego 2020                                               32070
          2021                                               32195
          2022                                               32524

                 Nonfamily household:female householder, not living alone  \
region    yr_id
San Diego 2020                                               22109
          2021                                               22195
          2022                                               22422

                 Nonfamily household:male householder, living alone  \
region    yr_id
San Diego 2020                                              169561
          2021                                              170219
          2022                                              171962

                 Nonfamily household:male householder, not living alone  \
region    yr_id
San Diego 2020                                               78186
          2021                                               78489
          2022                                               79293

                 Total_Household_Type
region    yr_id
San Diego 2020                1144270
          2021                1148706
          2022                1160472