In [1]:
import pandas as pd
import numpy as np

In [2]:
taz = pd.read_csv(r'Outputs/EC2_taz13.CSV')
taz.head()

   TAZ_13  EC_ID                           EC_Name  Tier
0      13     50  Oceanside - San Luis Rey Mission     4
1      15     93  Marine Corps Base Camp Pendleton     5
2      16     93  Marine Corps Base Camp Pendleton     5
3      43     93  Marine Corps Base Camp Pendleton     5
4      46     26                         Fallbrook     4

In [3]:
mgra = pd.read_csv(r'Outputs/EC2_mgra13.CSV')
mgra.head()

   MGRA_13  EC_ID      EC_Name  Tier
0       13     28    Hillcrest     2
1       15     28    Hillcrest     2
2       18     47  Ocean Beach     2
3       19     47  Ocean Beach     2
4       20     47  Ocean Beach     2

# Check only unique taz and mgra per ec

In [4]:
taz.shape

(2105, 4)

In [5]:
len(taz['TAZ_13'].unique())

2105

In [6]:
mgra.shape

(7678, 4)

In [7]:
len(mgra['MGRA_13'].unique())

7678

# Check ECs in crosswalk

In [8]:
taz['EC_Name'].unique()

array(['Oceanside - San Luis Rey Mission',
       'Marine Corps Base Camp Pendleton', 'Fallbrook', 'Casino Pauma',
       "Harrah's Resort Southern California", 'Oceanside - Old Grove',
       'Vista Guajome', 'Oceanside - Rancho Del Oro',
       'Oceanside Civic Center', 'Vista Village',
       'Oceanside - Oceanside Boulevard', 'Oceanside Tri-city',
       'El Camino', 'Vista Sycamore', 'Carlsbad Village',
       'San Marcos Civic Center', 'Vista Tech Park',
       'Escondido Centre City', 'Carlsbad Palomar Airport',
       'Escondido - Midway', 'Escondido - Palomar',
       'Carlsbad State Beach', 'Encinitas Beach',
       'Encinitas - I-5 Eastward', 'Encinitas - La Costa', 'Ramona',
       'West Bernardo', 'Rancho Bernardo', 'Solana Beach',
       'Barona Resort & Casino', 'Del Mar Fairgrounds', 'Del Mar',
       'Poway', 'Rancho Pe√±asquitos', 'Carmel Valley', 'Scripps Poway',
       'Sorrento Valley West', 'Sorrento Valley East', 'Scripps Ranch',
       'Marine Corps Air Station Miramar', 'Miramar', 'Carroll Canyon',
       'Lakeside', 'Viejas Casino & Resort', 'University City', 'Santee',
       'La Jolla', 'Kearny Mesa West', 'Alpine', 'Kearny Mesa East',
       'El Cajon - Gillespie Field', 'Morena Boulevard', 'Clairemont',
       'El Cajon', 'Pacific Beach', 'Linda Vista', 'Lake Murray',
       'Mission Gorge', 'University of San Diego', 'Sycuan Casino Resort',
       'Mission Valley', 'La Mesa', 'San Diego State University',
       'Mid-City', 'University Heights', 'Normal Heights', 'Ocean Beach',
       'Hillcrest', 'Jamacha', 'Spring Valley', 'San Diego Airport',
       'Lemon Grove', 'Marine Corps Recruit Depot', 'Balboa Park',
       'Fleet Anti-Submarine Warfare', 'Downtown',
       'Naval Medical Center San Diego', 'Golden Hill', 'Encanto',
       'Naval Air Station North Island Coronado', 'Logan Heights',
       'Jamul Casino', 'Naval Base Point Loma', 'Barrio Logan',
       'Golden Acorn Casino & Travel Center', 'Coronado', 'National City',
       'Naval Base San Diego', 'Naval Amphibious Base Coronado',
       'Sweetwater', 'Chula Vista Northwest', 'Chula Vista Eastlake',
       'Chula Vista - Sunbow', 'Chula Vista Southwest',
       'Chula Vista Otay', 'Otay Mesa East', 'Imperial Beach - Nestor',
       'Otay Mesa Brown Field', 'San Ysidro'], dtype=object)

In [9]:
taz['EC_ID'].sort_values().unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  82,  83,  87,  88,  90,  91,  92,  93,  94,  95,  96,  97,
        98, 100, 101, 102, 103, 104, 106, 108], dtype=int64)

In [10]:
len(taz['EC_Name'].unique())

99

In [11]:
mgra['EC_Name'].unique()

array(['Hillcrest', 'Ocean Beach', 'San Diego Airport', 'Mission Valley',
       'University Heights', 'Normal Heights', 'Mission Gorge',
       'Mid-City', 'Lemon Grove', 'Encanto', 'San Diego State University',
       'La Mesa', 'National City', 'Sweetwater', 'Naval Base San Diego',
       'Logan Heights', 'Barrio Logan', 'Golden Hill', 'Balboa Park',
       'Downtown', 'Naval Medical Center San Diego',
       'Marine Corps Recruit Depot', 'Naval Base Point Loma',
       'Pacific Beach', 'Morena Boulevard', 'La Jolla',
       'Sorrento Valley West', 'University City', 'Solana Beach',
       'Del Mar', 'Carmel Valley', 'Sorrento Valley East',
       'Carroll Canyon', 'Miramar', 'Marine Corps Air Station Miramar',
       'Scripps Ranch', 'Rancho Pe√±asquitos', 'Clairemont', 'Linda Vista',
       'Kearny Mesa West', 'Kearny Mesa East', 'University of San Diego',
       'Lake Murray', 'Naval Air Station North Island Coronado',
       'Imperial Beach - Nestor', 'San Ysidro', 'Otay Mesa Brown Field',
       'Otay Mesa East', 'Chula Vista Otay', 'Chula Vista Southwest',
       'Coronado', 'Chula Vista Northwest', 'Chula Vista - Sunbow',
       'Chula Vista Eastlake', 'Spring Valley', 'Jamacha', 'El Cajon',
       'Sycuan Casino Resort', 'El Cajon - Gillespie Field', 'Santee',
       'Lakeside', 'Barona Resort & Casino', 'Poway', 'West Bernardo',
       'Rancho Bernardo', 'Scripps Poway', 'Encinitas - La Costa',
       'Del Mar Fairgrounds', 'Encinitas Beach',
       'Encinitas - I-5 Eastward', 'Carlsbad Village', 'El Camino',
       'Carlsbad State Beach', 'Oceanside Civic Center',
       'Oceanside - Oceanside Boulevard', 'Oceanside - Old Grove',
       'Oceanside - San Luis Rey Mission', 'Oceanside - Rancho Del Oro',
       'Oceanside Tri-city', 'Marine Corps Base Camp Pendleton',
       'Fallbrook', 'Pala Casino Spa Resort', 'Casino Pauma',
       "Harrah's Resort Southern California",
       'Valley View Casino & Hotel', 'Vista Guajome', 'Vista Village',
       'Carlsbad Palomar Airport', 'Vista Tech Park', 'Vista Sycamore',
       'San Marcos Civic Center', 'Escondido - Palomar',
       'Escondido Centre City', 'Escondido - Midway', 'Ramona',
       'Golden Acorn Casino & Travel Center', 'Viejas Casino & Resort',
       'Alpine', 'Jamul Casino', 'Fleet Anti-Submarine Warfare',
       'Naval Amphibious Base Coronado'], dtype=object)

In [12]:
mgra['EC_ID'].sort_values().unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  82,  83,  87,  88,  90,  91,  92,  93,  94,  95,  96,  97,
        98, 100, 101, 102, 103, 104, 105, 106, 107, 108], dtype=int64)

In [13]:
len(mgra['EC_Name'].unique())

101

In [14]:
missing = set(np.append(taz['EC_ID'].sort_values().unique(), mgra['EC_ID'].sort_values().unique())) - set(taz['EC_ID'].sort_values().unique())
missing

{105, 107}

In [15]:
mgra[mgra['EC_ID'].isin(missing)]

      MGRA_13  EC_ID                     EC_Name  Tier
6406    15981    105      Pala Casino Spa Resort     6
6407    15982    105      Pala Casino Spa Resort     6
6416    16093    105      Pala Casino Spa Resort     6
6417    16094    105      Pala Casino Spa Resort     6
6418    16095    105      Pala Casino Spa Resort     6
6419    16097    105      Pala Casino Spa Resort     6
6420    16123    105      Pala Casino Spa Resort     6
6421    16246    105      Pala Casino Spa Resort     6
6422    16247    105      Pala Casino Spa Resort     6
6423    16249    105      Pala Casino Spa Resort     6
6424    16250    105      Pala Casino Spa Resort     6
6425    16251    105      Pala Casino Spa Resort     6
6426    16252    105      Pala Casino Spa Resort     6
6427    16253    105      Pala Casino Spa Resort     6
6428    16254    105      Pala Casino Spa Resort     6
6429    16255    105      Pala Casino Spa Resort     6
6430    16256    105      Pala Casino Spa Resort     6
6431    16263    105      Pala Casino Spa Resort     6
6432    16264    105      Pala Casino Spa Resort     6
6439    16652    107  Valley View Casino & Hotel     6
6440    16657    107  Valley View Casino & Hotel     6
6441    16662    107  Valley View Casino & Hotel     6
6442    16731    107  Valley View Casino & Hotel     6