In [1]:
import pandas as pd
import os

def merge_files_on_geo_level(geo_level, url, output_file):
    # create empty dataframe to store merged data
    merged_data = pd.DataFrame()

    # loop through all subfolders in url folder
    for folder_name in os.listdir(url):
        print(folder_name)
        # loop through all files in subfolder
        if ((folder_name == 'age_sex_ethnicity') | (folder_name == 'combo_files') | (folder_name == 'consolidated_files')):
            pass
        else:
            for file_name in os.listdir(os.path.join(url, folder_name)):
                # check if file contains geo_level in the name
                if geo_level in file_name and file_name.endswith('.csv'):
                    # read in data from file and merge with merged_data dataframe
                    file_path = os.path.join(url, folder_name, file_name)
                    df = pd.read_csv(file_path)
                    if merged_data.empty:
                        merged_data = df
                    else:
                        merged_data = pd.merge(merged_data, df, how='left', on=[f'{geo_level}', 'yr_id'])
    print(merged_data.head())
    merged_data.reset_index().to_csv(f"{output_file}/{geo_level}_consolidated_file_QA.csv", index=False)

    # # sum all columns except for geo_level and yr_id
    # if not merged_data.empty:
    #     merged_data = merged_data.groupby(['geo_level', 'yr_id']).sum().reset_index()
    
    return merged_data

In [2]:
# 2021_01
url = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Results/Test 5- Vintage Comparison/2021_01'
output_file = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Results/Test 5- Vintage Comparison/2021_01/consolidated_files'

In [43]:
#2022_01
url = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Data'
output_file = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Data/consolidated_files'

In [3]:
merge_files_on_geo_level(geo_level='sra', url=url, output_file = output_file)

age
age_sex_ethnicity
combo_files
consolidated_files
ethnicity
households
household_income
housing
population
sex
      sra  yr_id  10 to 14  15 to 17  18 and 19  20 to 24  25 to 29  30 to 34  \
0  Alpine   2010      1192       752        379       878       753       743
1  Alpine   2011      1143       803        410       951       785       786
2  Alpine   2012      1130       798        464       988       847       793
3  Alpine   2013      1077       789        496      1033       842       826
4  Alpine   2014      1074       736        493      1109       859       855

   35 to 39  40 to 44  ...  true_vacancy_rate  effective vacancy rate  \
0       795      1042  ...           3.276720                1.286670
1       784      1018  ...           3.339041                1.352740
2       780       993  ...           3.287671                1.301370
3       804       965  ...           3.316806                1.333561
4       833       921  ...           3.445335                1.466826

   Group Quarters - College  Group Quarters - Military  \
0                         0                          0
1                         0                          0
2                         0                          0
3                         0                          0
4                         0                          0

   Group Quarters - Other  Household Population  total_pop  GQ_pop  Female  \
0                     138                 15135      15273     138    7695
1                     103                 15406      15509     103    7832
2                     105                 15599      15704     105    7926
3                      88                 15794      15882      88    8002
4                     119                 15872      15991     119    8041

   Male
0  7578
1  7677
2  7778
3  7880
4  7950

[5 rows x 68 columns]

,sra,yr_id,10 to 14,15 to 17,18 and 19,20 to 24,25 to 29,30 to 34,35 to 39,40 to 44,...,true_vacancy_rate,effective vacancy rate,Group Quarters - College,Group Quarters - Military,Group Quarters - Other,Household Population,total_pop,GQ_pop,Female,Male
0,Alpine,2010,1192,752,379,878,753,743,795,1042,...,3.276720,1.286670,0,0,138,15135,15273,138,7695,7578
1,Alpine,2011,1143,803,410,951,785,786,784,1018,...,3.339041,1.352740,0,0,103,15406,15509,103,7832,7677
2,Alpine,2012,1130,798,464,988,847,793,780,993,...,3.287671,1.301370,0,0,105,15599,15704,105,7926,7778
3,Alpine,2013,1077,789,496,1033,842,826,804,965,...,3.316806,1.333561,0,0,88,15794,15882,88,8002,7880
4,Alpine,2014,1074,736,493,1109,859,855,833,921,...,3.445335,1.466826,0,0,119,15872,15991,119,8041,7950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Vista,2017,7680,4801,3034,8302,7124,7461,6596,6146,...,3.413778,1.301741,0,0,2271,104503,106774,2271,53450,53324
488,Vista,2018,7973,4739,2950,8341,6957,7269,6819,6078,...,3.307087,1.201516,0,0,2359,104642,107001,2359,53725,53276
489,Vista,2019,8147,4697,2990,8197,6970,6936,6998,6035,...,3.345919,1.248911,0,0,2344,104568,106912,2344,53620,53292
490,Vista,2020,8300,4852,2964,8287,6915,6694,6957,6108,...,3.120756,1.034473,0,0,2360,104649,107009,2360,53581,53428
491,Vista,2021,8392,5060,3000,8268,7034,6397,6932,6287,...,2.625839,0.553866,0,0,2134,105527,107661,2134,53912,53749