In [1]:
import pandas as pd
import os

# Helpful functions

In [2]:
def filter_for_our_years(df):
    return df[(df['yr_id'] == 2020) | (df['yr_id'] == 2021)]

# Age

In [3]:
geo_level = 'region'

In [16]:
# 2022_01
age_2022_01_file = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\age\{geo_level}_age_est_2022_01_ind_QA.csv')
age_2022_01_file = filter_for_our_years(age_2022_01_file)
age_2022_01_file = age_2022_01_file.set_index([geo_level, 'yr_id'])
age_2022_01_file

                 Under 5  10 to 14  15 to 17  18 and 19  20 to 24  25 to 29  \
region    yr_id
San Diego 2020    221150    221337    121485     105558    282225    298642
          2021    209060    215490    117097      98600    283006    289033

                 30 to 34  35 to 39  40 to 44  45 to 49  5 to 9  50 to 54  \
region    yr_id
San Diego 2020     271572    235732    209104    203010  203886    201784
          2021     265311    239966    213336    198370  204741    187093

                 55 to 59  60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  \
region    yr_id
San Diego 2020     192300      64243     92766    139543    100341     65090
          2021     194529      69011     88984    135799    106334     65727

                 80 to 84  85 and Older
region    yr_id
San Diego 2020      43852         57659
          2021      46538         60478

In [18]:
# 2021_01
age_2021_01_file = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\2021_01\age\QA_2021_01_{geo_level}_age.csv')
age_2021_01_file = filter_for_our_years(age_2021_01_file)
age_2021_01_file = age_2021_01_file.set_index([geo_level, 'yr_id'])
age_2021_01_file

                 Under 5  5 to 9  10 to 14  15 to 17  18 and 19  20 to 24  \
region    yr_id
San Diego 2020    205904  230989    223104    133490      98931    261861
          2021    197646  229493    225022    135190      97988    259127

                 25 to 29  30 to 34  35 to 39  40 to 44  45 to 49  50 to 54  \
region    yr_id
San Diego 2020     207190    208315    231394    208834    204996    200622
          2021     205113    202317    224786    211732    199960    200006

                 55 to 59  60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  \
region    yr_id
San Diego 2020     207276      80734    114670    164902    134013     88881
          2021     201821      81186    114951    168295    139549     92723

                 80 to 84  85 and Older
region    yr_id
San Diego 2020      60482         64691
          2021      62146         66353

In [99]:
def get_input_data(category, geo_level):
    # 2022_01
    df_2022_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\{category}\{geo_level}_{category}_est_2022_01_ind_QA.csv')
    df_2022_01 = filter_for_our_years(df_2022_01)
    df_2022_01 = df_2022_01.set_index([geo_level, 'yr_id'])
    
    if category == 'income_group':
        category = 'household_income'
    # 2021_01 
    df_2021_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\2021_01\{category}\QA_2021_01_{geo_level}_{category}.csv')
    df_2021_01 = filter_for_our_years(df_2021_01)
    df_2021_01 = df_2021_01.set_index([geo_level, 'yr_id'])
    
    return df_2022_01, df_2021_01

In [81]:
# def get_input_data(geo_level):
#     # 2022_01
#     df_2022_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\combo_files\{geo_level}_housing_population_households_combo_QA.csv')
#     df_2022_01 = filter_for_our_years(df_2022_01)
#     df_2022_01[geo_level] = df_2022_01[geo_level].str.lower()
#     df_2022_01 = df_2022_01.set_index([geo_level, 'yr_id'])
#     print('good')

#     # 2021_01 
#     if geo_level == 'SRA':
#         geo_level = 'sra'
#     df_2021_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\2021_01\combo_files\2021_01_{geo_level}_housing_population_households_combo_QA.csv')
#     print('good')
#     df_2021_01 = filter_for_our_years(df_2021_01)
#     print(df_2021_01.columns)
#     if geo_level == 'sra':
#         df_2021_01['SRA'] = df_2021_01['sra']
#         df_2021_01 = df_2021_01.drop('sra', axis=1)
#         geo_level = 'SRA'
#     df_2021_01[geo_level] = df_2021_01[geo_level].str.lower()
#     df_2021_01 = df_2021_01.set_index([geo_level, 'yr_id'])
    
#     return df_2022_01, df_2021_01

In [82]:
df_2022_01, df_2021_01 = get_input_data(geo_level='SRA')

good
good
Index(['sra', 'yr_id', 'Mobile Home', 'Multifamily',
       'Single Family - Detached', 'Single Family - Multiple Unit',
       'Single-family Attached', 'Single-family Detached', 'units',
       'unoccupiable', 'occupied', 'vacancy', 'true_vacancy_rate',
       'effective vacancy rate', 'Group Quarters - College',
       'Group Quarters - Military', 'Group Quarters - Other',
       'Household Population', 'total_pop', 'GQ_pop',
       'Family household:female householder, no husband present ',
       'Family household:male householder, no wife present',
       'Family household:married-couple',
       'Nonfamily household:female householder, living alone',
       'Nonfamily household:female householder, not living alone',
       'Nonfamily household:male householder, living alone',
       'Nonfamily household:male householder, not living alone',
       'Total_Household_Type', 'hhs'],
      dtype='object')

In [56]:
df_2021_01

                 Single Family - Detached  Single Family - Multiple Unit  \
region    yr_id
San Diego 2020                     611331                         116403
          2021                     612916                         115895

                 Multifamily  Mobile Home  Single-family Detached  \
region    yr_id
San Diego 2020        446279        42030                       0
          2021        449320        41942                       0

                 Single-family Attached    units  unoccupiable  occupied  \
region    yr_id
San Diego 2020                        0  1216043         39632   1153981
          2021                        0  1220073         39588   1160772

                 vacancy  ...  Group Quarters - Other  \
region    yr_id           ...
San Diego 2020     62062  ...                   47251
          2021     59301  ...                   40698

                 Family household:female householder, no husband present   \
region    yr_id
San Diego 2020                                            202920.0
          2021                                            202840.0

                 Family household:male householder, no wife present  \
region    yr_id
San Diego 2020                                            371869.0
          2021                                            381157.0

                 Family household:married-couple  \
region    yr_id
San Diego 2020                          248026.0
          2021                          249359.0

                 Nonfamily household:female householder, living alone  \
region    yr_id
San Diego 2020                                             43727.0
          2021                                             42382.0

                 Nonfamily household:female householder, not living alone  \
region    yr_id
San Diego 2020                                             28012.0
          2021                                             27999.0

                 Nonfamily household:male householder, living alone  \
region    yr_id
San Diego 2020                                            167823.0
          2021                                            166508.0

                 Nonfamily household:male householder, not living alone  \
region    yr_id
San Diego 2020                                             91604.0
          2021                                             90527.0

                 Total_Household_Type       hhs
region    yr_id
San Diego 2020              1153981.0  2.789360
          2021              1160772.0  2.773204

[2 rows x 24 columns]

# Functions

In [10]:
# import pandas as pd

# def subtract_dataframes(df1, df2):
#     # Find the common columns between the two data frames
#     common_cols = list(set(df1.columns) & set(df2.columns))
#     common_cols = [x for x in df2.columns if x in common_cols]
#     # Filter the data frames to keep only the common columns
#     df1 = df1[common_cols]
#     df2 = df2[common_cols]
    
#     # Subtract the second data frame from the first
#     result = df1.subtract(df2)
    
#     return result

In [33]:
def subtract_dataframes(df1, df2):
    # Filter the second data frame to keep only rows with index values in the first data frame
    df2 = df2.loc[df1.index]
    
    # Find the common columns between the two data frames
    common_cols = list(set(df1.columns) & set(df2.columns))
    common_cols = [x for x in df2.columns if x in common_cols]
    
    # Filter the data frames to keep only the common columns
    df1 = df1[common_cols]
    df2 = df2[common_cols]
    
    # Subtract the second data frame from the first
    result = df1.subtract(df2)
    
    return result

In [24]:
# def write_to_excel(df_2022, df_2021, category, geo_level):
#     diff = subtract_dataframes(df_2022, df_2021)
#     # Create a Pandas Excel writer using xlsxwriter as the engine
#     writer = pd.ExcelWriter(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\diff_outputs\{category}\{geo_level}_diff_2022_minus_2021.xlsx', engine='xlsxwriter')

#     # Write each data frame to a different sheet
#     df_2022.to_excel(writer, sheet_name='2022_01 Data', index=True)
#     df_2021.to_excel(writer, sheet_name='2021_01 Data', index=True)
#     diff.to_excel(writer, sheet_name='Diff', index=True)

#     # Save the writer
#     writer.save()

In [34]:
def write_to_excel(df_2022, df_2021, geo_level):
    diff = subtract_dataframes(df_2022, df_2021)
    # Create a Pandas Excel writer using xlsxwriter as the engine
    writer = pd.ExcelWriter(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\diff_outputs\combo_files\{geo_level}_diff_2022_minus_2021.xlsx', engine='xlsxwriter')

    # Write each data frame to a different sheet
    df_2022.to_excel(writer, sheet_name='2022_01 Data', index=True)
    df_2021.to_excel(writer, sheet_name='2021_01 Data', index=True)
    diff.to_excel(writer, sheet_name='Diff', index=True)

    # Save the writer
    writer.save()

# Run

In [100]:
category = 'age_sex_ethnicity'
geo_level = 'cpa'

In [101]:
# df_2022_01, df_2021_01 = get_input_data(category=category, geo_level=geo_level)

df_2022_01, df_2021_01 = get_input_data(category=category, geo_level=geo_level)

In [106]:
df_2022_01

                          age_group     sex  Hispanic  \
cpa             yr_id
*Not in a CPA*  2020       10 to 14  Female    103304
                2020       10 to 14    Male     98834
                2020       15 to 17  Female     54801
                2020       15 to 17    Male     54787
                2020      18 and 19  Female     35537
...                             ...     ...       ...
Via De La Valle 2021       80 to 84    Male         0
                2021   85 and Older  Female         0
                2021   85 and Older    Male         0
                2021        Under 5  Female         1
                2021        Under 5    Male         4

                       Non-Hispanic, American Indian or Alaska Native  \
cpa             yr_id
*Not in a CPA*  2020                                              632
                2020                                              349
                2020                                              111
                2020                                               24
                2020                                               79
...                                                               ...
Via De La Valle 2021                                                0
                2021                                                0
                2021                                                0
                2021                                                0
                2021                                                0

                       Non-Hispanic, Asian  Non-Hispanic, Black  \
cpa             yr_id
*Not in a CPA*  2020                 14001                 6854
                2020                 12405                 7093
                2020                  6981                 4102
                2020                  8348                 3040
                2020                  6159                 2188
...                                    ...                  ...
Via De La Valle 2021                     0                    0
                2021                     0                    0
                2021                     8                    0
                2021                     0                    0
                2021                     0                    0

                       Non-Hispanic, Hawaiian or Pacific Islander  \
cpa             yr_id
*Not in a CPA*  2020                                          492
                2020                                         1044
                2020                                           60
                2020                                          607
                2020                                            0
...                                                           ...
Via De La Valle 2021                                            0
                2021                                            0
                2021                                            0
                2021                                            0
                2021                                            0

                       Non-Hispanic, Other  Non-Hispanic, Two or More Races  \
cpa             yr_id
*Not in a CPA*  2020                   739                            14986
                2020                   553                            14280
                2020                   314                             4967
                2020                   340                             7973
                2020                   794                             4696
...                                    ...                              ...
Via De La Valle 2021                     0                                0
                2021                     0                                0
                2021                     0                                0
                2021                     0                                0
                2021                     0                                0

                       Non-Hispanic, White
cpa             yr_id
*Not in a CPA*  2020                 70600
                2020                 75547
                2020                 41437
                2020                 42408
                2020                 25916
...                                    ...
Via De La Valle 2021                    20
                2021                    58
                2021                    15
                2021                    37
                2021                    28

[7040 rows x 10 columns]

In [107]:
df_2021_01

                                       name     sex  Hispanic  \
cpa                     yr_id
*Not in a CPA*          2020       10 to 14  Female     24228
                        2020       10 to 14    Male     25169
                        2020       15 to 17  Female     14309
                        2020       15 to 17    Male     15339
                        2020      18 and 19  Female      9614
...                                     ...     ...       ...
Via De La Valle Reserve 2021       80 to 84    Male         0
                        2021   85 and Older  Female         0
                        2021   85 and Older    Male         0
                        2021        Under 5  Female         0
                        2021        Under 5    Male         0

                               Non-Hispanic, White  Non-Hispanic, Asian  \
cpa                     yr_id
*Not in a CPA*          2020                 16592                 3124
                        2020                 17277                 3325
                        2020                  9613                 2023
                        2020                 10975                 2221
                        2020                  6165                 1019
...                                            ...                  ...
Via De La Valle Reserve 2021                     0                    0
                        2021                     0                    0
                        2021                     0                    0
                        2021                     0                    0
                        2021                     0                    0

                               Non-Hispanic, Hawaiian or Pacific Islander  \
cpa                     yr_id
*Not in a CPA*          2020                                          169
                        2020                                          200
                        2020                                          110
                        2020                                          125
                        2020                                           74
...                                                                   ...
Via De La Valle Reserve 2021                                            0
                        2021                                            0
                        2021                                            0
                        2021                                            0
                        2021                                            0

                               Non-Hispanic, American Indian or Alaska Native  \
cpa                     yr_id
*Not in a CPA*          2020                                              202
                        2020                                              201
                        2020                                              139
                        2020                                              142
                        2020                                               82
...                                                                       ...
Via De La Valle Reserve 2021                                                0
                        2021                                                0
                        2021                                                0
                        2021                                                0
                        2021                                                0

                               Non-Hispanic, Other  \
cpa                     yr_id
*Not in a CPA*          2020                   167
                        2020                   145
                        2020                    72
                        2020                    98
                        2020                    41
...                                            ...
Via De La Valle Reserve 2021                     0
                        2021                     0
                        2021                     0
                        2021                     0
                        2021                     0

                               Non-Hispanic, Two or More Races  \
cpa                     yr_id
*Not in a CPA*          2020                              3045
                        2020                              3263
                        2020                              1509
                        2020                              1726
                        2020                               946
...                                                        ...
Via De La Valle Reserve 2021                                 0
                        2021                                 0
                        2021                                 0
                        2021                                 0
                        2021                                 0

                               Non-Hispanic, Black
cpa                     yr_id
*Not in a CPA*          2020                  1963
                        2020                  2228
                        2020                  1183
                        2020                  1309
                        2020                   967
...                                            ...
Via De La Valle Reserve 2021                     0
                        2021                     0
                        2021                     0
                        2021                     0
                        2021                     0

[7120 rows x 10 columns]

In [141]:
#df_2022_01 = df_2022_01.reset_index().groupby([geo_level, 'yr_id', 'age_group', 'sex']).sum()

In [142]:
#df_2021_01 = df_2021_01.reset_index().groupby([geo_level, 'yr_id', 'name', 'sex']).sum()

In [105]:
write_to_excel(df_2022_01, df_2021_01, geo_level)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Add name and sex in the groupby in data input