In [1]:
import pandas as pd
import os

# Helpful functions

In [2]:
def filter_for_our_years(df):
    return df[(df['yr_id'] == 2020) | (df['yr_id'] == 2021)]

# Age

In [3]:
geo_level = 'region'

In [16]:
# 2022_01
age_2022_01_file = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\age\{geo_level}_age_est_2022_01_ind_QA.csv')
age_2022_01_file = filter_for_our_years(age_2022_01_file)
age_2022_01_file = age_2022_01_file.set_index([geo_level, 'yr_id'])
age_2022_01_file

                 Under 5  10 to 14  15 to 17  18 and 19  20 to 24  25 to 29  \
region    yr_id
San Diego 2020    221150    221337    121485     105558    282225    298642
          2021    209060    215490    117097      98600    283006    289033

                 30 to 34  35 to 39  40 to 44  45 to 49  5 to 9  50 to 54  \
region    yr_id
San Diego 2020     271572    235732    209104    203010  203886    201784
          2021     265311    239966    213336    198370  204741    187093

                 55 to 59  60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  \
region    yr_id
San Diego 2020     192300      64243     92766    139543    100341     65090
          2021     194529      69011     88984    135799    106334     65727

                 80 to 84  85 and Older
region    yr_id
San Diego 2020      43852         57659
          2021      46538         60478

In [18]:
# 2021_01
age_2021_01_file = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\2021_01\age\QA_2021_01_{geo_level}_age.csv')
age_2021_01_file = filter_for_our_years(age_2021_01_file)
age_2021_01_file = age_2021_01_file.set_index([geo_level, 'yr_id'])
age_2021_01_file

                 Under 5  5 to 9  10 to 14  15 to 17  18 and 19  20 to 24  \
region    yr_id
San Diego 2020    205904  230989    223104    133490      98931    261861
          2021    197646  229493    225022    135190      97988    259127

                 25 to 29  30 to 34  35 to 39  40 to 44  45 to 49  50 to 54  \
region    yr_id
San Diego 2020     207190    208315    231394    208834    204996    200622
          2021     205113    202317    224786    211732    199960    200006

                 55 to 59  60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  \
region    yr_id
San Diego 2020     207276      80734    114670    164902    134013     88881
          2021     201821      81186    114951    168295    139549     92723

                 80 to 84  85 and Older
region    yr_id
San Diego 2020      60482         64691
          2021      62146         66353

In [121]:
def get_input_data(category, geo_level):
    # 2022_01
    df_2022_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\{category}\{geo_level}_{category}_est_2022_01_ind_QA.csv')
    df_2022_01 = filter_for_our_years(df_2022_01)
    if geo_level == 'SRA':
        df_2022_01['SRA'] = df_2022_01['SRA'].str.lower()
    df_2022_01 = df_2022_01.set_index([geo_level, 'yr_id'])
    
    if category == 'income_group':
        category = 'household_income'
    if geo_level == 'SRA':
        geo_level = 'sra'
    # 2021_01 
    df_2021_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\2021_01\{category}\QA_2021_01_{geo_level}_{category}.csv')
    if geo_level == 'sra':
        df_2021_01['SRA'] = df_2021_01['sra']
        df_2021_01 = df_2021_01.drop('sra', axis=1)
        geo_level = 'SRA'
        df_2021_01['SRA'] = df_2021_01['SRA'].str.lower()
    if category == 'age_sex_ethnicity':
        df_2021_01 = df_2021_01.rename(columns={'name':'age_group'})
    
    df_2021_01 = filter_for_our_years(df_2021_01)
    df_2021_01 = df_2021_01.set_index([geo_level, 'yr_id'])
    
    return df_2022_01, df_2021_01

In [101]:
def get_input_data_combo_files(geo_level):
    # 2022_01
    df_2022_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\combo_files\{geo_level}_housing_population_households_combo_QA.csv')
    df_2022_01 = filter_for_our_years(df_2022_01)
    df_2022_01[geo_level] = df_2022_01[geo_level].str.lower()
    df_2022_01 = df_2022_01.set_index([geo_level, 'yr_id'])
    #print('good')

    # 2021_01 
    if geo_level == 'SRA':
        geo_level = 'sra'
    df_2021_01 = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\2021_01\combo_files\2021_01_{geo_level}_housing_population_households_combo_QA.csv')
    #print('good')
    df_2021_01 = filter_for_our_years(df_2021_01)
    #print(df_2021_01.columns)
    if geo_level == 'sra':
        df_2021_01['SRA'] = df_2021_01['sra']
        df_2021_01 = df_2021_01.drop('sra', axis=1)
        geo_level = 'SRA'
    df_2021_01[geo_level] = df_2021_01[geo_level].str.lower()
    df_2021_01 = df_2021_01.set_index([geo_level, 'yr_id'])
    
    return df_2022_01, df_2021_01

# Functions

In [10]:
# import pandas as pd

# def subtract_dataframes(df1, df2):
#     # Find the common columns between the two data frames
#     common_cols = list(set(df1.columns) & set(df2.columns))
#     common_cols = [x for x in df2.columns if x in common_cols]
#     # Filter the data frames to keep only the common columns
#     df1 = df1[common_cols]
#     df2 = df2[common_cols]
    
#     # Subtract the second data frame from the first
#     result = df1.subtract(df2)
    
#     return result

In [7]:
# def subtract_dataframes(df1, df2):
#     # Filter the second data frame to keep only rows with index values in the first data frame
#     df2 = df2.loc[df1.index]
    
#     # Find the common columns between the two data frames
#     common_cols = list(set(df1.columns) & set(df2.columns))
#     common_cols = [x for x in df2.columns if x in common_cols]
    
#     # Filter the data frames to keep only the common columns
#     df1 = df1[common_cols]
#     df2 = df2[common_cols]
    
#     # Subtract the second data frame from the first
#     result = df1.subtract(df2)
    
#     return result

In [80]:
def subtract_dataframes(df1, df2):
    # Filter the second data frame to keep only rows with index values in the first data frame
    common_index = pd.merge(df1, df2, left_index=True, right_index=True)
    df1 = df1.loc[common_index.index]
    df2 = df2.loc[common_index.index]
    
    # Find the common columns between the two data frames
    common_cols = list(set(df1.columns) & set(df2.columns))
    common_cols = [x for x in df2.columns if x in common_cols]
    
    # Filter the data frames to keep only the common columns
    df1 = df1[common_cols]
    df2 = df2[common_cols]
    
    # Subtract the second data frame from the first
    result = df1.subtract(df2)
    
    return result

In [87]:
def write_to_excel(df_2022, df_2021, category, geo_level):
    diff = subtract_dataframes(df_2022, df_2021)
    # Create a Pandas Excel writer using xlsxwriter as the engine
    writer = pd.ExcelWriter(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\diff_outputs\{category}\{geo_level}_diff_2022_minus_2021.xlsx', engine='xlsxwriter')

    # Write each data frame to a different sheet
    df_2022.reset_index().to_excel(writer, sheet_name='2022_01 Data', index=False)
    df_2021.reset_index().to_excel(writer, sheet_name='2021_01 Data', index=False)
    diff.reset_index().to_excel(writer, sheet_name='Diff', index=False)

    # Save the writer
    writer.save()

In [105]:
def write_to_excel_combo_files(df_2022, df_2021, geo_level):
    diff = subtract_dataframes(df_2022, df_2021)
    # Create a Pandas Excel writer using xlsxwriter as the engine
    writer = pd.ExcelWriter(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Test 5- Vintage Comparison\diff_outputs\combo_files\{geo_level}_diff_2022_minus_2021.xlsx', engine='xlsxwriter')

    # Write each data frame to a different sheet
    df_2022.reset_index().to_excel(writer, sheet_name='2022_01 Data', index=False)
    df_2021.reset_index().to_excel(writer, sheet_name='2021_01 Data', index=False)
    diff.reset_index().to_excel(writer, sheet_name='Diff', index=False)

    # Save the writer
    writer.save()

In [117]:
df_2022_01.head(1)

,,,,Hispanic,"Non-Hispanic, American Indian or Alaska Native","Non-Hispanic, Asian","Non-Hispanic, Black","Non-Hispanic, Hawaiian or Pacific Islander","Non-Hispanic, Other","Non-Hispanic, Two or More Races","Non-Hispanic, White"
region,yr_id,age_group,sex,,,,,,,,
San Diego,2020,10 to 14,Female,191272,1712,37297,17847,1410,1493,33296,151677

In [118]:
df_2021_01.head(1)

,,,,Hispanic,"Non-Hispanic, White","Non-Hispanic, Asian","Non-Hispanic, Hawaiian or Pacific Islander","Non-Hispanic, American Indian or Alaska Native","Non-Hispanic, Other","Non-Hispanic, Two or More Races","Non-Hispanic, Black"
region,yr_id,name,sex,,,,,,,,
San Diego,2020,10 to 14,Female,48531,37388,9543,377,467,346,7055,5092

In [116]:
common_index = pd.merge(df_2022_01, df_2021_01, left_index=True, right_index=True)
common_index

                                               Hispanic_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14          191272
                                 15 to 17          191272
                                 18 and 19         191272
                                 20 to 24          191272
                                 25 to 29          191272
...                                                   ...
          2021  Male   Under 5   70 to 74          185491
                                 75 to 79          185491
                                 80 to 84          185491
                                 85 and Older      185491
                                 Under 5           185491

                                               Non-Hispanic, American Indian or Alaska Native_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                                                  1712
                                 15 to 17                                                  1712
                                 18 and 19                                                 1712
                                 20 to 24                                                  1712
                                 25 to 29                                                  1712
...                                                                                         ...
          2021  Male   Under 5   70 to 74                                                  1619
                                 75 to 79                                                  1619
                                 80 to 84                                                  1619
                                 85 and Older                                              1619
                                 Under 5                                                   1619

                                               Non-Hispanic, Asian_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                      37297
                                 15 to 17                      37297
                                 18 and 19                     37297
                                 20 to 24                      37297
                                 25 to 29                      37297
...                                                              ...
          2021  Male   Under 5   70 to 74                      37271
                                 75 to 79                      37271
                                 80 to 84                      37271
                                 85 and Older                  37271
                                 Under 5                       37271

                                               Non-Hispanic, Black_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                      17847
                                 15 to 17                      17847
                                 18 and 19                     17847
                                 20 to 24                      17847
                                 25 to 29                      17847
...                                                              ...
          2021  Male   Under 5   70 to 74                      17055
                                 75 to 79                      17055
                                 80 to 84                      17055
                                 85 and Older                  17055
                                 Under 5                       17055

                                               Non-Hispanic, Hawaiian or Pacific Islander_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                                              1410
                                 15 to 17                                              1410
                                 18 and 19                                             1410
                                 20 to 24                                              1410
                                 25 to 29                                              1410
...                                                                                     ...
          2021  Male   Under 5   70 to 74                                              1424
                                 75 to 79                                              1424
                                 80 to 84                                              1424
                                 85 and Older                                          1424
                                 Under 5                                               1424

                                               Non-Hispanic, Other_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                       1493
                                 15 to 17                       1493
                                 18 and 19                      1493
                                 20 to 24                       1493
                                 25 to 29                       1493
...                                                              ...
          2021  Male   Under 5   70 to 74                        522
                                 75 to 79                        522
                                 80 to 84                        522
                                 85 and Older                    522
                                 Under 5                         522

                                               Non-Hispanic, Two or More Races_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                                  33296
                                 15 to 17                                  33296
                                 18 and 19                                 33296
                                 20 to 24                                  33296
                                 25 to 29                                  33296
...                                                                          ...
          2021  Male   Under 5   70 to 74                                  35827
                                 75 to 79                                  35827
                                 80 to 84                                  35827
                                 85 and Older                              35827
                                 Under 5                                   35827

                                               Non-Hispanic, White_x  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                     151677
                                 15 to 17                     151677
                                 18 and 19                    151677
                                 20 to 24                     151677
                                 25 to 29                     151677
...                                                              ...
          2021  Male   Under 5   70 to 74                     152361
                                 75 to 79                     152361
                                 80 to 84                     152361
                                 85 and Older                 152361
                                 Under 5                      152361

                                               Hispanic_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14           48531
                                 15 to 17           28334
                                 18 and 19          19819
                                 20 to 24           49732
                                 25 to 29           42421
...                                                   ...
          2021  Male   Under 5   70 to 74           10522
                                 75 to 79            6304
                                 80 to 84            4092
                                 85 and Older        3633
                                 Under 5            41132

                                               Non-Hispanic, White_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                      37388
                                 15 to 17                      21807
                                 18 and 19                     16644
                                 20 to 24                      41061
                                 25 to 29                      35525
...                                                              ...
          2021  Male   Under 5   70 to 74                      44084
                                 75 to 79                      29280
                                 80 to 84                      17807
                                 85 and Older                  17308
                                 Under 5                       39741

                                               Non-Hispanic, Asian_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                       9543
                                 15 to 17                       5935
                                 18 and 19                      4759
                                 20 to 24                      11310
                                 25 to 29                       9144
...                                                              ...
          2021  Male   Under 5   70 to 74                       6418
                                 75 to 79                       4271
                                 80 to 84                       3038
                                 85 and Older                   2481
                                 Under 5                        8836

                                               Non-Hispanic, Hawaiian or Pacific Islander_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                                               377
                                 15 to 17                                               236
                                 18 and 19                                              175
                                 20 to 24                                               466
                                 25 to 29                                               435
...                                                                                     ...
          2021  Male   Under 5   70 to 74                                               253
                                 75 to 79                                               134
                                 80 to 84                                               114
                                 85 and Older                                           107
                                 Under 5                                                358

                                               Non-Hispanic, American Indian or Alaska Native_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                                                   467
                                 15 to 17                                                   279
                                 18 and 19                                                  197
                                 20 to 24                                                   509
                                 25 to 29                                                   497
...                                                                                         ...
          2021  Male   Under 5   70 to 74                                                   332
                                 75 to 79                                                   161
                                 80 to 84                                                   118
                                 85 and Older                                                94
                                 Under 5                                                    518

                                               Non-Hispanic, Other_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                        346
                                 15 to 17                        176
                                 18 and 19                       137
                                 20 to 24                        282
                                 25 to 29                        208
...                                                              ...
          2021  Male   Under 5   70 to 74                         79
                                 75 to 79                         55
                                 80 to 84                         32
                                 85 and Older                     18
                                 Under 5                         264

                                               Non-Hispanic, Two or More Races_y  \
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                                   7055
                                 15 to 17                                   3492
                                 18 and 19                                  2516
                                 20 to 24                                   6186
                                 25 to 29                                   4177
...                                                                          ...
          2021  Male   Under 5   70 to 74                                    812
                                 75 to 79                                    504
                                 80 to 84                                    303
                                 85 and Older                                260
                                 Under 5                                    5016

                                               Non-Hispanic, Black_y
region    yr_id sex    age_group name
San Diego 2020  Female 10 to 14  10 to 14                       5092
                                 15 to 17                       3038
                                 18 and 19                      2488
                                 20 to 24                       5769
                                 25 to 29                       5161
...                                                              ...
          2021  Male   Under 5   70 to 74                       2320
                                 75 to 79                       1357
                                 80 to 84                        936
                                 85 and Older                    735
                                 Under 5                        4830

[1600 rows x 16 columns]

In [113]:
subtract_dataframes(df_2022_1, df_2021_1)

KeyError: "None of [MultiIndex([('San Diego', 2020, 'Female', '10 to 14',     '10 to 14'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '15 to 17'),\n            ('San Diego', 2020, 'Female', '10 to 14',    '18 and 19'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '20 to 24'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '25 to 29'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '30 to 34'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '35 to 39'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '40 to 44'),\n            ('San Diego', 2020, 'Female', '10 to 14',     '45 to 49'),\n            ('San Diego', 2020, 'Female', '10 to 14',       '5 to 9'),\n            ...\n            ('San Diego', 2021,   'Male',  'Under 5',     '50 to 54'),\n            ('San Diego', 2021,   'Male',  'Under 5',     '55 to 59'),\n            ('San Diego', 2021,   'Male',  'Under 5',    '60 and 61'),\n            ('San Diego', 2021,   'Male',  'Under 5',     '62 to 64'),\n            ('San Diego', 2021,   'Male',  'Under 5',     '65 to 69'),\n            ('San Diego', 2021,   'Male',  'Under 5',     '70 to 74'),\n            ('San Diego', 2021,   'Male',  'Under 5',     '75 to 79'),\n            ('San Diego', 2021,   'Male',  'Under 5',     '80 to 84'),\n            ('San Diego', 2021,   'Male',  'Under 5', '85 and Older'),\n            ('San Diego', 2021,   'Male',  'Under 5',      'Under 5')],\n           names=['region', 'yr_id', 'sex', 'age_group', 'name'], length=1600)] are in the [index]"

# Run

In [99]:
categories = ['age', 'ethnicity', 'households', 'housing', 'income_group', 'population', 'sex']
geo_levels = ['SRA', 'cpa', 'jurisdiction', 'region']

In [100]:
for category in categories:
    for geo_level in geo_levels:
        df_2022_01, df_2021_01 = get_input_data(category=category, geo_level=geo_level)
        write_to_excel(df_2022_01, df_2021_01, category = category, geo_level = geo_level)
        print(f'{category}-{geo_level} is complete')

age-SRA is complete
age-cpa is complete
age-jurisdiction is complete
age-region is complete
ethnicity-SRA is complete
ethnicity-cpa is complete
ethnicity-jurisdiction is complete
ethnicity-region is complete
households-SRA is complete
households-cpa is complete
households-jurisdiction is complete
households-region is complete
housing-SRA is complete
housing-cpa is complete
housing-jurisdiction is complete
housing-region is complete
income_group-SRA is complete
income_group-cpa is complete
income_group-jurisdiction is complete
income_group-region is complete
population-SRA is complete
population-cpa is complete
population-jurisdiction is complete
population-region is complete
sex-SRA is complete
sex-cpa is complete
sex-jurisdiction is complete
sex-region is complete

In [106]:
for geo_level in geo_levels:
    df_2022_01, df_2021_01 = get_input_data_combo_files(geo_level)
    write_to_excel_combo_files(df_2022_01, df_2021_01, geo_level)
    print(f'{geo_level}-is complete')

SRA-is complete
cpa-is complete
jurisdiction-is complete
region-is complete

In [130]:
category = 'age_sex_ethnicity'
for geo_level in geo_levels:
    df_2022_01, df_2021_01 = get_input_data(category=category, geo_level=geo_level)
    df_2022_01 = df_2022_01.reset_index().groupby([geo_level, 'yr_id', 'age_group', 'sex']).sum()
    df_2021_01 = df_2021_01.reset_index().groupby([geo_level, 'yr_id', 'age_group', 'sex']).sum()
    write_to_excel(df_2022_01, df_2021_01, category = category, geo_level = geo_level)
    print(f'{geo_level}-is complete')

SRA-is complete
cpa-is complete
jurisdiction-is complete
region-is complete

In [122]:
category = 'age_sex_ethnicity'
geo_level = 'region'

In [123]:
df_2022_01, df_2021_01 = get_input_data(category=category, geo_level=geo_level)

In [124]:
df_2022_01 = df_2022_01.reset_index().groupby([geo_level, 'yr_id', 'age_group', 'sex']).sum()
df_2021_01 = df_2021_01.reset_index().groupby([geo_level, 'yr_id', 'age_group', 'sex']).sum()

In [125]:
df_2021_01 = df_2021_01.reset_index().groupby([geo_level, 'yr_id', 'age_group', 'sex']).sum()

In [126]:
write_to_excel(df_2022_01, df_2021_01, category = category, geo_level = geo_level)

In [ ]:
# Add name and sex in the groupby in data input