# Number of Trips to the New Employment Centers
#### Purpose:
To find the number of trips to the new employment centers by different factors such as primary mode, trip purpose, and vehicle type on weekdays of fall 2019 in the county of San Diego. 

#### Data Source:
There are two data sources that were used. Both data sources come from Replica Place Studies(please login to your Replica account):\
$\;\;\;\;\;\;$ 1. Replica Place Studies: https://studio.replicahq.com/places/studies/p544f96 \
$\;\;\;\;\;\;$ 2. Replica Place Studies: https://studio.replicahq.com/places/studies/ulztfb3


#### Transformations being preformed:
Two datasets were downloaded separately from Replica Place Studies. They were then uploaded to J Drive. 

#### Location of Outputs:
J:\DataScience\DSEconProdDessem\EC2\Replica\Trips_to_EC_fall_2019_thursday\Outputs

#### Author: 
Navid Hedayati (navid.hedayati@sandag.org)

#### Data Created 
3/2/2023

# Import Libraries

In [1]:
# Necessary libraries
import pandas as pd
import numpy as np
import geopandas as gpd

# Read Data
Two datasets were read. They are called replica and replica_2.

In [2]:
replica = pd.read_csv(r"J:\DataScience\DSEconProdDessem\EC2\Replica\Trips_to_EC_fall_2019_thursday\replica-first_study-02_14_23-trips_dataset\replica-first_study-02_14_23-trips_dataset.csv")

In [3]:
replica_2 = pd.read_csv(r"J:\DataScience\DSEconProdDessem\EC2\Replica\Trips_to_EC_fall_2019_thursday\replica-num_trips_blockgrps_to_ecs_fall_19_thusrday-02_23_23-trips_dataset\replica-num_trips_blockgrps_to_ecs_fall_19_thusrday-02_23_23-trips_dataset.csv")

# Number of Trips by Primary Mode
The goal of this section is to get the number of trips to each employment centers by primary modes. These primary modes are biking, carpool, commercial, on demand auto, and other travel modes.

In [5]:
replica.head()

,origin_bgrp,origin_cty,origin_st,destination_bgrp,destination_cty,destination_custom,primary_mode,trip_purpose,previous_trip_purpose,trip_start_time,...,trip_taker_available_vehicles,trip_taker_resident_type,trip_taker_home_bgrp,trip_taker_home_trct,trip_taker_home_cty,trip_taker_home_st,trip_taker_work_bgrp,trip_taker_work_trct,trip_taker_work_cty,trip_taker_work_st
0,"1 (Tract 5520.01, Los Angeles, CA)","Los Angeles County, CA",California,"1 (Tract 187, San Diego, CA)","San Diego County, CA",Marine Corps Base Camp Pendleton,private_auto,work,home,07:39:00,...,three_plus,core,"1 (Tract 5520.01, Los Angeles, CA)","5520.01 (Los Angeles, CA)","Los Angeles County, CA",California,"1 (Tract 187, San Diego, CA)","187 (San Diego, CA)","San Diego County, CA",California
1,"2 (Tract 1105, Orange, CA)","Orange County, CA",California,"1 (Tract 187, San Diego, CA)","San Diego County, CA",Marine Corps Base Camp Pendleton,private_auto,social,shop,10:35:51,...,\N,visitor,\N,\N,\N,\N,\N,\N,\N,\N
2,"2 (Tract 5736.01, Los Angeles, CA)","Los Angeles County, CA",California,"1 (Tract 187, San Diego, CA)","San Diego County, CA",Marine Corps Base Camp Pendleton,private_auto,social,social,14:31:22,...,two,core,"5 (Tract 5549, Los Angeles, CA)","5549 (Los Angeles, CA)","Los Angeles County, CA",California,\N,\N,\N,\N
3,"2 (Tract 5039.01, Los Angeles, CA)","Los Angeles County, CA",California,"1 (Tract 187, San Diego, CA)","San Diego County, CA",Marine Corps Base Camp Pendleton,carpool,work,social,14:45:47,...,three_plus,core,"5 (Tract 423.13, Orange, CA)","423.13 (Orange, CA)","Orange County, CA",California,"1 (Tract 187, San Diego, CA)","187 (San Diego, CA)","San Diego County, CA",California
4,"4 (Tract 5705.02, Los Angeles, CA)","Los Angeles County, CA",California,"1 (Tract 187, San Diego, CA)","San Diego County, CA",Marine Corps Base Camp Pendleton,carpool,work,home,06:25:00,...,one,core,"4 (Tract 5705.02, Los Angeles, CA)","5705.02 (Los Angeles, CA)","Los Angeles County, CA",California,"1 (Tract 187, San Diego, CA)","187 (San Diego, CA)","San Diego County, CA",California

In [8]:
test = replica.head(1000)
test = test[test['destination_custom'] == 'Carlsbad Palomar Airport']
test = test[test['primary_mode'] == 'other_travel_mode']
test

,origin_bgrp,origin_cty,origin_st,destination_bgrp,destination_cty,destination_custom,primary_mode,trip_purpose,previous_trip_purpose,trip_start_time,...,trip_taker_available_vehicles,trip_taker_resident_type,trip_taker_home_bgrp,trip_taker_home_trct,trip_taker_home_cty,trip_taker_home_st,trip_taker_work_bgrp,trip_taker_work_trct,trip_taker_work_cty,trip_taker_work_st
413,Outside of region,Outside of region,Outside of region,"1 (Tract 221, San Diego, CA)","San Diego County, CA",Carlsbad Palomar Airport,other_travel_mode,lodging,maintenance,15:02:37,...,\N,visitor,\N,\N,\N,\N,\N,\N,\N,\N
547,Outside of region,Outside of region,Outside of region,"3 (Tract 198.06, San Diego, CA)","San Diego County, CA",Carlsbad Palomar Airport,other_travel_mode,home,social,02:53:26,...,two,core,"3 (Tract 198.06, San Diego, CA)","198.06 (San Diego, CA)","San Diego County, CA",California,\N,\N,\N,\N
693,Outside of region,Outside of region,Outside of region,"2 (Tract 221, San Diego, CA)","San Diego County, CA",Carlsbad Palomar Airport,other_travel_mode,maintenance,shop,08:45:11,...,\N,visitor,\N,\N,\N,\N,\N,\N,\N,\N

In [7]:
replica.head(1000).groupby(['destination_custom', 'primary_mode']).agg({'count'})

                                           origin_bgrp origin_cty origin_st  \
                                                 count      count     count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                1          1         1
Carlsbad Palomar Airport other_travel_mode           3          3         3
                         private_auto                2          2         2
Carlsbad State Beach     carpool                     2          2         2
                         other_travel_mode           7          7         7
...                                                ...        ...       ...
Vista Guajome            private_auto                1          1         1
Vista Village            private_auto                4          4         4
West Bernardo            carpool                     3          3         3
                         other_travel_mode           4          4         4
                         private_auto                2          2         2

                                           destination_bgrp destination_cty  \
                                                      count           count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                     1               1
Carlsbad Palomar Airport other_travel_mode                3               3
                         private_auto                     2               2
Carlsbad State Beach     carpool                          2               2
                         other_travel_mode                7               7
...                                                     ...             ...
Vista Guajome            private_auto                     1               1
Vista Village            private_auto                     4               4
West Bernardo            carpool                          3               3
                         other_travel_mode                4               4
                         private_auto                     2               2

                                           trip_purpose previous_trip_purpose  \
                                                  count                 count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                 1                     1
Carlsbad Palomar Airport other_travel_mode            3                     3
                         private_auto                 2                     2
Carlsbad State Beach     carpool                      2                     2
                         other_travel_mode            7                     7
...                                                 ...                   ...
Vista Guajome            private_auto                 1                     1
Vista Village            private_auto                 4                     4
West Bernardo            carpool                      3                     3
                         other_travel_mode            4                     4
                         private_auto                 2                     2

                                           trip_start_time trip_end_time  \
                                                     count         count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                    1             1
Carlsbad Palomar Airport other_travel_mode               3             3
                         private_auto                    2             2
Carlsbad State Beach     carpool                         2             2
                         other_travel_mode               7             7
...                                                    ...           ...
Vista Guajome            private_auto                    1             1
Vista Village            private_auto                    4             4
West Bernardo            carpool                         3             3
                         other_travel_mode               4             4
                         private_auto                    2             2

                                           trip_duration_minutes  ...  \
                                                           count  ...
destination_custom       primary_mode                             ...
Barona Resort & Casino   private_auto                          1  ...
Carlsbad Palomar Airport other_travel_mode                     3  ...
                         private_auto                          2  ...
Carlsbad State Beach     carpool                               2  ...
                         other_travel_mode                     7  ...
...                                                          ...  ...
Vista Guajome            private_auto                          1  ...
Vista Village            private_auto                          4  ...
West Bernardo            carpool                               3  ...
                         other_travel_mode                     4  ...
                         private_auto                          2  ...

                                           trip_taker_available_vehicles  \
                                                                   count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                                  1
Carlsbad Palomar Airport other_travel_mode                             3
                         private_auto                                  2
Carlsbad State Beach     carpool                                       2
                         other_travel_mode                             7
...                                                                  ...
Vista Guajome            private_auto                                  1
Vista Village            private_auto                                  4
West Bernardo            carpool                                       3
                         other_travel_mode                             4
                         private_auto                                  2

                                           trip_taker_resident_type  \
                                                              count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                             1
Carlsbad Palomar Airport other_travel_mode                        3
                         private_auto                             2
Carlsbad State Beach     carpool                                  2
                         other_travel_mode                        7
...                                                             ...
Vista Guajome            private_auto                             1
Vista Village            private_auto                             4
West Bernardo            carpool                                  3
                         other_travel_mode                        4
                         private_auto                             2

                                           trip_taker_home_bgrp  \
                                                          count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                         1
Carlsbad Palomar Airport other_travel_mode                    3
                         private_auto                         2
Carlsbad State Beach     carpool                              2
                         other_travel_mode                    7
...                                                         ...
Vista Guajome            private_auto                         1
Vista Village            private_auto                         4
West Bernardo            carpool                              3
                         other_travel_mode                    4
                         private_auto                         2

                                           trip_taker_home_trct  \
                                                          count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                         1
Carlsbad Palomar Airport other_travel_mode                    3
                         private_auto                         2
Carlsbad State Beach     carpool                              2
                         other_travel_mode                    7
...                                                         ...
Vista Guajome            private_auto                         1
Vista Village            private_auto                         4
West Bernardo            carpool                              3
                         other_travel_mode                    4
                         private_auto                         2

                                           trip_taker_home_cty  \
                                                         count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                        1
Carlsbad Palomar Airport other_travel_mode                   3
                         private_auto                        2
Carlsbad State Beach     carpool                             2
                         other_travel_mode                   7
...                                                        ...
Vista Guajome            private_auto                        1
Vista Village            private_auto                        4
West Bernardo            carpool                             3
                         other_travel_mode                   4
                         private_auto                        2

                                           trip_taker_home_st  \
                                                        count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                       1
Carlsbad Palomar Airport other_travel_mode                  3
                         private_auto                       2
Carlsbad State Beach     carpool                            2
                         other_travel_mode                  7
...                                                       ...
Vista Guajome            private_auto                       1
Vista Village            private_auto                       4
West Bernardo            carpool                            3
                         other_travel_mode                  4
                         private_auto                       2

                                           trip_taker_work_bgrp  \
                                                          count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                         1
Carlsbad Palomar Airport other_travel_mode                    3
                         private_auto                         2
Carlsbad State Beach     carpool                              2
                         other_travel_mode                    7
...                                                         ...
Vista Guajome            private_auto                         1
Vista Village            private_auto                         4
West Bernardo            carpool                              3
                         other_travel_mode                    4
                         private_auto                         2

                                           trip_taker_work_trct  \
                                                          count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                         1
Carlsbad Palomar Airport other_travel_mode                    3
                         private_auto                         2
Carlsbad State Beach     carpool                              2
                         other_travel_mode                    7
...                                                         ...
Vista Guajome            private_auto                         1
Vista Village            private_auto                         4
West Bernardo            carpool                              3
                         other_travel_mode                    4
                         private_auto                         2

                                           trip_taker_work_cty  \
                                                         count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                        1
Carlsbad Palomar Airport other_travel_mode                   3
                         private_auto                        2
Carlsbad State Beach     carpool                             2
                         other_travel_mode                   7
...                                                        ...
Vista Guajome            private_auto                        1
Vista Village            private_auto                        4
West Bernardo            carpool                             3
                         other_travel_mode                   4
                         private_auto                        2

                                           trip_taker_work_st
                                                        count
destination_custom       primary_mode
Barona Resort & Casino   private_auto                       1
Carlsbad Palomar Airport other_travel_mode                  3
                         private_auto                       2
Carlsbad State Beach     carpool                            2
                         other_travel_mode                  7
...                                                       ...
Vista Guajome            private_auto                       1
Vista Village            private_auto                       4
West Bernardo            carpool                            3
                         other_travel_mode                  4
                         private_auto                       2

[154 rows x 37 columns]

In [8]:
# Group the replica dataset by destination_custom(i.e, the new  employment centers) and primary_mode fields. Then aggregate it to get the count of trips in each primary mode.
trips_primary_mode = replica.groupby(['destination_custom', 'primary_mode']).agg({'count'}).reset_index()[[ 'destination_custom', 'primary_mode', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [9]:
trips_primary_mode.shape

(809, 3)

In [10]:
trips_primary_mode.head()

  destination_custom       primary_mode trips
                                        count
0             Alpine             biking    75
1             Alpine            carpool  4283
2             Alpine         commercial  1510
3             Alpine     on_demand_auto   316
4             Alpine  other_travel_mode   288

In [9]:
# Save the outputs in a csv file
trips_primary_mode.to_csv("trips_primary_mode.csv",sep=",")

# Number of Trips by Purpose
The goal of this section is to get the number of trips to each employment center by trip puroses such as commercial, eat, and home.

In [11]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and trip_purpose fields. Then aggregate it to get the count of trips in each trip purpose.
trips_purpose = replica.groupby(['destination_custom','trip_purpose']).agg({'count'}).reset_index()[['destination_custom', 'trip_purpose', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [12]:
trips_purpose.shape

(1085, 3)

In [13]:
trips_purpose.head()

  destination_custom trip_purpose trips
                                  count
0             Alpine   commercial  1523
1             Alpine          eat  3504
2             Alpine         home  4912
3             Alpine      lodging   142
4             Alpine  maintenance  1548

In [13]:
# Save outputs in a csv file
trips_purpose.to_csv("trips_purpose.csv", sep=",")

# Number of Trips by Previous Trip Purpose 
The goal of this section is to get the number of trips to each new employment center by previous trip purpose.

In [82]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and previous_trip_purpose fields. Then aggregate it to get the count of trips in each previous trip purposes.
previous_trips_purpose = replica.groupby(['destination_custom','previous_trip_purpose']).agg({'count'}).reset_index()[['destination_custom','previous_trip_purpose', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [83]:
previous_trips_purpose.shape

(1259, 3)

In [84]:
previous_trips_purpose.head()

  destination_custom previous_trip_purpose trips
                                           count
0             Alpine                    \N    32
1             Alpine            commercial  1523
2             Alpine                   eat  1970
3             Alpine                  home  7289
4             Alpine               lodging   312

In [135]:
# Save the outputs in a csv file
previous_trips_purpose.to_csv("previous_trips_purpose.csv",sep=",")

# Number of Trips by Vehicle Type
The goal of this section is to get the number of trips to each employment center by vehicle types. The vehicle types  are heavy_commercial, medium_commercial, and unknown_vehicle_type.

In [14]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and vehicle_type fields. Then aggregate it to get the count of trips in each vehile_type.
trips_vehicle_type = replica.groupby(['destination_custom','vehicle_type']).agg({'count'}).reset_index()[['destination_custom','vehicle_type', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [15]:
trips_vehicle_type.shape

(340, 3)

In [16]:
trips_vehicle_type.head()

  destination_custom          vehicle_type  trips
                                            count
0             Alpine      heavy_commercial     23
1             Alpine     medium_commercial   1487
2             Alpine  unknown_vehicle_type  21581
3        Balboa Park      heavy_commercial      5
4        Balboa Park     medium_commercial    680

In [137]:
# Save the outputs in a csv file
trips_vehicle_type.to_csv("trips_vehicle_type.csv",sep=",")

# Number of Trips by Origin Land Use
The goal of this section is to get the number of trips to each employment center by the trips origin land use. The origin_land_use field have categories such as civic_institutional, education, multi_family, and single family.

In [17]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and origin_building_use fields. Then aggregate it to get the count of trips in each trip origin land use category.
trips_origin_building_use = replica.groupby(['destination_custom','origin_building_use']).agg({'count'}).reset_index()[['destination_custom','origin_building_use', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [18]:
trips_origin_building_use.shape

(1350, 3)

In [19]:
trips_origin_building_use.head()

  destination_custom  origin_building_use trips
                                          count
0             Alpine  civic_institutional   531
1             Alpine            education  1638
2             Alpine           healthcare   179
3             Alpine           industrial   322
4             Alpine         multi_family  1099

In [141]:
# Save the outputs in a csv file
trips_origin_building_use.to_csv("trips_origin_building_use.csv",sep=",")

# Number of Trips by Destination Land Use
The goal of this section is to get the number of trips to each employment center by the trips destination land use. The destination_land_use field have categories such as civic_institutional, education, healthcare, and mixed_use.

In [20]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and destination_land_use fields. Then aggregate it to get the count of trips in each trip destination land use category.
trips_destination_land_use = replica.groupby(['destination_custom','destination_land_use']).agg({'count'}).reset_index()[['destination_custom','destination_land_use', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [21]:
trips_destination_land_use.shape

(1150, 3)

In [22]:
trips_destination_land_use.head()

  destination_custom destination_land_use trips
                                          count
0             Alpine  civic_institutional   427
1             Alpine            education   659
2             Alpine           healthcare    12
3             Alpine           industrial   107
4             Alpine            mixed_use  1661

In [143]:
# Save the outputs in a csv file
trips_destination_land_use.to_csv("trips_destination_land_use.csv",sep=",")

# Number of Trips by Destination Building Use
The goal of this section is to get the number of trips to each employment center by the trips destination building use. The destination_building_use field has categories such as civic_institutional, education, healthcare, and industrial.

In [23]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and destination_building_use fields. Then aggregate it to get the count of trips in each trip destination building use category.
trips_destination_building_use = replica.groupby(['destination_custom','destination_building_use']).agg({'count'}).reset_index()[['destination_custom','destination_building_use', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [24]:
trips_destination_building_use.shape

(1151, 3)

In [25]:
trips_destination_building_use.head()

  destination_custom destination_building_use trips
                                              count
0             Alpine      civic_institutional   591
1             Alpine                education   695
2             Alpine               healthcare   168
3             Alpine               industrial   119
4             Alpine             multi_family   773

In [145]:
# Save the outputs in a csv file
trips_destination_building_use.to_csv("trips_destination_building_use.csv",sep=",")

# Number of Trips by Duration
The goal of this section is to get the number of trips to each employment center by trip duratin. trip_duration_minutes field was used to create a new field called trip_duration. This filed has five categories. these categories are 0-5_min, 5-15_min, 15-30_min, 30-60_min, and 60+_min.

In [12]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and trip_duration_minutes fields. Then aggregate it to get the count of trips in each category in trip_duration_minutes field.
trips_duration = replica.groupby(['destination_custom','trip_duration_minutes']).agg({'count'}).reset_index()[['destination_custom','trip_duration_minutes', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [13]:
trips_duration.shape

(36020, 3)

In [11]:
set(replica[replica['trip_duration_minutes'] == 0]['primary_mode'])

{'biking',
 'carpool',
 'commercial',
 'on_demand_auto',
 'other_travel_mode',
 'private_auto',
 'walking'}

In [14]:
trips_duration.head()

  destination_custom trip_duration_minutes trips
                                           count
0             Alpine                     0   988
1             Alpine                     1  1446
2             Alpine                     2  1547
3             Alpine                     3  1466
4             Alpine                     4  1138

In [15]:
trips_duration['trip_duration_minutes'] = trips_duration['trip_duration_minutes'].replace(0,1)

In [16]:
trips_duration.head()

  destination_custom trip_duration_minutes trips
                                           count
0             Alpine                     1   988
1             Alpine                     1  1446
2             Alpine                     2  1547
3             Alpine                     3  1466
4             Alpine                     4  1138

In [17]:
#trip_duration_minutes field was used to create a new field called trip_duration. This filed has five categories. these categories are 0-5_min, 5-15_min, 15-30_min, 30-60_min, and 60+_min.
trips_duration['trip_duration'] = pd.cut(x=trips_duration['trip_duration_minutes'], bins=[0,5,15,30,60,np.inf], labels=['0-5_min', '5-15_min', '15-30_min','30-60_min','60+_min'], ordered =True)

In [21]:
trips_duration.head(40)

   destination_custom trip_duration_minutes trips trip_duration
                                            count
0              Alpine                     1   988       0-5_min
1              Alpine                     1  1446       0-5_min
2              Alpine                     2  1547       0-5_min
3              Alpine                     3  1466       0-5_min
4              Alpine                     4  1138       0-5_min
5              Alpine                     5   977       0-5_min
6              Alpine                     6   797      5-15_min
7              Alpine                     7   621      5-15_min
8              Alpine                     8   556      5-15_min
9              Alpine                     9   540      5-15_min
10             Alpine                    10   520      5-15_min
11             Alpine                    11   479      5-15_min
12             Alpine                    12   525      5-15_min
13             Alpine                    13   666      5-15_min
14             Alpine                    14   659      5-15_min
15             Alpine                    15   658      5-15_min
16             Alpine                    16   639     15-30_min
17             Alpine                    17   568     15-30_min
18             Alpine                    18   471     15-30_min
19             Alpine                    19   405     15-30_min
20             Alpine                    20   381     15-30_min
21             Alpine                    21   294     15-30_min
22             Alpine                    22   345     15-30_min
23             Alpine                    23   312     15-30_min
24             Alpine                    24   289     15-30_min
25             Alpine                    25   271     15-30_min
26             Alpine                    26   264     15-30_min
27             Alpine                    27   260     15-30_min
28             Alpine                    28   277     15-30_min
29             Alpine                    29   258     15-30_min
30             Alpine                    30   269     15-30_min
31             Alpine                    31   242     30-60_min
32             Alpine                    32   233     30-60_min
33             Alpine                    33   277     30-60_min
34             Alpine                    34   255     30-60_min
35             Alpine                    35   236     30-60_min
36             Alpine                    36   245     30-60_min
37             Alpine                    37   212     30-60_min
38             Alpine                    38   179     30-60_min
39             Alpine                    39   181     30-60_min

In [32]:
trips_duration = trips_duration.drop(columns='trip_duration_minutes')

In [33]:
trips_duration = trips_duration.groupby(['destination_custom','trip_duration']).agg({'sum'})

In [36]:
trips_duration.head(10)

                                 trips
                                 count
                                   sum
destination_custom trip_duration
Alpine             0-5_min        7562
                   5-15_min       6021
                   15-30_min      5303
                   30-60_min      3409
                   60+_min         796
Balboa Park        0-5_min        5879
                   5-15_min       9181
                   15-30_min      7339
                   30-60_min      2665
                   60+_min        1395

In [26]:
# Save the outputs in a csv file
trips_duration.to_csv("trips_duration.csv", sep = ",")

# Number of Trips by Distance
The goal of this section is to get the number of trips to each employment center by trip distance in miles. trip_distance_miles field was used to create a new fiel called trip_distance. This filed has six categories. these categories are less_than_1_mile, 1-2_miles, 2-5_miles, 5-10_miles, 10-25_miles, and 25+_miles.

In [37]:
# Group the replica dataset by destination_custom(i.e, the new employment centers) and trip_distance_miles fields. Then aggregate it to get the count of trips in each category in trip_distance_miles field.
trips_distance = replica.groupby(['destination_custom','trip_distance_miles']).agg({'count'}).reset_index()[['destination_custom','trip_distance_miles', 'origin_bgrp']].rename(columns={'origin_bgrp':'trips'})

In [38]:
trips_distance.shape

(137596, 3)

In [39]:
trips_distance.head()

  destination_custom trip_distance_miles trips
                                         count
0             Alpine                 0.0   508
1             Alpine                 0.1   602
2             Alpine                 0.2   413
3             Alpine                 0.3   419
4             Alpine                 0.4   450

In [40]:
trips_distance['trip_distance_miles'] = trips_distance['trip_distance_miles'].replace(0.0,0.1)

In [41]:
#trip_distance_miles field was used to create a new fiel called trip_distance. This filed has six categories. these categories are are less_than_1_mile, 1-2_miles, 2-5_miles, 5-10_miles, 10-25_miles, and 25+_miles.
trips_distance['trip_distance'] = pd.cut(x=trips_distance['trip_distance_miles'], bins=[0,1,2,5,10,25,np.inf], labels=['less_than_1_mile','1-2_miles','2-5_miles','5-10_miles','10-25_miles','25+_miles'], ordered =True )

In [42]:
trips_distance.head()

  destination_custom trip_distance_miles trips     trip_distance
                                         count
0             Alpine                 0.1   508  less_than_1_mile
1             Alpine                 0.1   602  less_than_1_mile
2             Alpine                 0.2   413  less_than_1_mile
3             Alpine                 0.3   419  less_than_1_mile
4             Alpine                 0.4   450  less_than_1_mile

In [43]:
trips_distance = trips_distance.drop(columns='trip_distance_miles')

In [44]:
trips_distance = trips_distance.groupby(['destination_custom','trip_distance']).agg({'sum'})

In [45]:
trips_distance.head(12)

                                    trips
                                    count
                                      sum
destination_custom trip_distance
Alpine             less_than_1_mile  4687
                   1-2_miles         2772
                   2-5_miles         2890
                   5-10_miles        2143
                   10-25_miles       6301
                   25+_miles         4298
Balboa Park        less_than_1_mile  4726
                   1-2_miles         1735
                   2-5_miles         5469
                   5-10_miles        5093
                   10-25_miles       6412
                   25+_miles         3024

In [26]:
# Save the outputs in a csv file 
trips_distance.to_csv("trips_distance.csv",sep=",")

# Number of Trips by Block Groups
The goal of this section is to get the number of trips to each employment center from each block group.

In [22]:
replica_2.shape

(7557621, 37)

In [24]:
# Group the replica_2 dataset by destination_custom(i.e, the new employment centers) and origin_bgrp fields. Then aggregate it to get the count of trips from each block groups to the employment centers.
trips_bgrp_to_EC = replica_2.groupby(['origin_bgrp','destination_custom']).agg({'count'}).reset_index()[['origin_bgrp','destination_custom','origin_cty']].rename(columns={'origin_cty':'trips'})

In [25]:
trips_bgrp_to_EC.shape

(218271, 3)

In [26]:
trips_bgrp_to_EC.head()

                          origin_bgrp      destination_custom trips
                                                              count
0  0 (Tract 5766.02, Los Angeles, CA)  Oceanside Civic Center     1
1  0 (Tract 5766.02, Los Angeles, CA)          Otay Mesa East     1
2       0 (Tract 9901, San Diego, CA)        Carlsbad Village     1
3       0 (Tract 9901, San Diego, CA)   Chula Vista Northwest     1
4       0 (Tract 9901, San Diego, CA)        Chula Vista Otay     1

In [27]:
trips_bgrp_to_EC = trips_bgrp_to_EC.sort_values(by=['destination_custom'])

In [28]:
trips_bgrp_to_EC.head()

                           origin_bgrp destination_custom trips
                                                          count
14228  1 (Tract 153.01, San Diego, CA)             Alpine    16
44281   1 (Tract 32.09, San Diego, CA)             Alpine     8
86384     2 (Tract 117, San Diego, CA)             Alpine     2
13611  1 (Tract 149.02, San Diego, CA)             Alpine    82
86351      2 (Tract 117, Imperial, CA)             Alpine     6

In [30]:
trips_bgrp_to_EC.columns = ['origin_bgrp', 'destination_custum', 'trips']
trips_bgrp_to_EC

                               origin_bgrp destination_custum  trips
14228      1 (Tract 153.01, San Diego, CA)             Alpine     16
44281       1 (Tract 32.09, San Diego, CA)             Alpine      8
86384         2 (Tract 117, San Diego, CA)             Alpine      2
13611      1 (Tract 149.02, San Diego, CA)             Alpine     82
86351          2 (Tract 117, Imperial, CA)             Alpine      6
...                                    ...                ...    ...
78163   1 (Tract 9203.39, Los Angeles, CA)      West Bernardo      1
21046      1 (Tract 170.46, San Diego, CA)      West Bernardo     49
51688      1 (Tract 427.16, Riverside, CA)      West Bernardo      3
150907      2 (Tract 96.03, San Diego, CA)      West Bernardo      7
218270                   Outside of region      West Bernardo    249

[218271 rows x 3 columns]

In [29]:
trips_bgrp_to_EC.columns

MultiIndex([(       'origin_bgrp',      ''),
            ('destination_custom',      ''),
            (             'trips', 'count')],
           )

In [31]:
# Could be done with 4 lines of code 
subset = trips_bgrp_to_EC[trips_bgrp_to_EC['origin_bgrp'].str.contains('San Diego')]
subset

                            origin_bgrp destination_custum  trips
14228   1 (Tract 153.01, San Diego, CA)             Alpine     16
44281    1 (Tract 32.09, San Diego, CA)             Alpine      8
86384      2 (Tract 117, San Diego, CA)             Alpine      2
13611   1 (Tract 149.02, San Diego, CA)             Alpine     82
175713   3 (Tract 31.11, San Diego, CA)             Alpine      5
...                                 ...                ...    ...
112471  2 (Tract 204.04, San Diego, CA)      West Bernardo     58
20962   1 (Tract 170.45, San Diego, CA)      West Bernardo     75
151066   2 (Tract 97.03, San Diego, CA)      West Bernardo      1
21046   1 (Tract 170.46, San Diego, CA)      West Bernardo     49
150907   2 (Tract 96.03, San Diego, CA)      West Bernardo      7

[140011 rows x 3 columns]

In [32]:
subset['trips'].sum()

7272074

In [52]:
trips_bgrp_to_EC.shape

(218271, 3)

In [66]:
# Save the outputs in a csv file
trips_bgrp_to_EC.to_csv("trips_bgrp_to_EC.csv",sep=",")