# Example Usage

In [1]:
# Keep track of runtime which will be printed at the end of this notebook
import time
start = time.time()

In [2]:
# Library imports
import pathlib

import numpy as np
import pandas as pd

# Local modules
import functions as f

In [3]:
# The list of geographies to run on. To add any additional geography such as "mgra", simply add it 
# to the list below. 
# NOTE: Including "mgra" may result in extremely long processing times. As far as I can tell, this 
# is due to SQL Server taking an extremely long time to process the age_sex_ethnicity table at the
# mgra level. When running on Eric's Surface laptop, simply getting/saving the age_ethnicity and
# age_sex_ethnicity tables at the mgra level took about 20 minutes each.
GEOGRAPHIES = ["region", "jurisdiction", "cpa", "mgra"]

# The estimates tables to run on. The tables are split up into three different variables
# EST_TABLES contains Estimates tables where the key columns are ONLY geography name and year
# AGE_SEX_ETHNICITY contains Estimates tables where key columns contain additional information such
# as age category or ethnicity category
# CONSOLIDATED is the name of the consolidated file
EST_TABLES = ['age', 'ethnicity', 'household_income', 'households', 'housing', 'population', 'sex']
AGE_SEX_ETHNICITY = ["age_ethnicity", "age_sex_ethnicity"]
CONSOLIDATED = ["consolidated"]

# The Estimates/DOF vintages to run on. Checks are run on the NEW_VINTAGE by default. OLD_VINTAGE is
# only used in the creation of diff files, which contain NEW_VINTAGE - OLD_VINTAGE. DOF_VINTAGE is
# used for downloading DOF data, and comparing region level population values in Check 6
NEW_VINTAGE = "2021_01"
OLD_VINTAGE = "2020_06"
DOF_VINTAGE = "2021_07_14"

# Default locations where files should be saved to and loaded from.
# NOTE: These folders are created by the save function, no need to do so yourself.
RAW_FOLDER = pathlib.Path("./data/raw_data/")
DIFF_FOLDER = pathlib.Path("./data/diff/")
PROP_FOLDER = pathlib.Path("./data/proportion/")
OUTPUTS_FOLDER = pathlib.Path("./data/outputs/")

In [4]:
# Import the module that allows us to create tables
import generate_tables as gt

### Creating Estimates Tables (generate_tables.EstimatesTables)

In [5]:
# Creating individual files (one file per unique geography and Estimate table)
# "_ =" to suppress output
_ = gt.EstimatesTables().individual(
        est_vintage=NEW_VINTAGE,
        geo_list=GEOGRAPHIES,
        est_table_list=EST_TABLES + AGE_SEX_ETHNICITY,
        save=True,
        save_folder=RAW_FOLDER,
        overwrite=False)

In [6]:
# Creating consolidated files (one file per geography, contains all requested tables)
# NOTE: The additional parameter get_from_file=True allows the function to pull data from already
# downloaded Estimates tables, instead of re-downloading and holding in memory
_ = gt.EstimatesTables().consolidate(
        est_vintage=NEW_VINTAGE, 
        geo_list=GEOGRAPHIES,
        est_table_list=EST_TABLES, 
        get_from_file=True,
        raw_folder=RAW_FOLDER,
        save=True,
        save_folder=RAW_FOLDER)

### Creating DOF Data Files (generate_tables.CA_DOF)

In [7]:
# Creating DOF data files:
# 1. Region level population in each year
# 2. Region level population in each year broken down by age/sex/ethnicity
gt.CA_DOF().get_CA_DOF_region_pop(
    dof_vintage=DOF_VINTAGE, 
    save_folder=RAW_FOLDER)

### Creating Diff Files (generate_tables.DiffFiles)

In [8]:
# First create consolidated and individual files using the same parameters as before but with 
# the OLD_VINTAGE instead of the NEW_VINTAGE
_ = gt.EstimatesTables().individual(
        est_vintage=OLD_VINTAGE,
        geo_list=GEOGRAPHIES,
        est_table_list=EST_TABLES + AGE_SEX_ETHNICITY,
        save=True,
        save_folder=RAW_FOLDER,
        overwrite=False)
_ = gt.EstimatesTables().consolidate(
        est_vintage=OLD_VINTAGE, 
        geo_list=GEOGRAPHIES,
        est_table_list=EST_TABLES, 
        get_from_file=True,
        raw_folder=RAW_FOLDER,
        save=True,
        save_folder=RAW_FOLDER)

In [9]:
# Create diff files 
# NOTE: This will output xlsx files with sheets containing OLD_VINTAGE data, NEW_VINTAGE data, and
# NEW_VINTAGE-OLD_VINTAGE data. This is NOT percent difference, but numeric difference
# NOTE: Because of the way that the diff files are created, python is required to hold essentially
# three full tables in memory at the same time. For the "mgra" level and large tables such as 
# consolidated or age_sex_ethnicity, these result in a lack of memory and impossibly long run times.
# "mgra" is thus removed from diff files
NO_MGRA = GEOGRAPHIES.copy()
NO_MGRA.remove("mgra")
_ = gt.DiffFiles().create_diff_tables(
        old_vintage=OLD_VINTAGE, 
        new_vintage=NEW_VINTAGE, 
        geo_list=NO_MGRA,
        est_table_list=EST_TABLES + CONSOLIDATED + AGE_SEX_ETHNICITY,
        raw_data_folder=RAW_FOLDER,
        save=True,
        save_folder=DIFF_FOLDER)

### Creating Proportion Files (generate_tables.ProportionFiles)

In [10]:
# Create proportion files for estimates tables
gt.ProportionFiles().create_est_proportion_tables( 
    est_vintage=NEW_VINTAGE, 
    geo_list=['region'],
    est_table_list=['age', "sex", 'ethnicity', 'household_income', 'age_ethnicity', 'age_sex_ethnicity'],
    raw_data_folder=RAW_FOLDER,
    save=True,
    save_folder=PROP_FOLDER)

In [11]:
# Create proportion files for DOF tables
gt.ProportionFiles().create_DOF_proportion_table(
    DOF_vintage=DOF_VINTAGE,
    raw_data_folder=RAW_FOLDER,
    save=True,
    save_folder=PROP_FOLDER)

## Run Checks

In [5]:
# Import the module that allows us to run checks
import perform_checks as pc

### Run Check 1

In [13]:
# Run internal consistency checks by geography level
# NOTE: Due to a limitation of the function, "region" cannot be included in the input geo_list
# BUG: If new geographies were added to GEOGRAPHIES, make sure that aggregation instructions are
# updated in the variable InternalConsistency()._geography_aggregation. For more details on how,
# see the class docstring
NO_REGION = GEOGRAPHIES.copy()
NO_REGION.remove("region")
pc.InternalConsistency().check_geography_aggregations(
    vintage=NEW_VINTAGE,
    geo_list=NO_REGION,
    est_table=CONSOLIDATED[0],
    raw_folder=RAW_FOLDER,  
    save=True,
    save_location=OUTPUTS_FOLDER)

Running Check 1: Check aggregated values between geography levels
Aggregating jurisdiction level data to region and comparing with region csv file
No errors

Aggregating cpa level data to jurisdiction and comparing with jurisdiction csv file
CPA cannot be aggregated

Aggregating cpa level data to region and comparing with region csv file
CPA cannot be aggregated

Aggregating mgra level data to cpa and comparing with cpa csv file
CPA cannot be aggregated

Aggregating mgra level data to jurisdiction and comparing with jurisdiction csv file
MGRA cannot be aggregated to jurisdiction due to errors in MGRA 13
If Estimates 2021_01 is not using MGRA 13, code needs to be updated

Aggregating mgra level data to region and comparing with region csv file
No errors

In [14]:
# Run internal consistency checks between Estimates tables
# See function signature for the meaning of "est_table_types"
pc.InternalConsistency().check_internal_aggregations(
        vintage=NEW_VINTAGE, 
        geo_list=GEOGRAPHIES,
        est_table_types=["population", "households"],
        raw_folder=RAW_FOLDER,
        save=True,
        save_location=OUTPUTS_FOLDER)

Running Check 1: Check aggregated values between Estimates tables
Checking Estimates tables with population values at the region level
No errors

Checking Estimates tables with population values at the jurisdiction level
No errors

Checking Estimates tables with population values at the cpa level
No errors

Checking Estimates tables with population values at the mgra level
No errors

Checking Estimates tables with households values at the region level
No errors

Checking Estimates tables with households values at the jurisdiction level
No errors

Checking Estimates tables with households values at the cpa level
No errors

Checking Estimates tables with households values at the mgra level
No errors

### Run Check 2

In [15]:
# Run spot nulls check
# NOTE: Every table in that is combined into CONSOLIDATED is already represented in EST_TABLES
pc.NullValues().spot_nulls(
    vintage=NEW_VINTAGE, 
    geo_list=GEOGRAPHIES, 
    est_table_list=EST_TABLES + AGE_SEX_ETHNICITY, 
    raw_folder=RAW_FOLDER, 
    save=True,
    save_location=OUTPUTS_FOLDER)

Running Check 2: Spot Nulls
Checking QA_2021_01_region_age.
No errors

Checking QA_2021_01_region_ethnicity.
No errors

Checking QA_2021_01_region_household_income.
No errors

Checking QA_2021_01_region_households.
No errors

Checking QA_2021_01_region_housing.
No errors

Checking QA_2021_01_region_population.
No errors

Checking QA_2021_01_region_sex.
No errors

Checking QA_2021_01_region_age_ethnicity.
No errors

Checking QA_2021_01_region_age_sex_ethnicity.
No errors

Checking QA_2021_01_jurisdiction_age.
No errors

Checking QA_2021_01_jurisdiction_ethnicity.
No errors

Checking QA_2021_01_jurisdiction_household_income.
No errors

Checking QA_2021_01_jurisdiction_households.
No errors

Checking QA_2021_01_jurisdiction_housing.
No errors

Checking QA_2021_01_jurisdiction_population.
No errors

Checking QA_2021_01_jurisdiction_sex.
No errors

Checking QA_2021_01_jurisdiction_age_ethnicity.
No errors

Checking QA_2021_01_jurisdiction_age_sex_ethnicity.
No errors

Checking QA_2021_01_cpa_age.
No errors

Checking QA_2021_01_cpa_ethnicity.
No errors

Checking QA_2021_01_cpa_household_income.
No errors

Checking QA_2021_01_cpa_households.
No errors

Checking QA_2021_01_cpa_housing.
No errors

Checking QA_2021_01_cpa_population.
No errors

Checking QA_2021_01_cpa_sex.
No errors

Checking QA_2021_01_cpa_age_ethnicity.
No errors

Checking QA_2021_01_cpa_age_sex_ethnicity.
No errors

Checking QA_2021_01_mgra_age.
No errors

Checking QA_2021_01_mgra_ethnicity.
No errors

Checking QA_2021_01_mgra_household_income.
No errors

Checking QA_2021_01_mgra_households.
No errors

Checking QA_2021_01_mgra_housing.
No errors

Checking QA_2021_01_mgra_population.
No errors

Checking QA_2021_01_mgra_sex.
No errors

Checking QA_2021_01_mgra_age_ethnicity.
No errors

Checking QA_2021_01_mgra_age_sex_ethnicity.
No errors

In [16]:
# Run spot missing geographies/years
# Add on "mgra" geography to this test if missing from the geography list
pc.NullValues().spot_missing_values(
    vintage=NEW_VINTAGE, 
    geo_list=GEOGRAPHIES + ["mgra"],
    est_table_list=EST_TABLES,
    raw_folder=RAW_FOLDER,
    save=True,
    save_location=OUTPUTS_FOLDER)

Running Check 2: Spot Missing Geographies/Years
Checking QA_2021_01_region_age.
No Errors

Checking QA_2021_01_region_ethnicity.
No Errors

Checking QA_2021_01_region_household_income.
No Errors

Checking QA_2021_01_region_households.
No Errors

Checking QA_2021_01_region_housing.
No Errors

Checking QA_2021_01_region_population.
No Errors

Checking QA_2021_01_region_sex.
No Errors

Checking QA_2021_01_jurisdiction_age.
No Errors

Checking QA_2021_01_jurisdiction_ethnicity.
No Errors

Checking QA_2021_01_jurisdiction_household_income.
No Errors

Checking QA_2021_01_jurisdiction_households.
No Errors

Checking QA_2021_01_jurisdiction_housing.
No Errors

Checking QA_2021_01_jurisdiction_population.
No Errors

Checking QA_2021_01_jurisdiction_sex.
No Errors

Checking QA_2021_01_cpa_age.
No Errors

Checking QA_2021_01_cpa_ethnicity.
No Errors

Checking QA_2021_01_cpa_household_income.
No Errors

Checking QA_2021_01_cpa_households.
No Errors

Checking QA_2021_01_cpa_housing.
No Errors

Checking QA_2021_01_cpa_population.
No Errors

Checking QA_2021_01_cpa_sex.
No Errors

Checking QA_2021_01_mgra_age.
No Errors

Checking QA_2021_01_mgra_ethnicity.
No Errors

Checking QA_2021_01_mgra_household_income.
No Errors

Checking QA_2021_01_mgra_households.
No Errors

Checking QA_2021_01_mgra_housing.
No Errors

Checking QA_2021_01_mgra_population.
No Errors

Checking QA_2021_01_mgra_sex.
No Errors

Checking QA_2021_01_mgra_age.
No Errors

Checking QA_2021_01_mgra_ethnicity.
No Errors

Checking QA_2021_01_mgra_household_income.
No Errors

Checking QA_2021_01_mgra_households.
No Errors

Checking QA_2021_01_mgra_housing.
No Errors

Checking QA_2021_01_mgra_population.
No Errors

Checking QA_2021_01_mgra_sex.
No Errors

### Run Check 3

In [17]:
# N/A, done already by generate_tables.DiffFiles

### Run Check 4

In [6]:
# Run checks that year over year Estimates values do not change by too much
# This check should only be run at the region level to prevent small populations with high 
# variability from distorting results
if("region" in GEOGRAPHIES):
    pc.ThresholdAnalysis().check_thresholds(
        p_threshold=5,
        n_threshold=500,
        vintage=NEW_VINTAGE, 
        geo_list=["region"],
        est_table_list=EST_TABLES,
        raw_folder=RAW_FOLDER, 
        save=True,
        save_location=OUTPUTS_FOLDER)
else:
    print("This check should only be run at the region level.")

Running check 4: Threshold Analysis
Checking file QA_2021_01_region_age.
Errors have occurred on the following rows:
       region  yr_id  Under 5  5 to 9  10 to 14  15 to 17  18 and 19  \
0   San Diego   2010   203423  194029    198716    128000      97095
1   San Diego   2011   209939  197889    198979    128906      96042
2   San Diego   2012   215677  203754    198403    131596      97211
3   San Diego   2013   219753  210910    199295    133282      98736
4   San Diego   2014   222064  216798    200875    132669     100101
5   San Diego   2015   223794  221228    202767    131345     101507
6   San Diego   2016   223203  224837    205110    130974      99967
7   San Diego   2017   221450  227947    209845    131182      98214
8   San Diego   2018   218753  229178    215375    131475      98417
9   San Diego   2019   213481  230127    220121    132226      99228
10  San Diego   2020   205904  230989    223104    133490      98931

    20 to 24  25 to 29  30 to 34  ...  45 to 49  50 to 54  55 to 59  \
0     270750    250737    220185  ...    219795    210980    180305
1     270069    246734    224967  ...    217105    213349    185353
2     267545    240615    230265  ...    213155    215234    191186
3     265080    234627    235654  ...    210161    216585    196575
4     263770    228231    240016  ...    208012    217419    200838
5     263863    222366    240769  ...    208039    216913    204854
6     263800    218225    236041  ...    209300    213495    207652
7     264492    215556    229923  ...    210778    209297    209349
8     264398    212399    223371  ...    210640    205491    210030
9     263346    209843    216141  ...    208761    202413    209873
10    261861    207190    208315  ...    204996    200622    207276

    60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  80 to 84  85 and Older
0       64088     85223    103241     77313     64347     52564         53960
1       65439     90154    108268     80121     64799     53080         55202
2       66248     94222    116570     83765     65707     53304         56304
3       68049     96238    125993     88669     67357     53490         57184
4       71049     97916    134674     93526     69690     53723         58123
5       74309     99930    143484     98089     72590     54010         59536
6       76640    102785    150715    103069     75194     54249         60708
7       78005    107057    155001    110500     78005     55108         61541
8       78984    110938    157747    119116     81643     56539         61921
9       79805    113581    161305    126877     85459     58454         62950
10      80734    114670    164902    134013     88881     60482         64691

[11 rows x 22 columns]
       region  yr_id   Under 5    5 to 9  10 to 14  15 to 17  18 and 19  \
0   San Diego   2010       NaN       NaN       NaN       NaN        NaN
1   San Diego   2011  3.203178  1.989393  0.132350  0.707813  -1.084505
2   San Diego   2012  2.733175  2.963783 -0.289478  2.086792   1.217176
3   San Diego   2013  1.889863  3.512078  0.449590  1.281194   1.568753
4   San Diego   2014  1.051635  2.791712  0.792795 -0.459927   1.382474
5   San Diego   2015  0.779055  2.043377  0.941879 -0.997972   1.404581
6   San Diego   2016 -0.264082  1.631349  1.155513 -0.282462  -1.517137
7   San Diego   2017 -0.785384  1.383224  2.308517  0.158810  -1.753579
8   San Diego   2018 -1.217882  0.540038  2.635278  0.223354   0.206692
9   San Diego   2019 -2.410024  0.414089  2.203598  0.571211   0.824045
10  San Diego   2020 -3.549262  0.374576  1.355164  0.955939  -0.299311

    20 to 24  25 to 29  30 to 34  ...  45 to 49  50 to 54  55 to 59  \
0        NaN       NaN       NaN  ...       NaN       NaN       NaN
1  -0.251524 -1.596494  2.171810  ... -1.223868  1.122855  2.799701
2  -0.934576 -2.479999  2.355012  ... -1.819396  0.883529  3.146968
3  -0.921340 -2.488623  2.340347  ... -1.404612  0.627689  2.818721
4  -0.494190 -2.726029  1.851019  ... -1.022549  0.385068  2.168638
5   0.035258 -2.569765  0.313729  ...  0.012980 -0.232730  1.999622
6  -0.023876 -1.862245 -1.963708  ...  0.606136 -1.575747  1.365851
7   0.262320 -1.223050 -2.591923  ...  0.706163 -1.966322  0.817233
8  -0.035540 -1.464585 -2.849650  ... -0.065472 -1.818468  0.325294
9  -0.397885 -1.203395 -3.236768  ... -0.892043 -1.497876 -0.074751
10 -0.563897 -1.264279 -3.620785  ... -1.803498 -0.884825 -1.237415

    60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  80 to 84  85 and Older
0         NaN       NaN       NaN       NaN       NaN       NaN           NaN
1    2.108039  5.785997  4.869190  3.631989  0.702441  0.981660      2.301705
2    1.236266  4.512279  7.668009  4.548121  1.401256  0.422005      1.996304
3    2.718573  2.139628  8.083555  5.854474  2.511148  0.348942      1.562944
4    4.408588  1.743594  6.890065  5.477675  3.463634  0.435595      1.642068
5    4.588383  2.056865  6.541723  4.878857  4.161286  0.534222      2.431051
6    3.136901  2.857000  5.039586  5.077022  3.587271  0.442511      1.968557
7    1.781054  4.156248  2.843778  7.209733  3.738330  1.583439      1.372142
8    1.255048  3.625172  1.771601  7.797285  4.663804  2.596719      0.617475
9    1.039451  2.382412  2.255510  6.515497  4.674008  3.387043      1.661795
10   1.164087  0.958787  2.229937  5.624345  4.004259  3.469395      2.765687

[11 rows x 22 columns]
       region  yr_id  Under 5  5 to 9  10 to 14  15 to 17  18 and 19  \
0   San Diego   2010      NaN     NaN       NaN       NaN        NaN
1   San Diego   2011   6516.0  3860.0     263.0     906.0    -1053.0
2   San Diego   2012   5738.0  5865.0    -576.0    2690.0     1169.0
3   San Diego   2013   4076.0  7156.0     892.0    1686.0     1525.0
4   San Diego   2014   2311.0  5888.0    1580.0    -613.0     1365.0
5   San Diego   2015   1730.0  4430.0    1892.0   -1324.0     1406.0
6   San Diego   2016   -591.0  3609.0    2343.0    -371.0    -1540.0
7   San Diego   2017  -1753.0  3110.0    4735.0     208.0    -1753.0
8   San Diego   2018  -2697.0  1231.0    5530.0     293.0      203.0
9   San Diego   2019  -5272.0   949.0    4746.0     751.0      811.0
10  San Diego   2020  -7577.0   862.0    2983.0    1264.0     -297.0

    20 to 24  25 to 29  30 to 34  ...  45 to 49  50 to 54  55 to 59  \
0        NaN       NaN       NaN  ...       NaN       NaN       NaN
1     -681.0   -4003.0    4782.0  ...   -2690.0    2369.0    5048.0
2    -2524.0   -6119.0    5298.0  ...   -3950.0    1885.0    5833.0
3    -2465.0   -5988.0    5389.0  ...   -2994.0    1351.0    5389.0
4    -1310.0   -6396.0    4362.0  ...   -2149.0     834.0    4263.0
5       93.0   -5865.0     753.0  ...      27.0    -506.0    4016.0
6      -63.0   -4141.0   -4728.0  ...    1261.0   -3418.0    2798.0
7      692.0   -2669.0   -6118.0  ...    1478.0   -4198.0    1697.0
8      -94.0   -3157.0   -6552.0  ...    -138.0   -3806.0     681.0
9    -1052.0   -2556.0   -7230.0  ...   -1879.0   -3078.0    -157.0
10   -1485.0   -2653.0   -7826.0  ...   -3765.0   -1791.0   -2597.0

    60 and 61  62 to 64  65 to 69  70 to 74  75 to 79  80 to 84  85 and Older
0         NaN       NaN       NaN       NaN       NaN       NaN           NaN
1      1351.0    4931.0    5027.0    2808.0     452.0     516.0        1242.0
2       809.0    4068.0    8302.0    3644.0     908.0     224.0        1102.0
3      1801.0    2016.0    9423.0    4904.0    1650.0     186.0         880.0
4      3000.0    1678.0    8681.0    4857.0    2333.0     233.0         939.0
5      3260.0    2014.0    8810.0    4563.0    2900.0     287.0        1413.0
6      2331.0    2855.0    7231.0    4980.0    2604.0     239.0        1172.0
7      1365.0    4272.0    4286.0    7431.0    2811.0     859.0         833.0
8       979.0    3881.0    2746.0    8616.0    3638.0    1431.0         380.0
9       821.0    2643.0    3558.0    7761.0    3816.0    1915.0        1029.0
10      929.0    1089.0    3597.0    7136.0    3422.0    2028.0        1741.0

[11 rows x 22 columns]

Checking file QA_2021_01_region_ethnicity.
No errors

Checking file QA_2021_01_region_household_income.
Errors have occurred on the following rows:
       region  yr_id  Less than $15,000  $15,000 to $29,999  \
1   San Diego   2011             117655              149507
2   San Diego   2012             134337              155257
3   San Diego   2013             131072              160093
4   San Diego   2014             128320              158893
5   San Diego   2015             124626              150080
6   San Diego   2016             115110              147323
7   San Diego   2017             105079              145561
8   San Diego   2018             100413              141203
9   San Diego   2019             105174              136187
10  San Diego   2020             102652              125813

    $30,000 to $44,999  $45,000 to $59,999  $60,000 to $74,999  \
1               153501              124115              111644
2               146891              127719              109220
3               151607              127953              106486
4               152621              130246              104963
5               148524              125962              105111
6               144357              132673              110314
7               145220              128290              111683
8               136210              127594              111101
9               137874              127806              107921
10              132953              124422              111506

    $75,000 to $99,999  $100,000 to $124,999  $125,000 to $149,999  \
1               142889                100770                 63130
2               138667                 97433                 59492
3               138387                 94533                 59892
4               136209                 98783                 58638
5               145658                104344                 60748
6               150925                107191                 62794
7               148071                110661                 65851
8               152554                114247                 68256
9               154683                115043                 70938
10              160243                122344                 68015

    $150,000 to $199,999  $200,000 or more
1                  64158             62052
2                  63596             60900
3                  68119             63211
4                  66331             72559
5                  69260             80597
6                  69222             81334
7                  78144             90905
8                  83083            103130
9                  87781            103869
10                 88224            117809
       region  yr_id  Less than $15,000  $15,000 to $29,999  \
1   San Diego   2011           0.218060            0.300552
2   San Diego   2012          14.178743            3.845974
3   San Diego   2013          -2.430455            3.114835
4   San Diego   2014          -2.099609           -0.749564
5   San Diego   2015          -2.878741           -5.546500
6   San Diego   2016          -7.635646           -1.837020
7   San Diego   2017          -8.714273           -1.196011
8   San Diego   2018          -4.440469           -2.993934
9   San Diego   2019           4.741418           -3.552332
10  San Diego   2020          -2.397931           -7.617467

    $30,000 to $44,999  $45,000 to $59,999  $60,000 to $74,999  \
1             0.320238            0.299813            0.270336
2            -4.306161            2.903759           -2.171187
3             3.210544            0.183215           -2.503205
4             0.668835            1.792064           -1.430235
5            -2.684427           -3.289161            0.141002
6            -2.805607            5.327797            4.950005
7             0.597823           -3.303611            1.241003
8            -6.204380           -0.542521           -0.521118
9             1.221643            0.166152           -2.862260
10           -3.569201           -2.647763            3.321874

    $75,000 to $99,999  $100,000 to $124,999  $125,000 to $149,999  \
1             0.175970              0.170978              0.169779
2            -2.954741             -3.311501             -5.762712
3            -0.201923             -2.976404              0.672359
4            -1.573847              4.495785             -2.093769
5             6.937133              5.629511              3.598349
6             3.616005              2.728475              3.368012
7            -1.891005              3.237212              4.868300
8             3.027602              3.240527              3.652184
9             1.395571              0.696736              3.929325
10            3.594448              6.346323             -4.120500

    $150,000 to $199,999  $200,000 or more
1               0.143602          0.108091
2              -0.875962         -1.856507
3               7.112083          3.794745
4              -2.624818         14.788565
5               4.415733         11.077881
6              -0.054866          0.914426
7              12.888966         11.767526
8               6.320383         13.448105
9               5.654586          0.716571
10              0.504665         13.420751
       region  yr_id  Less than $15,000  $15,000 to $29,999  \
1   San Diego   2011              256.0               448.0
2   San Diego   2012            16682.0              5750.0
3   San Diego   2013            -3265.0              4836.0
4   San Diego   2014            -2752.0             -1200.0
5   San Diego   2015            -3694.0             -8813.0
6   San Diego   2016            -9516.0             -2757.0
7   San Diego   2017           -10031.0             -1762.0
8   San Diego   2018            -4666.0             -4358.0
9   San Diego   2019             4761.0             -5016.0
10  San Diego   2020            -2522.0            -10374.0

    $30,000 to $44,999  $45,000 to $59,999  $60,000 to $74,999  \
1                490.0               371.0               301.0
2              -6610.0              3604.0             -2424.0
3               4716.0               234.0             -2734.0
4               1014.0              2293.0             -1523.0
5              -4097.0             -4284.0               148.0
6              -4167.0              6711.0              5203.0
7                863.0             -4383.0              1369.0
8              -9010.0              -696.0              -582.0
9               1664.0               212.0             -3180.0
10             -4921.0             -3384.0              3585.0

    $75,000 to $99,999  $100,000 to $124,999  $125,000 to $149,999  \
1                251.0                 172.0                 107.0
2              -4222.0               -3337.0               -3638.0
3               -280.0               -2900.0                 400.0
4              -2178.0                4250.0               -1254.0
5               9449.0                5561.0                2110.0
6               5267.0                2847.0                2046.0
7              -2854.0                3470.0                3057.0
8               4483.0                3586.0                2405.0
9               2129.0                 796.0                2682.0
10              5560.0                7301.0               -2923.0

    $150,000 to $199,999  $200,000 or more
1                   92.0              67.0
2                 -562.0           -1152.0
3                 4523.0            2311.0
4                -1788.0            9348.0
5                 2929.0            8038.0
6                  -38.0             737.0
7                 8922.0            9571.0
8                 4939.0           12225.0
9                 4698.0             739.0
10                 443.0           13940.0

Checking file QA_2021_01_region_households.
No errors

Checking file QA_2021_01_region_housing.
Errors have occurred on the following rows:
       region  yr_id  Mobile Home  Multifamily  Single Family - Detached  \
2   San Diego   2012        42666       414893                    592312
3   San Diego   2013        42502       416458                    593807
9   San Diego   2019        41947       439484                    607738
10  San Diego   2020        42030       446279                    611331

    Single Family - Multiple Unit  Single-family Attached  \
2                          112461                       0
3                          112736                       0
9                          115649                       0
10                         116403                       0

    Single-family Detached    units  unoccupiable  occupied  vacancy
2                        0  1162332         40227   1093512    68820
3                        0  1165503         40187   1101353    64150
9                        0  1204818         39696   1147276    57542
10                       0  1216043         39632   1153981    62062
       region  yr_id  Mobile Home  Multifamily  Single Family - Detached  \
2   San Diego   2012    -0.077285     0.345617                  0.359545
3   San Diego   2013    -0.384381     0.377206                  0.252401
9   San Diego   2019    -0.030982     0.946335                  0.418868
10  San Diego   2020     0.197869     1.546131                  0.591209

    Single Family - Multiple Unit  Single-family Attached  \
2                        0.347994                     NaN
3                        0.244529                     NaN
9                        0.405445                     NaN
10                       0.651973                     NaN

    Single-family Detached     units  unoccupiable  occupied   vacancy
2                      NaN  0.337355     -0.067074  0.375521 -0.265206
3                      NaN  0.272814     -0.099436  0.717047 -6.785818
9                      NaN  0.593550     -0.281350  0.833633 -3.965419
10                     NaN  0.931676     -0.161225  0.584428  7.855132
       region  yr_id  Mobile Home  Multifamily  Single Family - Detached  \
2   San Diego   2012        -33.0       1429.0                    2122.0
3   San Diego   2013       -164.0       1565.0                    1495.0
9   San Diego   2019        -13.0       4120.0                    2535.0
10  San Diego   2020         83.0       6795.0                    3593.0

    Single Family - Multiple Unit  Single-family Attached  \
2                           390.0                     0.0
3                           275.0                     0.0
9                           467.0                     0.0
10                          754.0                     0.0

    Single-family Detached    units  unoccupiable  occupied  vacancy
2                      0.0   3908.0         -27.0    4091.0   -183.0
3                      0.0   3171.0         -40.0    7841.0  -4670.0
9                      0.0   7109.0        -112.0    9485.0  -2376.0
10                     0.0  11225.0         -64.0    6705.0   4520.0

Checking file QA_2021_01_region_population.
Errors have occurred on the following rows:
       region  yr_id  Group Quarters - College  Group Quarters - Military  \
0   San Diego   2010                     16055                      43597
1   San Diego   2011                     16968                      42309
7   San Diego   2017                     19006                      43352
8   San Diego   2018                     20201                      44050
10  San Diego   2020                     20306                      44853
11  San Diego   2021                     15987                      39661

    Group Quarters - Other  Household Population  Total Population
0                    42314               2993348           3095314
1                    42623               3025704           3127604
7                    43941               3197068           3303367
8                    46522               3210345           3321118

In [7]:
# Run checks that year over year age_sex and age_sex_ethnicity Estimates values do not change by 
# too much
# Similar to the previous notebook cell, this check should only be run at the region level. Still,
# breaking down into age/sex/ethnicity or just age/ethnicity will greater lower populations and 
# increase volatility. As such, the threshold has been increased from 5 to 10
if("region" in GEOGRAPHIES):
    pc.ThresholdAnalysis().check_thresholds(
        p_threshold=5,
        n_threshold=500,
        vintage=NEW_VINTAGE, 
        geo_list=["region"],
        est_table_list=AGE_SEX_ETHNICITY,
        raw_folder=RAW_FOLDER, 
        save=True,
        save_location=OUTPUTS_FOLDER)
else:
    print("This check should only be run at the region level.")

Running check 4: Threshold Analysis
Checking file QA_2021_01_region_age_ethnicity.
Errors have occurred on the following rows:
        region  yr_id       name  Hispanic  \
12   San Diego   2010   15 to 17     57838
13   San Diego   2011   15 to 17     53190
24   San Diego   2010  18 and 19     39688
25   San Diego   2011  18 and 19     33682
148  San Diego   2014  60 and 61     13966
149  San Diego   2015  60 and 61     15183
150  San Diego   2016  60 and 61     16359
151  San Diego   2017  60 and 61     17202
152  San Diego   2018  60 and 61     17893
153  San Diego   2019  60 and 61     18649
154  San Diego   2020  60 and 61     19491
156  San Diego   2010   62 to 64     14273
157  San Diego   2011   62 to 64     15078
158  San Diego   2012   62 to 64     16120
159  San Diego   2013   62 to 64     17047
160  San Diego   2014   62 to 64     17930
162  San Diego   2016   62 to 64     19988
163  San Diego   2017   62 to 64     21539
170  San Diego   2012   65 to 69     19766
171  San Diego   2013   65 to 69     21234
177  San Diego   2019   65 to 69     30435
178  San Diego   2020   65 to 69     32170
181  San Diego   2011   70 to 74     13784
182  San Diego   2012   70 to 74     14349
187  San Diego   2017   70 to 74     18752
188  San Diego   2018   70 to 74     20086
196  San Diego   2014   75 to 79     11940
197  San Diego   2015   75 to 79     12490
198  San Diego   2016   75 to 79     12942
199  San Diego   2017   75 to 79     13354

     Non-Hispanic, American Indian or Alaska Native  Non-Hispanic, Asian  \
12                                              605                11065
13                                              642                12987
24                                              501                 9922
25                                              552                 9256
148                                             372                 8004
149                                             391                 8349
150                                             377                 8454
151                                             365                 8502
152                                             387                 8619
153                                             387                 8615
154                                             375                 8624
156                                             418                 8804
157                                             419                 9517
158                                             442                10285
159                                             454                10850
160                                             475                11178
162                                             517                11672
163                                             544                12138
170                                             498                12278
171                                             563                13427
177                                             792                18708
178                                             819                19011
181                                             333                 9403
182                                             356                 9813
187                                             444                12099
188                                             504                13127
196                                             275                 8384
197                                             289                 8814
198                                             305                 9245
199                                             323                 9567

     Non-Hispanic, Black  Non-Hispanic, Hawaiian or Pacific Islander  \
12                  6966                                         579
13                  6502                                         622
24                  5149                                         472
25                  5879                                         484
148                 3024                                         285
149                 3292                                         314
150                 3462                                         331
151                 3600                                         321
152                 3725                                         311
153                 3808                                         349
154                 3862                                         397
156                 3047                                         320
157                 3325                                         339
158                 3684                                         369
159                 3949                                         394
160                 4062                                         408
162                 4286                                         410
163                 4561                                         436
170                 4073                                         365
171                 4368                                         414
177                 6459                                         660
178                 6753                                         679
181                 3143                                         342
182                 3184                                         325
187                 3667                                         345
188                 3925                                         398
196                 2623                                         330
197                 2713                                         337
198                 2776                                         324
199                 2786                                         305

     Non-Hispanic, Other  Non-Hispanic, Two or More Races  Non-Hispanic, White
12                   344                             5911                44692
13                   349                             5322                49292
24                   223                             3879                37261
25                   249                             3727                42213
148                   92                              988                44318
149                  121                             1067                45592
150                  148                             1166                46343
151                  129                             1242                46644
152                  108                             1282                46659
153                  130                             1349                46518
154                  166                             1428                46391
156                   91                             1078                57192
157                  105                             1125                60246
158                  121                             1158                62043
159                  111                             1220                62213
160                  128                             1298                62437
162                  138                             1447                64327
163                  167                             1525                66147
170                  120                             1373                78097
171                  147                             1513                84327
177                  203                             2186               101862
178                  238                             2314               102918
181                   87                              929                52100
182                  101                              979                54658
187                  122                             1307                73764
188                  141                             1440                79495
196                   68                              759                45311
197                   81                              798                47068
198                   83                              856                48663
199                   97                              896                50677
        region       name  yr_id   Hispanic  \
12   San Diego   15 to 17   2010        NaN
13   San Diego   15 to 17   2011  -8.036239
24   San Diego  18 and 19   2010        NaN
25   San Diego  18 and 19   2011 -15.133038
148  San Diego  60 and 61   2014   7.480376
149  San Diego  60 and 61   2015   8.714020
150  San Diego  60 and 61   2016   7.745505
151  San Diego  60 and 61   2017   5.153127
152  San Diego  60 and 61   2018   4.016975
153  San Diego  60 and 61   2019   4.225116
154  San Diego  60 and 61   2020   4.514987
156  San Diego   62 to 64   2010        NaN
157  San Diego   62 to 64   2011   5.640020
158  San Diego   62 to 64   2012   6.910731
159  San Diego   62 to 64   2013   5.750620
160  San Diego   62 to 64   2014   5.179797
162  San Diego   62 to 64   2016   5.902299
163  San Diego   62 to 64   2017   7.759656
170  San Diego   65 to 69   2012   6.647243
171  San Diego   65 to 69   2013   7.426895
177  San Diego   65 to 69   2019   5.406248
178  San Diego   65 to 69   2020   5.700674
181  San Diego   70 to 74   2011   3.460182
182  San Diego   70 to 74   2012   4.098955
187  San Diego   70 to 74   2017   6.448683
188  San Diego   70 to 74   2018   7.113908
196  San Diego   75 to 79   2014   3.961689
197  San Diego   75 to 79   2015   4.606365
198  San Diego   75 to 79   2016   3.618895
199  San Diego   75 to 79   2017   3.183434

     Non-Hispanic, American Indian or Alaska Native  Non-Hispanic, Asian  \
12                                              NaN                  NaN
13                                         6.115702            17.370086
24                                              NaN                  NaN
25                                        10.179641            -6.712356
148                                        7.826087             4.819277
149                                        5.107527             4.310345
150                                       -3.580563             1.257636
151                                       -3.183024             0.567779
152                                        6.027397             1.376147
153                                        0.000000            -0.046409
154                                       -3.100775             0.104469
156                                             NaN                  NaN
157                                        0.239234             8.098592
158                                        5.489260             8.069770
159                                        2.714932             5.493437
160                                        4.625551             3.023041
162                                        5.510204             2.837004
163                                        5.222437             3.992461
170                                       10.666667             7.777388
171                                       13.052209             9.358202
177                                        5.179283             2.836412
178                                        3.409091             1.619628
181                                        3.416149             4.757130
182                                        6.906907             4.360311
187                                        8.823529             6.834437
188                                       13.513514             8.496570
196                                       11.788618             5.075824
197                                        5.090909             5.128817
198                                        5.536332             4.889948
199                                        5.901639             3.482964

     Non-Hispanic, Black  Non-Hispanic, Hawaiian or Pacific Islander  \
12                   NaN                                         NaN
13             -6.660924                                    7.426598
24                   NaN                                         NaN
25             14.177510                                    2.542373
148             6.741970                                    5.947955
149             8.862434                                   10.175439
150             5.164034                                    5.414013
151             3.986135                                   -3.021148
152             3.472222                                   -3.115265
153             2.228188                                   12.218650
154             1.418067                                   13.753582
156                  NaN                                         NaN
157             9.123728                                    5.937500
158            10.796992                                    8.849558
159             7.193268                                    6.775068
160             2.861484                                    3.553299
162             3.576607                                    1.234568
163             6.416239                                    6.341463
170             5.109677                                   13.707165
171             7.242819                                   13.424658
177             4.160619                                    3.448276
178             4.551788                                    2.878788
181             1.191243                                   -1.724138
182             1.304486                                   -4.970760
187             4.801372                                   13.861386
188             7.035724                                   15.362319
196             5.383688                                    9.634551
197             3.431186                                    2.121212
198             2.322153                                   -3.857567
199             0.360231                                   -5.864198

     Non-Hispanic, Other  Non-Hispanic, Two or More Races  Non-Hispanic, White
12                   NaN                              NaN                  NaN
13              1.453488                        -9.964473            10.292670
24                   NaN                              NaN                  NaN
25             11.659193                        -3.918536            13.290035
148            -8.000000                         4.439746             3.242790
149            31.521739                         7.995951             2.874678
150            22.314050                         9.278351             1.647219
151           -12.837838                         6.518010             0.649505
152           -16.279070                         3.220612             0.032158
153            20.370370                         5.226209            -0.302193
154            27.692308                         5.856190            -0.273013
156                  NaN                              NaN                  NaN
157            15.384615                         4.359926             5.339908
158            15.238095                         2.933333             2.982771
159            -8.264463                         5.354059             0.274004
160            15.315315                         6.393443             0.360053
162            -1.428571                         4.250720             1.871882
163            21.014493                         5.390463             2.829294
170            -4.000000                         9.927942             7.985122
171            22.500000                        10.196650             7.977259
177             7.407407                         4.393505             1.047557
178            17.241379                         5.855444             1.036697
181             4.819277                         5.209513             3.636219
182            16.091954                         5.382131             4.909789
187            -3.174603                         8.916667             7.540238
188            15.573770                        10.175976             7.769373
196             0.000000                         1.742627             2.879005
197            19.117647                         5.138340             3.877646
198             2.469136                         7.268170             3.388714
199            16.867470                         4.672897             4.138668
        region       name  yr_id  Hispanic  \
12   San Diego   15 to 17   2010       NaN
13   San Diego   15 to 17   2011   -4648.0
24   San Diego  18 and 19   2010       NaN
25   San Diego  18 and 19   2011   -6006.0
148  San Diego  60 and 61   2014     972.0
149  San Diego  60 and 61   2015    1217.0
150  San Diego  60 and 61   2016    1176.0
151  San Diego  60 and 61   2017     843.0
152  San Diego  60 and 61   2018     691.0
153  San Diego  60 and 61   2019     756.0
154  San Diego  60 and 61   2020     842.0
156  San Diego   62 to 64   2010       NaN
157  San Diego   62 to 64   2011     805.0
158  San Diego   62 to 64   2012    1042.0
159  San Diego   62 to 64   2013     927.0
160  San Diego   62 to 64   2014     883.0
162  San Diego   62 to 64   2016    1114.0
163  San Diego   62 to 64   2017    1551.0
170  San Diego   65 to 69   2012    1232.0
171  San Diego   65 to 69   2013    1468.0
177  San Diego   65 to 69   2019    1561.0
178  San Diego   65 to 69   2020    1735.0
181  San Diego   70 to 74   2011     461.0
182  San Diego   70 to 74   2012     565.0
187  San Diego   70 to 74   2017    1136.0
188  San Diego   70 to 74   2018    1334.0
196  San Diego   75 to 79   2014     455.0
197  San Diego   75 to 79   2015     550.0
198  San Diego   75 to 79   2016     452.0
199  San Diego   75 to 79   2017     412.0

     Non-Hispanic, American Indian or Alaska Native  Non-Hispanic, Asian  \
12                                              NaN                  NaN
13                                             37.0               1922.0
24                                              NaN                  NaN
25                                             51.0               -666.0
148                                            27.0                368.0
149                                            19.0                345.0
150                                           -14.0                105.0
151                                           -12.0                 48.0
152                                            22.0                117.0
153                                             0.0                 -4.0
154                                           -12.0                  9.0
156                                             NaN                  NaN
157                                             1.0                713.0
158                                            23.0                768.0
159                                            12.0                565.0
160                                            21.0                328.0
162                                            27.0                322.0
163                                            27.0                466.0
170                                            48.0                886.0
171                                            65.0               1149.0
177                                            39.0                516.0
178                                            27.0                303.0
181                                            11.0                427.0
182                                            23.0                410.0
187                                            36.0                774.0
188                                            60.0               1028.0
196                                            29.0                405.0

### Run Check 5

In [20]:
# N/A, done in Power BI

### Run Check 6

In [21]:
# Run checks that region level Estimates population values are within +/- 1.5% of CA DOF population
# values
pc.DOFPopulation().region_DOF_population_comparison(
    threshold=1.5,
    est_vintage=NEW_VINTAGE, 
    DOF_vintage=DOF_VINTAGE,
    raw_folder=RAW_FOLDER, 
    save=True,
    save_location=OUTPUTS_FOLDER)

Running Check 6: Estimates vs DOF Population Values
No errors

### Run Check 7

In [22]:
# Run checks that Estimates categorical distributions are within a certain range of CA DOF 
# categorical distributions. For example, is the percent of population in households vs group
# quarters roughly the same between Estimates and CA DOF?
pc.DOFProportion().check_DOF_proportion(
    threshold=1.5,
    est_vintage=NEW_VINTAGE,
    DOF_vintage=DOF_VINTAGE,
    prop_folder=PROP_FOLDER,
    save=True,
    save_location=OUTPUTS_FOLDER)

Running Check 7: DOF Categorical Proportion Check
Checking row_prop files
Errors have occurred on the following rows:
      region  yr_id       name     sex  Hispanic  Non-Hispanic, White  \
2  San Diego   2010   15 to 17  Female  4.222597             3.591888
3  San Diego   2010   15 to 17    Male  4.447925             4.271212
4  San Diego   2010  18 and 19  Female  2.831824             2.734724
5  San Diego   2010  18 and 19    Male  8.626628             8.833974
6  San Diego   2010   20 to 24  Female  3.568784             2.754082
7  San Diego   2010   20 to 24    Male  5.180193             4.725284

   Non-Hispanic, Asian  Non-Hispanic, Hawaiian or Pacific Islander  \
2             1.801953                                    0.047799
3             1.398805                                    0.030476
4             0.067719                                    0.018460
5             0.940497                                    0.044858
6             0.812430                                    0.017953
7             0.238281                                    0.012336

   Non-Hispanic, American Indian or Alaska Native  \
2                                        0.030094
3                                        0.003211
4                                        0.077871
5                                        0.078554
6                                        0.029173
7                                        0.023067

   Non-Hispanic, Two or More Races  Non-Hispanic, Black
2                         0.668915             0.327214
3                         0.673394             0.299005
4                         0.053076             0.280565
5                         0.529163             1.369822
6                         0.081703             0.153964
7                         0.297498             0.221728

Checking col_prop files
No errors

## Runtime

In [23]:
runtime = time.time() - start
minutes, seconds = divmod(runtime, 60)
print(f'Runtime: {int(minutes)} minutes, {(int(seconds))} seconds')

Runtime: 2 minutes, 21 seconds