In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv(r"C:\Users\ppo\OneDrive - San Diego Association of Governments\Shared Documents\Projects\2022\2022-87 School Inventory & Enrollment 2022 QC\data\inventory\QC_SCHOOL_2022.csv")
df = pd.read_csv(r"C:\Users\ppo\Downloads\QC_SCHOOL_2022_Revised.csv")
display(df.head())
df.shape

,OID_,cdsCode,district,name,addr,city,zip,openDate,charter,docType,...,shrtName,priv,ClosedDate,Phantom,Notes,Check_,regionID,schoolID,Change,cdeCodeNUM
0,1,3.768410e+13,Sweetwater Union High,Bonita Vista Middle,650 Otay Lakes Road,Chula Vista,91910,7/1/1980 0:00,N,High School District,...,Bonita Vista Mid,N,NaN,0,No change,0,0,1,0,3.768410e+13
1,2,3.768410e+13,Sweetwater Union High,Bonita Vista Senior High,751 Otay Lakes Road,Chula Vista,91913,7/1/1980 0:00,N,High School District,...,Bonita Vista SH,N,NaN,0,No change,0,0,2,0,3.768410e+13
2,3,3.768020e+13,Chula Vista Elementary,Clear View,455 Windrose Way,Chula Vista,91910,9/10/1991 0:00,N,Elementary School District,...,Clear View,N,NaN,0,No change,0,0,3,0,3.768020e+13
3,4,3.768020e+13,Chula Vista Elementary,Tiffany (Burton C.) Elementary,1691 Elmhurst Street,Chula Vista,91913,7/1/1980 0:00,N,Elementary School District,...,Tiffany,N,NaN,0,No change,0,0,4,0,3.768020e+13
4,5,3.768020e+13,Chula Vista Elementary,McMillin (Corky) Elementary,1201 Santa Cora Avenue,Chula Vista,91913,7/17/2001 0:00,N,Elementary School District,...,McMillin,N,NaN,0,No change,0,0,5,0,3.768020e+13

(1650, 22)

In [3]:
df.columns

Index(['OID_', 'cdsCode', 'district', 'name', 'addr', 'city', 'zip',
       'openDate', 'charter', 'docType', 'socType', 'gsOffered', 'shrtName',
       'priv', 'ClosedDate', 'Phantom', 'Notes', 'Check_', 'regionID',
       'schoolID', 'Change', 'cdeCodeNUM'],
      dtype='object')

Checking uniqueness:

In [4]:
unique_cols = ['schoolID']

In [5]:
def unique(cols):
    not_unique = []
    for col in cols:
        ser = df[col]
        if ser.nunique() != len(ser):
            not_unique.append(col)
    return not_unique

In [6]:
unique(unique_cols)

[]

Checking nulls:

In [7]:
null_cols = df.columns

In [8]:
def not_null(cols):
    nulls = []
    for col in cols:
        ser = df[col]
        if len(df[pd.isna(ser)]) > 0:
            nulls.append(col)
    return nulls

In [9]:
not_null(null_cols)

['openDate', 'gsOffered', 'shrtName', 'ClosedDate', 'Notes']

Let's investigate how many null vals there are in these columns

In [10]:
for col in not_null(null_cols):
    # display(df[pd.isna(df[col])])
    print(f'{col} column has {len(df[pd.isna(df[col])])} missing row(s)')

openDate column has 1 missing row(s)
gsOffered column has 50 missing row(s)
shrtName column has 1 missing row(s)
ClosedDate column has 1126 missing row(s)
Notes column has 71 missing row(s)

Checking fixed numbers of vals:

In [11]:
fixed_cols = 'charter docType socType priv Phantom regionID'.split()

In [12]:
def fixed(cols):
    dict = {}
    for col in cols:
        ser = df[col]
        dict[col] = ser.unique().tolist()
    return dict

In [13]:
fixed(fixed_cols)

{'charter': ['N', 'Y'],
 'docType': ['High School District',
  'Elementary School District',
  'Unified School District',
  'County Office of Education (COE)',
  'Statewide Benefit Charter',
  'State Board of Education',
  'Community College District',
  'Regional Occupation Center/Program (ROC/P)'],
 'socType': ['Intermediate/Middle Schools (Public)',
  'High Schools (Public)',
  'Elementary Schools (Public)',
  'K-12 Schools (Public)',
  'Alternative Schools of Choice',
  'Continuation High Schools',
  'District Community Day Schools',
  'Special Education Schools (Public)',
  'Junior High Schools (Public)',
  'Elemen Schools In 1 School Dist. (Public)',
  'County Community',
  'Juvenile Court Schools',
  'Preschool',
  'Private',
  'District Office',
  'Adult Education Centers',
  'ROC/ROP',
  'High Schools In 1 School Dist. (Public)',
  'Opportunity Schools',
  'No Data',
  'San Marcos Unified'],
 'priv': ['N', 'Y'],
 'Phantom': [0, 1],
 'regionID': [0, 1]}

In [14]:
df['socType'].value_counts()

Elementary Schools (Public)                  577
Private                                      424
High Schools (Public)                        143
Intermediate/Middle Schools (Public)         123
K-12 Schools (Public)                         88
District Office                               51
Alternative Schools of Choice                 44
Adult Education Centers                       37
Special Education Schools (Public)            34
District Community Day Schools                27
County Community                              26
Continuation High Schools                     23
Juvenile Court Schools                        19
Preschool                                     14
Junior High Schools (Public)                   8
Elemen Schools In 1 School Dist. (Public)      4
No Data                                        2
Opportunity Schools                            2
High Schools In 1 School Dist. (Public)        2
San Marcos Unified                             1
ROC/ROP                                        1
Name: socType, dtype: int64

Additional checks

In [15]:
df['gsOffered'].unique()

array(['8-Jul', '12-Sep', 'K-6', 'K-5', 'K-8', 'P-8', 'K-12', '12-Jul',
       '12-Jun', 'P-6', '8-Jun', '5-Jan', 'K-4', '12-Nov', '8-Mar', 'K-3',
       '5-Mar', '6-May', '9-Jul', '6-Apr', 'P-5', 'K-2', '12-Oct', 'P-12',
       '5-Apr', 'P-K', 'K-1', '6-Mar', '8-May', 'P', '8-Apr', '12-Jan',
       'Adult', '8-Feb', '9-Jan', 'K', '6-Jan', '12', '8-Jan', 'K-11',
       '12-Feb', '12-Mar', '11-Jan', ' ', '11-Jul', 'K-9', nan, '9-Adult',
       'No Data', '11-Sep', '3-Feb', '12-Aug', '8', '9-Jun', '10-Sep',
       '7-Jun', '12-Apr', '6', '5', 'K-7', '7', '11-Aug', '9', '4-Feb',
       '12-Adult', '9-Mar', 'K-K'], dtype=object)

Empty data should follow similar structure - either leave it blank or write nan

In [16]:
df['district'].value_counts().index

Index(['San Diego Unified', 'Chula Vista Elementary', 'Poway Unified',
       'San Diego County Office of Education', 'Vista Unified',
       'Sweetwater Union High', 'Oceanside Unified', 'Escondido Union',
       'La Mesa-Spring Valley', 'Cajon Valley Union',
       'Mountain Empire Unified', 'Grossmont Union High', 'Carlsbad Unified',
       'San Marcos Unified', 'Fallbrook Union Elementary',
       'Lakeside Union Elementary', 'San Dieguito Union High',
       'Valley Center-Pauma Unified', 'Ramona City Unified',
       'Encinitas Union Elementary', 'Solana Beach Elementary',
       'National Elementary', 'San Ysidro Elementary', 'Lemon Grove',
       'Coronado Unified', 'Del Mar Union Elementary', 'Escondido Union High',
       'Warner Unified', 'Dehesa Elementary', 'South Bay Union Elementary',
       'Julian Union Elementary', 'Santee Elementary',
       'Alpine Union Elementary', 'Borrego Springs Unified',
       'San Diego Community College', 'Escondido Union Elementary',
       'SBC - High Tech High', 'Cajon Valley Union Elementary',
       'Fallbrook Union High', 'Bonsall Unified', 'South Bay Union',
       'Julian Union High', 'Jamul-Dulzura Union Elementary',
       'Valley Center Union Elementary', 'Vallecitos Elementary', 'Santee',
       'Spencer Valley Elementary', 'Cardiff Elementary',
       'SBE - Thrive Public', 'Bonsall Union Elementary', 'Pauma Elementary',
       'Rancho Santa Fe Elementary', 'SBE - Grossmont Secondary',
       'San Pasqual Union Elementary',
       'SBE - Baypoint Preparatory Academy San Diego', 'San Diego County ROP',
       'SBE - Sweetwater Secondary', 'Warner Union Elementary',
       'SBE - Vista Springs Charter', 'Lemon Grove Elementary',
       'Ramona Unified', 'SBE - Audeo Charter II', 'Acton-Agua Dulce Unified',
       'Rich-Mar Union Elementary', 'Helendale Elementary',
       'SBE - College Preparatory Middle - La Mesa Spring Valley',
       'Encinitas Unified', 'Keppel Union Elementary',
       'Coachella Valley Unified', 'Mono County Office of Education',
       'SBE - College Preparatory Middle', 'Imperial Beach Charter'],
      dtype='object')

Looking at unique vals of schoolID from POLY table

In [17]:
test = pd.read_csv(r"C:\Users\ppo\OneDrive - San Diego Association of Governments\Shared Documents\Projects\2022\2022-87 School Inventory & Enrollment 2022 QC\data\inventory\QC_SCHOOL_POLY_2022.csv")
display(test.head())
print(test.shape)
test['schoolID'].nunique()

,OID_,schoolID,cdsCode,district,name,addr,city,zip,openDate,charter,docType,socType,gsOffered,shrtName,priv,Shape_STAr,Shape_STLe,Shape_Length,Shape_Area
0,1,88,37683386040042,San Diego Unified,Pacific Beach Elementary,1234 Tourmaline Street,San Diego,92109,7/1/1980 0:00:00,N,Unified School District,Elementary Schools (Public),K-5,Pacific Beach Elem,N,334304.483476,2472.448920,2472.448920,334304.483479
1,2,475,37680566038111,Del Mar Union Elementary,Del Mar Heights Elementary,13555 Boquita Drive,Del Mar,92014,7/1/1980 0:00:00,N,Elementary School District,Elementary Schools (Public),K-6,Del Mar Heights,N,475624.520306,2808.574191,2808.574191,475624.520309
2,3,403,37683386040208,San Diego Unified,Sunset View Elementary,4365 Hill Street,San Diego,92107,7/1/1980 0:00:00,N,Unified School District,Elementary Schools (Public),K-4,Sunset View,N,376604.128407,2398.947251,2398.947251,376604.128409
3,4,511,37683386059687,San Diego Unified,Muirlands Middle,1056 Nautilus Street,La Jolla,92037,7/1/1980 0:00:00,N,Unified School District,Intermediate/Middle Schools (Public),6-8,Muirlands,N,744170.258130,3809.709403,3809.709403,744170.258131
4,5,570,37683386039846,San Diego Unified,La Jolla Elementary,1111 Marine Street,La Jolla,92037,7/1/1980 0:00:00,N,Unified School District,Elementary Schools (Public),K-5,La Jolla Elem,N,362896.936759,2549.731422,2549.731422,362896.936758

(1031, 19)

1031