In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv(r"C:\Users\ppo\OneDrive - San Diego Association of Governments\Shared Documents\Projects\2022\2022-87 School Inventory & Enrollment 2022 QC\data\inventory\QC_SCHOOL_2022.csv")
df = pd.read_csv(r"C:\Users\ppo\Downloads\QC_SCHOOL_2022_Revised.csv")
display(df.head())
df.shape

,OID_,cdsCode,district,name,addr,city,zip,openDate,charter,docType,...,shrtName,priv,ClosedDate,Phantom,Notes,Check_,regionID,schoolID,Change,cdeCodeNUM
0,1,3.768410e+13,Sweetwater Union High,Bonita Vista Middle,650 Otay Lakes Road,Chula Vista,91910,7/1/1980 0:00,N,High School District,...,Bonita Vista Mid,N,NaN,0,No change,0,0,1,0,3.768410e+13
1,2,3.768410e+13,Sweetwater Union High,Bonita Vista Senior High,751 Otay Lakes Road,Chula Vista,91913,7/1/1980 0:00,N,High School District,...,Bonita Vista SH,N,NaN,0,No change,0,0,2,0,3.768410e+13
2,3,3.768020e+13,Chula Vista Elementary,Clear View,455 Windrose Way,Chula Vista,91910,9/10/1991 0:00,N,Elementary School District,...,Clear View,N,NaN,0,No change,0,0,3,0,3.768020e+13
3,4,3.768020e+13,Chula Vista Elementary,Tiffany (Burton C.) Elementary,1691 Elmhurst Street,Chula Vista,91913,7/1/1980 0:00,N,Elementary School District,...,Tiffany,N,NaN,0,No change,0,0,4,0,3.768020e+13
4,5,3.768020e+13,Chula Vista Elementary,McMillin (Corky) Elementary,1201 Santa Cora Avenue,Chula Vista,91913,7/17/2001 0:00,N,Elementary School District,...,McMillin,N,NaN,0,No change,0,0,5,0,3.768020e+13

(1650, 22)

In [3]:
df.columns

Index(['OID_', 'cdsCode', 'district', 'name', 'addr', 'city', 'zip',
       'openDate', 'charter', 'docType', 'socType', 'gsOffered', 'shrtName',
       'priv', 'ClosedDate', 'Phantom', 'Notes', 'Check_', 'regionID',
       'schoolID', 'Change', 'cdeCodeNUM'],
      dtype='object')

Checking uniqueness:

In [4]:
unique_cols = ['schoolID']

In [5]:
def unique(cols):
    not_unique = []
    for col in cols:
        ser = df[col]
        if ser.nunique() != len(ser):
            not_unique.append(col)
    return not_unique

In [6]:
unique(unique_cols)

[]

Checking nulls:

In [7]:
null_cols = df.columns

In [8]:
def not_null(cols):
    nulls = []
    for col in cols:
        ser = df[col]
        if len(df[pd.isna(ser)]) > 0:
            nulls.append(col)
    return nulls

In [9]:
not_null(null_cols)

['openDate', 'gsOffered', 'shrtName', 'ClosedDate', 'Notes']

Let's investigate how many null vals there are in these columns

In [10]:
for col in not_null(null_cols):
    # display(df[pd.isna(df[col])])
    print(f'{col} column has {len(df[pd.isna(df[col])])} missing row(s)')

openDate column has 1 missing row(s)
gsOffered column has 50 missing row(s)
shrtName column has 1 missing row(s)
ClosedDate column has 1126 missing row(s)
Notes column has 71 missing row(s)

Checking fixed numbers of vals:

In [11]:
fixed_cols = 'charter docType socType priv Phantom regionID'.split()

In [12]:
def fixed(cols):
    dict = {}
    for col in cols:
        ser = df[col]
        dict[col] = ser.unique().tolist()
    return dict

In [13]:
fixed(fixed_cols)

{'charter': ['N', 'Y'],
 'docType': ['High School District',
  'Elementary School District',
  'Unified School District',
  'County Office of Education (COE)',
  'Statewide Benefit Charter',
  'State Board of Education',
  'Community College District',
  'Regional Occupation Center/Program (ROC/P)'],
 'socType': ['Intermediate/Middle Schools (Public)',
  'High Schools (Public)',
  'Elementary Schools (Public)',
  'K-12 Schools (Public)',
  'Alternative Schools of Choice',
  'Continuation High Schools',
  'District Community Day Schools',
  'Special Education Schools (Public)',
  'Junior High Schools (Public)',
  'Elemen Schools In 1 School Dist. (Public)',
  'County Community',
  'Juvenile Court Schools',
  'Preschool',
  'Private',
  'District Office',
  'Adult Education Centers',
  'ROC/ROP',
  'High Schools In 1 School Dist. (Public)',
  'Opportunity Schools',
  'No Data',
  'San Marcos Unified'],
 'priv': ['N', 'Y'],
 'Phantom': [0, 1],
 'regionID': [0, 1]}

In [14]:
df['socType'].value_counts()

Elementary Schools (Public)                  577
Private                                      424
High Schools (Public)                        143
Intermediate/Middle Schools (Public)         123
K-12 Schools (Public)                         88
District Office                               51
Alternative Schools of Choice                 44
Adult Education Centers                       37
Special Education Schools (Public)            34
District Community Day Schools                27
County Community                              26
Continuation High Schools                     23
Juvenile Court Schools                        19
Preschool                                     14
Junior High Schools (Public)                   8
Elemen Schools In 1 School Dist. (Public)      4
High Schools In 1 School Dist. (Public)        2
No Data                                        2
Opportunity Schools                            2
San Marcos Unified                             1
ROC/ROP                                        1
Name: socType, dtype: int64

Additional checks

In [15]:
df['gsOffered'].unique()

array(['8-Jul', '12-Sep', 'K-6', 'K-5', 'K-8', 'P-8', 'K-12', '12-Jul',
       '12-Jun', 'P-6', '8-Jun', '5-Jan', 'K-4', '12-Nov', '8-Mar', 'K-3',
       '5-Mar', '6-May', '9-Jul', '6-Apr', 'P-5', 'K-2', '12-Oct', 'P-12',
       '5-Apr', 'P-K', 'K-1', '6-Mar', '8-May', 'P', '8-Apr', '12-Jan',
       'Adult', '8-Feb', '9-Jan', 'K', '6-Jan', '12', '8-Jan', 'K-11',
       '12-Feb', '12-Mar', '11-Jan', ' ', '11-Jul', 'K-9', nan, '9-Adult',
       'No Data', '11-Sep', '3-Feb', '12-Aug', '8', '9-Jun', '10-Sep',
       '7-Jun', '12-Apr', '6', '5', 'K-7', '7', '11-Aug', '9', '4-Feb',
       '12-Adult', '9-Mar', 'K-K'], dtype=object)

Empty data should follow similar structure - either leave it blank or write nan

In [16]:
df['district'].value_counts().index

Index(['San Diego Unified', 'Chula Vista Elementary', 'Poway Unified',
       'San Diego County Office of Education', 'Vista Unified',
       'Sweetwater Union High', 'Oceanside Unified', 'Escondido Union',
       'La Mesa-Spring Valley', 'Cajon Valley Union',
       'Mountain Empire Unified', 'Grossmont Union High', 'San Marcos Unified',
       'Carlsbad Unified', 'Fallbrook Union Elementary',
       'Lakeside Union Elementary', 'San Dieguito Union High',
       'Valley Center-Pauma Unified', 'Ramona City Unified',
       'Encinitas Union Elementary', 'Solana Beach Elementary',
       'National Elementary', 'San Ysidro Elementary', 'Lemon Grove',
       'Coronado Unified', 'Del Mar Union Elementary', 'Escondido Union High',
       'Dehesa Elementary', 'Warner Unified', 'South Bay Union Elementary',
       'Julian Union Elementary', 'Borrego Springs Unified',
       'Alpine Union Elementary', 'Santee Elementary', 'SBC - High Tech High',
       'Escondido Union Elementary', 'San Diego Community College',
       'South Bay Union', 'Bonsall Unified', 'Cajon Valley Union Elementary',
       'Fallbrook Union High', 'Jamul-Dulzura Union Elementary',
       'Julian Union High', 'Valley Center Union Elementary',
       'Vallecitos Elementary', 'Cardiff Elementary',
       'Spencer Valley Elementary', 'Santee', 'SBE - Thrive Public',
       'Rancho Santa Fe Elementary', 'Bonsall Union Elementary',
       'Pauma Elementary', 'San Pasqual Union Elementary',
       'SBE - Vista Springs Charter',
       'SBE - Baypoint Preparatory Academy San Diego',
       'SBE - Sweetwater Secondary', 'Warner Union Elementary',
       'SBE - Grossmont Secondary', 'Lemon Grove Elementary', 'Ramona Unified',
       'SBE - Audeo Charter II', 'San Diego County ROP',
       'Imperial Beach Charter', 'Helendale Elementary', 'Encinitas Unified',
       'SBE - College Preparatory Middle',
       'SBE - College Preparatory Middle - La Mesa Spring Valley',
       'Keppel Union Elementary', 'Mono County Office of Education',
       'Rich-Mar Union Elementary', 'Acton-Agua Dulce Unified',
       'Coachella Valley Unified'],
      dtype='object')

Looking at unique vals of schoolID from POLY table

In [17]:
test = pd.read_csv(r"C:\Users\ppo\OneDrive - San Diego Association of Governments\Shared Documents\Projects\2022\2022-87 School Inventory & Enrollment 2022 QC\data\inventory\QC_SCHOOL_POLY_2022.csv")
display(test.head())
print(test.shape)
test['schoolID'].nunique()

,OID_,schoolID,cdsCode,district,name,addr,city,zip,openDate,charter,docType,socType,gsOffered,shrtName,priv,Shape_STAr,Shape_STLe,Shape_Length,Shape_Area
0,1,88,37683386040042,San Diego Unified,Pacific Beach Elementary,1234 Tourmaline Street,San Diego,92109,7/1/1980 0:00:00,N,Unified School District,Elementary Schools (Public),K-5,Pacific Beach Elem,N,334304.483476,2472.448920,2472.448920,334304.483479
1,2,475,37680566038111,Del Mar Union Elementary,Del Mar Heights Elementary,13555 Boquita Drive,Del Mar,92014,7/1/1980 0:00:00,N,Elementary School District,Elementary Schools (Public),K-6,Del Mar Heights,N,475624.520306,2808.574191,2808.574191,475624.520309
2,3,403,37683386040208,San Diego Unified,Sunset View Elementary,4365 Hill Street,San Diego,92107,7/1/1980 0:00:00,N,Unified School District,Elementary Schools (Public),K-4,Sunset View,N,376604.128407,2398.947251,2398.947251,376604.128409
3,4,511,37683386059687,San Diego Unified,Muirlands Middle,1056 Nautilus Street,La Jolla,92037,7/1/1980 0:00:00,N,Unified School District,Intermediate/Middle Schools (Public),6-8,Muirlands,N,744170.258130,3809.709403,3809.709403,744170.258131
4,5,570,37683386039846,San Diego Unified,La Jolla Elementary,1111 Marine Street,La Jolla,92037,7/1/1980 0:00:00,N,Unified School District,Elementary Schools (Public),K-5,La Jolla Elem,N,362896.936759,2549.731422,2549.731422,362896.936758

(1031, 19)

1031

Verify that all closed dates are after open dates

Many rows have missing CloseDate values so let's filter out those values

In [21]:
dates = df[~pd.isna(df['ClosedDate'])]
dates

,OID_,cdsCode,district,name,addr,city,zip,openDate,charter,docType,...,shrtName,priv,ClosedDate,Phantom,Notes,Check_,regionID,schoolID,Change,cdeCodeNUM
15,16,3.768050e+13,Dehesa Elementary,Dehesa Charter,"1441 Montiel Road, Suite 143",Escondido,92026,10/15/2001 0:00,Y,Elementary School District,...,Dehesa Charter,N,6/30/2019 0:00,1,Coincident with additional school point(s),0,0,16,0,3.768050e+13
106,107,3.767990e+13,Cajon Valley Union,Cajon Valley Community Day,165 Roanoke Road,El Cajon,92021,8/30/1999 0:00,N,Elementary School District,...,Cajon Valley Day,N,6/16/2017 0:00,1,Closed,0,0,107,0,3.767990e+13
131,132,3.773790e+13,San Marcos Unified,Bayshore Preparatory Charter,1175 Linda Vista Drive,San Marcos,92078,9/1/2005 0:00,Y,Unified School District,...,Bayshore Prep,N,6/30/2018 0:00,1,Closed,0,0,132,0,3.773790e+13
168,169,3.768340e+13,San Diego Unified,Logan K-8,2875 Ocean View Boulevard,San Diego,92113,7/1/1980 0:00,N,Unified School District,...,Logan,N,6/30/2020 0:00,1,No change,0,0,169,0,3.768340e+13
184,185,3.768200e+13,La Mesa-Spring Valley,Spring Valley Middle,3900 Conrad Drive,Spring Valley,91977,7/1/1980 0:00,N,Elementary School District,...,Spring Valley Mid,N,6/30/2016 0:00,1,Closed,0,0,185,0,3.768200e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,1598,3.768380e+13,San Ysidro Elementary,Master Classes PSP,4184 Beyer Blvd Suit 201,San Ysidro,92173,1/7/2021 0:00,N,Elementary School District,...,Master Classes PSP,Y,7/1/2022 0:00,1,PHO: Added 1/28/2022. Closed,0,0,100389,0,3.768380e+13
1598,1599,3.768450e+13,Vista Unified,Institute of Wisdom,356 Crest,Vista,92084,1/15/2021 0:00,N,Unified School District,...,Institute of Wisdom,Y,7/1/2022 0:00,1,PHO: Added 1/28/2022. 11/29/2022 - Marked as C...,0,0,100390,0,3.768450e+13
1599,1600,3.773570e+13,Oceanside Unified,Oceans Elementary,509 Sportfisher Drive,Oceanside,92054,1/15/2021 0:00,N,Unified School District,...,Oceans Elementary,Y,7/1/2022 0:00,1,PHO: Added 1/28/2022. 11/29/2022 - Marked as C...,0,0,100391,0,3.773570e+13
1600,1601,3.775610e+13,Valley Center-Pauma Unified,Oney Private School,30451 Miller Road,Valley Center,92082,10/14/2020 0:00,N,Unified School District,...,Oney,Y,7/1/2022 0:00,1,PHO: Added 1/28/2022. 11/29/2022 - Marked as C...,0,0,100392,0,3.775610e+13
1647,1650,3.768300e+13,Poway Unified,Discovery Isle,11740 Creek Road,Poway,92064,7/1/1980 0:00,N,Unified School District,...,Discovery Isle P2,Y,1/1/2022 0:00,0,"PHO: 11/29/2022 - reopened, assigned new schoolID",11,0,100437,0,3.768300e+13

In [22]:
df.dtypes

OID_            int64
cdsCode       float64
district       object
name           object
addr           object
city           object
zip            object
openDate       object
charter        object
docType        object
socType        object
gsOffered      object
shrtName       object
priv           object
ClosedDate     object
Phantom         int64
Notes          object
Check_          int64
regionID        int64
schoolID        int64
Change          int64
cdeCodeNUM    float64
dtype: object

Lets change the openDate and ClosedDate attributes to datetime object so we can compare between the two

In [31]:
dates['openDate'] = pd.to_datetime(dates['openDate'])
dates['ClosedDate'] = pd.to_datetime(dates['ClosedDate'])
dates.dtypes

c:\Users\ppo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\ppo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

OID_                   int64
cdsCode              float64
district              object
name                  object
addr                  object
city                  object
zip                   object
openDate      datetime64[ns]
charter               object
docType               object
socType               object
gsOffered             object
shrtName              object
priv                  object
ClosedDate    datetime64[ns]
Phantom                int64
Notes                 object
Check_                 int64
regionID               int64
schoolID               int64
Change                 int64
cdeCodeNUM           float64
dtype: object

In [33]:
dates

,OID_,cdsCode,district,name,addr,city,zip,openDate,charter,docType,...,shrtName,priv,ClosedDate,Phantom,Notes,Check_,regionID,schoolID,Change,cdeCodeNUM
15,16,3.768050e+13,Dehesa Elementary,Dehesa Charter,"1441 Montiel Road, Suite 143",Escondido,92026,2001-10-15,Y,Elementary School District,...,Dehesa Charter,N,2019-06-30,1,Coincident with additional school point(s),0,0,16,0,3.768050e+13
106,107,3.767990e+13,Cajon Valley Union,Cajon Valley Community Day,165 Roanoke Road,El Cajon,92021,1999-08-30,N,Elementary School District,...,Cajon Valley Day,N,2017-06-16,1,Closed,0,0,107,0,3.767990e+13
131,132,3.773790e+13,San Marcos Unified,Bayshore Preparatory Charter,1175 Linda Vista Drive,San Marcos,92078,2005-09-01,Y,Unified School District,...,Bayshore Prep,N,2018-06-30,1,Closed,0,0,132,0,3.773790e+13
168,169,3.768340e+13,San Diego Unified,Logan K-8,2875 Ocean View Boulevard,San Diego,92113,1980-07-01,N,Unified School District,...,Logan,N,2020-06-30,1,No change,0,0,169,0,3.768340e+13
184,185,3.768200e+13,La Mesa-Spring Valley,Spring Valley Middle,3900 Conrad Drive,Spring Valley,91977,1980-07-01,N,Elementary School District,...,Spring Valley Mid,N,2016-06-30,1,Closed,0,0,185,0,3.768200e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,1598,3.768380e+13,San Ysidro Elementary,Master Classes PSP,4184 Beyer Blvd Suit 201,San Ysidro,92173,2021-01-07,N,Elementary School District,...,Master Classes PSP,Y,2022-07-01,1,PHO: Added 1/28/2022. Closed,0,0,100389,0,3.768380e+13
1598,1599,3.768450e+13,Vista Unified,Institute of Wisdom,356 Crest,Vista,92084,2021-01-15,N,Unified School District,...,Institute of Wisdom,Y,2022-07-01,1,PHO: Added 1/28/2022. 11/29/2022 - Marked as C...,0,0,100390,0,3.768450e+13
1599,1600,3.773570e+13,Oceanside Unified,Oceans Elementary,509 Sportfisher Drive,Oceanside,92054,2021-01-15,N,Unified School District,...,Oceans Elementary,Y,2022-07-01,1,PHO: Added 1/28/2022. 11/29/2022 - Marked as C...,0,0,100391,0,3.773570e+13
1600,1601,3.775610e+13,Valley Center-Pauma Unified,Oney Private School,30451 Miller Road,Valley Center,92082,2020-10-14,N,Unified School District,...,Oney,Y,2022-07-01,1,PHO: Added 1/28/2022. 11/29/2022 - Marked as C...,0,0,100392,0,3.775610e+13
1647,1650,3.768300e+13,Poway Unified,Discovery Isle,11740 Creek Road,Poway,92064,1980-07-01,N,Unified School District,...,Discovery Isle P2,Y,2022-01-01,0,"PHO: 11/29/2022 - reopened, assigned new schoolID",11,0,100437,0,3.768300e+13

In [44]:
access_time = dates['ClosedDate'] - dates['openDate']
dates['access_time'] = access_time

c:\Users\ppo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
dates[dates['access_time'].dt.days == 0]

,OID_,cdsCode,district,name,addr,city,zip,openDate,charter,docType,...,priv,ClosedDate,Phantom,Notes,Check_,regionID,schoolID,Change,cdeCodeNUM,access_time
1243,1244,3.768030e+13,Coronado Unified,Coronado Village Elementary,600 Sixth Street,Coronado,92118,1991-09-01,N,Unified School District,...,N,1991-09-01,1,Closed,0,0,960,0,3.768030e+13,0 days
1286,1287,3.768200e+13,La Mesa-Spring Valley,Spring Valley Elementary,3845 Spring Drive,Spring Valley,91977,1980-07-01,N,Elementary School District,...,N,1980-07-01,1,Closed,0,0,1003,0,3.768200e+13,0 days
1293,1294,3.768210e+13,Lemon Grove,Lions Leadership Academy,8705 Echo Drive,La Mesa,91941,2002-09-03,Y,Elementary School District,...,N,2002-09-03,1,Closed,0,0,1010,0,3.768210e+13,0 days
1326,1327,3.768340e+13,San Diego Unified,Keiller Leadership Academy,7270 Lisbon Street,San Diego,92114,2005-05-24,N,Unified School District,...,N,2005-05-24,1,Closed,0,0,1043,0,3.768340e+13,0 days
1328,1329,3.768340e+13,San Diego Unified,King/Chavez Primary Academy Charter,415 31st Street,San Diego,92102,2005-03-26,N,Unified School District,...,N,2005-03-26,1,Closed,0,0,1045,0,3.768340e+13,0 days
1329,1330,3.768340e+13,San Diego Unified,Memorial Academy of Learning & Technology,2850 Logan Avenue,San Diego,92113,2006-01-09,N,Unified School District,...,N,2006-01-09,1,Closed,0,0,1046,0,3.768340e+13,0 days
1338,1339,3.768340e+13,San Diego Unified,"International High School of Science, Technolo...",1867 Pentecost Way,San Diego,92105,2015-09-09,Y,Unified School District,...,N,2015-09-09,1,Closed,0,0,1055,0,3.768340e+13,0 days
1348,1349,3.768340e+13,San Diego Unified,Parks (Rosa) Elementary,4510 Landis Street,San Diego,92105,1997-09-03,N,Unified School District,...,N,1997-09-03,1,Closed,0,0,1065,0,3.768340e+13,0 days
1358,1359,3.768340e+13,San Diego Unified,Lewis and Clark Community Charter,1855 Hancock Street,San Diego,92110,2002-03-20,Y,Unified School District,...,N,2002-03-20,1,Closed,0,0,1075,0,3.768340e+13,0 days
1411,1412,3.768340e+13,San Diego Unified,Global Learning Charter,"402 W. Broadway, Suite 1000",San Diego,92101,2002-09-03,Y,Unified School District,...,N,2002-09-03,1,Closed,5,0,1128,0,3.768340e+13,0 days
1474,1475,3.775420e+13,Warner Unified,Warner i,30951 Highway 79,Warner Springs,92086,2013-09-02,Y,Unified School District,...,N,2013-09-02,1,Closed,0,0,1191,0,3.775420e+13,0 days

In [54]:
dates[dates['access_time'].dt.days < 0]

,OID_,cdsCode,district,name,addr,city,zip,openDate,charter,docType,...,priv,ClosedDate,Phantom,Notes,Check_,regionID,schoolID,Change,cdeCodeNUM,access_time
1276,1277,3.768190e+13,Lakeside Union Elementary,Eastern County Preparatory Academy,2410 Mount Elena Way,Jamul,91935,2010-08-30,Y,Elementary School District,...,N,2009-09-17,1,Closed,0,0,993,0,3.768190e+13,-347 days
1296,1297,3.768210e+13,Mountain Empire Unified,J.P. Western Charter High,3291 Buckman Springs Road,Pine Valley,91962,2012-07-01,Y,Unified School District,...,N,2012-05-08,1,Closed,0,0,1013,0,3.768210e+13,-54 days
1316,1317,3.768340e+13,San Diego Unified,P.R.I.D.E. Charter High,5825 Imperial Avenue,San Diego,92114,2008-09-02,Y,Unified School District,...,N,2008-04-08,1,Closed,0,0,1033,0,3.768340e+13,-147 days
1430,1431,3.768410e+13,Sweetwater Union High,Advanced Achievement Academy,"3772 Balboa Terrace, Suite A",San Diego,92117,2006-09-01,Y,High School District,...,N,2006-05-25,1,RRI. Original record has an open date after th...,0,0,1147,0,3.768410e+13,-99 days

These rows have open date after the close date