**Author: PSI**

**Project Descriptio:2018 LEHD Data QC (version 7.5) of the origin- destination (OD) data**

QC checks: <br>

Part 1-Compare the source data and staging tables for: <br>
-Field totals<br>
-Number of Records <br>
-Spot checking data <br>

Part 2-Checking outliers in data by sorting data from highest to lowest and visualizing those census tracts in ArcGISPro

**Installing Packages**

In [15]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

**Loading the source data**

In [16]:
%%time 

path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/od'

# 2019 source data
csv_2019 = glob.glob(path + "/*2019.csv")
list_2019 = []

for filename in csv_2019:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_2019.append(df)

od_2019 = pd.concat(list_2019, axis=0, ignore_index=True)

od_2019

Wall time: 9min 43s

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,60014001001024,484391108072031,1,1,0,0,0,0,1,0,0,1,20211018
1,60014002001003,80050049522007,1,0,1,0,0,1,0,0,0,1,20211018
2,60014002001018,410470016044008,1,0,1,0,0,0,1,0,0,1,20211018
3,60014002001020,481350008004038,1,0,1,0,1,0,0,0,0,1,20211018
4,60014002001022,80310009035004,1,0,1,0,0,1,0,0,0,1,20211018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57374695,61150401005037,61150407001024,1,0,1,0,0,0,1,0,0,1,20211018
57374696,61150401005057,60670095041003,1,0,1,0,0,0,1,0,0,1,20211018
57374697,61150401005057,61150406005000,1,0,1,0,0,0,1,0,0,1,20211018
57374698,61150401005067,61130113003034,1,1,0,0,0,0,1,0,0,1,20211018
57374699,61150403021028,61010501023001,1,1,0,0,0,0,1,0,0,1,20211018

In [17]:
od_2019

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,60014001001024,484391108072031,1,1,0,0,0,0,1,0,0,1,20211018
1,60014002001003,80050049522007,1,0,1,0,0,1,0,0,0,1,20211018
2,60014002001018,410470016044008,1,0,1,0,0,0,1,0,0,1,20211018
3,60014002001020,481350008004038,1,0,1,0,1,0,0,0,0,1,20211018
4,60014002001022,80310009035004,1,0,1,0,0,1,0,0,0,1,20211018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57374695,61150401005037,61150407001024,1,0,1,0,0,0,1,0,0,1,20211018
57374696,61150401005057,60670095041003,1,0,1,0,0,0,1,0,0,1,20211018
57374697,61150401005057,61150406005000,1,0,1,0,0,0,1,0,0,1,20211018
57374698,61150401005067,61130113003034,1,1,0,0,0,0,1,0,0,1,20211018
57374699,61150403021028,61010501023001,1,1,0,0,0,0,1,0,0,1,20211018

In [18]:
od_2019.dtypes

w_geocode     int64
h_geocode     int64
S000          int64
SA01          int64
SA02          int64
SA03          int64
SE01          int64
SE02          int64
SE03          int64
SI01          int64
SI02          int64
SI03          int64
createdate    int64
dtype: object

In [ ]:
# %%time

# # 2017 source data
# csv_2017 = glob.glob(path + "/*2017.csv")
# list_2017 = []

# for filename in csv_2017:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     list_2017.append(df)

# od_2017 = pd.concat(list_2017, axis=0, ignore_index=True)

In [ ]:
# %%time

# # 2018 source data
# csv_2018 = glob.glob(path + "/*2018.csv")
# list_2018 = []

# for filename in csv_2018:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     list_2018.append(df)

# od_2018 = pd.concat(list_2018, axis=0, ignore_index=True)

**Loading the staging tables**

In [11]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=dpoe_stage;'
                      'Trusted_Connection=yes;')

In [12]:
%%time

#2019
od_db19 ="SELECT * "\
                  "FROM [dpoe_stage].[lehd_lodes].[od_7_5_20211018]"\
                   "WHERE yr= 2019"
db19 = pd.read_sql_query(od_db19, conn)

# #2017
# od_db17 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2017"
# db17 = pd.read_sql_query(od_db17, conn)  

# #2018
# od_db18 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2018"
# db18 = pd.read_sql_query(od_db18, conn)

Wall time: 1min 45s

In [14]:
db19.dtypes

w_geoid    object
h_geoid    object
S000        int64
SA01        int64
SA02        int64
SA03        int64
SE01        int64
SE02        int64
SE03        int64
SI01        int64
SI02        int64
SI03        int64
type       object
yr          int64
dtype: object

In [ ]:
# %%time

# #2017
# od_db17 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2017"
# db17 = pd.read_sql_query(od_db17, conn)

In [ ]:
# %%time

# #2018
# od_db18 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2018"
# db18 = pd.read_sql_query(od_db18, conn)

In [ ]:
db19

,w_geoid,h_geoid,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,type,yr
0,060730133101040,060730032122007,1,0,1,0,0,0,1,0,0,1,JT00,2016
1,060730133101040,060730032122009,1,0,1,0,0,0,1,0,0,1,JT00,2016
2,060730133101040,060730032122018,1,0,0,1,0,1,0,0,0,1,JT00,2016
3,060730133101040,060730032122022,1,0,1,0,0,0,1,0,0,1,JT00,2016
4,060730133101040,060730032131001,1,0,1,0,0,1,0,0,0,1,JT00,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5459436,060590886013000,060730200271003,1,1,0,0,0,1,0,0,1,0,JT00,2016
5459437,060590886013000,060730202022000,1,0,1,0,1,0,0,0,1,0,JT00,2016
5459438,060590886013000,060730202102000,1,0,1,0,0,0,1,0,1,0,JT00,2016
5459439,060590886013000,060730202113000,1,0,1,0,1,0,0,0,1,0,JT00,2016
5459440,060590886013000,060730203071005,1,0,1,0,0,1,0,0,1,0,JT00,2016

**QC checks** 
1. Compare the sum totals by columns
2. Compare data types 
3. Conduct spot checks for top 1000 rows<br> 
**Note**- The source data will have to be subsetted to include only San Diego geoid (starting with 6073) and remove unnecessary columns

In [19]:
%%time
# Subsetting the source data 
od_2019_sub= od_2019 [od_2019 ['w_geocode'].astype(str).str.startswith('6073') | od_2019 ['h_geocode'].astype(str).str.startswith('6073') ]

Wall time: 3min 29s

In [ ]:
# %%time
# od_2017_sub= od_2017 [od_2017 ['w_geocode'].astype(str).str.startswith('6073') | od_2017 ['h_geocode'].astype(str).str.startswith('6073') ]

In [ ]:
# %%time
# od_2018_sub= od_2018 [od_2018 ['w_geocode'].astype(str).str.startswith('6073') | od_2018 ['h_geocode'].astype(str).str.startswith('6073') ]

In [ ]:
# od_2019_sub
# od_2017_sub
# od_2018_sub

In [ ]:
# len(od_2019_w)+ len(od_2019_h)

In [20]:
print('2019: {0} {1}'.format(len(od_2019_sub), len(db19)))
# print('2017: {0} {1} ({2})'.format(len(od_2017_sub), len(db17), len(od_2017_sub)-len(db17)))
# print('2018: {0} {1}'.format(len(od_2018_sub), len(db18)))

2019: 5713340 5764004

In [ ]:
# od_2017.info(memory_usage='deep')

# Finding the Sums of the tables

# Sums from R drive

In [21]:
od_2019_sub.head()

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
131110,60730002011029,40190030023001,1,0,0,1,1,0,0,0,0,1,20211018
131111,60730002011063,40190005007018,1,0,1,0,1,0,0,0,0,1,20211018
131112,60730002011064,80310003036007,1,0,1,0,0,0,1,0,0,1,20211018
131113,60730002021001,483396941015002,1,0,0,1,0,0,1,1,0,0,20211018
131114,60730002021005,310199692041051,1,0,0,1,1,0,0,0,0,1,20211018

In [22]:
db19.head()

,w_geoid,h_geoid,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,type,yr
0,060730083291003,060730155022003,1,0,1,0,0,1,0,0,0,1,JT00,2019
1,060730083291003,060730155022023,1,0,1,0,0,1,0,0,0,1,JT00,2019
2,060730083291003,060730159022000,1,0,1,0,0,1,0,0,0,1,JT00,2019
3,060730083291003,060730159023011,1,0,1,0,0,1,0,0,0,1,JT00,2019
4,060730083291003,060730163011004,1,0,1,0,0,1,0,0,0,1,JT00,2019

In [23]:
## CHECKING CSV

# h_geocode blocks
od_blocks = od_2019_sub.drop_duplicates(subset=['h_geocode'])
od_count_h = len(od_blocks)
print('h_geocode: {0}'.format(od_count_h))

# w_geocode blocks
od_blocks = od_2019_sub.drop_duplicates(subset=['w_geocode'])
od_count_w = len(od_blocks)
print('w_geocode: {0}'.format(od_count_w))

h_geocode: 153676
w_geocode: 60750

In [24]:
## CHECKING DB TABLE
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=dpoe_stage;'
                      'Trusted_Connection=yes;')
                      
# h_geoid blocks
qry = "SELECT DISTINCT h_geoid FROM [dpoe_stage].[lehd_lodes].[od_7_5_20211018] WHERE yr = 2019"
db_blocks = pd.read_sql_query(qry, conn)
db_count_h = len(db_blocks)
print('h_geoid: {0}'.format(db_count_h))

# w_geoid blocks
qry = "SELECT DISTINCT w_geoid FROM [dpoe_stage].[lehd_lodes].[od_7_5_20211018] WHERE yr = 2019"
db_blocks = pd.read_sql_query(qry, conn)
db_count_w = len(db_blocks)
print('w_geoid: {0}'.format(db_count_w))

h_geoid: 153692
w_geoid: 69759

In [25]:
print('h difference: {0}'.format(od_count_h - db_count_h))
print('w difference: {0}'.format(od_count_w - db_count_w))

h difference: -16
w difference: -9009

In [26]:
SQL_sumcheck_df = db19[['S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02',
       'SE03', 'SI01', 'SI02', 'SI03']]

In [27]:
od_2019_sub.columns

Index(['w_geocode', 'h_geocode', 'S000', 'SA01', 'SA02', 'SA03', 'SE01',
       'SE02', 'SE03', 'SI01', 'SI02', 'SI03', 'createdate'],
      dtype='object')

In [28]:
r_sumcheck_df = od_2019_sub[['S000', 'SA01', 'SA02', 'SA03', 'SE01',
       'SE02', 'SE03', 'SI01', 'SI02', 'SI03']]

In [29]:
SQL_sumcheck_df.sum()

S000    6249583
SA01    1450701
SA02    3409832
SA03    1389050
SE01    1078764
SE02    1990288
SE03    3180531
SI01     987026
SI02    1091993
SI03    4170564
dtype: int64

In [30]:
r_sumcheck_df.sum()

S000    6198913
SA01    1436381
SA02    3385577
SA03    1376955
SE01    1065546
SE02    1971405
SE03    3161962
SI01     976735
SI02    1081426
SI03    4140752
dtype: int64