In [1]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

# Loading 2021 LODE Source Data (From R Drive)

In [2]:
ca_path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/od'

In [3]:
# %%time 

# ca_path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/od'

# # 2019 source data
# csv_2019 = glob.glob(ca_path + "/*2019.csv")

# list_2019 = []

# for filename in csv_2019:
#     df = pd.read_csv(filename, index_col=None, header=0, dtype={'h_geocode': str, 'w_geocode': str})
#     list_2019.append(df)

# od_2019 = pd.concat(list_2019, axis=0, ignore_index=True)

# od_2019

In [53]:
out_of_state_path = r'R:\DPOE\LEHD LODES\7.5_2021_11Nov\Source\OD_aux_Download_2021-12-18-15-18-17\od'

csv_2019_oos = glob.glob(out_of_state_path + "/*2019.csv")

list_2019_oos = []

for filename in csv_2019_oos:
    df = pd.read_csv(filename, index_col=None, header=0, dtype={'h_geocode': str, 'w_geocode': str})
    list_2019_oos.append(df)
    
od_2019_oos = pd.concat(list_2019_oos, axis=0, ignore_index=True)

In [55]:
import sys
sys.getsizeof(od_2019_oos) #, sys.getsizeof(od_2019)

(13310930552, 5976193016)

In [ ]:
# %%time

# # 2017 source data
# csv_2017_oos = glob.glob(out_of_state_path + "/*2017.csv")
# list_2017_oos = []

# for filename in csv_2017:
#     df = pd.read_csv(filename, index_col=None, header=0, dtype={'h_geocode': str, 'w_geocode': str})
#     list_2017_oos.append(df)

# od_2017_oos = pd.concat(list_2017_oos, axis=0, ignore_index=True)

In [ ]:
# %%time

# # 2018 source data
# csv_2018_oos = glob.glob(out_of_state_path + "/*2018.csv")
# list_2018_oos = []

# for filename in csv_2018:
#     df = pd.read_csv(filename, index_col=None, header=0, dtype={'h_geocode': str, 'w_geocode': str})
#     list_2018_oos.append(df)

# od_2018_oos = pd.concat(list_2018_oos, axis=0, ignore_index=True)

# Loading Staging Tables (From SQL)

In [56]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=dpoe_stage;'
                      'Trusted_Connection=yes;')

In [57]:
od_db19 ="SELECT * "\
                  "FROM [dpoe_stage].[lehd_lodes].[od_7_5_20211018]"\
                   "WHERE yr= 2019"
db19 = pd.read_sql_query(od_db19, conn)

In [58]:
db19

,w_geoid,h_geoid,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,type,yr
0,060730150002016,060250112012062,1,0,1,0,0,1,0,0,0,1,JT00,2019
1,060730150002016,060290031235002,1,0,1,0,0,1,0,0,0,1,JT00,2019
2,060730150002016,060371154012000,1,0,1,0,0,1,0,0,0,1,JT00,2019
3,060730150002016,060371173011008,1,0,1,0,0,1,0,0,0,1,JT00,2019
4,060730150002016,060371247002000,1,0,1,0,0,1,0,0,0,1,JT00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5763999,060730190013013,060730190012058,3,0,3,0,0,0,3,3,0,0,JT03,2019
5764000,060730200172022,060730200202007,3,0,3,0,0,0,3,3,0,0,JT03,2019
5764001,060730085111133,060730170513000,3,0,3,0,0,0,3,3,0,0,JT02,2019
5764002,060730085111133,060730170291074,3,0,3,0,0,0,3,3,0,0,JT03,2019
5764003,060730085111133,060730170513000,3,0,3,0,0,0,3,3,0,0,JT03,2019

# Cleaning Source Data

In [59]:
# od_2019.head()

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,060014001001024,484391108072031,1,1,0,0,0,0,1,0,0,1,20211018
1,060014002001003,080050049522007,1,0,1,0,0,1,0,0,0,1,20211018
2,060014002001018,410470016044008,1,0,1,0,0,0,1,0,0,1,20211018
3,060014002001020,481350008004038,1,0,1,0,1,0,0,0,0,1,20211018
4,060014002001022,080310009035004,1,0,1,0,0,1,0,0,0,1,20211018

In [60]:
# od_2019 = od_2019.drop(['createdate',], axis=1)

In [61]:
# od_2019.dtypes

w_geocode    object
h_geocode    object
S000          int64
SA01          int64
SA02          int64
SA03          int64
SE01          int64
SE02          int64
SE03          int64
SI01          int64
SI02          int64
SI03          int64
dtype: object

In [62]:
od_2019_oos.head()

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,010010201001022,280490109021014,1,0,1,0,0,1,0,0,0,1,20211018
1,010010202001000,120050027011009,1,1,0,0,0,0,1,0,0,1,20211018
2,010010202001000,240054211021008,1,0,1,0,0,0,1,0,1,0,20211018
3,010010202001000,281179505001075,1,0,1,0,0,0,1,0,0,1,20211018
4,010010202001000,482850005001064,1,0,1,0,0,0,1,0,0,1,20211018

In [63]:
od_2019_oos = od_2019_oos.drop(['createdate',], axis=1)

In [64]:
od_2019_oos.dtypes

w_geocode    object
h_geocode    object
S000          int64
SA01          int64
SA02          int64
SA03          int64
SE01          int64
SE02          int64
SE03          int64
SI01          int64
SI02          int64
SI03          int64
dtype: object

# Filtering for just SD Data (Source Data)

In [70]:
# regex_pattern = r'^06073'
# od_2019_sd = od_2019[od_2019['w_geocode'].str.contains(regex_pattern) | od_2019['h_geocode'].str.contains(regex_pattern)]

MemoryError: Unable to allocate 438. MiB for an array with shape (57374700,) and data type uint64

In [ ]:
# od_2019_sd.head()

In [ ]:
# od_2019_sd.shape

In [ ]:
od_2019_oos_sd = od_2019_oos[od_2019_oos['h_geocode'].str.contains(regex_pattern)]

In [ ]:
od_2019_oos_sd.head()

In [ ]:
od_2019_oos_sd.shape

# Checking the shape of the data

In [ ]:
print(od_2019_oos_sd.shape)

In [ ]:
od_2019_oos_sd.shape[0]

# Checking Length

In [ ]:
print(len(od_2019_oos_sd))

# Count the number of unique IDs

In [ ]:
print(od_2019_oos_sd['w_geocode'].nunique())