# Out of State Check
In this code we will be bringing in out of state data for a particular state and a particular year. This code will then filter for San Diego and the sum will be taken.

In [97]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

# Getting the correct files in order

In [98]:
year = '2019'
state = 'co'

In [99]:
path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od/'
files = glob.glob(path + f'*{year}.csv')

In [100]:
csv_all = []
for file in files:
    if file[-23:-21] == state:
        csv_all.append(file)

csv_all

['R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\co_od_aux_JT00_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\co_od_aux_JT01_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\co_od_aux_JT02_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\co_od_aux_JT03_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\co_od_aux_JT04_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\co_od_aux_JT05_2019.csv']

# Download The Data

In [101]:
list_all_file = []
for filename in csv_all:
    df=pd.read_csv(filename, index_col=None, header=0)
    list_all_file.append(df)

In [102]:
r_all = pd.concat(list_all_file, axis=0, ignore_index=True)

# Sort for San Diego

In [103]:
string_ints = [str(int) for int in r_all['h_geocode']]

tf = []
for i in string_ints:
    if i[0:4] == '6073':
        tf.append(True)
    else:
        tf.append(False)

sorted_r = r_all[tf]
sorted_r

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
1259,80010088011015,60730101041007,1,0,0,1,0,0,1,1,0,0,20211018
1267,80010088011039,60730117003008,1,0,0,1,0,0,1,1,0,0,20211018
1556,80010093201012,60730093043003,1,0,1,0,1,0,0,0,0,1,20211018
1558,80010093202011,60730093042010,1,0,1,0,1,0,0,0,0,1,20211018
1848,80010096034002,60730125012002,1,0,0,1,1,0,0,0,0,1,20211018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172455,81230014081021,60730027071002,1,0,0,1,0,1,0,0,0,1,20211018
172896,81230019071107,60730039022005,1,0,1,0,1,0,0,0,0,1,20211018
172936,81230019072042,60730100034005,1,0,0,1,0,0,1,1,0,0,20211018
173485,81230023004011,60730187001162,1,0,0,1,0,1,0,1,0,0,20211018
173854,81259632003148,60730100051002,1,0,0,1,0,0,1,1,0,0,20211018

# Final Number Needed

In [104]:
print(f"In {state} in {year} there are {len(sorted_r)} h_geocodes")

In co in 2019 there are 1327 h_geocodes