# Out of State Check
In this code we will be bringing in out of state data for a particular state and a particular year. This code will then filter for San Diego and the sum will be taken.

In [87]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

# Getting the correct files in order

In [88]:
year = '2019'
state = 'al'

In [89]:
path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od/'
files = glob.glob(path + f'*{year}.csv')

In [90]:
csv_all = []
for file in files:
    if file[-23:-21] == state:
        csv_all.append(file)

csv_all

['R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\al_od_aux_JT00_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\al_od_aux_JT01_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\al_od_aux_JT02_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\al_od_aux_JT03_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\al_od_aux_JT04_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\al_od_aux_JT05_2019.csv']

# Download The Data

In [91]:
list_all_file = []
for filename in csv_all:
    df=pd.read_csv(filename, index_col=None, header=0)
    list_all_file.append(df)

In [92]:
r_all = pd.concat(list_all_file, axis=0, ignore_index=True)

# Sort for San Diego

In [95]:
string_ints = [str(int) for int in r_all['h_geocode']]

tf = []
for i in string_ints:
    if i[0:4] == '6073':
        tf.append(True)
    else:
        tf.append(False)

sorted_r = r_all[tf]
sorted_r

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
827,10030107031094,60730170482004,1,1,0,0,0,0,1,0,0,1,20211018
1148,10030107051033,60730165023001,1,1,0,0,0,1,0,0,1,0,20211018
2946,10030114051058,60730157013000,1,0,1,0,1,0,0,0,0,1,20211018
7255,10139529001024,60730174012001,1,1,0,0,0,1,0,0,1,0,20211018
8352,10150015001024,60730186112013,1,1,0,0,0,0,1,1,0,0,20211018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299147,11250124051033,60730170484000,1,0,1,0,0,1,0,0,1,0,20211018
299178,11250124052046,60730093014000,1,0,1,0,0,1,0,0,1,0,20211018
299200,11250124053011,60730093052004,1,0,1,0,0,1,0,0,1,0,20211018
299764,11270211003015,60730177021000,1,0,1,0,0,1,0,0,1,0,20211018
299765,11270211003015,60730202112003,1,1,0,0,0,1,0,0,1,0,20211018

# Final Number Needed

In [96]:
print(f"In {state} in {year} there are {len(sorted_r)} h_geocodes")

In al in 2019 there are 341 h_geocodes