# Out of State Check
In this code we will be bringing in out of state data for a particular state and a particular year. This code will then filter for San Diego and the sum will be taken.

In [1]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

# Getting the correct files in order

In [2]:
year = '2019'
state = 'dc'

In [3]:
path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od/'
files = glob.glob(path + f'*{year}.csv')

In [4]:
csv_all = []
for file in files:
    if file[-23:-21] == state:
        csv_all.append(file)

csv_all

['R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\dc_od_aux_JT00_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\dc_od_aux_JT01_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\dc_od_aux_JT02_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\dc_od_aux_JT03_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\dc_od_aux_JT04_2019.csv',
 'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/OD_aux_Download_2021-12-18-15-18-17/od\\dc_od_aux_JT05_2019.csv']

# Download The Data

In [5]:
list_all_file = []
for filename in csv_all:
    df=pd.read_csv(filename, index_col=None, header=0)
    list_all_file.append(df)

In [6]:
r_all = pd.concat(list_all_file, axis=0, ignore_index=True)

# Sort for San Diego

In [7]:
string_ints = [str(int) for int in r_all['h_geocode']]

tf = []
for i in string_ints:
    if i[0:4] == '6073':
        tf.append(True)
    else:
        tf.append(False)

sorted_r = r_all[tf]
sorted_r

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
413,110010001001006,60730200271051,1,0,0,1,0,1,0,1,0,0,20211018
2868,110010001004023,60730187001337,1,1,0,0,0,0,1,0,0,1,20211018
6606,110010002011001,60730083452003,1,0,0,1,0,0,1,0,0,1,20211018
6607,110010002011001,60730083611003,1,0,0,1,0,0,1,0,0,1,20211018
6608,110010002011001,60730170222005,1,0,1,0,0,0,1,0,0,1,20211018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622312,110010107001005,60730133102022,1,0,1,0,0,0,1,0,0,1,20211018
1623973,110010107001011,60730028042011,1,0,1,0,0,0,1,0,0,1,20211018
1623974,110010107001011,60730032013011,1,1,0,0,0,1,0,0,0,1,20211018
1623975,110010107001011,60730058001059,1,0,1,0,0,0,1,0,0,1,20211018
1626985,110010108002011,60730083652008,1,0,0,1,0,0,1,0,0,1,20211018

In [8]:
sorted_r.to_csv(f'C:/Users/cra/OneDrive - San Diego Association of Governments/QA_repo/QA/2022/2022-03 LEHD LODES 2019 ETL QC/2019_checks/Data/{state}_h_6073.csv', index=False)

# Final Number Needed

In [9]:
print(f"In {state} in {year} there are {len(sorted_r)} h_geocodes")

In dc in 2019 there are 454 h_geocodes