# 2018

Compare previous run with new run, using 2018 files as the basis of comparison.
* Previous Run: R:/DPOE/LEHD LODES/7.5/Source/RAC/Unzipped_RD
* New Run: R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/rac

In [1]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

# RAC Data

# Old Folder - 2018 Data 
- This is the LEHD data that we QCd before, that Anne re-ran for us
- All of this data can be seen looked at in the 'New-Runs' page
- This is not the new 2018 data

In [2]:
%%time

csv_sd ={}

yrs=['2018']

# Aggregate each year's CSV files and output separate dataframe for each year
for x in yrs:
    csv_yr = '*_' + x + '.csv'
    
    # Join all the CSV files in the folder
    files = os.path.join(r'R:/DPOE/LEHD LODES/7.5/Source/RAC/Unzipped_RD', csv_yr)
    
    # Return list of all joined file names
    files_list = glob.glob(files)
    
    # Join all the csv into single dataframe
    joined_csv = pd.concat(map(pd.read_csv, files_list), ignore_index=True)
    
    # Extract only SD County records (6073*)
    csv_sd[x] = joined_csv[joined_csv['h_geocode'].astype(str).str.startswith('6073')]

Wall time: 7min 54s

In [3]:
# Drop createdate column - this will be different between the two runs
old_csv_rac = csv_sd['2018'].drop('createdate', axis=1)
old_csv_rac

,h_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CR05,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02
261814,60730001001000,132,18,75,39,27,33,72,0,0,...,0,9,112,20,9,20,38,47,62,70
261815,60730001001001,3,1,1,1,0,1,2,0,0,...,0,0,2,1,0,0,0,2,2,1
261816,60730001001002,8,2,3,3,2,1,5,0,0,...,0,0,5,3,2,1,1,2,5,3
261817,60730001001003,18,3,8,7,2,3,13,0,0,...,0,0,18,0,2,4,2,7,11,7
261818,60730001001004,13,1,8,4,0,2,11,0,0,...,0,0,8,5,2,3,4,3,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14573093,60730221002026,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
14573094,60730221003000,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
14573095,60730221003001,1,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
14573096,60730221003003,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
14573097,60730221003007,2,0,1,1,0,0,2,0,0,...,0,0,1,1,0,0,0,2,2,0

# New Folder - 2018 Data
- This is looking in the new folder  that has 2019 values, but we will be extracting 2018 values to compare.

In [4]:
%%time

csv_sd ={}

yrs=['2018']

# Aggregate each year's CSV files and output separate dataframe for each year
for x in yrs:
    csv_yr = '*_' + x + '.csv'
    
    # Join all the CSV files in the folder
    files = os.path.join(r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/rac', csv_yr)
    
    # Return list of all joined file names
    files_list = glob.glob(files)
    
    # Join all the csv into single dataframe
    joined_csv = pd.concat(map(pd.read_csv, files_list), ignore_index=True)
    
    # Extract only SD County records (6073*)
    csv_sd[x] = joined_csv[joined_csv['h_geocode'].astype(str).str.startswith('6073')]

Wall time: 7min 12s

In [5]:
# Drop createdate column - this will be different between the two runs
new_csv_rac = csv_sd['2018'].drop('createdate', axis=1)
new_csv_rac

,h_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CR05,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02
261814,60730001001000,132,18,75,39,27,33,72,0,0,...,0,9,112,20,9,20,38,47,62,70
261815,60730001001001,3,1,1,1,0,1,2,0,0,...,0,0,2,1,0,0,0,2,2,1
261816,60730001001002,8,2,3,3,2,1,5,0,0,...,0,0,5,3,2,1,1,2,5,3
261817,60730001001003,18,3,8,7,2,3,13,0,0,...,0,0,18,0,2,4,2,7,11,7
261818,60730001001004,13,1,8,4,0,2,11,0,0,...,0,0,8,5,2,3,4,3,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14573093,60730221002026,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
14573094,60730221003000,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
14573095,60730221003001,1,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
14573096,60730221003003,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
14573097,60730221003007,2,0,1,1,0,0,2,0,0,...,0,0,1,1,0,0,0,2,2,0

# Checking if they are identical

In [6]:
%%time
old_csv_rac.equals(new_csv_rac)

Wall time: 841 ms

True