# 2018

Compare previous run with new run, using 2018 files as the basis of comparison.
* Previous Run: R:/DPOE/LEHD LODES/7.5/Source/WAC/Unzipped_RD
* New Run: R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/wac

In [1]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

# Origin-Destination Data

# Old Folder - 2018 Data 
- This is the LEHD data that we QCd before, that Anne re-ran for us
- All of this data can be seen looked at in the 'New-Runs' page
- This is not the new 2018 data

In [2]:
path = r'R:/DPOE/LEHD LODES/7.5/Source/WAC/Unzipped_RD'
r_2018 = glob.glob(path + '/*2018.csv')

In [3]:
csv_all = r_2018

In [4]:
list_all_file = []

for filename in csv_all:
    df=pd.read_csv(filename, index_col=None, header=0)
    list_all_file.append(df)

In [5]:
r_all = pd.concat(list_all_file, axis=0, ignore_index=True)
r_all = r_all.iloc[:, :-1]
r_all

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
0,60014001001007,58,33,10,15,33,6,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60014001001008,3,0,1,2,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60014001001011,2,0,0,2,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60014001001017,3,0,1,2,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60014001001024,22,3,14,5,3,2,17,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855975,61150401005037,18,0,13,5,0,1,17,0,0,...,0,0,0,0,0,0,0,0,0,0
6855976,61150401005057,2,0,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855977,61150401005067,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855978,61150403021028,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855979,61150407003012,2,0,2,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#6073 is SD County 
string_ints = [str(int) for int in r_all['w_geocode']]

tf = []
for i in string_ints:
    if i[0:4] == '6073':
        tf.append(True)
    else:
        tf.append(False)

old_sorted_r = r_all[tf]
old_sorted_r

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
177351,60730001001000,7,1,3,3,1,2,4,0,0,...,0,0,0,0,0,0,0,0,0,0
177352,60730001001003,3,2,1,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177353,60730001001004,4,1,2,1,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
177354,60730001001010,3,0,0,3,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
177355,60730001001011,2,0,1,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855404,60730214001011,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855405,60730214003017,25,0,17,8,0,0,25,0,0,...,0,0,0,0,0,0,0,0,0,0
6855406,60730216002001,3,0,1,2,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
6855407,60730221001019,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855408,60730221002002,37,3,30,4,0,0,37,0,0,...,0,0,0,0,0,0,0,0,0,0

# New Folder - 2018 Data
- This is looking in the new folder  that has 2019 values, but we will be extracting 2018 values to compare.

In [7]:
path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/wac'
r_2018 = glob.glob(path + '/*2018.csv')

In [8]:
csv_all = r_2018

In [9]:
list_all_file = []

for filename in csv_all:
    df=pd.read_csv(filename, index_col=None, header=0)
    list_all_file.append(df)

In [10]:
r_all = pd.concat(list_all_file, axis=0, ignore_index=True)
r_all = r_all.iloc[:, :-1]
r_all

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
0,60014001001007,58,33,10,15,33,6,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60014001001008,3,0,1,2,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60014001001011,2,0,0,2,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60014001001017,3,0,1,2,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60014001001024,22,3,14,5,3,2,17,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855975,61150401005037,18,0,13,5,0,1,17,0,0,...,0,0,0,0,0,0,0,0,0,0
6855976,61150401005057,2,0,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855977,61150401005067,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855978,61150403021028,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855979,61150407003012,2,0,2,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#6073 is SD County 
string_ints = [str(int) for int in r_all['w_geocode']]

tf = []
for i in string_ints:
    if i[0:4] == '6073':
        tf.append(True)
    else:
        tf.append(False)

new_sorted_r = r_all[tf]
new_sorted_r

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
177351,60730001001000,7,1,3,3,1,2,4,0,0,...,0,0,0,0,0,0,0,0,0,0
177352,60730001001003,3,2,1,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177353,60730001001004,4,1,2,1,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
177354,60730001001010,3,0,0,3,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
177355,60730001001011,2,0,1,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855404,60730214001011,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855405,60730214003017,25,0,17,8,0,0,25,0,0,...,0,0,0,0,0,0,0,0,0,0
6855406,60730216002001,3,0,1,2,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
6855407,60730221001019,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6855408,60730221002002,37,3,30,4,0,0,37,0,0,...,0,0,0,0,0,0,0,0,0,0

# Comparison

In [12]:
new_sorted_r.equals(old_sorted_r)

False

In [13]:
# FIND DIFFERENCES BETWEEN NEW AND OLD

# Make copy of df and exclude w_geocode from df subtraction
diff = new_sorted_r.copy()
cols = new_sorted_r.columns.difference(['w_geocode'])

# Subtract dfs to get differences
diff[cols] = new_sorted_r[cols].sub(old_sorted_r[cols])

# Subset only those with differences > 0 in fields that start with 'C'
diff = diff[~diff.filter(like='C').apply(set, axis=1).eq({0})]
diff

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
687859,60730001001000,0,0,0,0,0,0,0,0,0,...,1,1,0,2,3,7,0,0,0,0
687860,60730001001003,0,0,0,0,0,0,0,0,0,...,1,2,0,0,0,3,0,0,0,0
687861,60730001001004,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,3,1,0,0,0
687862,60730001001010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,0
687863,60730001001011,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705671,60730221003011,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,2,0,0,0,0
705672,60730221003012,0,0,0,0,0,0,0,0,0,...,1,2,0,4,3,7,0,0,0,3
705673,60730221003013,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
705674,60730221003014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,2,0,0,0,0
705675,60730221003016,0,0,0,0,0,0,0,0,0,...,20,71,98,145,1194,280,87,128,0,1033

In [14]:
writer = pd.ExcelWriter('WAC_year_comp.xlsx')
diff.to_excel(writer, sheet_name='diff')

writer.save()
writer.close()