In [1]:
import geopandas as gpd
import os
import pandas as pd
import pyodbc
# from sqlalchemy import create_engine

In [2]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=estimates;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

age_2020 ="SELECT [mgra_id], [yr_id], [age_group_id], [population]"\
                  "FROM [estimates].[est_2020_01].[dw_age]"
             
age = pd.read_sql_query(age_2020, conn)    

age.head()

      mgra_id  yr_id  age_group_id  population
0  1400000101   2010             1           2
1  1400000101   2010             2           3
2  1400000101   2010             3           3
3  1400000101   2010             4           3
4  1400000101   2010             5           0

In [3]:
# db_connection_string = 'mssql+pyodbc://sql2014b8/GeoDepot?driver=SQL+Server+Native+Client+11.0'
# mssql_engine = create_engine(db_connection_string)

In [4]:
mgra_query = """SELECT  [OBJECTID]
      ,[MGRA]
      ,[CT10]
      ,[CT10BG]
      ,[SRA]
      ,[MSA]
      ,[City]
      ,[ZIP]
      ,[Sphere]
      ,[CPA]
      ,[CPASG]
      ,[TAZ]
      ,[Council]
      ,[Super]
      ,[LUZ]
      ,[Elem]
      ,[Unif]
      ,[High]
      ,[Coll]
      ,[Transit]
      ,[Shape] """ + \
    ".STGeometryN(1).ToString()"  + "FROM [GeoDepot].[gis].[MGRA13PT]"

 # + geo_col + '.STGeometryN(1).ToString()'  
 #  ,[Shape]
   #-  ,[GDB_GEOMATTR_DATA]

In [5]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=sql2014b8;'
                      'Database=GeoDepot;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()
             
mgra = pd.read_sql_query(mgra_query, conn)    

mgra.head()

,OBJECTID,MGRA,CT10,CT10BG,SRA,MSA,City,ZIP,Sphere,CPA,...,TAZ,Council,Super,LUZ,Elem,Unif,High,Coll,Transit,
0,1,1,100,1001,1,0,14,92103,1442,1442,...,3331,3,4,95,0,30,0,4,1,POINT (6273396.826114133 1856907.8862343132)
1,2,2,100,1001,1,0,14,92103,1442,1442,...,3331,3,4,95,0,30,0,4,1,POINT (6274360.0000407994 1856273.7080407292)
2,3,3,100,1001,1,0,14,92103,1442,1442,...,3358,3,4,95,0,30,0,4,1,POINT (6275518.2099947184 1856064.3705329)
3,4,4,100,1001,1,0,14,92103,1442,1442,...,3358,3,4,95,0,30,0,4,1,POINT (6275977.448577553 1855268.9292103946)
4,5,5,100,1001,1,0,14,92103,1442,1442,...,3358,3,4,95,0,30,0,4,1,POINT (6274539.4937763065 1855494.9655037224)

In [6]:
from arcgis.gis import GIS

gis = GIS()

In [7]:
gis

GIS @ https://www.arcgis.com version:9.1