In [12]:
import os
import pyodbc
import pandas as pd

In [43]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=estimates;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

age_2020 ="SELECT [mgra_id], [yr_id], [age_group_id], [population]"\
                  "FROM [estimates].[est_2020_01].[dw_age]"
             
age = pd.read_sql_query(age_2020, conn)    

age.head()

      mgra_id  yr_id  age_group_id  population
0  1400000101   2010             1           2
1  1400000101   2010             2           3
2  1400000101   2010             3           3
3  1400000101   2010             4           3
4  1400000101   2010             5           0

In [5]:
from arcgis.gis import GIS

gis = GIS()

In [6]:
gis

GIS @ https://www.arcgis.com version:9.1