In [1]:
import pandas as pd
import numpy as np
import pyodbc
import sys
import sqlalchemy as sql
import re
from tqdm import tqdm

sys.path.append(r'..\2023-Internal Forecast QC Automation\Forecast QC Automation')
from data_prep_functions import *
from mgra_input_file_automation import *

In [2]:
years = ['2022', '2026', '2029', '2032', '2035', '2040', '2050']
version = '2023_11_10'

# Phase 1

## 0. Data Preparation

In [4]:
geo_dfs = {}
geo_dfs['mgra'] = mgra_denorm_path=mgra_output('SR15', False)
geo_dfs['mgra']['vacancy'] = geo_dfs['mgra']['hs'] - geo_dfs['mgra']['hh']
geo_dfs['mgra']['vacancy_rate'] = geo_dfs['mgra']['vacancy']/geo_dfs['mgra']['hs']
geo_dfs['mgra'] = geo_dfs['mgra'].set_index(['mgra', 'year'])
geo_dfs['mgra'].insert(0, 'geotype', 'mgra')

In [5]:
# compare columns. check if all columns are accounted for

for col in pd.read_csv(r'C:/Users/jchu/OneDrive - San Diego Association of Governments/Projects/2023/Series 15 Subregional Forecast/2023-083 MGRA Input File- Series 15 Subregional Baseline Forecast/Data/2022/2022_2023_11_10/mgra_based_input_2022_2023_11_10.csv').columns:
    if col not in list(geo_dfs['mgra'].columns):
        print(col)

year
mgra

### Geography roll-up with all forecast years (Region, Jurisdiction, CPA, LUZ)

In [6]:
geo_levels = ['region', 'jurisdiction', 'cpa', 'luz', 'taz']
for geo in tqdm(geo_levels):
    geo_dfs[geo] = create_mgra_denorm_table(geo_dfs['mgra'].reset_index(), 
                         geo_level=geo,
                         output_folder_path=False, 
                         version='SR15',
                         series=15)
    if geo == 'cpa':
        geo_dfs[geo] = add_cpa_names(geo_dfs[geo], 15).set_index(['cpa', 'year'])
    geo_dfs[geo].insert(0, 'geotype', geo)
    display(geo_dfs[geo])
geo_dfs['jurisdiction']

  0%|                                                                                            | 0/5 [00:00<?, ?it/s]

               geotype  scenario       taz      luz         zip  pseudomsa  \
region    year
San Diego 2022  region         0  61885698  2834354  2238859007     111419
          2026  region         0  61885698  2834354  2238859007     111419
          2029  region         0  61885698  2834354  2238859007     111419
          2032  region         0  61885698  2834354  2238859007     111419
          2035  region         0  61885698  2834354  2238859007     111419
          2040  region         0  61885698  2834354  2238859007     111419
          2050  region         0  61885698  2834354  2238859007     111419

                district27      pop      hhp      gq  ...  redev_emp_res  \
region    year                                        ...
San Diego 2022      232154  3287306  3170895  116411  ...    5751.485158
          2026      232154  3302237  3188816  113421  ...    3923.499753
          2029      232154  3334675  3220394  114281  ...    3686.796230
          2032      232154  3373033  3257421  115612  ...    3575.591472
          2035      232154  3404362  3287304  117058  ...    3404.907336
          2040      232154  3432211  3315776  116435  ...    3054.843543
          2050      232154  3400250  3285676  114574  ...    2902.186610

                redev_emp_emp    infill_sf   infill_mf   infill_emp  \
region    year
San Diego 2022    9816.537780  5077.680910  689.775228  8820.060976
          2026    9374.358484  3919.240695  457.586141  8654.583028
          2029    8979.347826  3729.214992  406.626178  8417.827502
          2032    8790.898273  3639.102629  354.508863  8217.821170
          2035    8128.687578  3312.415162  315.666382  7833.609627
          2040    7623.962261  3242.902270  223.030615  7515.209493
          2050    6827.913177  3002.764201  108.114246  6712.540908

                         dev           vac       unusable  vacancy  \
region    year
San Diego 2022  2.087814e+06  63080.562020  114791.146477    75170
          2026  2.100048e+06  51085.984387  114791.146477    85846
          2029  2.102949e+06  48186.029811  114791.146477    92735
          2032  2.105195e+06  45940.224893  114791.146477    94882
          2035  2.107488e+06  43648.218842  114791.146477    96868
          2040  2.109871e+06  41270.628084  114791.146477    99898
          2050  2.112782e+06  38364.859834  114791.146477   103918

                vacancy_rate
region    year
San Diego 2022      0.060835
          2026      0.066673
          2029      0.070253
          2032      0.070441
          2035      0.070558
          2040      0.070819
          2050      0.072242

[7 rows x 126 columns]

 20%|████████████████▊                                                                   | 1/5 [00:03<00:15,  3.81s/it]

                        geotype  scenario     taz     luz       zip  \
jurisdiction year
Carlsbad     2022  jurisdiction         0  294881  126916  69743180
             2026  jurisdiction         0  294881  126916  69743180
             2029  jurisdiction         0  294881  126916  69743180
             2032  jurisdiction         0  294881  126916  69743180
             2035  jurisdiction         0  294881  126916  69743180
...                         ...       ...     ...     ...       ...
Vista        2029  jurisdiction         0  627759  135889  65655038
             2032  jurisdiction         0  627759  135889  65655038
             2035  jurisdiction         0  627759  135889  65655038
             2040  jurisdiction         0  627759  135889  65655038
             2050  jurisdiction         0  627759  135889  65655038

                   pseudomsa  district27     pop     hhp    gq  ...  \
jurisdiction year                                               ...
Carlsbad     2022       4550         859  115585  114619   966  ...
             2026       4550         859  117853  116921   932  ...
             2029       4550         859  121388  120450   938  ...
             2032       4550         859  121713  120773   940  ...
             2035       4550         859  123720  122767   953  ...
...                      ...         ...     ...     ...   ...  ...
Vista        2029       4928         713  101464   99458  2006  ...
             2032       4928         713  102275  100263  2012  ...
             2035       4928         713  104034  101976  2058  ...
             2040       4928         713  105305  103261  2044  ...
             2050       4928         713  104240  102356  1884  ...

                   redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
jurisdiction year
Carlsbad     2022      48.981013     266.827288   2.975080  24.947334
             2026      21.651900     240.779409   1.212635  12.087944
             2029      15.077134     225.761543   0.000000  11.896798
             2032       9.245455     212.204984   0.000000   0.000000
             2035       1.491617     204.058286   0.000000   0.000000
...                          ...            ...        ...        ...
Vista        2029      90.628278     107.389934  10.431880   0.000000
             2032      90.226848     106.556701   4.910551   0.000000
             2035      89.908896     105.086247   0.000000   0.000000
             2040      85.889377     103.759234   0.000000   0.000000
             2050      85.889377      64.388351   0.000000   0.000000

                   infill_emp           dev         vac     unusable  vacancy  \
jurisdiction year
Carlsbad     2022  627.031082  18724.597352  845.282086  5471.912863     3113
             2026  595.960729  19054.612290  525.787043  5471.912863     3646
             2029  536.986770  19158.010274  422.389059  5471.912863     3924
             2032  479.737698  19170.574169  409.825165  5471.912863     3947
             2035  425.903764  19220.800147  359.599186  5471.912863     3767
...                       ...           ...         ...          ...      ...
Vista        2029  487.146471  11040.145603  333.059170   539.573510     1651
             2032  484.422395  11052.685378  320.519395   539.573510     1673
             2035  480.802577  11069.661065  303.543707   539.573510     1716
             2040  452.861250  11096.379180  276.825592   539.573510     2156
             2050  368.918526  11167.652975  205.551797   539.573510     3350

                   vacancy_rate
jurisdiction year
Carlsbad     2022      0.064714
             2026      0.071671
             2029      0.073854
             2032      0.073426
             2035      0.068551
...                         ...
Vista        2029      0.045942
             2032      0.045692
             2035      0.045676
             2040      0.055056
             2050      0.081576

[133 rows x 126 columns]

 40%|█████████████████████████████████▌                                                  | 2/5 [00:06<00:09,  3.22s/it]

          geotype  scenario       taz      luz        zip  pseudomsa  \
cpa  year
0    2022     cpa         0  19576400  1343072  831452093      47673
     2026     cpa         0  19576400  1343072  831452093      47673
     2029     cpa         0  19576400  1343072  831452093      47673
     2032     cpa         0  19576400  1343072  831452093      47673
     2035     cpa         0  19576400  1343072  831452093      47673
...           ...       ...       ...      ...        ...        ...
1999 2029     cpa         0     87662     2730    2574733         60
     2032     cpa         0     87662     2730    2574733         60
     2035     cpa         0     87662     2730    2574733         60
     2040     cpa         0     87662     2730    2574733         60
     2050     cpa         0     87662     2730    2574733         60

           district27      pop      hhp     gq  ...  redev_emp_emp  infill_sf  \
cpa  year                                       ...
0    2022       49808  1399346  1372115  27231  ...    1811.178538  70.521071
     2026       49808  1408743  1382603  26140  ...    1656.462977  32.317803
     2029       49808  1429371  1402892  26479  ...    1598.081783  25.820801
     2032       49808  1468671  1441306  27365  ...    1532.790983  13.344249
     2035       49808  1484959  1457044  27915  ...    1462.895553   5.048185
...               ...      ...      ...    ...  ...            ...        ...
1999 2029         274     3953     3953      0  ...      64.510573   3.665569
     2032         274     3922     3922      0  ...      64.306363   3.376429
     2035         274     3906     3906      0  ...      63.747221   2.764354
     2040         274     3828     3828      0  ...      62.987953   2.585990
     2050         274     3722     3722      0  ...      60.260785   2.235670

            infill_mf   infill_emp            dev           vac      unusable  \
cpa  year
0    2022  559.760262  4448.567459  177393.939588  14760.751056  31892.368304
     2026  388.410318  4325.568559  180359.009413  11871.831508  31892.368304
     2029  364.165256  4146.399781  181785.438970  10445.401951  31892.368304
     2032  329.520333  3993.609784  183071.107372   9158.312418  31892.368304
     2035  299.571229  3708.560637  183815.549825   8414.958660  31892.368304
...               ...          ...            ...           ...           ...
1999 2029    0.000000     0.000000     369.734594      5.536110      0.000000
     2032    0.000000     0.000000     369.734594      5.536110      0.000000
     2035    0.000000     0.000000     369.734594      5.536110      0.000000
     2040    0.000000     0.000000     369.734594      5.536110      0.000000
     2050    0.000000     0.000000     371.783771      3.486932      0.000000

           vacancy  vacancy_rate        cpa_name
cpa  year
0    2022    26057      0.051809      Not in CPA
     2026    29934      0.056963      Not in CPA
     2029    32772      0.060540      Not in CPA
     2032    33986      0.060615      Not in CPA
     2035    37921      0.065916      Not in CPA
...            ...           ...             ...
1999 2029       46      0.036249  County Islands
     2032       48      0.037588  County Islands
     2035       57      0.044049  County Islands
     2040       58      0.044684  County Islands
     2050       71      0.053951  County Islands

[616 rows x 127 columns]

 60%|██████████████████████████████████████████████████▍                                 | 3/5 [00:09<00:06,  3.28s/it]

         geotype  scenario     taz       zip  pseudomsa  district27    pop  \
luz year
1   2022     luz         0  221777  13631580        296        3996   7233
    2026     luz         0  221777  13631580        296        3996   7162
    2029     luz         0  221777  13631580        296        3996   7155
    2032     luz         0  221777  13631580        296        3996   7155
    2035     luz         0  221777  13631580        296        3996   7273
...          ...       ...     ...       ...        ...         ...    ...
245 2029     luz         0  169137   3588811        195         507  10565
    2032     luz         0  169137   3588811        195         507   9694
    2035     luz         0  169137   3588811        195         507   9676
    2040     luz         0  169137   3588811        195         507   9849
    2050     luz         0  169137   3588811        195         507  10289

            hhp  gq  gq_mil  ...  redev_emp_res  redev_emp_emp  infill_sf  \
luz year                     ...
1   2022   7191  42       0  ...       0.115001      17.192360   0.000000
    2026   7121  41       0  ...       0.000000      17.192360   0.000000
    2029   7114  41       0  ...       0.000000      17.192360   0.000000
    2032   7114  41       0  ...       0.000000      17.192360   0.000000
    2035   7231  42       0  ...       0.000000      17.192360   0.000000
...         ...  ..     ...  ...            ...            ...        ...
245 2029  10497  68       0  ...       3.840816      93.776818  93.047038
    2032   9625  69       0  ...       3.840816      92.615707  90.385080
    2035   9606  70       0  ...       0.369939      88.284980  80.604189
    2040   9780  69       0  ...       0.369939      84.820773  76.973511
    2050  10228  61       0  ...       0.000000      52.019728  59.161195

          infill_mf  infill_emp         dev        vac   unusable  vacancy  \
luz year
1   2022   0.000000    6.912115  876.825496  19.026480  59.487941      188
    2026   0.000000    6.912115  882.809483  14.190585  59.487941      211
    2029   0.000000    6.912115  882.809483  14.190585  59.487941      192
    2032   0.000000    6.912115  882.809483  14.190585  59.487941      179
    2035   0.000000    6.912115  882.809483  14.190585  59.487941      114
...             ...         ...         ...        ...        ...      ...
245 2029  22.499032    8.162603  689.161390  17.742480   0.000000      232
    2032   6.587490    8.162603  691.953903  14.949968   0.000000      713
    2035   0.000000    8.162603  694.461223  12.442648   0.000000      989
    2040   0.000000    8.162603  695.031630  11.872241   0.000000      893
    2050   0.000000    8.162603  698.477564   8.426307   0.000000      743

          vacancy_rate
luz year
1   2022      0.049292
    2026      0.054409
    2029      0.049446
    2032      0.045921
    2035      0.029096
...                ...
245 2029      0.057654
    2032      0.168717
    2035      0.218419
    2040      0.195619
    2050      0.158456

[1715 rows x 125 columns]

 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [00:12<00:02,  3.00s/it]

          geotype  scenario   luz     zip  pseudomsa  district27   pop   hhp  \
taz  year
13   2022     taz         0   676  370071         24           4  4646  2859
     2026     taz         0   676  370071         24           4  4570  2816
     2029     taz         0   676  370071         24           4  4549  2788
     2032     taz         0   676  370071         24           4  4535  2760
     2035     taz         0   676  370071         24           4  4528  2741
...           ...       ...   ...     ...        ...         ...   ...   ...
4947 2029     taz         0  1808  735472         64         112     5     5
     2032     taz         0  1808  735472         64         112     0     0
     2035     taz         0  1808  735472         64         112     0     0
     2040     taz         0  1808  735472         64         112     0     0
     2050     taz         0  1808  735472         64         112     0     0

             gq  gq_mil  ...  redev_emp_res  redev_emp_emp  infill_sf  \
taz  year                ...
13   2022  1787    1787  ...            0.0            0.0        0.0
     2026  1754    1754  ...            0.0            0.0        0.0
     2029  1761    1761  ...            0.0            0.0        0.0
     2032  1775    1775  ...            0.0            0.0        0.0
     2035  1787    1787  ...            0.0            0.0        0.0
...         ...     ...  ...            ...            ...        ...
4947 2029     0       0  ...            0.0            0.0        0.0
     2032     0       0  ...            0.0            0.0        0.0
     2035     0       0  ...            0.0            0.0        0.0
     2040     0       0  ...            0.0            0.0        0.0
     2050     0       0  ...            0.0            0.0        0.0

           infill_mf  infill_emp          dev        vac  unusable  vacancy  \
taz  year
13   2022        0.0         0.0  4889.004243    0.00000       0.0       83
     2026        0.0         0.0  4889.004243    0.00000       0.0       66
     2029        0.0         0.0  4889.004243    0.00000       0.0       64
     2032        0.0         0.0  4889.004243    0.00000       0.0       63
     2035        0.0         0.0  4889.004243    0.00000       0.0       60
...              ...         ...          ...        ...       ...      ...
4947 2029        0.0         0.0   960.073851  270.55383       0.0        6
     2032        0.0         0.0   960.073851  270.55383       0.0        8
     2035        0.0         0.0   960.073851  270.55383       0.0        8
     2040        0.0         0.0   960.073851  270.55383       0.0        8
     2050        0.0         0.0   960.073851  270.55383       0.0        8

           vacancy_rate
taz  year
13   2022      0.083585
     2026      0.066465
     2029      0.064451
     2032      0.063444
     2035      0.060423
...                 ...
4947 2029      0.750000
     2032      1.000000
     2035      1.000000
     2040      1.000000
     2050      1.000000

[34545 rows x 125 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:16<00:00,  3.21s/it]

                        geotype  scenario     taz     luz       zip  \
jurisdiction year
Carlsbad     2022  jurisdiction         0  294881  126916  69743180
             2026  jurisdiction         0  294881  126916  69743180
             2029  jurisdiction         0  294881  126916  69743180
             2032  jurisdiction         0  294881  126916  69743180
             2035  jurisdiction         0  294881  126916  69743180
...                         ...       ...     ...     ...       ...
Vista        2029  jurisdiction         0  627759  135889  65655038
             2032  jurisdiction         0  627759  135889  65655038
             2035  jurisdiction         0  627759  135889  65655038
             2040  jurisdiction         0  627759  135889  65655038
             2050  jurisdiction         0  627759  135889  65655038

                   pseudomsa  district27     pop     hhp    gq  ...  \
jurisdiction year                                               ...
Carlsbad     2022       4550         859  115585  114619   966  ...
             2026       4550         859  117853  116921   932  ...
             2029       4550         859  121388  120450   938  ...
             2032       4550         859  121713  120773   940  ...
             2035       4550         859  123720  122767   953  ...
...                      ...         ...     ...     ...   ...  ...
Vista        2029       4928         713  101464   99458  2006  ...
             2032       4928         713  102275  100263  2012  ...
             2035       4928         713  104034  101976  2058  ...
             2040       4928         713  105305  103261  2044  ...
             2050       4928         713  104240  102356  1884  ...

                   redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
jurisdiction year
Carlsbad     2022      48.981013     266.827288   2.975080  24.947334
             2026      21.651900     240.779409   1.212635  12.087944
             2029      15.077134     225.761543   0.000000  11.896798
             2032       9.245455     212.204984   0.000000   0.000000
             2035       1.491617     204.058286   0.000000   0.000000
...                          ...            ...        ...        ...
Vista        2029      90.628278     107.389934  10.431880   0.000000
             2032      90.226848     106.556701   4.910551   0.000000
             2035      89.908896     105.086247   0.000000   0.000000
             2040      85.889377     103.759234   0.000000   0.000000
             2050      85.889377      64.388351   0.000000   0.000000

                   infill_emp           dev         vac     unusable  vacancy  \
jurisdiction year
Carlsbad     2022  627.031082  18724.597352  845.282086  5471.912863     3113
             2026  595.960729  19054.612290  525.787043  5471.912863     3646
             2029  536.986770  19158.010274  422.389059  5471.912863     3924
             2032  479.737698  19170.574169  409.825165  5471.912863     3947
             2035  425.903764  19220.800147  359.599186  5471.912863     3767
...                       ...           ...         ...          ...      ...
Vista        2029  487.146471  11040.145603  333.059170   539.573510     1651
             2032  484.422395  11052.685378  320.519395   539.573510     1673
             2035  480.802577  11069.661065  303.543707   539.573510     1716
             2040  452.861250  11096.379180  276.825592   539.573510     2156
             2050  368.918526  11167.652975  205.551797   539.573510     3350

                   vacancy_rate
jurisdiction year
Carlsbad     2022      0.064714
             2026      0.071671
             2029      0.073854
             2032      0.073426
             2035      0.068551
...                         ...
Vista        2029      0.045942
             2032      0.045692
             2035      0.045676
             2040      0.055056
             2050      0.081576

[133 rows x 126 columns]

In [7]:
# consolidated files:
writer = pd.ExcelWriter(r'Data/mgra15_based_input_consolidated_{}.xlsx'.format(version), engine='xlsxwriter')
for geo, df in tqdm(geo_dfs.items()):
    display(df)
    df.reset_index().sort_values([geo, 'year']).to_excel(writer, sheet_name = '{}'.format(geo), index=False)
writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,,geotype,scenario,taz,luz,zip,pseudomsa,district27,pop,hhp,gq,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
mgra,year,,,,,,,,,,,,,,,,,,,,,
772,2022,mgra,0,4457,118,92021,5,13,6,6,0,...,0.0,0.0,0.0,0.000000,0.000000,1.586066,0.391226,0.0,0,0.000000
822,2022,mgra,0,36,161,92054,6,1,48,48,0,...,0.0,0.0,0.0,0.000000,0.000000,3.492520,0.539814,0.0,3,0.111111
836,2022,mgra,0,70,161,92054,6,1,49,49,0,...,0.0,0.0,0.0,0.278538,0.134806,4.100712,0.137066,0.0,3,0.107143
2308,2022,mgra,0,2640,8,92105,2,9,254,254,0,...,0.0,0.0,0.0,0.000000,0.000000,5.757694,0.157669,0.0,4,0.040000
2358,2022,mgra,0,959,33,92106,2,26,0,0,0,...,0.0,0.0,0.0,0.000000,0.000000,1.923376,0.000000,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22170,2050,mgra,0,4938,221,92004,8,14,15,15,0,...,0.0,0.0,0.0,0.000000,0.000000,548.006129,0.000000,0.0,14,0.608696
22172,2050,mgra,0,4890,221,92036,8,14,0,0,0,...,0.0,0.0,0.0,0.000000,0.000000,274.619237,0.000000,0.0,0,NaN
22206,2050,mgra,0,4905,224,92004,8,14,0,0,0,...,0.0,0.0,0.0,0.000000,0.000000,5.436640,0.000000,0.0,1,1.000000
22229,2050,mgra,0,4900,224,92004,8,14,0,0,0,...,0.0,0.0,0.0,0.000000,0.000000,7.733600,0.000000,0.0,3,1.000000
22263,2050,mgra,0,4917,224,92004,8,14,0,0,0,...,0.0,0.0,0.0,0.000000,0.000000,115.731283,0.000000,0.0,5,1.000000

 17%|█████████████▊                                                                     | 1/6 [03:16<16:24, 196.96s/it]

               geotype  scenario       taz      luz         zip  pseudomsa  \
region    year
San Diego 2022  region         0  61885698  2834354  2238859007     111419
          2026  region         0  61885698  2834354  2238859007     111419
          2029  region         0  61885698  2834354  2238859007     111419
          2032  region         0  61885698  2834354  2238859007     111419
          2035  region         0  61885698  2834354  2238859007     111419
          2040  region         0  61885698  2834354  2238859007     111419
          2050  region         0  61885698  2834354  2238859007     111419

                district27      pop      hhp      gq  ...  redev_emp_res  \
region    year                                        ...
San Diego 2022      232154  3287306  3170895  116411  ...    5751.485158
          2026      232154  3302237  3188816  113421  ...    3923.499753
          2029      232154  3334675  3220394  114281  ...    3686.796230
          2032      232154  3373033  3257421  115612  ...    3575.591472
          2035      232154  3404362  3287304  117058  ...    3404.907336
          2040      232154  3432211  3315776  116435  ...    3054.843543
          2050      232154  3400250  3285676  114574  ...    2902.186610

                redev_emp_emp    infill_sf   infill_mf   infill_emp  \
region    year
San Diego 2022    9816.537780  5077.680910  689.775228  8820.060976
          2026    9374.358484  3919.240695  457.586141  8654.583028
          2029    8979.347826  3729.214992  406.626178  8417.827502
          2032    8790.898273  3639.102629  354.508863  8217.821170
          2035    8128.687578  3312.415162  315.666382  7833.609627
          2040    7623.962261  3242.902270  223.030615  7515.209493
          2050    6827.913177  3002.764201  108.114246  6712.540908

                         dev           vac       unusable  vacancy  \
region    year
San Diego 2022  2.087814e+06  63080.562020  114791.146477    75170
          2026  2.100048e+06  51085.984387  114791.146477    85846
          2029  2.102949e+06  48186.029811  114791.146477    92735
          2032  2.105195e+06  45940.224893  114791.146477    94882
          2035  2.107488e+06  43648.218842  114791.146477    96868
          2040  2.109871e+06  41270.628084  114791.146477    99898
          2050  2.112782e+06  38364.859834  114791.146477   103918

                vacancy_rate
region    year
San Diego 2022      0.060835
          2026      0.066673
          2029      0.070253
          2032      0.070441
          2035      0.070558
          2040      0.070819
          2050      0.072242

[7 rows x 126 columns]

                        geotype  scenario     taz     luz       zip  \
jurisdiction year
Carlsbad     2022  jurisdiction         0  294881  126916  69743180
             2026  jurisdiction         0  294881  126916  69743180
             2029  jurisdiction         0  294881  126916  69743180
             2032  jurisdiction         0  294881  126916  69743180
             2035  jurisdiction         0  294881  126916  69743180
...                         ...       ...     ...     ...       ...
Vista        2029  jurisdiction         0  627759  135889  65655038
             2032  jurisdiction         0  627759  135889  65655038
             2035  jurisdiction         0  627759  135889  65655038
             2040  jurisdiction         0  627759  135889  65655038
             2050  jurisdiction         0  627759  135889  65655038

                   pseudomsa  district27     pop     hhp    gq  ...  \
jurisdiction year                                               ...
Carlsbad     2022       4550         859  115585  114619   966  ...
             2026       4550         859  117853  116921   932  ...
             2029       4550         859  121388  120450   938  ...
             2032       4550         859  121713  120773   940  ...
             2035       4550         859  123720  122767   953  ...
...                      ...         ...     ...     ...   ...  ...
Vista        2029       4928         713  101464   99458  2006  ...
             2032       4928         713  102275  100263  2012  ...
             2035       4928         713  104034  101976  2058  ...
             2040       4928         713  105305  103261  2044  ...
             2050       4928         713  104240  102356  1884  ...

                   redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
jurisdiction year
Carlsbad     2022      48.981013     266.827288   2.975080  24.947334
             2026      21.651900     240.779409   1.212635  12.087944
             2029      15.077134     225.761543   0.000000  11.896798
             2032       9.245455     212.204984   0.000000   0.000000
             2035       1.491617     204.058286   0.000000   0.000000
...                          ...            ...        ...        ...
Vista        2029      90.628278     107.389934  10.431880   0.000000
             2032      90.226848     106.556701   4.910551   0.000000
             2035      89.908896     105.086247   0.000000   0.000000
             2040      85.889377     103.759234   0.000000   0.000000
             2050      85.889377      64.388351   0.000000   0.000000

                   infill_emp           dev         vac     unusable  vacancy  \
jurisdiction year
Carlsbad     2022  627.031082  18724.597352  845.282086  5471.912863     3113
             2026  595.960729  19054.612290  525.787043  5471.912863     3646
             2029  536.986770  19158.010274  422.389059  5471.912863     3924
             2032  479.737698  19170.574169  409.825165  5471.912863     3947
             2035  425.903764  19220.800147  359.599186  5471.912863     3767
...                       ...           ...         ...          ...      ...
Vista        2029  487.146471  11040.145603  333.059170   539.573510     1651
             2032  484.422395  11052.685378  320.519395   539.573510     1673
             2035  480.802577  11069.661065  303.543707   539.573510     1716
             2040  452.861250  11096.379180  276.825592   539.573510     2156
             2050  368.918526  11167.652975  205.551797   539.573510     3350

                   vacancy_rate
jurisdiction year
Carlsbad     2022      0.064714
             2026      0.071671
             2029      0.073854
             2032      0.073426
             2035      0.068551
...                         ...
Vista        2029      0.045942
             2032      0.045692
             2035      0.045676
             2040      0.055056
             2050      0.081576

[133 rows x 126 columns]

 50%|██████████████████████████████████████████                                          | 3/6 [03:17<02:33, 51.16s/it]

          geotype  scenario       taz      luz        zip  pseudomsa  \
cpa  year
0    2022     cpa         0  19576400  1343072  831452093      47673
     2026     cpa         0  19576400  1343072  831452093      47673
     2029     cpa         0  19576400  1343072  831452093      47673
     2032     cpa         0  19576400  1343072  831452093      47673
     2035     cpa         0  19576400  1343072  831452093      47673
...           ...       ...       ...      ...        ...        ...
1999 2029     cpa         0     87662     2730    2574733         60
     2032     cpa         0     87662     2730    2574733         60
     2035     cpa         0     87662     2730    2574733         60
     2040     cpa         0     87662     2730    2574733         60
     2050     cpa         0     87662     2730    2574733         60

           district27      pop      hhp     gq  ...  redev_emp_emp  infill_sf  \
cpa  year                                       ...
0    2022       49808  1399346  1372115  27231  ...    1811.178538  70.521071
     2026       49808  1408743  1382603  26140  ...    1656.462977  32.317803
     2029       49808  1429371  1402892  26479  ...    1598.081783  25.820801
     2032       49808  1468671  1441306  27365  ...    1532.790983  13.344249
     2035       49808  1484959  1457044  27915  ...    1462.895553   5.048185
...               ...      ...      ...    ...  ...            ...        ...
1999 2029         274     3953     3953      0  ...      64.510573   3.665569
     2032         274     3922     3922      0  ...      64.306363   3.376429
     2035         274     3906     3906      0  ...      63.747221   2.764354
     2040         274     3828     3828      0  ...      62.987953   2.585990
     2050         274     3722     3722      0  ...      60.260785   2.235670

            infill_mf   infill_emp            dev           vac      unusable  \
cpa  year
0    2022  559.760262  4448.567459  177393.939588  14760.751056  31892.368304
     2026  388.410318  4325.568559  180359.009413  11871.831508  31892.368304
     2029  364.165256  4146.399781  181785.438970  10445.401951  31892.368304
     2032  329.520333  3993.609784  183071.107372   9158.312418  31892.368304
     2035  299.571229  3708.560637  183815.549825   8414.958660  31892.368304
...               ...          ...            ...           ...           ...
1999 2029    0.000000     0.000000     369.734594      5.536110      0.000000
     2032    0.000000     0.000000     369.734594      5.536110      0.000000
     2035    0.000000     0.000000     369.734594      5.536110      0.000000
     2040    0.000000     0.000000     369.734594      5.536110      0.000000
     2050    0.000000     0.000000     371.783771      3.486932      0.000000

           vacancy  vacancy_rate        cpa_name
cpa  year
0    2022    26057      0.051809      Not in CPA
     2026    29934      0.056963      Not in CPA
     2029    32772      0.060540      Not in CPA
     2032    33986      0.060615      Not in CPA
     2035    37921      0.065916      Not in CPA
...            ...           ...             ...
1999 2029       46      0.036249  County Islands
     2032       48      0.037588  County Islands
     2035       57      0.044049  County Islands
     2040       58      0.044684  County Islands
     2050       71      0.053951  County Islands

[616 rows x 127 columns]

 67%|████████████████████████████████████████████████████████                            | 4/6 [03:17<01:07, 33.68s/it]

         geotype  scenario     taz       zip  pseudomsa  district27    pop  \
luz year
1   2022     luz         0  221777  13631580        296        3996   7233
    2026     luz         0  221777  13631580        296        3996   7162
    2029     luz         0  221777  13631580        296        3996   7155
    2032     luz         0  221777  13631580        296        3996   7155
    2035     luz         0  221777  13631580        296        3996   7273
...          ...       ...     ...       ...        ...         ...    ...
245 2029     luz         0  169137   3588811        195         507  10565
    2032     luz         0  169137   3588811        195         507   9694
    2035     luz         0  169137   3588811        195         507   9676
    2040     luz         0  169137   3588811        195         507   9849
    2050     luz         0  169137   3588811        195         507  10289

            hhp  gq  gq_mil  ...  redev_emp_res  redev_emp_emp  infill_sf  \
luz year                     ...
1   2022   7191  42       0  ...       0.115001      17.192360   0.000000
    2026   7121  41       0  ...       0.000000      17.192360   0.000000
    2029   7114  41       0  ...       0.000000      17.192360   0.000000
    2032   7114  41       0  ...       0.000000      17.192360   0.000000
    2035   7231  42       0  ...       0.000000      17.192360   0.000000
...         ...  ..     ...  ...            ...            ...        ...
245 2029  10497  68       0  ...       3.840816      93.776818  93.047038
    2032   9625  69       0  ...       3.840816      92.615707  90.385080
    2035   9606  70       0  ...       0.369939      88.284980  80.604189
    2040   9780  69       0  ...       0.369939      84.820773  76.973511
    2050  10228  61       0  ...       0.000000      52.019728  59.161195

          infill_mf  infill_emp         dev        vac   unusable  vacancy  \
luz year
1   2022   0.000000    6.912115  876.825496  19.026480  59.487941      188
    2026   0.000000    6.912115  882.809483  14.190585  59.487941      211
    2029   0.000000    6.912115  882.809483  14.190585  59.487941      192
    2032   0.000000    6.912115  882.809483  14.190585  59.487941      179
    2035   0.000000    6.912115  882.809483  14.190585  59.487941      114
...             ...         ...         ...        ...        ...      ...
245 2029  22.499032    8.162603  689.161390  17.742480   0.000000      232
    2032   6.587490    8.162603  691.953903  14.949968   0.000000      713
    2035   0.000000    8.162603  694.461223  12.442648   0.000000      989
    2040   0.000000    8.162603  695.031630  11.872241   0.000000      893
    2050   0.000000    8.162603  698.477564   8.426307   0.000000      743

          vacancy_rate
luz year
1   2022      0.049292
    2026      0.054409
    2029      0.049446
    2032      0.045921
    2035      0.029096
...                ...
245 2029      0.057654
    2032      0.168717
    2035      0.218419
    2040      0.195619
    2050      0.158456

[1715 rows x 125 columns]

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [03:19<00:23, 23.12s/it]

          geotype  scenario   luz     zip  pseudomsa  district27   pop   hhp  \
taz  year
13   2022     taz         0   676  370071         24           4  4646  2859
     2026     taz         0   676  370071         24           4  4570  2816
     2029     taz         0   676  370071         24           4  4549  2788
     2032     taz         0   676  370071         24           4  4535  2760
     2035     taz         0   676  370071         24           4  4528  2741
...           ...       ...   ...     ...        ...         ...   ...   ...
4947 2029     taz         0  1808  735472         64         112     5     5
     2032     taz         0  1808  735472         64         112     0     0
     2035     taz         0  1808  735472         64         112     0     0
     2040     taz         0  1808  735472         64         112     0     0
     2050     taz         0  1808  735472         64         112     0     0

             gq  gq_mil  ...  redev_emp_res  redev_emp_emp  infill_sf  \
taz  year                ...
13   2022  1787    1787  ...            0.0            0.0        0.0
     2026  1754    1754  ...            0.0            0.0        0.0
     2029  1761    1761  ...            0.0            0.0        0.0
     2032  1775    1775  ...            0.0            0.0        0.0
     2035  1787    1787  ...            0.0            0.0        0.0
...         ...     ...  ...            ...            ...        ...
4947 2029     0       0  ...            0.0            0.0        0.0
     2032     0       0  ...            0.0            0.0        0.0
     2035     0       0  ...            0.0            0.0        0.0
     2040     0       0  ...            0.0            0.0        0.0
     2050     0       0  ...            0.0            0.0        0.0

           infill_mf  infill_emp          dev        vac  unusable  vacancy  \
taz  year
13   2022        0.0         0.0  4889.004243    0.00000       0.0       83
     2026        0.0         0.0  4889.004243    0.00000       0.0       66
     2029        0.0         0.0  4889.004243    0.00000       0.0       64
     2032        0.0         0.0  4889.004243    0.00000       0.0       63
     2035        0.0         0.0  4889.004243    0.00000       0.0       60
...              ...         ...          ...        ...       ...      ...
4947 2029        0.0         0.0   960.073851  270.55383       0.0        6
     2032        0.0         0.0   960.073851  270.55383       0.0        8
     2035        0.0         0.0   960.073851  270.55383       0.0        8
     2040        0.0         0.0   960.073851  270.55383       0.0        8
     2050        0.0         0.0   960.073851  270.55383       0.0        8

           vacancy_rate
taz  year
13   2022      0.083585
     2026      0.066465
     2029      0.064451
     2032      0.063444
     2035      0.060423
...                 ...
4947 2029      0.750000
     2032      1.000000
     2035      1.000000
     2040      1.000000
     2050      1.000000

[34545 rows x 125 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [03:56<00:00, 39.36s/it]

In [8]:
# write year data into excel
for year in tqdm(years):
    writer = pd.ExcelWriter(r'Data/{}/mgra15_based_input_{}_{}.xlsx'.format(year, year, version), engine='xlsxwriter')
    for geo, df in tqdm(geo_dfs.items()):
        output = df.reset_index()
        output = output[output['year'].isin([year])].reset_index(drop=True)
        if 'taz' in list(output.columns)and geo != 'taz':
            output = output.drop('taz', axis=1)
        if 'LUZ' in list(output.columns):
            output = output.drop('LUZ', axis=1)
        output.insert(1, 'geozone', output[geo])
        display(output)
        output.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/7 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,772,772,2022,mgra,0,118,92021,5,13,6,...,0.0,0.0,0.0,0.000000,0.000000,1.586066,0.391226,0.000000,0,0.000000
1,822,822,2022,mgra,0,161,92054,6,1,48,...,0.0,0.0,0.0,0.000000,0.000000,3.492520,0.539814,0.000000,3,0.111111
2,836,836,2022,mgra,0,161,92054,6,1,49,...,0.0,0.0,0.0,0.278538,0.134806,4.100712,0.137066,0.000000,3,0.107143
3,2308,2308,2022,mgra,0,8,92105,2,9,254,...,0.0,0.0,0.0,0.000000,0.000000,5.757694,0.157669,0.000000,4,0.040000
4,2358,2358,2022,mgra,0,33,92106,2,26,0,...,0.0,0.0,0.0,0.000000,0.000000,1.923376,0.000000,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,3820,3820,2022,mgra,0,85,91913,4,12,435,...,0.0,0.0,0.0,0.000000,0.000000,19.227201,0.000000,0.000000,0,0.000000
24317,3825,3825,2022,mgra,0,19,91910,4,12,435,...,0.0,0.0,0.0,0.000000,0.000000,27.287517,0.000000,0.000000,2,0.014085
24318,3702,3702,2022,mgra,0,58,92129,3,4,307,...,0.0,0.0,0.0,0.000000,0.000000,24.154122,2.508526,30.232698,3,0.026786
24319,3804,3804,2022,mgra,0,90,92154,4,11,143,...,0.0,0.0,0.0,0.000000,0.398702,3.433450,0.822900,0.000000,0,0.000000
24320,3838,3838,2022,mgra,0,171,92028,7,1,69,...,0.0,0.0,0.0,0.000000,0.000000,614.594512,0.000000,3.906071,4,0.129032

 17%|██████████████                                                                      | 1/6 [00:26<02:11, 26.29s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2022,region,0,2834354,2238859007,111419,232154,3287306,...,5751.485158,9816.53778,5077.68091,689.775228,8820.060976,2.087814e+06,63080.56202,114791.146477,75170,0.060835

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2022,jurisdiction,0,126916,69743180,4550,859,115585,...,48.981013,266.827288,2.975080,24.947334,627.031082,1.872460e+04,845.282086,5471.912863,3113,0.064714
1,Chula Vista,Chula Vista,2022,jurisdiction,0,112956,98805269,4299,12401,276785,...,245.136647,319.726038,0.503478,8.292870,499.112329,2.774602e+04,2730.834133,3057.663242,2731,0.030984
2,Coronado,Coronado,2022,jurisdiction,0,23634,20542192,446,2243,22277,...,2.190672,122.140115,9.515815,0.508823,26.040527,9.757778e+03,24.952730,309.573962,2210,0.228660
3,Del Mar,Del Mar,2022,jurisdiction,0,2904,6072924,198,148,3929,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.000006e+03,33.310773,102.908124,655,0.249144
4,El Cajon,El Cajon,2022,jurisdiction,0,82262,54107791,2940,7644,105638,...,23.834850,63.628054,2.520019,4.246081,376.072664,8.846823e+03,272.873824,155.789973,1194,0.032632
5,Encinitas,Encinitas,2022,jurisdiction,0,123345,75548908,4926,1642,61515,...,9.670661,52.607779,1.557644,0.000000,162.988627,9.839521e+03,426.629127,2246.207532,2068,0.077555
6,Escondido,Escondido,2022,jurisdiction,0,192371,86504804,6580,2820,150679,...,64.587804,129.064203,5.776852,0.000000,560.361195,1.724417e+04,1665.539483,5034.396925,1810,0.036566
7,Imperial Beach,Imperial Beach,2022,jurisdiction,0,29492,13973664,608,1672,26243,...,3.533559,46.196002,0.130431,0.000000,10.468602,1.733914e+03,11.617292,1063.725145,714,0.071158
8,La Mesa,La Mesa,2022,jurisdiction,0,51501,43120619,2345,4066,60472,...,12.180635,6.519877,0.527566,0.000000,142.468202,5.676175e+03,122.549718,3.244729,1229,0.046792
9,Lemon Grove,Lemon Grove,2022,jurisdiction,0,11559,16550100,879,1806,27242,...,12.998008,1.001917,1.646096,0.000000,34.942079,2.384757e+03,63.252898,0.048723,337,0.036686
10,National City,National City,2022,jurisdiction,0,52689,46895144,1044,5133,61471,...,4.889825,89.420318,8.272100,0.064160,31.126023,5.087032e+03,55.545936,0.000000,881,0.049561
11,Oceanside,Oceanside,2022,jurisdiction,0,179868,100708715,6590,1094,173048,...,65.722963,114.087649,2.767024,495.581022,470.892380,2.344535e+04,1259.168503,2259.142826,4359,0.064410
12,Poway,Poway,2022,jurisdiction,0,67702,45939936,1505,2036,48759,...,84.301294,142.815016,2.664571,0.000000,395.239469,1.412842e+04,2844.053619,8051.681044,491,0.029258
13,San Diego,San Diego,2022,jurisdiction,0,419898,812536173,23002,116457,1374790,...,449.039142,2983.990353,4.864501,23.776451,4103.107238,1.603830e+05,7490.753659,45381.258278,37507,0.067712
14,San Marcos,San Marcos,2022,jurisdiction,0,86461,42814064,3240,1276,93585,...,75.850437,220.010465,1.454013,3.652740,363.534391,1.163198e+04,1848.293928,2197.610234,1481,0.045832
15,Santee,Santee,2022,jurisdiction,0,35795,27529226,1491,3887,59015,...,67.200329,105.964332,3.948196,8.881538,208.044283,7.259500e+03,1931.600476,1359.100757,593,0.027675
16,Solana Beach,Solana Beach,2022,jurisdiction,0,27728,16940519,1104,368,12812,...,0.000000,8.432804,0.000000,12.909627,49.210524,2.105030e+03,34.897685,39.788713,942,0.144301
17,Unincorporated,Unincorporated,2022,jurisdiction,0,1071384,594870741,40744,65889,513170,...,4469.218249,5021.368889,5002.295338,106.238515,268.386279,1.750037e+06,40829.057304,37517.519896,11606,0.064920
18,Vista,Vista,2022,jurisdiction,0,135889,65655038,4928,713,100291,...,109.106870,112.751293,26.262185,0.676065,490.656296,1.078286e+04,590.348846,539.573510,1249,0.037103

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2022,cpa,0,1343072,831452093,47673,49808,1399346,...,1811.178538,70.521071,559.760262,4448.567459,177393.939588,14760.751056,31892.368304,26057,0.051809,Not in CPA
1,1401,1401,2022,cpa,0,841,2670998,58,270,413,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,13,1.000000,Balboa Park
2,1402,1402,2022,cpa,0,1291,5158328,112,715,3885,...,15.106046,0.000000,0.184453,30.680444,543.771543,28.265844,0.013872,137,0.105223,Barrio Logan
3,1403,1403,2022,cpa,0,9179,6172576,201,268,12297,...,26.656978,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,142,0.028013,Carmel Mountain Ranch
4,1404,1404,2022,cpa,0,9564,31498626,366,5163,47896,...,125.379222,0.000000,0.315358,75.938618,1346.655893,102.109386,0.043054,4753,0.145347,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2022,cpa,0,88160,47302443,3585,1398,47915,...,14.580239,0.455450,4.955533,0.000000,25611.194560,24.602626,5896.458971,850,0.049358,Fallbrook
84,1954,1954,2022,cpa,0,8180,4328274,288,47,38593,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,626,0.082706,Pendleton-De Luz
85,1955,1955,2022,cpa,0,18725,9846996,749,1381,1832,...,0.000000,0.000000,0.000000,0.000000,5359.601178,7.396269,589.345390,70,0.092470,Rainbow
86,1998,1998,2022,cpa,0,895,644305,35,98,906,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2022,cpa,0,2730,2574733,60,274,2321,...,64.837661,7.134582,0.000000,0.000000,363.400941,11.869762,0.000000,27,0.042122,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:26<00:10,  5.03s/it]

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2022,luz,0,13631580,296,3996,7233,7191,...,0.115001,17.192360,0.0000,0.000000,6.912115,876.825496,19.026480,59.487941,188,0.049292
1,2,2,2022,luz,0,20999350,456,6156,16976,16214,...,4.279503,0.792277,0.0000,0.119559,2.962959,865.605297,23.030692,22.277557,687,0.065348
2,3,3,2022,luz,0,12802577,278,2404,17463,16861,...,1.587928,2.121930,0.0000,0.201197,11.232897,1009.038857,22.518109,68.672775,1073,0.097466
3,4,4,2022,luz,0,22842392,496,1984,37208,37082,...,0.717252,3.794533,0.0000,0.318025,4.325681,1456.939137,19.335683,5.674370,1570,0.069038
4,5,5,2022,luz,0,11881946,386,875,26164,25909,...,8.741723,80.530455,0.0000,0.000000,219.360056,2708.425978,425.670497,84.335003,1399,0.094892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2022,luz,0,10129220,770,110,12467,12304,...,6.892834,4.796117,0.0000,0.000000,9.500615,1673.125502,121.683093,28.649474,88,0.021820
241,242,242,2022,luz,0,1472592,48,267,2457,2457,...,0.000000,34.226770,0.0000,0.000000,36.880099,387.804901,27.248322,0.000000,268,0.192253
242,243,243,2022,luz,0,2487267,81,432,1670,1670,...,0.000000,60.211690,0.0000,0.000000,74.380437,788.405251,37.026398,71.734428,43,0.056356
243,244,244,2022,luz,0,4145477,135,720,9611,9611,...,0.000000,9.687128,0.0000,0.000000,68.406062,665.911576,14.194654,19.166255,730,0.144297
244,245,245,2022,luz,0,3588811,195,507,10666,10591,...,4.942118,95.293554,100.3021,29.730329,8.162603,686.080143,20.453789,0.000000,49,0.013179

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2022,taz,0,676,370071,24,4,4646,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,83,0.083585
1,14,14,2022,taz,0,1521,828495,54,9,2079,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,19,0.075697
2,15,15,2022,taz,0,720,276165,18,3,4417,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2022,taz,0,483,276162,18,3,38,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,43,0.641791
4,17,17,2022,taz,0,2873,1564935,102,17,11361,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,128,0.079652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2022,taz,0,1350,552235,48,84,49,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,50,0.641026
4931,4944,4944,2022,taz,0,904,367736,32,56,367,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,16,0.099379
4932,4945,4945,2022,taz,0,452,183868,16,28,0,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2022,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2022,taz,0,1808,735472,64,112,16,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,2,0.250000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:31<00:00,  5.33s/it]
 14%|████████████                                                                        | 1/7 [00:54<05:29, 54.99s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1066,1066,2026,mgra,0,67,92110,3,23,24,...,0.0,0.0,0.0,0.0,0.000000,4.812648,0.000000,0.000000,2,0.166667
1,1802,1802,2026,mgra,0,28,92101,1,15,0,...,0.0,0.0,0.0,0.0,1.658937,1.658937,0.000000,0.000000,0,NaN
2,1052,1052,2026,mgra,0,96,91950,2,10,36,...,0.0,0.0,0.0,0.0,0.000000,2.344121,0.000000,0.000000,2,0.153846
3,1024,1024,2026,mgra,0,234,92106,2,26,149,...,0.0,0.0,0.0,0.0,0.000000,4.907733,3.105858,0.000000,4,0.066667
4,1032,1032,2026,mgra,0,55,92126,3,4,0,...,0.0,0.0,0.0,0.0,0.911417,3.296175,0.912689,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,12463,12463,2026,mgra,0,76,92020,5,13,59,...,0.0,0.0,0.0,0.0,0.000000,20.209314,1.613469,2.108245,1,0.040000
24317,19846,19846,2026,mgra,0,200,92026,7,3,45,...,0.0,0.0,0.0,0.0,0.000000,10.485130,0.513685,0.000000,3,0.157895
24318,17130,17130,2026,mgra,0,174,92028,7,1,74,...,0.0,0.0,0.0,0.0,0.000000,40.862426,0.000000,1.087686,2,0.062500
24319,12250,12250,2026,mgra,0,104,91977,5,12,169,...,0.0,0.0,0.0,0.0,0.000000,43.378036,0.000000,0.000000,0,0.000000
24320,12434,12434,2026,mgra,0,109,91942,5,13,273,...,0.0,0.0,0.0,0.0,0.000000,5.292109,0.000000,0.000000,5,0.045455

 17%|██████████████                                                                      | 1/6 [00:33<02:46, 33.22s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2026,region,0,2834354,2238859007,111419,232154,3302237,...,3923.499753,9374.358484,3919.240695,457.586141,8654.583028,2.100048e+06,51085.984387,114791.146477,85846,0.066673

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2026,jurisdiction,0,126916,69743180,4550,859,117853,...,21.651900,240.779409,1.212635,12.087944,595.960729,1.905461e+04,525.787043,5471.912863,3646,0.071671
1,Chula Vista,Chula Vista,2026,jurisdiction,0,112956,98805269,4299,12401,276635,...,241.879705,267.905154,0.503478,8.096730,459.438280,2.826094e+04,2225.368781,3057.663242,3114,0.034070
2,Coronado,Coronado,2026,jurisdiction,0,23634,20542192,446,2243,21764,...,0.562837,120.891159,0.000000,0.154263,25.578237,9.763450e+03,22.734401,309.573962,2343,0.237194
3,Del Mar,Del Mar,2026,jurisdiction,0,2904,6072924,198,148,3870,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.010806e+03,23.149503,102.908124,728,0.268239
4,El Cajon,El Cajon,2026,jurisdiction,0,82262,54107791,2940,7644,105004,...,21.145268,62.254038,2.094474,4.210981,375.300705,8.867674e+03,253.674273,155.789973,1369,0.036313
5,Encinitas,Encinitas,2026,jurisdiction,0,123345,75548908,4926,1642,61948,...,7.184280,52.607779,0.482288,0.000000,162.988627,9.969639e+03,305.058269,2246.207532,2379,0.085483
6,Escondido,Escondido,2026,jurisdiction,0,192371,86504804,6580,2820,153559,...,61.572514,126.642117,3.895098,0.000000,544.237544,1.770621e+04,1203.902296,5034.396925,2094,0.039953
7,Imperial Beach,Imperial Beach,2026,jurisdiction,0,29492,13973664,608,1672,25905,...,0.286962,44.892906,0.000000,0.000000,10.072139,1.738889e+03,8.797965,1063.725145,838,0.081194
8,La Mesa,La Mesa,2026,jurisdiction,0,51501,43120619,2345,4066,59545,...,11.022625,6.519877,0.527566,0.000000,142.468202,5.690807e+03,112.919362,3.244729,1388,0.051973
9,Lemon Grove,Lemon Grove,2026,jurisdiction,0,11559,16550100,879,1806,27476,...,6.490910,0.924410,1.308009,0.000000,34.410389,2.402658e+03,46.261378,0.048723,389,0.040449
10,National City,National City,2026,jurisdiction,0,52689,46895144,1044,5133,61590,...,4.085252,89.420318,4.995044,0.064160,30.994771,5.102192e+03,46.471945,0.000000,1024,0.055092
11,Oceanside,Oceanside,2026,jurisdiction,0,179868,100708715,6590,1094,173336,...,52.284308,110.327482,2.434662,353.992124,444.991609,2.373081e+04,992.200962,2259.142826,5119,0.072627
12,Poway,Poway,2026,jurisdiction,0,67702,45939936,1505,2036,49744,...,70.519967,141.191266,0.000000,0.000000,395.239469,1.456356e+04,2408.918343,8051.681044,581,0.032703
13,San Diego,San Diego,2026,jurisdiction,0,419898,812536173,23002,116457,1380609,...,358.463978,2938.796728,0.427106,17.481247,4061.608835,1.613224e+05,6697.475856,45381.258278,43277,0.075035
14,San Marcos,San Marcos,2026,jurisdiction,0,86461,42814064,3240,1276,95175,...,54.875721,209.276797,1.454013,3.652740,360.345942,1.183909e+04,1646.201214,2197.610234,1680,0.049264
15,Santee,Santee,2026,jurisdiction,0,35795,27529226,1491,3887,60908,...,49.717985,56.512608,0.000000,5.475310,206.323800,7.587933e+03,1603.167330,1359.100757,688,0.030090
16,Solana Beach,Solana Beach,2026,jurisdiction,0,27728,16940519,1104,368,13050,...,0.000000,8.111984,0.000000,0.000000,49.210524,2.129976e+03,13.782071,39.788713,1140,0.163652
17,Unincorporated,Unincorporated,2026,jurisdiction,0,1071384,594870741,40744,65889,512885,...,2863.531725,4779.098779,3886.495786,51.694576,267.405633,1.758366e+06,32516.677024,37517.519896,12635,0.068181
18,Vista,Vista,2026,jurisdiction,0,135889,65655038,4928,713,101381,...,95.181620,108.220286,13.410536,0.676065,487.628805,1.093977e+04,433.436370,539.573510,1414,0.040082

 50%|██████████████████████████████████████████                                          | 3/6 [00:33<00:25,  8.66s/it]

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2026,cpa,0,1343072,831452093,47673,49808,1408743,...,1656.462977,32.317803,388.410318,4325.568559,180359.009413,11871.831508,31892.368304,29934,0.056963,Not in CPA
1,1401,1401,2026,cpa,0,841,2670998,58,270,409,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,1,0.076923,Balboa Park
2,1402,1402,2026,cpa,0,1291,5158328,112,715,4185,...,15.106046,0.000000,0.184453,30.680444,548.279774,27.701280,0.013872,181,0.120908,Barrio Logan
3,1403,1403,2026,cpa,0,9179,6172576,201,268,14740,...,26.182990,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,188,0.029989,Carmel Mountain Ranch
4,1404,1404,2026,cpa,0,9564,31498626,366,5163,51062,...,114.827874,0.000000,0.117746,74.404634,1421.811396,89.387123,0.043054,5923,0.162421,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2026,cpa,0,88160,47302443,3585,1398,48618,...,0.000000,0.000000,3.835057,0.000000,25635.679158,4.822381,5896.458971,930,0.051615,Fallbrook
84,1954,1954,2026,cpa,0,8180,4328274,288,47,37557,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,634,0.083763,Pendleton-De Luz
85,1955,1955,2026,cpa,0,18725,9846996,749,1381,1780,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,71,0.093668,Rainbow
86,1998,1998,2026,cpa,0,895,644305,35,98,876,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2026,cpa,0,2730,2574733,60,274,3987,...,64.697480,3.954709,0.000000,0.000000,369.734594,5.536110,0.000000,43,0.034154,County Islands

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2026,luz,0,13631580,296,3996,7162,7121,...,0.000000,17.192360,0.000000,0.000000,6.912115,882.809483,14.190585,59.487941,211,0.054409
1,2,2,2026,luz,0,20999350,456,6156,16841,16110,...,3.979863,0.792277,0.000000,0.119559,2.962959,874.453568,17.656706,22.277557,775,0.072362
2,3,3,2026,luz,0,12802577,278,2404,17362,16797,...,1.587928,2.121930,0.000000,0.201197,11.232897,1017.690806,19.681007,68.672775,1230,0.108773
3,4,4,2026,luz,0,22842392,496,1984,38254,38155,...,0.567818,2.149742,0.000000,0.160697,4.004052,1476.985925,14.723005,5.674370,1840,0.076565
4,5,5,2026,luz,0,11881946,386,875,27148,26904,...,7.112804,80.530455,0.000000,0.000000,219.360056,2714.143373,419.953102,84.335003,1673,0.105766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2026,luz,0,10129220,770,110,12972,12832,...,5.964455,4.796117,0.000000,0.000000,9.500615,1687.647406,107.161189,28.649474,107,0.024536
241,242,242,2026,luz,0,1472592,48,267,2400,2400,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,268,0.192253
242,243,243,2026,luz,0,2487267,81,432,1629,1629,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,43,0.056356
243,244,244,2026,luz,0,4145477,135,720,9692,9692,...,0.000000,9.687128,0.000000,0.000000,68.406062,669.673891,10.432339,19.166255,857,0.160879
244,245,245,2026,luz,0,3588811,195,507,10801,10734,...,3.840816,94.573104,95.679684,25.866620,8.162603,687.771656,19.132214,0.000000,48,0.012362

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:34<00:04,  4.39s/it]

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2026,taz,0,676,370071,24,4,4570,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,66,0.066465
1,14,14,2026,taz,0,1521,828495,54,9,1734,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,115,0.458167
2,15,15,2026,taz,0,720,276165,18,3,4269,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2026,taz,0,483,276162,18,3,84,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,14,0.208955
4,17,17,2026,taz,0,2873,1564935,102,17,10797,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,241,0.149969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2026,taz,0,1350,552235,48,84,56,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,46,0.589744
4931,4944,4944,2026,taz,0,904,367736,32,56,384,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,6,0.037037
4932,4945,4945,2026,taz,0,452,183868,16,28,0,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2026,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2026,taz,0,1808,735472,64,112,7,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:39<00:00,  6.60s/it]
 29%|████████████████████████                                                            | 2/7 [01:56<04:53, 58.69s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,521,521,2029,mgra,0,67,92110,3,23,28,...,0.0,0.0,0.0,0.0,0.0,2.297648,0.000000,0.0,1,0.076923
1,513,513,2029,mgra,0,42,92037,3,18,148,...,0.0,0.0,0.0,0.0,0.0,36.666508,0.000000,0.0,8,0.100000
2,525,525,2029,mgra,0,16,91977,2,10,124,...,0.0,0.0,0.0,0.0,0.0,8.407592,0.000000,0.0,1,0.026316
3,540,540,2029,mgra,0,117,92071,5,13,47,...,0.0,0.0,0.0,0.0,0.0,4.401737,0.250610,0.0,4,0.173913
4,534,534,2029,mgra,0,67,92117,3,23,115,...,0.0,0.0,0.0,0.0,0.0,8.637052,0.054255,0.0,1,0.020000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,21427,21427,2029,mgra,0,183,92536,8,14,3,...,0.0,0.0,0.0,0.0,0.0,142.614733,0.000000,0.0,1,0.500000
24317,21398,21398,2029,mgra,0,219,91948,8,14,90,...,0.0,0.0,0.0,0.0,0.0,3186.307002,0.000000,0.0,21,0.375000
24318,17892,17892,2029,mgra,0,185,92084,7,1,186,...,0.0,0.0,0.0,0.0,0.0,20.142161,0.171912,0.0,2,0.040000
24319,21436,21436,2029,mgra,0,183,92536,8,14,3,...,0.0,0.0,0.0,0.0,0.0,370.693502,0.000000,0.0,3,0.750000
24320,21434,21434,2029,mgra,0,183,92060,8,14,0,...,0.0,0.0,0.0,0.0,0.0,1689.392298,3.106803,0.0,3,1.000000

 17%|██████████████                                                                      | 1/6 [00:30<02:30, 30.07s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2029,region,0,2834354,2238859007,111419,232154,3334675,...,3686.79623,8979.347826,3729.214992,406.626178,8417.827502,2.102949e+06,48186.029811,114791.146477,92735,0.070253

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2029,jurisdiction,0,126916,69743180,4550,859,121388,...,15.077134,225.761543,0.000000,11.896798,536.986770,1.915801e+04,422.389059,5471.912863,3924,0.073854
1,Chula Vista,Chula Vista,2029,jurisdiction,0,112956,98805269,4299,12401,277648,...,238.075725,248.264616,0.503478,7.988511,404.265778,2.857404e+04,1912.271477,3057.663242,3911,0.041803
2,Coronado,Coronado,2029,jurisdiction,0,23634,20542192,446,2243,21798,...,0.000000,120.362924,0.000000,0.000000,25.578237,9.767428e+03,18.756269,309.573962,2348,0.236336
3,Del Mar,Del Mar,2029,jurisdiction,0,2904,6072924,198,148,3865,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.021011e+03,12.943845,102.908124,739,0.270004
4,El Cajon,El Cajon,2029,jurisdiction,0,82262,54107791,2940,7644,105630,...,6.242684,61.852979,1.810778,0.296384,373.405603,8.874777e+03,246.571376,155.789973,1647,0.042691
5,Encinitas,Encinitas,2029,jurisdiction,0,123345,75548908,4926,1642,63366,...,4.876553,52.607779,0.482288,0.000000,162.988627,1.003410e+04,240.596241,2246.207532,2569,0.088979
6,Escondido,Escondido,2029,jurisdiction,0,192371,86504804,6580,2820,160018,...,28.413849,121.567020,3.424659,0.000000,528.786043,1.779268e+04,1117.435443,5034.396925,1966,0.035707
7,Imperial Beach,Imperial Beach,2029,jurisdiction,0,29492,13973664,608,1672,26301,...,0.286962,44.892906,0.000000,0.000000,9.622096,1.739784e+03,7.903360,1063.725145,788,0.074884
8,La Mesa,La Mesa,2029,jurisdiction,0,51501,43120619,2345,4066,60492,...,9.817487,6.519877,0.527566,0.000000,142.468202,5.706558e+03,97.168505,3.244729,1306,0.047921
9,Lemon Grove,Lemon Grove,2029,jurisdiction,0,11559,16550100,879,1806,27283,...,5.881057,0.924410,1.138965,0.000000,31.934743,2.409684e+03,39.235145,0.048723,666,0.067056
10,National City,National City,2029,jurisdiction,0,52689,46895144,1044,5133,62620,...,2.286741,89.420318,3.705752,0.064160,30.994771,5.104402e+03,44.261932,0.000000,973,0.050993
11,Oceanside,Oceanside,2029,jurisdiction,0,179868,100708715,6590,1094,177354,...,17.494336,104.708508,2.341421,335.222904,406.610953,2.388272e+04,840.292626,2259.142826,5339,0.073279
12,Poway,Poway,2029,jurisdiction,0,67702,45939936,1505,2036,49491,...,69.054163,138.262027,0.000000,0.000000,391.412387,1.465783e+04,2314.645067,8051.681044,567,0.031763
13,San Diego,San Diego,2029,jurisdiction,0,419898,812536173,23002,116457,1395439,...,316.911884,2842.216323,0.413670,16.894113,4006.850530,1.617456e+05,6274.282721,45381.258278,45534,0.077077
14,San Marcos,San Marcos,2029,jurisdiction,0,86461,42814064,3240,1276,96561,...,26.427272,208.469530,1.454013,3.652740,358.774274,1.216663e+04,1318.658902,2197.610234,2086,0.058970
15,Santee,Santee,2029,jurisdiction,0,35795,27529226,1491,3887,61070,...,47.098284,49.006775,0.000000,5.043758,205.835515,7.724400e+03,1466.700845,1359.100757,1037,0.044081
16,Solana Beach,Solana Beach,2029,jurisdiction,0,27728,16940519,1104,368,13022,...,0.000000,8.085249,0.000000,0.000000,49.210524,2.131245e+03,12.512690,39.788713,1255,0.176289
17,Unincorporated,Unincorporated,2029,jurisdiction,0,1071384,594870741,40744,65889,509865,...,2805.181622,4539.049720,3702.980521,25.566809,264.577192,1.759418e+06,31466.345139,37517.519896,14429,0.076782
18,Vista,Vista,2029,jurisdiction,0,135889,65655038,4928,713,101464,...,90.628278,107.389934,10.431880,0.000000,487.146471,1.104015e+04,333.059170,539.573510,1651,0.045942

 50%|██████████████████████████████████████████                                          | 3/6 [00:30<00:23,  7.84s/it]

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2029,cpa,0,1343072,831452093,47673,49808,1429371,...,1598.081783,25.820801,364.165256,4146.399781,181785.438970,10445.401951,31892.368304,32772,0.060540,Not in CPA
1,1401,1401,2029,cpa,0,841,2670998,58,270,383,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,13,1.000000,Balboa Park
2,1402,1402,2029,cpa,0,1291,5158328,112,715,4591,...,15.106046,0.000000,0.184453,30.680444,549.204432,26.776621,0.013872,180,0.108434,Barrio Logan
3,1403,1403,2029,cpa,0,9179,6172576,201,268,14690,...,24.746437,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,152,0.024246,Carmel Mountain Ranch
4,1404,1404,2029,cpa,0,9564,31498626,366,5163,51711,...,114.827874,0.000000,0.117746,73.023702,1429.425808,81.772711,0.043054,5979,0.161094,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2029,cpa,0,88160,47302443,3585,1398,48317,...,0.000000,0.000000,3.067777,0.000000,25639.134357,2.951009,5896.458971,1347,0.072744,Fallbrook
84,1954,1954,2029,cpa,0,8180,4328274,288,47,37448,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,616,0.081374,Pendleton-De Luz
85,1955,1955,2029,cpa,0,18725,9846996,749,1381,1777,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,66,0.086957,Rainbow
86,1998,1998,2029,cpa,0,895,644305,35,98,869,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,0,0.000000,Barona
87,1999,1999,2029,cpa,0,2730,2574733,60,274,3953,...,64.510573,3.665569,0.000000,0.000000,369.734594,5.536110,0.000000,46,0.036249,County Islands

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2029,luz,0,13631580,296,3996,7155,7114,...,0.000000,17.192360,0.000000,0.000000,6.912115,882.809483,14.190585,59.487941,192,0.049446
1,2,2,2029,luz,0,20999350,456,6156,16906,16167,...,3.979863,0.792277,0.000000,0.119559,2.962959,874.470195,17.640079,22.277557,702,0.065406
2,3,3,2029,luz,0,12802577,278,2404,17435,16860,...,1.587928,2.121930,0.000000,0.201197,11.100265,1017.717666,19.654147,68.672775,1157,0.102055
3,4,4,2029,luz,0,22842392,496,1984,38378,38272,...,0.567818,2.149742,0.000000,0.160697,4.004052,1477.029280,14.679650,5.674370,1637,0.068089
4,5,5,2029,luz,0,11881946,386,875,34466,34220,...,7.112804,80.530455,0.000000,0.000000,219.360056,2897.424755,236.671720,84.335003,2037,0.101042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2029,luz,0,10129220,770,110,12908,12762,...,4.420950,4.796117,0.000000,0.000000,9.500615,1744.990632,49.817962,28.649474,284,0.062199
241,242,242,2029,luz,0,1472592,48,267,2412,2412,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,253,0.181492
242,243,243,2029,luz,0,2487267,81,432,1637,1637,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,33,0.043250
243,244,244,2029,luz,0,4145477,135,720,9725,9725,...,0.000000,9.687128,0.000000,0.000000,68.406062,674.435744,5.670487,19.166255,1195,0.208989
244,245,245,2029,luz,0,3588811,195,507,10565,10497,...,3.840816,93.776818,93.047038,22.499032,8.162603,689.161390,17.742480,0.000000,232,0.057654

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:30<00:03,  3.97s/it]

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2029,taz,0,676,370071,24,4,4549,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,64,0.064451
1,14,14,2029,taz,0,1521,828495,54,9,1743,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,113,0.450199
2,15,15,2029,taz,0,720,276165,18,3,4293,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,23,0.076159
3,16,16,2029,taz,0,483,276162,18,3,80,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,17,0.253731
4,17,17,2029,taz,0,2873,1564935,102,17,10791,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,234,0.145613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2029,taz,0,1350,552235,48,84,58,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,45,0.576923
4931,4944,4944,2029,taz,0,904,367736,32,56,383,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,6,0.036810
4932,4945,4945,2029,taz,0,452,183868,16,28,0,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2029,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2029,taz,0,1808,735472,64,112,5,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,6,0.750000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:37<00:00,  6.21s/it]
 43%|████████████████████████████████████                                                | 3/7 [02:52<03:50, 57.57s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,630,630,2032,mgra,0,15,92114,5,10,381,...,0.0,0.0,0.0,0.0,0.0,31.150699,0.000000,0.000000,2,0.016807
1,634,634,2032,mgra,0,96,91950,2,10,7,...,0.0,0.0,0.0,0.0,0.0,2.018944,0.000000,0.000000,4,0.666667
2,651,651,2032,mgra,0,3,92103,2,8,365,...,0.0,0.0,0.0,0.0,0.0,6.327610,0.000000,0.000000,10,0.044444
3,666,666,2032,mgra,0,28,92101,1,15,0,...,0.0,0.0,0.0,0.0,0.0,2.775740,0.000000,0.000000,0,NaN
4,4142,4142,2032,mgra,0,132,92064,3,4,184,...,0.0,0.0,0.0,0.0,0.0,40.728835,0.000000,0.000000,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,18092,18092,2032,mgra,0,176,92082,7,14,0,...,0.0,0.0,0.0,0.0,0.0,132.888903,0.000000,0.000000,0,NaN
24317,18126,18126,2032,mgra,0,186,92084,7,1,27,...,0.0,0.0,0.0,0.0,0.0,5.704381,1.672955,0.000000,1,0.100000
24318,18127,18127,2032,mgra,0,167,92084,7,1,16,...,0.0,0.0,0.0,0.0,0.0,8.031718,0.000000,4.632859,1,0.142857
24319,18028,18028,2032,mgra,0,178,92082,7,14,3,...,0.0,0.0,0.0,0.0,0.0,20.851392,0.000000,16.390153,2,0.666667
24320,18137,18137,2032,mgra,0,185,92084,7,1,262,...,0.0,0.0,0.0,0.0,0.0,10.246510,1.234115,0.000000,21,0.192661

 17%|██████████████                                                                      | 1/6 [00:27<02:16, 27.33s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2032,region,0,2834354,2238859007,111419,232154,3373033,...,3575.591472,8790.898273,3639.102629,354.508863,8217.82117,2.105195e+06,45940.224893,114791.146477,94882,0.070441

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2032,jurisdiction,0,126916,69743180,4550,859,121713,...,9.245455,212.204984,0.000000,0.000000,479.737698,1.917057e+04,409.825165,5471.912863,3947,0.073426
1,Chula Vista,Chula Vista,2032,jurisdiction,0,112956,98805269,4299,12401,290626,...,235.802846,243.989977,0.000000,7.853238,362.344754,2.882857e+04,1657.742574,3057.663242,3893,0.039555
2,Coronado,Coronado,2032,jurisdiction,0,23634,20542192,446,2243,21909,...,0.000000,119.184366,0.000000,0.000000,25.578237,9.767529e+03,18.655445,309.573962,2280,0.229492
3,Del Mar,Del Mar,2032,jurisdiction,0,2904,6072924,198,148,3882,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.021550e+03,12.405413,102.908124,723,0.263388
4,El Cajon,El Cajon,2032,jurisdiction,0,82262,54107791,2940,7644,106477,...,3.126639,45.533761,1.598006,0.261283,369.480483,8.879397e+03,241.950706,155.789973,1513,0.038663
5,Encinitas,Encinitas,2032,jurisdiction,0,123345,75548908,4926,1642,64353,...,4.876553,52.607779,0.000000,0.000000,161.637983,1.004951e+04,225.188907,2246.207532,2507,0.085026
6,Escondido,Escondido,2032,jurisdiction,0,192371,86504804,6580,2820,166760,...,23.885017,120.082112,2.352193,0.000000,528.786043,1.792661e+04,982.017655,5034.396925,2403,0.041325
7,Imperial Beach,Imperial Beach,2032,jurisdiction,0,29492,13973664,608,1672,27009,...,0.286962,34.307166,0.000000,0.000000,6.898760,1.743026e+03,4.660952,1063.725145,676,0.062709
8,La Mesa,La Mesa,2032,jurisdiction,0,51501,43120619,2345,4066,60493,...,8.831005,6.519877,0.527566,0.000000,142.468202,5.708851e+03,94.875435,3.244729,1312,0.047732
9,Lemon Grove,Lemon Grove,2032,jurisdiction,0,11559,16550100,879,1806,27145,...,5.481699,0.924410,0.507132,0.000000,29.876518,2.415226e+03,33.693419,0.048723,1024,0.099023
10,National City,National City,2032,jurisdiction,0,52689,46895144,1044,5133,62537,...,1.765671,89.420318,3.257579,0.064160,30.994771,5.105187e+03,43.540280,0.000000,1023,0.052986
11,Oceanside,Oceanside,2032,jurisdiction,0,179868,100708715,6590,1094,180118,...,7.707919,94.952008,0.191224,313.481284,379.115886,2.421246e+04,510.544900,2259.142826,5184,0.069658
12,Poway,Poway,2032,jurisdiction,0,67702,45939936,1505,2036,49345,...,66.602795,133.814413,0.000000,0.000000,388.007906,1.475584e+04,2216.640477,8051.681044,559,0.031100
13,San Diego,San Diego,2032,jurisdiction,0,419898,812536173,23002,116457,1397381,...,302.900019,2772.901572,0.406951,16.694495,3966.065933,1.619589e+05,6061.016421,45381.258278,45442,0.076168
14,San Marcos,San Marcos,2032,jurisdiction,0,86461,42814064,3240,1276,109170,...,25.345248,207.105978,0.000000,3.652740,356.441549,1.246215e+04,1023.139056,2197.610234,2592,0.063707
15,Santee,Santee,2032,jurisdiction,0,35795,27529226,1491,3887,61835,...,44.128380,47.674377,0.000000,4.207627,198.229289,7.840700e+03,1350.399948,1359.100757,1470,0.060407
16,Solana Beach,Solana Beach,2032,jurisdiction,0,27728,16940519,1104,368,13024,...,0.000000,7.927369,0.000000,0.000000,49.210524,2.131245e+03,12.512690,39.788713,1207,0.169475
17,Unincorporated,Unincorporated,2032,jurisdiction,0,1071384,594870741,40744,65889,506981,...,2742.336217,4485.205717,3625.351428,8.294035,258.145452,1.760165e+06,30720.896054,37517.519896,15454,0.081472
18,Vista,Vista,2032,jurisdiction,0,135889,65655038,4928,713,102275,...,90.226848,106.556701,4.910551,0.000000,484.422395,1.105269e+04,320.519395,539.573510,1673,0.045692

 50%|██████████████████████████████████████████                                          | 3/6 [00:27<00:21,  7.13s/it]

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2032,cpa,0,1343072,831452093,47673,49808,1468671,...,1532.790983,13.344249,329.520333,3993.609784,183071.107372,9158.312418,31892.368304,33986,0.060615,Not in CPA
1,1401,1401,2032,cpa,0,841,2670998,58,270,399,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,13,1.000000,Balboa Park
2,1402,1402,2032,cpa,0,1291,5158328,112,715,4566,...,15.106046,0.000000,0.184453,30.680444,550.010693,25.970360,0.013872,361,0.195558,Barrio Logan
3,1403,1403,2032,cpa,0,9179,6172576,201,268,14660,...,23.343373,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,110,0.017544,Carmel Mountain Ranch
4,1404,1404,2032,cpa,0,9564,31498626,366,5163,52330,...,114.148448,0.000000,0.117746,72.563487,1429.992150,81.206370,0.043054,5507,0.147839,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2032,cpa,0,88160,47302443,3585,1398,48128,...,0.000000,0.000000,1.706546,0.000000,25641.501290,1.295565,5896.458971,1676,0.088420,Fallbrook
84,1954,1954,2032,cpa,0,8180,4328274,288,47,37420,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,597,0.078854,Pendleton-De Luz
85,1955,1955,2032,cpa,0,18725,9846996,749,1381,1791,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,56,0.073587,Rainbow
86,1998,1998,2032,cpa,0,895,644305,35,98,859,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,0,0.000000,Barona
87,1999,1999,2032,cpa,0,2730,2574733,60,274,3922,...,64.306363,3.376429,0.000000,0.000000,369.734594,5.536110,0.000000,48,0.037588,County Islands

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2032,luz,0,13631580,296,3996,7155,7114,...,0.000000,17.192360,0.00000,0.000000,6.912115,882.809483,14.190585,59.487941,179,0.045921
1,2,2,2032,luz,0,20999350,456,6156,16992,16252,...,3.979863,0.792277,0.00000,0.119559,2.962959,874.503450,17.606825,22.277557,609,0.056604
2,3,3,2032,luz,0,12802577,278,2404,17533,16956,...,1.587928,2.121930,0.00000,0.201197,11.100265,1017.749131,19.622682,68.672775,1047,0.092214
3,4,4,2032,luz,0,22842392,496,1984,38558,38452,...,0.567818,2.149742,0.00000,0.160697,4.004052,1477.203607,14.505323,5.674370,1375,0.057194
4,5,5,2032,luz,0,11881946,386,875,34699,34453,...,7.112804,80.530455,0.00000,0.000000,219.360056,2915.403124,218.693350,84.335003,1813,0.089770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2032,luz,0,10129220,770,110,13489,13341,...,4.019519,4.796117,0.00000,0.000000,9.500615,1750.129784,44.678810,28.649474,282,0.058652
241,242,242,2032,luz,0,1472592,48,267,2434,2434,...,0.000000,34.226770,0.00000,0.000000,36.880099,387.804901,27.248322,0.000000,233,0.167145
242,243,243,2032,luz,0,2487267,81,432,1654,1654,...,0.000000,60.211690,0.00000,0.000000,74.380437,788.405251,37.026398,71.734428,19,0.024902
243,244,244,2032,luz,0,4145477,135,720,9791,9791,...,0.000000,9.687128,0.00000,0.000000,68.406062,674.435744,5.670487,19.166255,1762,0.277306
244,245,245,2032,luz,0,3588811,195,507,9694,9625,...,3.840816,92.615707,90.38508,6.587490,8.162603,691.953903,14.949968,0.000000,713,0.168717

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:27<00:03,  3.59s/it]

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2032,taz,0,676,370071,24,4,4535,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,63,0.063444
1,14,14,2032,taz,0,1521,828495,54,9,1767,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,109,0.434263
2,15,15,2032,taz,0,720,276165,18,3,4332,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,21,0.069536
3,16,16,2032,taz,0,483,276162,18,3,81,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,16,0.238806
4,17,17,2032,taz,0,2873,1564935,102,17,10808,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,229,0.142502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2032,taz,0,1350,552235,48,84,64,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,42,0.538462
4931,4944,4944,2032,taz,0,904,367736,32,56,377,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,8,0.048780
4932,4945,4945,2032,taz,0,452,183868,16,28,0,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2032,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2032,taz,0,1808,735472,64,112,0,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,8,1.000000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:33<00:00,  5.63s/it]
 57%|████████████████████████████████████████████████                                    | 4/7 [03:44<02:46, 55.54s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,835,835,2035,mgra,0,4,92104,2,8,156,...,0.0,0.000000,0.000000,0.0,0.0,3.686551,0.000000,0.0,4,0.037736
1,839,839,2035,mgra,0,109,91941,5,9,28,...,0.0,0.000000,0.000000,0.0,0.0,1.545506,0.000000,0.0,2,0.142857
2,874,874,2035,mgra,0,25,92102,2,10,180,...,0.0,0.000000,0.000000,0.0,0.0,6.960648,0.000000,0.0,5,0.087719
3,4347,4347,2035,mgra,0,8,92105,2,9,214,...,0.0,0.000000,0.000000,0.0,0.0,4.592164,0.000000,0.0,3,0.044776
4,853,853,2035,mgra,0,4,92104,2,8,116,...,0.0,0.000000,0.000000,0.0,0.0,5.542652,0.000000,0.0,2,0.030769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,14682,14682,2035,mgra,0,107,92019,5,13,28,...,0.0,0.000000,0.000000,0.0,0.0,13.475007,0.000000,0.0,3,0.230769
24317,14684,14684,2035,mgra,0,239,92019,5,13,35,...,0.0,0.000000,0.000000,0.0,0.0,9.074572,0.129223,0.0,1,0.071429
24318,14718,14718,2035,mgra,0,115,92040,5,13,408,...,0.0,0.000000,0.000000,0.0,0.0,13.634231,0.000000,0.0,12,0.058537
24319,14784,14784,2035,mgra,0,115,92040,5,13,558,...,0.0,2.946871,13.516305,0.0,0.0,91.067542,4.250759,0.0,18,0.079295
24320,14818,14818,2035,mgra,0,122,92040,5,14,11,...,0.0,0.000000,0.000000,0.0,0.0,1121.302707,0.000000,0.0,5,0.555556

 17%|██████████████                                                                      | 1/6 [00:26<02:13, 26.65s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2035,region,0,2834354,2238859007,111419,232154,3404362,...,3404.907336,8128.687578,3312.415162,315.666382,7833.609627,2.107488e+06,43648.218842,114791.146477,96868,0.070558

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2035,jurisdiction,0,126916,69743180,4550,859,123720,...,1.491617,204.058286,0.000000,0.000000,425.903764,1.922080e+04,359.599186,5471.912863,3767,0.068551
1,Chula Vista,Chula Vista,2035,jurisdiction,0,112956,98805269,4299,12401,299403,...,232.640683,236.063857,0.000000,7.548879,280.925616,2.905401e+04,1432.298489,3057.663242,3850,0.037699
2,Coronado,Coronado,2035,jurisdiction,0,23634,20542192,446,2243,22331,...,0.000000,117.699948,0.000000,0.000000,24.772089,9.767932e+03,18.252148,309.573962,2082,0.209562
3,Del Mar,Del Mar,2035,jurisdiction,0,2904,6072924,198,148,4051,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.023089e+03,10.866147,102.908124,672,0.240429
4,El Cajon,El Cajon,2035,jurisdiction,0,82262,54107791,2940,7644,106017,...,1.123370,44.233393,1.385234,0.095541,357.697576,8.891859e+03,229.488834,155.789973,2683,0.066286
5,Encinitas,Encinitas,2035,jurisdiction,0,123345,75548908,4926,1642,64714,...,4.876553,49.239318,0.000000,0.000000,161.218683,1.005082e+04,223.879456,2246.207532,2251,0.076060
6,Escondido,Escondido,2035,jurisdiction,0,192371,86504804,6580,2820,165799,...,17.041372,120.082112,0.000000,0.000000,528.786043,1.802943e+04,879.198937,5034.396925,4834,0.079503
7,Imperial Beach,Imperial Beach,2035,jurisdiction,0,29492,13973664,608,1672,26615,...,0.000000,16.495888,0.000000,0.000000,4.021093,1.745769e+03,1.917447,1063.725145,763,0.070557
8,La Mesa,La Mesa,2035,jurisdiction,0,51501,43120619,2345,4066,61552,...,8.633349,6.519877,0.527566,0.000000,142.468202,5.713403e+03,90.323474,3.244729,1285,0.045715
9,Lemon Grove,Lemon Grove,2035,jurisdiction,0,11559,16550100,879,1806,27263,...,4.882662,0.924410,0.338088,0.000000,26.376930,2.420536e+03,28.383327,0.048723,1059,0.100828
10,National City,National City,2035,jurisdiction,0,52689,46895144,1044,5133,63022,...,0.839558,89.420318,2.606074,0.064160,30.206783,5.107421e+03,42.027540,0.000000,1068,0.054255
11,Oceanside,Oceanside,2035,jurisdiction,0,179868,100708715,6590,1094,181479,...,4.661548,73.010102,0.191224,287.716690,278.325653,2.431148e+04,411.896409,2259.142826,5079,0.067307
12,Poway,Poway,2035,jurisdiction,0,67702,45939936,1505,2036,49207,...,64.995129,129.919573,0.000000,0.000000,378.863232,1.480568e+04,2166.796494,8051.681044,561,0.031022
13,San Diego,San Diego,2035,jurisdiction,0,419898,812536173,23002,116457,1411539,...,287.749538,2671.645715,0.073901,16.095153,3874.256233,1.623405e+05,5679.406851,45381.258278,42963,0.070963
14,San Marcos,San Marcos,2035,jurisdiction,0,86461,42814064,3240,1276,110466,...,25.155638,206.756409,0.000000,1.826370,356.441549,1.248889e+04,996.401749,2197.610234,2704,0.064952
15,Santee,Santee,2035,jurisdiction,0,35795,27529226,1491,3887,62026,...,35.179111,45.826380,0.000000,2.319589,182.161536,7.983492e+03,1207.608578,1359.100757,2491,0.097160
16,Solana Beach,Solana Beach,2035,jurisdiction,0,27728,16940519,1104,368,13260,...,0.000000,7.574048,0.000000,0.000000,49.210524,2.131281e+03,12.476736,39.788713,1056,0.148273
17,Unincorporated,Unincorporated,2035,jurisdiction,0,1071384,594870741,40744,65889,507864,...,2622.686112,3994.146310,3307.293076,0.000000,250.792757,1.761332e+06,29553.853331,37517.519896,15984,0.083181
18,Vista,Vista,2035,jurisdiction,0,135889,65655038,4928,713,104034,...,89.908896,105.086247,0.000000,0.000000,480.802577,1.106966e+04,303.543707,539.573510,1716,0.045676

 50%|██████████████████████████████████████████                                          | 3/6 [00:26<00:20,  6.95s/it]

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2035,cpa,0,1343072,831452093,47673,49808,1484959,...,1462.895553,5.048185,299.571229,3708.560637,183815.549825,8414.958660,31892.368304,37921,0.065916,Not in CPA
1,1401,1401,2035,cpa,0,841,2670998,58,270,407,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,13,1.000000,Balboa Park
2,1402,1402,2035,cpa,0,1291,5158328,112,715,4479,...,15.106046,0.000000,0.184453,30.680444,550.315991,25.665062,0.013872,652,0.308420,Barrio Logan
3,1403,1403,2035,cpa,0,9179,6172576,201,268,14594,...,20.872782,0.000000,0.000000,61.347079,1486.448520,0.959999,78.723801,91,0.014514,Carmel Mountain Ranch
4,1404,1404,2035,cpa,0,9564,31498626,366,5163,54163,...,111.814087,0.000000,0.117746,72.563487,1431.897105,79.301414,0.043054,4365,0.116481,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2035,cpa,0,88160,47302443,3585,1398,48370,...,0.000000,0.000000,0.000000,0.000000,25642.878265,0.000000,5896.458971,1796,0.092990,Fallbrook
84,1954,1954,2035,cpa,0,8180,4328274,288,47,37499,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,545,0.071976,Pendleton-De Luz
85,1955,1955,2035,cpa,0,18725,9846996,749,1381,1804,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,47,0.061599,Rainbow
86,1998,1998,2035,cpa,0,895,644305,35,98,850,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,0,0.000000,Barona
87,1999,1999,2035,cpa,0,2730,2574733,60,274,3906,...,63.747221,2.764354,0.000000,0.000000,369.734594,5.536110,0.000000,57,0.044049,County Islands

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2035,luz,0,13631580,296,3996,7273,7231,...,0.000000,17.192360,0.000000,0.000000,6.912115,882.809483,14.190585,59.487941,114,0.029096
1,2,2,2035,luz,0,20999350,456,6156,17396,16643,...,3.979863,0.792277,0.000000,0.119559,2.962959,874.661363,17.448912,22.277557,355,0.032864
2,3,3,2035,luz,0,12802577,278,2404,17979,17387,...,1.587928,2.121930,0.000000,0.201197,11.100265,1017.907698,19.464115,68.672775,755,0.066350
3,4,4,2035,luz,0,22842392,496,1984,39415,39296,...,0.567818,1.761272,0.000000,0.160697,3.680608,1477.356945,14.351985,5.674370,714,0.029746
4,5,5,2035,luz,0,11881946,386,875,36176,35927,...,7.112804,80.530455,0.000000,0.000000,219.360056,2916.452566,217.643909,84.335003,1189,0.058071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2035,luz,0,10129220,770,110,13544,13390,...,4.019519,4.796117,0.000000,0.000000,9.500615,1751.831572,42.977023,28.649474,555,0.107893
241,242,242,2035,luz,0,1472592,48,267,2558,2558,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,165,0.118364
242,243,243,2035,luz,0,2487267,81,432,1684,1684,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,0,0.000000
243,244,244,2035,luz,0,4145477,135,720,10116,10116,...,0.000000,9.687128,0.000000,0.000000,68.406062,674.435744,5.670487,19.166255,2411,0.335373
244,245,245,2035,luz,0,3588811,195,507,9676,9606,...,0.369939,88.284980,80.604189,0.000000,8.162603,694.461223,12.442648,0.000000,989,0.218419

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:27<00:03,  3.50s/it]

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2035,taz,0,676,370071,24,4,4528,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,60,0.060423
1,14,14,2035,taz,0,1521,828495,54,9,1792,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,105,0.418327
2,15,15,2035,taz,0,720,276165,18,3,4398,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,13,0.043046
3,16,16,2035,taz,0,483,276162,18,3,80,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,16,0.238806
4,17,17,2035,taz,0,2873,1564935,102,17,10822,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,221,0.137523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2035,taz,0,1350,552235,48,84,114,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,15,0.192308
4931,4944,4944,2035,taz,0,904,367736,32,56,371,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,10,0.060606
4932,4945,4945,2035,taz,0,452,183868,16,28,39,...,0.0,0.000000,0.0,0.000000,0.000000,339.758359,666.095611,0.000000,15,0.483871
4933,4946,4946,2035,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2035,taz,0,1808,735472,64,112,0,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,8,1.000000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:32<00:00,  5.43s/it]
 71%|████████████████████████████████████████████████████████████                        | 5/7 [04:36<01:48, 54.03s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1033,1033,2040,mgra,0,105,91977,5,13,271,...,0.0,0.0,0.000000,0.0,0.0,41.706782,0.000000,0.000000,1,0.009524
1,1054,1054,2040,mgra,0,2,92101,2,27,32,...,0.0,0.0,0.000000,0.0,0.0,1.205886,0.575454,0.000000,1,0.047619
2,1058,1058,2040,mgra,0,89,91910,4,11,90,...,0.0,0.0,0.000000,0.0,0.0,7.506035,0.000000,0.000000,2,0.055556
3,1079,1079,2040,mgra,0,38,92109,3,25,8,...,0.0,0.0,0.000000,0.0,0.0,6.078625,0.000000,0.000000,10,0.714286
4,4567,4567,2040,mgra,0,49,92129,3,4,320,...,0.0,0.0,0.000000,0.0,0.0,4.447654,0.000000,0.000000,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,15011,15011,2040,mgra,0,143,92067,6,2,28,...,0.0,0.0,0.000000,0.0,0.0,44.868778,0.000000,0.000000,5,0.312500
24317,15020,15020,2040,mgra,0,143,92067,6,2,107,...,0.0,0.0,0.000000,0.0,0.0,82.871376,0.000000,9.111377,1,0.023810
24318,4379,4379,2040,mgra,0,37,92109,3,25,3,...,0.0,0.0,0.000000,0.0,0.0,1.106101,0.000000,0.000000,25,0.925926
24319,14841,14841,2040,mgra,0,115,92040,5,13,209,...,0.0,0.0,8.268306,0.0,0.0,33.979527,0.000000,0.000000,8,0.114286
24320,14875,14875,2040,mgra,0,115,92021,5,13,181,...,0.0,0.0,4.179915,0.0,0.0,25.969255,0.000000,0.000000,8,0.109589

 17%|██████████████                                                                      | 1/6 [00:27<02:18, 27.75s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2040,region,0,2834354,2238859007,111419,232154,3432211,...,3054.843543,7623.962261,3242.90227,223.030615,7515.209493,2.109871e+06,41270.628084,114791.146477,99898,0.070819

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2040,jurisdiction,0,126916,69743180,4550,859,123620,...,0.495181,199.085956,0.000000,0.000000,425.903764,1.926870e+04,311.703764,5471.912863,4075,0.072593
1,Chula Vista,Chula Vista,2040,jurisdiction,0,112956,98805269,4299,12401,311478,...,8.842622,172.184704,0.000000,7.228671,188.230259,2.965800e+04,828.313389,3057.663242,3388,0.031530
2,Coronado,Coronado,2040,jurisdiction,0,23634,20542192,446,2243,22510,...,0.000000,117.211461,0.000000,0.000000,24.772089,9.768468e+03,17.715677,309.573962,1857,0.186915
3,Del Mar,Del Mar,2040,jurisdiction,0,2904,6072924,198,148,4154,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.023089e+03,10.866147,102.908124,589,0.210733
4,El Cajon,El Cajon,2040,jurisdiction,0,82262,54107791,2940,7644,104142,...,0.465479,43.218928,0.354620,0.000000,339.764620,8.903266e+03,218.082518,155.789973,4843,0.113451
5,Encinitas,Encinitas,2040,jurisdiction,0,123345,75548908,4926,1642,64897,...,4.876553,47.348196,0.000000,0.000000,149.836522,1.005720e+04,217.494521,2246.207532,1983,0.066408
6,Escondido,Escondido,2040,jurisdiction,0,192371,86504804,6580,2820,167437,...,17.041372,119.880167,0.000000,0.000000,516.815989,1.808126e+04,827.361561,5034.396925,4761,0.076244
7,Imperial Beach,Imperial Beach,2040,jurisdiction,0,29492,13973664,608,1672,26129,...,0.000000,13.722720,0.000000,0.000000,4.021093,1.746722e+03,0.964498,1063.725145,901,0.082193
8,La Mesa,La Mesa,2040,jurisdiction,0,51501,43120619,2345,4066,61885,...,8.438475,6.519877,0.000000,0.000000,142.468202,5.724263e+03,79.462833,3.244729,1449,0.050215
9,Lemon Grove,Lemon Grove,2040,jurisdiction,0,11559,16550100,879,1806,28484,...,4.483304,0.924410,0.338088,0.000000,18.921800,2.425169e+03,23.750827,0.048723,577,0.054199
10,National City,National City,2040,jurisdiction,0,52689,46895144,1044,5133,62672,...,0.382805,89.420318,2.402744,0.064160,29.677699,5.108688e+03,40.950328,0.000000,1143,0.056996
11,Oceanside,Oceanside,2040,jurisdiction,0,179868,100708715,6590,1094,181229,...,4.515689,49.327459,0.000000,200.259532,213.148963,2.443740e+04,285.972857,2259.142826,4930,0.064418
12,Poway,Poway,2040,jurisdiction,0,67702,45939936,1505,2036,48295,...,64.543520,127.572871,0.000000,0.000000,377.272955,1.482562e+04,2146.858484,8051.681044,591,0.032600
13,San Diego,San Diego,2040,jurisdiction,0,419898,812536173,23002,116457,1418880,...,281.715295,2385.315266,0.067183,15.478253,3818.875832,1.628185e+05,5201.370568,45381.258278,43115,0.069632
14,San Marcos,San Marcos,2040,jurisdiction,0,86461,42814064,3240,1276,115614,...,12.621000,202.567345,0.000000,0.000000,350.451726,1.254499e+04,945.100572,2197.610234,3493,0.077287
15,Santee,Santee,2040,jurisdiction,0,35795,27529226,1491,3887,62043,...,33.648135,43.373839,0.000000,0.000000,164.160578,8.080380e+03,1110.720100,1359.100757,3135,0.117363
16,Solana Beach,Solana Beach,2040,jurisdiction,0,27728,16940519,1104,368,13346,...,0.000000,7.574048,0.000000,0.000000,49.210524,2.131317e+03,12.440781,39.788713,925,0.129879
17,Unincorporated,Unincorporated,2040,jurisdiction,0,1071384,594870741,40744,65889,510091,...,2523.842539,3884.970074,3239.739636,0.000000,248.436842,1.762172e+06,28714.673067,37517.519896,15987,0.081255
18,Vista,Vista,2040,jurisdiction,0,135889,65655038,4928,713,105305,...,85.889377,103.759234,0.000000,0.000000,452.861250,1.109638e+04,276.825592,539.573510,2156,0.055056

 50%|██████████████████████████████████████████                                          | 3/6 [00:27<00:21,  7.25s/it]

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2040,cpa,0,1343072,831452093,47673,49808,1503240,...,1353.676921,3.095452,207.552363,3447.896819,184880.914670,7354.584450,31892.368304,40796,0.068602,Not in CPA
1,1401,1401,2040,cpa,0,841,2670998,58,270,402,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,13,1.000000,Balboa Park
2,1402,1402,2040,cpa,0,1291,5158328,112,715,4594,...,15.106046,0.000000,0.184453,30.680444,556.476044,19.505010,0.013872,922,0.375254,Barrio Logan
3,1403,1403,2040,cpa,0,9179,6172576,201,268,14361,...,18.305327,0.000000,0.000000,60.058419,1486.480519,0.927999,78.723801,92,0.014671,Carmel Mountain Ranch
4,1404,1404,2040,cpa,0,9564,31498626,366,5163,55717,...,111.814087,0.000000,0.117746,70.891616,1433.018439,78.180080,0.043054,3248,0.086010,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2040,cpa,0,88160,47302443,3585,1398,47990,...,0.000000,0.000000,0.000000,0.000000,25642.878265,0.000000,5896.458971,1620,0.083816,Fallbrook
84,1954,1954,2040,cpa,0,8180,4328274,288,47,37032,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,539,0.071174,Pendleton-De Luz
85,1955,1955,2040,cpa,0,18725,9846996,749,1381,1785,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,44,0.057516,Rainbow
86,1998,1998,2040,cpa,0,895,644305,35,98,832,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,0,0.000000,Barona
87,1999,1999,2040,cpa,0,2730,2574733,60,274,3828,...,62.987953,2.585990,0.000000,0.000000,369.734594,5.536110,0.000000,58,0.044684,County Islands

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2040,luz,0,13631580,296,3996,7255,7213,...,0.000000,17.192360,0.000000,0.000000,6.912115,882.809483,14.190585,59.487941,90,0.022872
1,2,2,2040,luz,0,20999350,456,6156,17642,16895,...,3.979863,0.792277,0.000000,0.119559,2.962959,875.031050,17.079225,22.277557,193,0.017680
2,3,3,2040,luz,0,12802577,278,2404,18302,17718,...,1.587928,2.121930,0.000000,0.201197,11.100265,1018.111159,19.260653,68.672775,466,0.040820
3,4,4,2040,luz,0,22842392,496,1984,39348,39237,...,0.567818,1.634610,0.000000,0.160697,3.519451,1478.490949,13.217981,5.674370,305,0.012797
4,5,5,2040,luz,0,11881946,386,875,37760,37512,...,7.112804,80.530455,0.000000,0.000000,219.360056,2919.804907,214.291568,84.335003,560,0.026718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2040,luz,0,10129220,770,110,15288,15137,...,0.000000,4.796117,0.000000,0.000000,9.500615,1759.491951,35.316644,28.649474,561,0.095799
241,242,242,2040,luz,0,1472592,48,267,2718,2718,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,69,0.049498
242,243,243,2040,luz,0,2487267,81,432,1658,1658,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,0,0.000000
243,244,244,2040,luz,0,4145477,135,720,10400,10400,...,0.000000,9.687128,0.000000,0.000000,68.406062,674.435744,5.670487,19.166255,2204,0.306579
244,245,245,2040,luz,0,3588811,195,507,9849,9780,...,0.369939,84.820773,76.973511,0.000000,8.162603,695.031630,11.872241,0.000000,893,0.195619

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:28<00:03,  3.67s/it]

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2040,taz,0,676,370071,24,4,4463,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,61,0.061430
1,14,14,2040,taz,0,1521,828495,54,9,1776,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,105,0.418327
2,15,15,2040,taz,0,720,276165,18,3,4367,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,10,0.033113
3,16,16,2040,taz,0,483,276162,18,3,80,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,15,0.223881
4,17,17,2040,taz,0,2873,1564935,102,17,10717,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,221,0.137523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2040,taz,0,1350,552235,48,84,140,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,1,0.012821
4931,4944,4944,2040,taz,0,904,367736,32,56,360,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,13,0.078313
4932,4945,4945,2040,taz,0,452,183868,16,28,100,...,0.0,0.000000,0.0,0.000000,0.000000,361.887210,643.966761,0.000000,11,0.207547
4933,4946,4946,2040,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2040,taz,0,1808,735472,64,112,0,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,8,1.000000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:35<00:00,  5.96s/it]
 86%|████████████████████████████████████████████████████████████████████████            | 6/7 [05:34<00:55, 55.53s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1266,1266,2050,mgra,0,33,92107,2,26,62,...,0.0,0.000000,0.0,0.0,0.0,1.933637,0.000000,0.0,3,0.081081
1,1240,1240,2050,mgra,0,9,92113,2,10,135,...,0.0,0.000000,0.0,0.0,0.0,6.575107,0.000000,0.0,1,0.024390
2,1247,1247,2050,mgra,0,2,92101,2,27,96,...,0.0,0.000000,0.0,0.0,0.0,1.985785,0.477815,0.0,0,0.000000
3,1254,1254,2050,mgra,0,94,92118,2,10,55,...,0.0,0.000000,0.0,0.0,0.0,5.357081,0.000000,0.0,3,0.115385
4,1290,1290,2050,mgra,0,16,91977,5,12,53,...,0.0,0.738989,0.0,0.0,0.0,5.594827,0.000000,0.0,3,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,22170,22170,2050,mgra,0,221,92004,8,14,15,...,0.0,0.000000,0.0,0.0,0.0,548.006129,0.000000,0.0,14,0.608696
24317,22172,22172,2050,mgra,0,221,92036,8,14,0,...,0.0,0.000000,0.0,0.0,0.0,274.619237,0.000000,0.0,0,NaN
24318,22206,22206,2050,mgra,0,224,92004,8,14,0,...,0.0,0.000000,0.0,0.0,0.0,5.436640,0.000000,0.0,1,1.000000
24319,22229,22229,2050,mgra,0,224,92004,8,14,0,...,0.0,0.000000,0.0,0.0,0.0,7.733600,0.000000,0.0,3,1.000000
24320,22263,22263,2050,mgra,0,224,92004,8,14,0,...,0.0,0.000000,0.0,0.0,0.0,115.731283,0.000000,0.0,5,1.000000

 17%|██████████████                                                                      | 1/6 [00:31<02:38, 31.61s/it]

,region,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2050,region,0,2834354,2238859007,111419,232154,3400250,...,2902.18661,6827.913177,3002.764201,108.114246,6712.540908,2.112782e+06,38364.859834,114791.146477,103918,0.072242

,jurisdiction,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2050,jurisdiction,0,126916,69743180,4550,859,122463,...,0.000000,183.284591,0.000000,0.000000,371.352190,1.931949e+04,260.910678,5471.912863,3671,0.064863
1,Chula Vista,Chula Vista,2050,jurisdiction,0,112956,98805269,4299,12401,306650,...,8.842622,132.088196,0.000000,6.743703,114.280641,2.977929e+04,707.017027,3057.663242,3052,0.028058
2,Coronado,Coronado,2050,jurisdiction,0,23634,20542192,446,2243,22943,...,0.000000,62.260972,0.000000,0.000000,2.991164,9.770790e+03,15.394268,309.573962,1414,0.142325
3,Del Mar,Del Mar,2050,jurisdiction,0,2904,6072924,198,148,4098,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.023089e+03,10.866147,102.908124,578,0.206798
4,El Cajon,El Cajon,2050,jurisdiction,0,82262,54107791,2940,7644,102316,...,0.341536,31.795493,0.212772,0.000000,284.245835,8.926824e+03,194.524435,155.789973,4059,0.095826
5,Encinitas,Encinitas,2050,jurisdiction,0,123345,75548908,4926,1642,64075,...,4.876553,36.172888,0.000000,0.000000,100.224786,1.006246e+04,212.241177,2246.207532,1665,0.055742
6,Escondido,Escondido,2050,jurisdiction,0,192371,86504804,6580,2820,164982,...,17.041372,115.813747,0.000000,0.000000,504.376224,1.815201e+04,756.611122,5034.396925,4047,0.064582
7,Imperial Beach,Imperial Beach,2050,jurisdiction,0,29492,13973664,608,1672,26181,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.747181e+03,0.505744,1063.725145,507,0.046681
8,La Mesa,La Mesa,2050,jurisdiction,0,51501,43120619,2345,4066,62384,...,1.565763,6.519877,0.000000,0.000000,139.074507,5.741311e+03,64.926886,3.244729,4462,0.136178
9,Lemon Grove,Lemon Grove,2050,jurisdiction,0,11559,16550100,879,1806,28272,...,3.684588,0.000000,0.169044,0.000000,0.000000,2.435780e+03,13.139509,0.048723,180,0.017162
10,National City,National City,2050,jurisdiction,0,52689,46895144,1044,5133,62275,...,0.270657,83.589937,1.500651,0.051328,28.972218,5.117082e+03,34.723828,0.000000,1381,0.066423
11,Oceanside,Oceanside,2050,jurisdiction,0,179868,100708715,6590,1094,180531,...,4.515689,49.144601,0.000000,89.566007,201.261226,2.447681e+04,246.570936,2259.142826,7303,0.090623
12,Poway,Poway,2050,jurisdiction,0,67702,45939936,1505,2036,46984,...,62.627588,114.592971,0.000000,0.000000,368.923358,1.488830e+04,2084.174652,8051.681044,711,0.038893
13,San Diego,San Diego,2050,jurisdiction,0,419898,812536173,23002,116457,1407812,...,265.112286,2222.182637,0.033591,11.753209,3592.965752,1.632971e+05,4722.790700,45381.258278,45051,0.071277
14,San Marcos,San Marcos,2050,jurisdiction,0,86461,42814064,3240,1276,116037,...,12.621000,200.361829,0.000000,0.000000,336.292829,1.256186e+04,928.232106,2197.610234,2154,0.047634
15,Santee,Santee,2050,jurisdiction,0,35795,27529226,1491,3887,61850,...,28.445610,15.115768,0.000000,0.000000,77.752020,8.239975e+03,951.125733,1359.100757,3011,0.110821
16,Solana Beach,Solana Beach,2050,jurisdiction,0,27728,16940519,1104,368,13655,...,0.000000,7.574048,0.000000,0.000000,45.698008,2.131629e+03,12.128849,39.788713,647,0.090845
17,Unincorporated,Unincorporated,2050,jurisdiction,0,1071384,594870741,40744,65889,502502,...,2403.309770,3493.041884,3000.848142,0.000000,174.832836,1.763943e+06,26943.424240,37517.519896,16675,0.083769
18,Vista,Vista,2050,jurisdiction,0,135889,65655038,4928,713,104240,...,85.889377,64.388351,0.000000,0.000000,368.918526,1.116765e+04,205.551797,539.573510,3350,0.081576

 50%|██████████████████████████████████████████                                          | 3/6 [00:31<00:24,  8.26s/it]

,cpa,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2050,cpa,0,1343072,831452093,47673,49808,1489936,...,1112.688656,1.882467,96.361037,2944.742320,185541.534648,6698.644894,31892.368304,42192,0.069470,Not in CPA
1,1401,1401,2050,cpa,0,841,2670998,58,270,409,...,0.000000,0.000000,0.000000,68.980657,1257.673157,29.806011,0.000000,0,0.000000,Balboa Park
2,1402,1402,2050,cpa,0,1291,5158328,112,715,4668,...,15.106046,0.000000,0.092226,30.680444,558.557130,17.423924,0.013872,1308,0.447485,Barrio Logan
3,1403,1403,2050,cpa,0,9179,6172576,201,268,14039,...,6.490821,0.000000,0.000000,16.490329,1487.152519,0.256000,78.723801,85,0.013554,Carmel Mountain Ranch
4,1404,1404,2050,cpa,0,9564,31498626,366,5163,57250,...,104.073145,0.000000,0.117746,59.381235,1443.358050,67.840469,0.043054,1767,0.046604,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2050,cpa,0,88160,47302443,3585,1398,47680,...,0.000000,0.000000,0.000000,0.000000,25642.878265,0.000000,5896.458971,1258,0.065040,Fallbrook
84,1954,1954,2050,cpa,0,8180,4328274,288,47,36292,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,528,0.069712,Pendleton-De Luz
85,1955,1955,2050,cpa,0,18725,9846996,749,1381,1757,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,39,0.050847,Rainbow
86,1998,1998,2050,cpa,0,895,644305,35,98,808,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,0,0.000000,Barona
87,1999,1999,2050,cpa,0,2730,2574733,60,274,3722,...,60.260785,2.235670,0.000000,0.000000,371.783771,3.486932,0.000000,71,0.053951,County Islands

,luz,geozone,year,geotype,scenario,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2050,luz,0,13631580,296,3996,7220,7181,...,0.000000,17.192360,0.000000,0.000000,6.912115,882.847867,14.152201,59.487941,77,0.019361
1,2,2,2050,luz,0,20999350,456,6156,17594,16910,...,3.979863,0.792277,0.000000,0.119559,2.962959,875.573627,16.536648,22.277557,173,0.015625
2,3,3,2050,luz,0,12802577,278,2404,18383,17858,...,1.587928,2.121930,0.000000,0.201197,11.100265,1019.125578,18.246235,68.672775,78,0.006908
3,4,4,2050,luz,0,22842392,496,1984,37623,37542,...,0.567818,0.000000,0.000000,0.160697,0.000000,1485.383579,6.325351,5.674370,78,0.003397
4,5,5,2050,luz,0,11881946,386,875,38002,37767,...,7.112804,64.305169,0.000000,0.000000,205.765814,2931.739346,202.357129,84.335003,124,0.005893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2050,luz,0,10129220,770,110,15591,15469,...,0.000000,2.169281,0.000000,0.000000,8.935435,1760.262128,34.546466,28.649474,285,0.048660
241,242,242,2050,luz,0,1472592,48,267,2789,2789,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,6,0.004304
242,243,243,2050,luz,0,2487267,81,432,1622,1622,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,0,0.000000
243,244,244,2050,luz,0,4145477,135,720,10950,10950,...,0.000000,9.687128,0.000000,0.000000,68.406062,674.435744,5.670487,19.166255,1829,0.254416
244,245,245,2050,luz,0,3588811,195,507,10289,10228,...,0.000000,52.019728,59.161195,0.000000,8.162603,698.477564,8.426307,0.000000,743,0.158456

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:32<00:04,  4.15s/it]

,taz,geozone,year,geotype,scenario,luz,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2050,taz,0,676,370071,24,4,4368,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,60,0.060423
1,14,14,2050,taz,0,1521,828495,54,9,1745,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,104,0.414343
2,15,15,2050,taz,0,720,276165,18,3,4282,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,5,0.016556
3,16,16,2050,taz,0,483,276162,18,3,56,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,30,0.447761
4,17,17,2050,taz,0,2873,1564935,102,17,10562,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,218,0.135657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2050,taz,0,1350,552235,48,84,142,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,0,0.000000
4931,4944,4944,2050,taz,0,904,367736,32,56,314,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,30,0.179641
4932,4945,4945,2050,taz,0,452,183868,16,28,209,...,0.0,0.000000,0.0,0.000000,0.000000,427.573564,578.280406,0.000000,27,0.230769
4933,4946,4946,2050,taz,0,884,368016,32,56,0,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2050,taz,0,1808,735472,64,112,0,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,8,1.000000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:39<00:00,  6.55s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 7/7 [06:36<00:00, 56.65s/it]

### 2026 and 2029 Diff file- Series 14 (Jurisdiction, CPA, LUZ, Region)

In [12]:
# get series 14 data
series14_df = {}

for geo in tqdm(geo_dfs.keys()):
    if geo == 'mgra':
        series14_df['mgra'] = mgra_output('41', False)
        series14_df['mgra']['vacancy'] = series14_df['mgra']['hs'] - series14_df['mgra']['hh']
        series14_df['mgra']['vacancy_rate'] = series14_df['mgra']['vacancy']/series14_df['mgra']['hs']
    else:
        sr14 = series14_df['mgra'].copy()
        sr14 = sr14[sr14['year'].astype(int)>2025]
        series14_df[geo] = create_mgra_denorm_table(mgra_denorm_path=sr14, 
                                         geo_level=geo, 
                                         output_folder_path=False, 
                                         version='SR14',
                                         series=14)
    if geo == 'cpa':
        series14_df[geo] = add_cpa_names(series14_df[geo].reset_index(), 14).set_index(['cpa', 'year'])
        
    series14_df[geo].insert(0, 'geotype', geo)

series14_df['cpa']

 50%|██████████████████████████████████████████                                          | 3/6 [00:24<00:19,  6.59s/it]C:\Users\jchu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:36<00:00,  6.06s/it]

            geotype  index        taz       hs   hs_sf    hs_mf  hs_mh  \
cpa    year
1442.0 2026     cpa  280.0  1633143.0  26556.0  7861.0  18695.0    0.0
       2029     cpa  281.0  1633143.0  28224.0  7892.0  20332.0    0.0
       2030     cpa  282.0  1633143.0  28794.0  7892.0  20902.0    0.0
       2032     cpa  283.0  1633143.0  29056.0  7896.0  21160.0    0.0
       2035     cpa  284.0  1633143.0  29523.0  7897.0  21626.0    0.0
...             ...    ...        ...      ...     ...      ...    ...
1906.0 2032     cpa  531.0   622253.0   3383.0  3251.0     36.0   96.0
       2035     cpa  532.0   622253.0   3474.0  3342.0     36.0   96.0
       2040     cpa  533.0   622253.0   3554.0  3419.0     39.0   96.0
       2045     cpa  534.0   622253.0   3593.0  3458.0     39.0   96.0
       2050     cpa  535.0   622253.0   3640.0  3505.0     39.0   96.0

                  hh   hh_sf    hh_mf  ...  milestocoast          acres  \
cpa    year                            ...
1442.0 2026  24968.0  7570.0  17398.0  ...     1941.9361    2684.380125
       2029  26460.0  7619.0  18841.0  ...     1941.9361    2684.380125
       2030  26966.0  7629.0  19337.0  ...     1941.9361    2684.380125
       2032  27266.0  7632.0  19634.0  ...     1941.9361    2684.380125
       2035  27637.0  7632.0  20005.0  ...     1941.9361    2684.380125
...              ...     ...      ...  ...           ...            ...
1906.0 2032   3236.0  3109.0     36.0  ...     3096.6867  107365.932568
       2035   3308.0  3181.0     36.0  ...     3096.6867  107365.932568
       2040   3370.0  3242.0     37.0  ...     3096.6867  107365.932568
       2045   3415.0  3286.0     38.0  ...     3096.6867  107365.932568
       2050   3456.0  3326.0     39.0  ...     3096.6867  107365.932568

             effective_acres     land_acres  MicroAccessTime  remoteAVParking  \
cpa    year
1442.0 2026      2640.743833    2684.380125           4600.0              2.0
       2029      2640.743833    2684.380125           4600.0              2.0
       2030      2640.743833    2684.380125           4600.0              2.0
       2032      2640.743833    2684.380125           4600.0              2.0
       2035      2640.743833    2684.380125           4600.0              2.0
...                      ...            ...              ...              ...
1906.0 2032     51550.884299  106651.799938          18960.0              0.0
       2035     51550.884299  106651.799938          18960.0              0.0
       2040     51550.884299  106651.799938          18960.0              0.0
       2045     51550.884299  106651.799938          18960.0              0.0
       2050     51550.884299  106651.799938          18960.0              0.0

             refueling_stations  vacancy  vacancy_rate       cpa_name
cpa    year
1442.0 2026                 9.0   1588.0      0.059798         Uptown
       2029                 9.0   1764.0      0.062500         Uptown
       2030                 9.0   1828.0      0.063485         Uptown
       2032                 9.0   1790.0      0.061605         Uptown
       2035                 9.0   1886.0      0.063882         Uptown
...                         ...      ...           ...            ...
1906.0 2032                 1.0    147.0      0.043453  Jamul-Dulzura
       2035                 1.0    166.0      0.047784  Jamul-Dulzura
       2040                 1.0    184.0      0.051773  Jamul-Dulzura
       2045                 1.0    178.0      0.049541  Jamul-Dulzura
       2050                 1.0    184.0      0.050549  Jamul-Dulzura

[697 rows x 111 columns]

In [13]:
# create df of all differences
def full_diff_pivot(df1, df2, geo, series14 = False):
    
    if 'taz' in list(df1.columns) and geo != 'taz':
        df1 = df1.drop('taz', axis=1)
    if 'LUZ' in list(df1.columns):
        df1 = df1.drop('LUZ', axis=1)
        
    if 'taz' in list(df2.columns) and geo != 'taz':
        df2 = df2.drop('taz', axis=1)
    if 'LUZ' in list(df2.columns):
        df2 = df2.drop('LUZ', axis=1)
    
    # attributes matching
    current_headers = common_values(df1, df2)

    correct_headers = pd.read_csv(
        rf"T:/socioec/Current_Projects/SR15/S0/version6/abm_csv/ForQApurposes/mgra15_based_input_2026_01.csv", nrows=0).columns

    attributes = [header for header in correct_headers if header in current_headers] + ['vacancy', 'vacancy_rate']
    
    if geo not in attributes:
        attributes = [geo] + attributes
    
    # create diffs
    df1_value_name = df1['year'].iloc[0]
    df2_value_name = df2['year'].iloc[0]
    num_years = abs(int(df2_value_name) - int(df1_value_name))
    
    if series14 == 'df2':
        df2_value_name = df2_value_name + ' SR14'
    elif series14 == 'df1':
        df1_value_name = df1_value_name + ' SR14'
    
    df1_pivot = df1[attributes].melt(id_vars=[geo],
                                               var_name = 'attribute',
                                               value_name = df1_value_name)
    df2_pivot = df2[attributes].melt(id_vars=[geo],
                                               var_name = 'attribute',
                                               value_name = df2_value_name)
    full_diff_df =  df1_pivot.merge(df2_pivot,
                                    how='outer',
                                    on=[geo, 'attribute'])
    full_diff_df['diff'] = full_diff_df[df1_value_name] - full_diff_df[df2_value_name]
    full_diff_df['pct diff'] = full_diff_df['diff']/full_diff_df[df2_value_name]
    
    # create CAGRs
    if num_years != 0:
        
        full_diff_df['CAGR'] = ((full_diff_df[df1_value_name]/full_diff_df[df2_value_name])**(1/num_years))-1
        
        # add in thresholds column
        threshold_dict = {'mgra': (350, .03), 'cpa': (500, .03), 'luz': (700, .03)}
        if geo in threshold_dict.keys():
            full_diff_df['threshold_passed'] = (full_diff_df['diff'] < threshold_dict[geo][0]) | (full_diff_df['CAGR'] < threshold_dict[geo][1])
    
    # merging the dataframes together
    full_diff_df = full_diff_df.merge(
        full_diff_df.groupby(['attribute']).sum().reset_index()[['attribute', df1_value_name, df2_value_name]],
        how='outer',
        on=['attribute'],
        suffixes=('',' Share'))
    full_diff_df[df1_value_name + ' Share'] = (full_diff_df[df1_value_name]/full_diff_df[df1_value_name + ' Share'])
    full_diff_df[df2_value_name + ' Share'] = (full_diff_df[df2_value_name]/full_diff_df[df2_value_name + ' Share'])
    full_diff_df['Geographic Share Change'] = full_diff_df[df1_value_name + ' Share'] - full_diff_df[df2_value_name + ' Share']
    
    full_diff_df.insert(0, 'geotype', geo)
    full_diff_df.insert(1, 'geozone', full_diff_df[geo])
    
    return full_diff_df

In [14]:
geo='cpa'
full_diff_pivot(geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == '2026'],
                   geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == '2022'],
                   geo
                   )

,geotype,geozone,cpa,attribute,2026,2022,diff,pct diff,CAGR,threshold_passed,2026 Share,2022 Share,Geographic Share Change
0,cpa,0,0,pop,1.408743e+06,1.399346e+06,9397.000000,0.006715,0.001675,True,0.426603,0.425682,0.000921
1,cpa,1401,1401,pop,4.090000e+02,4.130000e+02,-4.000000,-0.009685,-0.002430,True,0.000124,0.000126,-0.000002
2,cpa,1402,1402,pop,4.185000e+03,3.885000e+03,300.000000,0.077220,0.018770,True,0.001267,0.001182,0.000086
3,cpa,1403,1403,pop,1.474000e+04,1.229700e+04,2443.000000,0.198666,0.046344,False,0.004464,0.003741,0.000723
4,cpa,1404,1404,pop,5.106200e+04,4.789600e+04,3166.000000,0.066102,0.016131,True,0.015463,0.014570,0.000893
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,cpa,1953,1953,vacancy_rate,5.161505e-02,4.935834e-02,0.002257,0.045721,0.011239,True,0.005642,0.004774,0.000867
5364,cpa,1954,1954,vacancy_rate,8.376272e-02,8.270577e-02,0.001057,0.012780,0.003180,True,0.009155,0.008000,0.001155
5365,cpa,1955,1955,vacancy_rate,9.366755e-02,9.247028e-02,0.001197,0.012948,0.003221,True,0.010238,0.008945,0.001293
5366,cpa,1998,1998,vacancy_rate,3.472222e-03,3.472222e-03,0.000000,0.000000,0.000000,True,0.000380,0.000336,0.000044
5367,cpa,1999,1999,vacancy_rate,3.415409e-02,4.212168e-02,-0.007968,-0.189157,-0.051070,True,0.003733,0.004074,-0.000341

In [16]:
# adding in to excel files
for i in tqdm(range(1, len(years))):
    writer = pd.ExcelWriter(r'Results/mgra15_based_input_{}_{}_minus_SR14.xlsx'.format(version, years[i]), engine='xlsxwriter')
    for geo in tqdm(geo_dfs.keys()):
        df = full_diff_pivot(geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == years[i]],
                       series14_df[geo].reset_index()[series14_df[geo].reset_index()['year'] == years[i]],
                       geo,
                       series14 = 'df2'
                       )

        if geo == 'cpa':
            df = add_cpa_names(df, 15).rename(columns={'cpa_name':'cpa_name_SR15'})
            df = add_cpa_names(df, 14).rename(columns={'cpa_name':'cpa_name_SR14'})

        df.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()
    
    writer = pd.ExcelWriter(r'Results/mgra15_based_input_{}_{}_minus_{}.xlsx'.format(version, years[i], years[i-1]), engine='xlsxwriter')

    for geo in tqdm(geo_dfs.keys()):
        df = full_diff_pivot(geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == years[i]],
                       geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == years[i-1]],
                       geo
                       )

        if geo == 'mgra':
            df.to_csv(r'Results/mgra15_based_input_{}_{}_minus_{}_{}.csv'.format(version, years[i], years[i-1], geo))
        else:
            df.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:26<07:11, 86.28s/it]
 33%|████████████████████████████                                                        | 2/6 [01:26<02:23, 35.78s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:27<00:58, 19.59s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:30<00:26, 13.11s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:31<00:08,  8.75s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:47<00:00, 18.00s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:17<01:26, 17.24s/it]
 33%|████████████████████████████                                                        | 2/6 [00:18<00:30,  7.75s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:18<00:13,  4.44s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:06,  3.07s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:21<00:02,  2.74s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:55<00:00,  9.33s/it]
 17%|█████████████▊                                                                     | 1/6 [04:10<20:54, 250.95s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:35<07:55, 95.11s/it]
 33%|████████████████████████████                                                        | 2/6 [01:36<02:39, 39.93s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:37<01:05, 21.98s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:43<00:31, 15.81s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:44<00:10, 10.59s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [02:03<00:00, 20.54s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:15<01:17, 15.43s/it]
 33%|████████████████████████████                                                        | 2/6 [00:16<00:27,  6.80s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:16<00:11,  3.97s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:18<00:05,  2.89s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:20<00:02,  2.63s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:50<00:00,  8.47s/it]
 33%|███████████████████████████▋                                                       | 2/6 [08:28<16:58, 254.58s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:25<07:07, 85.41s/it]
 33%|████████████████████████████                                                        | 2/6 [01:25<02:21, 35.48s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:26<00:58, 19.42s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:29<00:25, 12.95s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:30<00:08,  8.63s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:49<00:00, 18.21s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:15<01:19, 15.88s/it]
 33%|████████████████████████████                                                        | 2/6 [00:16<00:27,  6.80s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:16<00:11,  3.88s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:17<00:05,  2.69s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:19<00:02,  2.45s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:51<00:00,  8.60s/it]
 50%|█████████████████████████████████████████▌                                         | 3/6 [12:36<12:35, 251.78s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:26<07:10, 86.17s/it]
 33%|████████████████████████████                                                        | 2/6 [01:26<02:22, 35.72s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:26<00:58, 19.56s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:30<00:26, 13.24s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:31<00:08,  8.86s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:49<00:00, 18.29s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:16<01:22, 16.46s/it]
 33%|████████████████████████████                                                        | 2/6 [00:16<00:28,  7.01s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:17<00:11,  3.97s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:18<00:05,  2.75s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:20<00:02,  2.51s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:52<00:00,  8.79s/it]
 67%|███████████████████████████████████████████████████████▎                           | 4/6 [16:44<08:20, 250.08s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:27<07:16, 87.40s/it]
 33%|████████████████████████████                                                        | 2/6 [01:27<02:24, 36.21s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:28<00:59, 19.80s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:31<00:26, 13.19s/it]

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:32<00:08,  8.81s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:49<00:00, 18.27s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:15<01:16, 15.38s/it]
 33%|████████████████████████████                                                        | 2/6 [00:15<00:26,  6.60s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:16<00:11,  3.76s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:17<00:05,  2.63s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:19<00:02,  2.41s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:47<00:00,  7.99s/it]
 83%|█████████████████████████████████████████████████████████████████████▏             | 5/6 [20:44<04:06, 246.58s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:12<06:01, 72.28s/it]
 33%|████████████████████████████                                                        | 2/6 [01:12<02:00, 30.06s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:13<00:49, 16.48s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:17<00:23, 11.85s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:18<00:07,  7.93s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:33<00:00, 15.52s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:12<01:01, 12.27s/it]
 33%|████████████████████████████                                                        | 2/6 [00:12<00:20,  5.25s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:12<00:09,  3.02s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:13<00:04,  2.11s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:15<00:01,  1.94s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:39<00:00,  6.60s/it]
100%|███████████████████████████████████████████████████████████████████████████████████| 6/6 [24:05<00:00, 240.85s/it]

### Diff columns for hhi and emp

In [17]:
# employment
pattern = re.compile("^emp_")
emp_columns = [col for col in geo_dfs['mgra'].columns if pattern.match(col)]

# household income
pattern = re.compile("i\d+")
household_income_columns = [col for col in geo_dfs['mgra'].columns if pattern.match(col)]

In [18]:
def diff_columns(df, geo, columns, col_var_name, value_name, first_year, second_year):
    def column_pct(df, geo, columns, year, col_var_name):
        pct_df = df[df['year'] == year][[geo] + columns].set_index(geo)
        return (pct_df.T/pct_df.sum(axis=1)).T.reset_index().melt(id_vars = [geo], var_name = col_var_name, value_name=value_name)

    df_values_1 = df[df['year']==first_year][[geo]+columns].melt(id_vars = [geo], var_name = col_var_name, value_name=first_year)
    df1 = column_pct(df, geo, columns, first_year, col_var_name)
    
    df_values_2 = df[df['year']==second_year][[geo]+columns].melt(id_vars = [geo], var_name = col_var_name, value_name=second_year)
    df2 = column_pct(df, geo, columns, second_year, col_var_name)

    output = df_values_1.merge(df_values_2, how='outer', on=[geo, col_var_name])
    output['diff'] = output[first_year] - output[second_year]
    output['pct_diff'] = output['diff']/output[second_year]
    
    num_years = int(first_year) - int(second_year)
    output['CAGR'] = ((output[first_year]/output[second_year])**(1/num_years))-1
    
    output = output.merge(df1, how='outer', on=[geo, col_var_name])
    output = output.merge(df2, how='outer', on=[geo, col_var_name], suffixes=(' '+first_year, ' '+second_year))
    output[value_name + ' Change'] = output[value_name + ' ' + first_year] - output[value_name + ' ' + second_year]
    
    output.insert(0, 'geotype', geo)
    output.insert(1, 'geozone', output[geo])
    return output

In [20]:
for i in tqdm(range(1, len(years))):
    writer = pd.ExcelWriter(r'Results/houeshold_income_share_diffs_{}_{}_minus_{}.xlsx'.format(version, years[i], years[i-1]), engine='xlsxwriter')
    for geo in tqdm(geo_dfs.keys()):
        diff = diff_columns(geo_dfs[geo].reset_index(), geo, household_income_columns, 'hhi', 'Income Share', years[i], years[i-1])
        diff.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:20<01:40, 20.15s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.85s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.13s/it]
 17%|██████████████                                                                      | 1/6 [00:39<03:17, 39.44s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:20<01:41, 20.22s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.87s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.12s/it]
 33%|████████████████████████████                                                        | 2/6 [01:17<02:35, 38.87s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:20<01:43, 20.65s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.95s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:25<00:00,  4.22s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:57<01:57, 39.13s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:19<01:39, 19.94s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.82s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.12s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [02:36<01:18, 39.29s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:21<01:46, 21.25s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:21<00:08,  4.07s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:25<00:00,  4.30s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [03:16<00:39, 39.39s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:19<01:39, 19.92s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.81s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.08s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [03:54<00:00, 39.14s/it]

In [21]:
for i in tqdm(range(1, len(years))):
    writer = pd.ExcelWriter(r'Results/sector_share_diffs_{}_{}_minus_{}.xlsx'.format(version, years[i], years[i-1]), engine='xlsxwriter')
    for geo in tqdm(geo_dfs.keys()):
        diff = diff_columns(geo_dfs[geo].reset_index(), geo, household_income_columns, 'hhi', 'Sector Share', years[i], years[i-1])
        diff.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:19<01:37, 19.50s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:07,  3.73s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:23<00:00,  4.00s/it]
 17%|██████████████                                                                      | 1/6 [00:37<03:09, 37.98s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:20<01:41, 20.37s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.90s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.15s/it]
 33%|████████████████████████████                                                        | 2/6 [01:16<02:33, 38.43s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:19<01:38, 19.67s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:07,  3.77s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.09s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:55<01:55, 38.44s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:19<01:39, 19.84s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.80s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:24<00:00,  4.06s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [02:38<01:20, 40.40s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:22<01:52, 22.47s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:27<00:00,  4.52s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [03:20<00:40, 40.83s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:21<01:49, 21.88s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:22<00:08,  4.19s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:26<00:00,  4.42s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [04:01<00:00, 40.31s/it]

### Consolidated CGAR

In [22]:
geo_dfs['mgra'].reset_index()\
                                    .sort_values(['mgra', 'year'])\
                                    .set_index(['mgra', 'year'])\
                                    .select_dtypes(include='number')

            scenario   taz  luz    zip  pseudomsa  district27  pop  hhp  gq  \
mgra  year
1     2022         0  3010   10  92105          2           9  440  440   0
      2026         0  3010   10  92105          2           9  411  411   0
      2029         0  3010   10  92105          2           9  406  406   0
      2032         0  3010   10  92105          2           9  406  406   0
      2035         0  3010   10  92105          2           9  406  406   0
...              ...   ...  ...    ...        ...         ...  ...  ...  ..
24321 2029         0  3039  200  92026          7           3   55   55   0
      2032         0  3039  200  92026          7           3   54   54   0
      2035         0  3039  200  92026          7           3   53   53   0
      2040         0  3039  200  92026          7           3   52   52   0
      2050         0  3039  200  92026          7           3   51   51   0

            gq_mil  ...  redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
mgra  year          ...
1     2022       0  ...            0.0            0.0        0.0        0.0
      2026       0  ...            0.0            0.0        0.0        0.0
      2029       0  ...            0.0            0.0        0.0        0.0
      2032       0  ...            0.0            0.0        0.0        0.0
      2035       0  ...            0.0            0.0        0.0        0.0
...            ...  ...            ...            ...        ...        ...
24321 2029       0  ...            0.0            0.0        0.0        0.0
      2032       0  ...            0.0            0.0        0.0        0.0
      2035       0  ...            0.0            0.0        0.0        0.0
      2040       0  ...            0.0            0.0        0.0        0.0
      2050       0  ...            0.0            0.0        0.0        0.0

            infill_emp        dev      vac  unusable  vacancy  vacancy_rate
mgra  year
1     2022         0.0  18.837695  0.00000       0.0        2      0.011364
      2026         0.0  18.837695  0.00000       0.0        8      0.045455
      2029         0.0  18.837695  0.00000       0.0        8      0.045455
      2032         0.0  18.837695  0.00000       0.0        6      0.034091
      2035         0.0  18.837695  0.00000       0.0        4      0.022727
...                ...        ...      ...       ...      ...           ...
24321 2029         0.0   7.849918  0.43073       0.0        3      0.130435
      2032         0.0   7.849918  0.43073       0.0        3      0.130435
      2035         0.0   7.849918  0.43073       0.0        3      0.130435
      2040         0.0   7.849918  0.43073       0.0        3      0.130435
      2050         0.0   7.849918  0.43073       0.0        3      0.130435

[170247 rows x 125 columns]

In [23]:
writer = pd.ExcelWriter(r'Data/mgra15_based_input_consolidated_CGAR_{}.xlsx'.format(version), engine='xlsxwriter')

for geo in tqdm(geo_dfs.keys()):
    consolidated_cgar = geo_dfs[geo].reset_index()\
                                        .sort_values([geo, 'year'])\
                                        .set_index([geo, 'year'])\
                                        .select_dtypes(include='number')

    year_diffs = consolidated_cgar.reset_index()
    year_diffs = year_diffs.assign(year_diff = year_diffs['year'].astype(int) - year_diffs['year'].astype(int).shift(1))
    year_diffs = year_diffs.assign(year = year_diffs['year'].astype(str)).set_index([geo, 'year'])

    cgar = consolidated_cgar.div(consolidated_cgar.shift(1))
    cgar = ((cgar.T.pow(1/year_diffs['year_diff']).T)-1).reset_index()
    
    cgar[cgar['year']!='2022'].sort_values([geo, 'year']).to_excel(writer, sheet_name = '{}'.format(geo), index=False)
writer.save()

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [02:19<00:00, 23.25s/it]

### Negative values (Region, Jurisdiction, CPA, LUZ, MGRA)

In [26]:
for geo, df in geo_dfs.items():
    df = df.reset_index()[df.reset_index()['year'] != '2022']
    print('------------------------------------------------------------------')
    print(geo, df[(df.select_dtypes(include='number') < 0).any(axis=1)].shape)
    print('******************************************************************')
    display(df.select_dtypes(include='number').loc[:,(df.select_dtypes(include='number') < 0).any()])

------------------------------------------------------------------
mgra (0, 128)
******************************************************************

Empty DataFrame
Columns: []
Index: [24321, 24322, 24323, 24324, 24325, 24326, 24327, 24328, 24329, 24330, 24331, 24332, 24333, 24334, 24335, 24336, 24337, 24338, 24339, 24340, 24341, 24342, 24343, 24344, 24345, 24346, 24347, 24348, 24349, 24350, 24351, 24352, 24353, 24354, 24355, 24356, 24357, 24358, 24359, 24360, 24361, 24362, 24363, 24364, 24365, 24366, 24367, 24368, 24369, 24370, 24371, 24372, 24373, 24374, 24375, 24376, 24377, 24378, 24379, 24380, 24381, 24382, 24383, 24384, 24385, 24386, 24387, 24388, 24389, 24390, 24391, 24392, 24393, 24394, 24395, 24396, 24397, 24398, 24399, 24400, 24401, 24402, 24403, 24404, 24405, 24406, 24407, 24408, 24409, 24410, 24411, 24412, 24413, 24414, 24415, 24416, 24417, 24418, 24419, 24420, ...]

[145926 rows x 0 columns]

------------------------------------------------------------------
region (0, 128)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6]

------------------------------------------------------------------
jurisdiction (0, 128)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[114 rows x 0 columns]

------------------------------------------------------------------
cpa (0, 129)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[528 rows x 0 columns]

------------------------------------------------------------------
luz (0, 127)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[1470 rows x 0 columns]

------------------------------------------------------------------
taz (0, 127)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[29610 rows x 0 columns]

### Zero Values (Region, Jurisdiction, CPA, LUZ)

In [27]:
for geo, df in geo_dfs.items():
    df = df.reset_index()[df.reset_index()['year'] != '2022']
    print('------------------------------------------------------------------')
    print(geo, df[(df.select_dtypes(include='number') == 0).any(axis=1)].shape)
    print('******************************************************************')
    display(df.select_dtypes(include='number').loc[:,(df.select_dtypes(include='number') == 0).any()])

------------------------------------------------------------------
mgra (145926, 128)
******************************************************************

,scenario,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hhs,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
24321,0,24,24,0,0,0,0,0,12,2.400000,...,0.0,0.0,0.0,0.0,0.000000,4.812648,0.000000,0.0,2,0.166667
24322,0,0,0,0,0,0,0,0,0,0.000000,...,0.0,0.0,0.0,0.0,1.658937,1.658937,0.000000,0.0,0,NaN
24323,0,36,36,0,0,0,0,0,13,3.272727,...,0.0,0.0,0.0,0.0,0.000000,2.344121,0.000000,0.0,2,0.153846
24324,0,149,149,0,0,0,0,0,61,2.660714,...,0.0,0.0,0.0,0.0,0.000000,4.907733,3.105858,0.0,4,0.066667
24325,0,0,0,0,0,0,0,0,0,0.000000,...,0.0,0.0,0.0,0.0,0.911417,3.296175,0.912689,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170242,0,15,15,0,0,0,0,0,11,1.666667,...,0.0,0.0,0.0,0.0,0.000000,548.006129,0.000000,0.0,14,0.608696
170243,0,0,0,0,0,0,0,0,0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,274.619237,0.000000,0.0,0,NaN
170244,0,0,0,0,0,0,0,0,0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,5.436640,0.000000,0.0,1,1.000000
170245,0,0,0,0,0,0,0,0,0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,7.733600,0.000000,0.0,3,1.000000
170246,0,0,0,0,0,0,0,0,0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,115.731283,0.000000,0.0,5,1.000000

------------------------------------------------------------------
region (6, 128)
******************************************************************

   scenario
1         0
2         0
3         0
4         0
5         0
6         0

------------------------------------------------------------------
jurisdiction (114, 128)
******************************************************************

,scenario,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,hs_mh,hh_mh,emp_mil,emp_utl,...,redev_ag_comm,redev_ag_office,redev_ag_schools,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,unusable
1,0,932,0,932,0,932,1324,1177,0,210,...,49.195514,7.769022,0.0,0.0,21.651900,240.779409,1.212635,12.087944,595.960729,5471.912863
2,0,938,0,938,0,938,1331,1189,0,212,...,49.195514,7.769022,0.0,0.0,15.077134,225.761543,0.000000,11.896798,536.986770,5471.912863
3,0,940,0,940,0,940,1359,1212,0,212,...,49.195514,7.769022,0.0,0.0,9.245455,212.204984,0.000000,0.000000,479.737698,5471.912863
4,0,953,0,953,0,953,1414,1250,0,193,...,49.195514,7.769022,0.0,0.0,1.491617,204.058286,0.000000,0.000000,425.903764,5471.912863
5,0,951,0,951,0,951,1466,1256,0,175,...,49.195514,7.769022,0.0,0.0,0.495181,199.085956,0.000000,0.000000,425.903764,5471.912863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,0,2006,0,2006,0,2006,1953,1897,0,3,...,0.000000,0.000000,0.0,0.0,90.628278,107.389934,10.431880,0.000000,487.146471,539.573510
129,0,2012,0,2012,0,2012,2005,1922,0,4,...,0.000000,0.000000,0.0,0.0,90.226848,106.556701,4.910551,0.000000,484.422395,539.573510
130,0,2058,0,2058,0,2058,2086,1931,0,13,...,0.000000,0.000000,0.0,0.0,89.908896,105.086247,0.000000,0.000000,480.802577,539.573510
131,0,2044,0,2044,0,2044,2211,1936,0,19,...,0.000000,0.000000,0.0,0.0,85.889377,103.759234,0.000000,0.000000,452.861250,539.573510
132,0,1884,0,1884,0,1884,2470,2002,0,45,...,0.000000,0.000000,0.0,0.0,85.889377,64.388351,0.000000,0.000000,368.918526,539.573510

------------------------------------------------------------------
cpa (528, 129)
******************************************************************

,cpa,scenario,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
1,0,0,1408743,1382603,26140,9094,17046,1764,15282,672924,...,701.504051,1656.462977,32.317803,388.410318,4325.568559,180359.009413,11871.831508,31892.368304,29934,0.056963
2,0,0,1429371,1402892,26479,9167,17312,1833,15479,684020,...,564.702724,1598.081783,25.820801,364.165256,4146.399781,181785.438970,10445.401951,31892.368304,32772,0.060540
3,0,0,1468671,1441306,27365,9285,18080,2114,15966,702921,...,530.355235,1532.790983,13.344249,329.520333,3993.609784,183071.107372,9158.312418,31892.368304,33986,0.060615
4,0,0,1484959,1457044,27915,9414,18501,2231,16270,712057,...,494.471686,1462.895553,5.048185,299.571229,3708.560637,183815.549825,8414.958660,31892.368304,37921,0.065916
5,0,0,1503240,1475568,27672,9358,18314,2191,16123,724260,...,249.285710,1353.676921,3.095452,207.552363,3447.896819,184880.914670,7354.584450,31892.368304,40796,0.068602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,1999,0,3953,3953,0,0,0,0,0,1665,...,2.282785,64.510573,3.665569,0.000000,0.000000,369.734594,5.536110,0.000000,46,0.036249
612,1999,0,3922,3922,0,0,0,0,0,1660,...,2.049840,64.306363,3.376429,0.000000,0.000000,369.734594,5.536110,0.000000,48,0.037588
613,1999,0,3906,3906,0,0,0,0,0,1659,...,1.583949,63.747221,2.764354,0.000000,0.000000,369.734594,5.536110,0.000000,57,0.044049
614,1999,0,3828,3828,0,0,0,0,0,1641,...,1.506301,62.987953,2.585990,0.000000,0.000000,369.734594,5.536110,0.000000,58,0.044684
615,1999,0,3722,3722,0,0,0,0,0,1624,...,1.033121,60.260785,2.235670,0.000000,0.000000,371.783771,3.486932,0.000000,71,0.053951

------------------------------------------------------------------
luz (1470, 127)
******************************************************************

,scenario,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hs,...,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,vac,unusable,vacancy,vacancy_rate
1,0,7162,7121,41,0,41,0,41,4715,3878,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,14.190585,59.487941,211,0.054409
2,0,7155,7114,41,0,41,1,40,4702,3883,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,14.190585,59.487941,192,0.049446
3,0,7155,7114,41,0,41,1,40,4701,3898,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,14.190585,59.487941,179,0.045921
4,0,7273,7231,42,0,42,2,40,4774,3918,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,14.190585,59.487941,114,0.029096
5,0,7255,7213,42,0,42,2,40,4762,3935,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,14.190585,59.487941,90,0.022872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,0,10565,10497,68,0,68,1,67,4958,4024,...,0.0,3.840816,93.776818,93.047038,22.499032,8.162603,17.742480,0.000000,232,0.057654
1711,0,9694,9625,69,0,69,1,68,4557,4226,...,0.0,3.840816,92.615707,90.385080,6.587490,8.162603,14.949968,0.000000,713,0.168717
1712,0,9676,9606,70,0,70,2,68,4558,4528,...,0.0,0.369939,88.284980,80.604189,0.000000,8.162603,12.442648,0.000000,989,0.218419
1713,0,9849,9780,69,0,69,2,67,4667,4565,...,0.0,0.369939,84.820773,76.973511,0.000000,8.162603,11.872241,0.000000,893,0.195619
1714,0,10289,10228,61,0,61,0,61,4942,4689,...,0.0,0.000000,52.019728,59.161195,0.000000,8.162603,8.426307,0.000000,743,0.158456

------------------------------------------------------------------
taz (29610, 127)
******************************************************************

,scenario,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hs,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
1,0,4570,2816,1754,1754,0,0,0,1210,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,66,0.066465
2,0,4549,2788,1761,1761,0,0,0,1200,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,64,0.064451
3,0,4535,2760,1775,1775,0,0,0,1192,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,63,0.063444
4,0,4528,2741,1787,1787,0,0,0,1188,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,60,0.060423
5,0,4463,2682,1781,1781,0,0,0,1171,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,61,0.061430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34540,0,5,5,0,0,0,0,0,5,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,6,0.750000
34541,0,0,0,0,0,0,0,0,0,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,8,1.000000
34542,0,0,0,0,0,0,0,0,0,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,8,1.000000
34543,0,0,0,0,0,0,0,0,0,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,8,1.000000
34544,0,0,0,0,0,0,0,0,0,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,8,1.000000