In [1]:
import pandas as pd
import numpy as np
import pyodbc
import sys
import sqlalchemy as sql
import re
from tqdm import tqdm

sys.path.append(r'..\2023-Internal Forecast QC Automation\Forecast QC Automation')
from data_prep_functions import *
from mgra_input_file_automation import *

In [2]:
years = ['2022', '2026', '2029', '2032', '2035', '2040', '2050']
prev_version = '2023_11_29'
version = '2023_12_05'

# Phase 1

## 0. Data Preparation

In [3]:
server = 'ddamwsql16'
database = 'sr15_dev'
driver = 'ODBC Driver 17 for SQL Server'

engine = sql.create_engine('mssql+pyodbc://@{}/{}?trusted_connection=yes&driver={}'.format(server, database, driver))

query = """
Select *
from [sr15_staging].[2023_12_05].[mgrabase]
"""

full_mgra_data = pd.read_sql(query, con=engine.connect())
full_mgra_data

,scenario,increment,mgra,taz,luz,zip,pseudomsa,district27,pop,hhp,...,redev_ag_schools,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable
0,0,2032,4671,2157,53,92126,3,4,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,3.764135,0.000000,0.0
1,0,2032,591,1499,94,92118,2,10,79,79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.104619,0.000000,0.0
2,0,2032,1778,4335,245,92021,5,13,292,292,...,0.0,0.0,0.0,0.0,0.0,0.0,3.955174,19.359395,0.808164,0.0
3,0,2032,2463,1594,2,92103,2,27,55,55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,6.319781,0.000000,0.0
4,0,2032,2514,3849,75,92119,3,6,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,31.132572,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170242,0,2050,22399,4884,229,91906,8,14,13,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,612.689264,0.000000,0.0
170243,0,2050,22400,4892,229,91906,8,14,13,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,379.892975,0.000000,0.0
170244,0,2050,22435,4848,220,91916,8,14,112,112,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,227.739678,0.000000,0.0
170245,0,2050,22436,4848,220,91916,8,14,31,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,92.737743,0.000000,0.0
170246,0,2050,22450,4837,114,91901,8,14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,145.801926,76.523444,0.0

In [4]:
for year in full_mgra_data['increment'].unique():
    full_mgra_data[full_mgra_data['increment']==year].to_csv('C:/Users/jchu/OneDrive - San Diego Association of Governments/Projects/2023/Series 15 Subregional Forecast/2023-083 MGRA Input File- Series 15 Subregional Baseline Forecast/Data/{}/{}_{}/mgra_based_input_{}_{}.csv'.format(str(year), str(year), version, str(year), version), index=False)

In [5]:
geo_dfs = {}
geo_dfs['mgra'] = mgra_output('SR15', False)
geo_dfs['mgra']['vacancy'] = geo_dfs['mgra']['hs'] - geo_dfs['mgra']['hh']
geo_dfs['mgra']['vacancy_rate'] = geo_dfs['mgra']['vacancy']/geo_dfs['mgra']['hs']
geo_dfs['mgra'] = geo_dfs['mgra'].set_index(['mgra', 'year'])
geo_dfs['mgra'].insert(0, 'geotype', 'mgra')

In [6]:
# compare columns. check if all columns are accounted for

for col in pd.read_csv(r'C:/Users/jchu/OneDrive - San Diego Association of Governments/Projects/2023/Series 15 Subregional Forecast/2023-083 MGRA Input File- Series 15 Subregional Baseline Forecast/Data/2022/2022_2023_11_10/mgra_based_input_2022_2023_11_10.csv').columns:
    if col not in list(geo_dfs['mgra'].columns):
        print(col)

year
mgra

### Geography roll-up with all forecast years (Region, Jurisdiction, CPA, LUZ)

In [7]:
geo_levels = ['region', 'jurisdiction', 'cpa', 'luz', 'taz']
for geo in tqdm(geo_levels):
    geo_dfs[geo] = create_mgra_denorm_table(geo_dfs['mgra'].reset_index(), 
                         geo_level=geo,
                         output_folder_path=False, 
                         version='SR15',
                         series=15)
    if geo == 'cpa':
        geo_dfs[geo] = add_cpa_names(geo_dfs[geo], 15).set_index(['cpa', 'year'])
    geo_dfs[geo].insert(0, 'geotype', geo)
    display(geo_dfs[geo])
geo_dfs['jurisdiction']

  0%|                                                                                            | 0/5 [00:00<?, ?it/s]

               geotype  scenario  increment       taz      luz         zip  \
region    year
San Diego 2022  region         0   49177062  61885698  2834354  2238859007
          2026  region         0   49274346  61885698  2834354  2238859007
          2029  region         0   49347309  61885698  2834354  2238859007
          2032  region         0   49420272  61885698  2834354  2238859007
          2035  region         0   49493235  61885698  2834354  2238859007
          2040  region         0   49614840  61885698  2834354  2238859007
          2050  region         0   49858050  61885698  2834354  2238859007

                pseudomsa  district27      pop      hhp  ...  redev_emp_res  \
region    year                                           ...
San Diego 2022     111419      232154  3287306  3170895  ...    5777.011316
          2026     111419      232154  3302237  3188816  ...    3892.168801
          2029     111419      232154  3334675  3220394  ...    3683.472633
          2032     111419      232154  3373033  3257421  ...    3587.083845
          2035     111419      232154  3404362  3287304  ...    3494.090034
          2040     111419      232154  3432211  3315776  ...    3143.145179
          2050     111419      232154  3400250  3285676  ...    3013.373941

                redev_emp_emp    infill_sf   infill_mf   infill_emp  \
region    year
San Diego 2022    9795.482252  5077.680910  868.121367  8754.099688
          2026    9345.646181  2880.242699  787.866338  8577.769974
          2029    9142.241142  2704.199250  740.414556  8377.705003
          2032    8943.604243  2573.356699  581.599861  8171.671660
          2035    8147.655748  2354.955800  511.746377  7703.180016
          2040    7420.254174  2059.836740  464.330940  7140.053519
          2050    6403.025883  1597.825257  431.514269  6582.422681

                         dev           vac       unusable  vacancy  \
region    year
San Diego 2022  2.087883e+06  63028.828763  114774.490297    75170
          2026  2.106848e+06  44288.003429  114774.490297    85846
          2029  2.109682e+06  41454.160088  114774.490297    92735
          2032  2.112020e+06  39114.916522  114774.490297    94882
          2035  2.114745e+06  36391.996523  114774.490297    96868
          2040  2.117018e+06  34124.406122  114774.490297    99898
          2050  2.120085e+06  31058.964985  114774.490297   103918

                vacancy_rate
region    year
San Diego 2022      0.060835
          2026      0.066673
          2029      0.070253
          2032      0.070441
          2035      0.070558
          2040      0.070819
          2050      0.072242

[7 rows x 127 columns]

 20%|████████████████▊                                                                   | 1/5 [00:02<00:08,  2.18s/it]

                        geotype  scenario  increment     taz     luz  \
jurisdiction year
Carlsbad     2022  jurisdiction         0    1532676  294881  126916
             2026  jurisdiction         0    1535708  294881  126916
             2029  jurisdiction         0    1537982  294881  126916
             2032  jurisdiction         0    1540256  294881  126916
             2035  jurisdiction         0    1542530  294881  126916
...                         ...       ...        ...     ...     ...
Vista        2029  jurisdiction         0    1446677  627759  135889
             2032  jurisdiction         0    1448816  627759  135889
             2035  jurisdiction         0    1450955  627759  135889
             2040  jurisdiction         0    1454520  627759  135889
             2050  jurisdiction         0    1461650  627759  135889

                        zip  pseudomsa  district27     pop     hhp  ...  \
jurisdiction year                                                   ...
Carlsbad     2022  69743180       4550         859  115585  114619  ...
             2026  69743180       4550         859  115841  114900  ...
             2029  69743180       4550         859  119035  118086  ...
             2032  69743180       4550         859  119702  118749  ...
             2035  69743180       4550         859  119937  118963  ...
...                     ...        ...         ...     ...     ...  ...
Vista        2029  65655038       4928         713  100832   98814  ...
             2032  65655038       4928         713  101224   99195  ...
             2035  65655038       4928         713  101584   99499  ...
             2040  65655038       4928         713   99947   97883  ...
             2050  65655038       4928         713   97676   95786  ...

                   redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
jurisdiction year
Carlsbad     2022      48.981013     266.827288   2.975080  24.947334
             2026      28.161705     240.786677   1.212635  16.958822
             2029      17.336878     227.419313   0.000000  16.767676
             2032      10.089850     219.585099   0.000000   4.870878
             2035       2.124913     210.520416   0.000000   4.870878
...                          ...            ...        ...        ...
Vista        2029      92.815252     107.438778  10.431880   0.000000
             2032      91.869684     106.753358   4.910551   0.000000
             2035      91.869684     104.393730   0.000000   0.000000
             2040      87.702155      82.583274   0.000000   0.000000
             2050      87.702155      62.673640   0.000000   0.000000

                   infill_emp           dev         vac     unusable  vacancy  \
jurisdiction year
Carlsbad     2022  627.031082  18724.597352  845.282086  5471.912863     3113
             2026  591.159335  18967.314063  613.085271  5471.912863     3499
             2029  556.995782  19067.001469  513.397865  5471.912863     3961
             2032  510.803826  19145.427920  434.971413  5471.912863     4045
             2035  482.153882  19189.035361  391.363972  5471.912863     4120
...                       ...           ...         ...          ...      ...
Vista        2029  486.567135  11027.050357  346.154416   539.573510     1468
             2032  483.229710  11040.105373  333.099399   539.573510     1492
             2035  464.743406  11052.284102  320.920671   539.573510     1514
             2040  412.180207  11104.367478  268.837294   539.573510     1604
             2050  361.497434  11129.475974  243.728798   539.573510     1660

                   vacancy_rate
jurisdiction year
Carlsbad     2022      0.064714
             2026      0.070520
             2029      0.076343
             2032      0.076784
             2035      0.077319
...                         ...
Vista        2029      0.041577
             2032      0.041705
             2035      0.041842
             2040      0.044113
             2050      0.045270

[133 rows x 127 columns]

 40%|█████████████████████████████████▌                                                  | 2/5 [00:03<00:05,  1.90s/it]

          geotype  scenario  increment       taz      luz        zip  \
cpa  year
0    2022     cpa         0   18270792  19576400  1343072  831452093
     2026     cpa         0   18306936  19576400  1343072  831452093
     2029     cpa         0   18334044  19576400  1343072  831452093
     2032     cpa         0   18361152  19576400  1343072  831452093
     2035     cpa         0   18388260  19576400  1343072  831452093
...           ...       ...        ...       ...      ...        ...
1999 2029     cpa         0      56812     87662     2730    2574733
     2032     cpa         0      56896     87662     2730    2574733
     2035     cpa         0      56980     87662     2730    2574733
     2040     cpa         0      57120     87662     2730    2574733
     2050     cpa         0      57400     87662     2730    2574733

           pseudomsa  district27      pop      hhp  ...  redev_emp_emp  \
cpa  year                                           ...
0    2022      47673       49808  1399346  1372115  ...    1811.178538
     2026      47673       49808  1399803  1373636  ...    1656.061357
     2029      47673       49808  1417019  1390503  ...    1597.243749
     2032      47673       49808  1451434  1424008  ...    1517.895996
     2035      47673       49808  1466553  1438544  ...    1463.489250
...              ...         ...      ...      ...  ...            ...
1999 2029         60         274     2539     2539  ...      64.510573
     2032         60         274     2537     2537  ...      64.306363
     2035         60         274     2577     2577  ...      63.871183
     2040         60         274     2525     2525  ...      62.786514
     2050         60         274     2584     2584  ...      59.811422

           infill_sf   infill_mf   infill_emp            dev           vac  \
cpa  year
0    2022  70.521071  559.760262  4448.567459  177412.265136  14760.720904
     2026  29.169509  506.366823  4320.317121  180853.203741  11394.838346
     2029  22.780979  461.758200  4171.256838  182341.525777   9906.516309
     2032   7.672304  407.280975  4012.085057  183685.580225   8561.040730
     2035   2.510639  342.874423  3688.324460  184656.797300   7590.854737
...              ...         ...          ...            ...           ...
1999 2029   2.146079    0.000000     0.000000     366.552780      8.717923
     2032   2.146079    0.000000     0.000000     366.927985      8.342718
     2035   2.056487    0.000000     0.000000     367.817233      7.453470
     2040   2.056487    0.000000     0.000000     368.002352      7.268351
     2050   0.000000    0.000000     0.000000     371.018476      4.252227

               unusable  vacancy  vacancy_rate        cpa_name
cpa  year
0    2022  31874.072908    26057      0.051809      Not in CPA
     2026  31874.072908    29158      0.056224      Not in CPA
     2029  31874.072908    31607      0.059406      Not in CPA
     2032  31874.072908    32627      0.059422      Not in CPA
     2035  31874.072908    33390      0.059654      Not in CPA
...                 ...      ...           ...             ...
1999 2029      0.000000       40      0.053836  County Islands
     2032      0.000000       40      0.053262  County Islands
     2035      0.000000       40      0.051881  County Islands
     2040      0.000000       42      0.054124  County Islands
     2050      0.000000       46      0.055489  County Islands

[616 rows x 128 columns]

 60%|██████████████████████████████████████████████████▍                                 | 3/5 [00:06<00:04,  2.18s/it]

         geotype  scenario  increment     taz       zip  pseudomsa  \
luz year
1   2022     luz         0     299256  221777  13631580        296
    2026     luz         0     299848  221777  13631580        296
    2029     luz         0     300292  221777  13631580        296
    2032     luz         0     300736  221777  13631580        296
    2035     luz         0     301180  221777  13631580        296
...          ...       ...        ...     ...       ...        ...
245 2029     luz         0      79131  169137   3588811        195
    2032     luz         0      79248  169137   3588811        195
    2035     luz         0      79365  169137   3588811        195
    2040     luz         0      79560  169137   3588811        195
    2050     luz         0      79950  169137   3588811        195

          district27    pop    hhp  gq  ...  redev_emp_res  redev_emp_emp  \
luz year                                ...
1   2022        3996   7233   7191  42  ...       0.115001      17.192360
    2026        3996   7515   7474  41  ...       0.000000      17.192360
    2029        3996   7596   7555  41  ...       0.000000      17.192360
    2032        3996   7621   7580  41  ...       0.000000      17.192360
    2035        3996   7735   7694  41  ...       0.000000      17.192360
...              ...    ...    ...  ..  ...            ...            ...
245 2029         507  10707  10637  70  ...       4.691822      93.587226
    2032         507  10646  10576  70  ...       4.691822      92.369799
    2035         507  10668  10597  71  ...       4.491585      87.975826
    2040         507  11134  11064  70  ...       3.721173      73.319766
    2050         507  10911  10849  62  ...       3.470877      47.618641

          infill_sf  infill_mf  infill_emp         dev        vac   unusable  \
luz year
1   2022   0.000000   0.000000    6.912115  877.007383  18.844594  59.487941
    2026   0.000000   0.000000    6.912115  883.270231  13.729838  59.487941
    2029   0.000000   0.000000    6.912115  883.423150  13.576919  59.487941
    2032   0.000000   0.000000    6.912115  883.609566  13.390503  59.487941
    2035   0.000000   0.000000    6.912115  883.867322  13.132746  59.487941
...             ...        ...         ...         ...        ...        ...
245 2029  77.829521  27.032324    8.162603  687.867490  19.036380   0.000000
    2032  74.730239  26.902801    8.162603  688.179774  18.724097   0.000000
    2035  68.224587  25.996143    8.162603  689.502872  17.400998   0.000000
    2040   0.000000  24.441871    8.162603  696.191335  10.712536   0.000000
    2050   0.000000  22.499032    8.162603  698.968235   7.935635   0.000000

          vacancy  vacancy_rate
luz year
1   2022      188      0.049292
    2026      217      0.053646
    2029      236      0.057129
    2032      239      0.057259
    2035      242      0.056808
...           ...           ...
245 2029       56      0.014452
    2032       56      0.014396
    2035       55      0.013988
    2040       67      0.015983
    2050       70      0.016556

[1715 rows x 126 columns]

 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [00:09<00:02,  2.36s/it]

          geotype  scenario  increment   luz     zip  pseudomsa  district27  \
taz  year
13   2022     taz         0       8088   676  370071         24           4
     2026     taz         0       8104   676  370071         24           4
     2029     taz         0       8116   676  370071         24           4
     2032     taz         0       8128   676  370071         24           4
     2035     taz         0       8140   676  370071         24           4
...           ...       ...        ...   ...     ...        ...         ...
4947 2029     taz         0      16232  1808  735472         64         112
     2032     taz         0      16256  1808  735472         64         112
     2035     taz         0      16280  1808  735472         64         112
     2040     taz         0      16320  1808  735472         64         112
     2050     taz         0      16400  1808  735472         64         112

            pop   hhp    gq  ...  redev_emp_res  redev_emp_emp  infill_sf  \
taz  year                    ...
13   2022  4646  2859  1787  ...            0.0            0.0        0.0
     2026  4591  2831  1760  ...            0.0            0.0        0.0
     2029  4565  2796  1769  ...            0.0            0.0        0.0
     2032  4550  2767  1783  ...            0.0            0.0        0.0
     2035  4536  2740  1796  ...            0.0            0.0        0.0
...         ...   ...   ...  ...            ...            ...        ...
4947 2029     7     7     0  ...            0.0            0.0        0.0
     2032     7     7     0  ...            0.0            0.0        0.0
     2035     7     7     0  ...            0.0            0.0        0.0
     2040     7     7     0  ...            0.0            0.0        0.0
     2050     7     7     0  ...            0.0            0.0        0.0

           infill_mf  infill_emp          dev        vac  unusable  vacancy  \
taz  year
13   2022        0.0         0.0  4889.004243    0.00000       0.0       83
     2026        0.0         0.0  4889.004243    0.00000       0.0       66
     2029        0.0         0.0  4889.004243    0.00000       0.0       67
     2032        0.0         0.0  4889.004243    0.00000       0.0       67
     2035        0.0         0.0  4889.004243    0.00000       0.0       67
...              ...         ...          ...        ...       ...      ...
4947 2029        0.0         0.0   960.073851  270.55383       0.0        5
     2032        0.0         0.0   960.073851  270.55383       0.0        5
     2035        0.0         0.0   960.073851  270.55383       0.0        5
     2040        0.0         0.0   960.073851  270.55383       0.0        5
     2050        0.0         0.0   960.073851  270.55383       0.0        5

           vacancy_rate
taz  year
13   2022      0.083585
     2026      0.066465
     2029      0.067472
     2032      0.067472
     2035      0.067472
...                 ...
4947 2029      0.625000
     2032      0.625000
     2035      0.625000
     2040      0.625000
     2050      0.625000

[34545 rows x 126 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:11<00:00,  2.27s/it]

                        geotype  scenario  increment     taz     luz  \
jurisdiction year
Carlsbad     2022  jurisdiction         0    1532676  294881  126916
             2026  jurisdiction         0    1535708  294881  126916
             2029  jurisdiction         0    1537982  294881  126916
             2032  jurisdiction         0    1540256  294881  126916
             2035  jurisdiction         0    1542530  294881  126916
...                         ...       ...        ...     ...     ...
Vista        2029  jurisdiction         0    1446677  627759  135889
             2032  jurisdiction         0    1448816  627759  135889
             2035  jurisdiction         0    1450955  627759  135889
             2040  jurisdiction         0    1454520  627759  135889
             2050  jurisdiction         0    1461650  627759  135889

                        zip  pseudomsa  district27     pop     hhp  ...  \
jurisdiction year                                                   ...
Carlsbad     2022  69743180       4550         859  115585  114619  ...
             2026  69743180       4550         859  115841  114900  ...
             2029  69743180       4550         859  119035  118086  ...
             2032  69743180       4550         859  119702  118749  ...
             2035  69743180       4550         859  119937  118963  ...
...                     ...        ...         ...     ...     ...  ...
Vista        2029  65655038       4928         713  100832   98814  ...
             2032  65655038       4928         713  101224   99195  ...
             2035  65655038       4928         713  101584   99499  ...
             2040  65655038       4928         713   99947   97883  ...
             2050  65655038       4928         713   97676   95786  ...

                   redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
jurisdiction year
Carlsbad     2022      48.981013     266.827288   2.975080  24.947334
             2026      28.161705     240.786677   1.212635  16.958822
             2029      17.336878     227.419313   0.000000  16.767676
             2032      10.089850     219.585099   0.000000   4.870878
             2035       2.124913     210.520416   0.000000   4.870878
...                          ...            ...        ...        ...
Vista        2029      92.815252     107.438778  10.431880   0.000000
             2032      91.869684     106.753358   4.910551   0.000000
             2035      91.869684     104.393730   0.000000   0.000000
             2040      87.702155      82.583274   0.000000   0.000000
             2050      87.702155      62.673640   0.000000   0.000000

                   infill_emp           dev         vac     unusable  vacancy  \
jurisdiction year
Carlsbad     2022  627.031082  18724.597352  845.282086  5471.912863     3113
             2026  591.159335  18967.314063  613.085271  5471.912863     3499
             2029  556.995782  19067.001469  513.397865  5471.912863     3961
             2032  510.803826  19145.427920  434.971413  5471.912863     4045
             2035  482.153882  19189.035361  391.363972  5471.912863     4120
...                       ...           ...         ...          ...      ...
Vista        2029  486.567135  11027.050357  346.154416   539.573510     1468
             2032  483.229710  11040.105373  333.099399   539.573510     1492
             2035  464.743406  11052.284102  320.920671   539.573510     1514
             2040  412.180207  11104.367478  268.837294   539.573510     1604
             2050  361.497434  11129.475974  243.728798   539.573510     1660

                   vacancy_rate
jurisdiction year
Carlsbad     2022      0.064714
             2026      0.070520
             2029      0.076343
             2032      0.076784
             2035      0.077319
...                         ...
Vista        2029      0.041577
             2032      0.041705
             2035      0.041842
             2040      0.044113
             2050      0.045270

[133 rows x 127 columns]

In [8]:
# consolidated files:
writer = pd.ExcelWriter(r'Data/mgra15_based_input_consolidated_{}.xlsx'.format(version), engine='xlsxwriter')
for geo, df in tqdm(geo_dfs.items()):
    display(df)
    df.reset_index().sort_values([geo, 'year']).to_excel(writer, sheet_name = '{}'.format(geo), index=False)
writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,,geotype,scenario,increment,taz,luz,zip,pseudomsa,district27,pop,hhp,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
mgra,year,,,,,,,,,,,,,,,,,,,,,
1336,2022,mgra,0,2022,2700,96,91950,2,10,64,64,...,0.0,0.0,0.0,0.0,0.000000,3.587805,0.000000,0.0,0,0.000000
1329,2022,mgra,0,2022,720,34,92107,2,26,13,13,...,0.0,0.0,0.0,0.0,0.000000,1.620034,0.000000,0.0,0,0.000000
4925,2022,mgra,0,2022,1914,65,92123,3,5,0,0,...,0.0,0.0,0.0,0.0,0.000000,44.651054,1.931806,0.0,0,NaN
1331,2022,mgra,0,2022,371,151,92007,6,2,151,151,...,0.0,0.0,0.0,0.0,0.070214,7.951683,0.000000,0.0,9,0.111111
4918,2022,mgra,0,2022,3294,101,91910,4,11,241,241,...,0.0,0.0,0.0,0.0,0.000000,20.618079,0.000000,0.0,3,0.040000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22399,2050,mgra,0,2050,4884,229,91906,8,14,13,13,...,0.0,0.0,0.0,0.0,0.000000,612.689264,0.000000,0.0,4,0.444444
22400,2050,mgra,0,2050,4892,229,91906,8,14,13,13,...,0.0,0.0,0.0,0.0,0.000000,379.892975,0.000000,0.0,5,0.500000
22435,2050,mgra,0,2050,4848,220,91916,8,14,112,112,...,0.0,0.0,0.0,0.0,0.000000,227.739678,0.000000,0.0,1,0.021277
22436,2050,mgra,0,2050,4848,220,91916,8,14,31,31,...,0.0,0.0,0.0,0.0,0.000000,92.737743,0.000000,0.0,5,0.277778
22450,2050,mgra,0,2050,4837,114,91901,8,14,0,0,...,0.0,0.0,0.0,0.0,0.000000,145.801926,76.523444,0.0,0,NaN

 17%|█████████████▊                                                                     | 1/6 [02:27<12:15, 147.09s/it]

               geotype  scenario  increment       taz      luz         zip  \
region    year
San Diego 2022  region         0   49177062  61885698  2834354  2238859007
          2026  region         0   49274346  61885698  2834354  2238859007
          2029  region         0   49347309  61885698  2834354  2238859007
          2032  region         0   49420272  61885698  2834354  2238859007
          2035  region         0   49493235  61885698  2834354  2238859007
          2040  region         0   49614840  61885698  2834354  2238859007
          2050  region         0   49858050  61885698  2834354  2238859007

                pseudomsa  district27      pop      hhp  ...  redev_emp_res  \
region    year                                           ...
San Diego 2022     111419      232154  3287306  3170895  ...    5777.011316
          2026     111419      232154  3302237  3188816  ...    3892.168801
          2029     111419      232154  3334675  3220394  ...    3683.472633
          2032     111419      232154  3373033  3257421  ...    3587.083845
          2035     111419      232154  3404362  3287304  ...    3494.090034
          2040     111419      232154  3432211  3315776  ...    3143.145179
          2050     111419      232154  3400250  3285676  ...    3013.373941

                redev_emp_emp    infill_sf   infill_mf   infill_emp  \
region    year
San Diego 2022    9795.482252  5077.680910  868.121367  8754.099688
          2026    9345.646181  2880.242699  787.866338  8577.769974
          2029    9142.241142  2704.199250  740.414556  8377.705003
          2032    8943.604243  2573.356699  581.599861  8171.671660
          2035    8147.655748  2354.955800  511.746377  7703.180016
          2040    7420.254174  2059.836740  464.330940  7140.053519
          2050    6403.025883  1597.825257  431.514269  6582.422681

                         dev           vac       unusable  vacancy  \
region    year
San Diego 2022  2.087883e+06  63028.828763  114774.490297    75170
          2026  2.106848e+06  44288.003429  114774.490297    85846
          2029  2.109682e+06  41454.160088  114774.490297    92735
          2032  2.112020e+06  39114.916522  114774.490297    94882
          2035  2.114745e+06  36391.996523  114774.490297    96868
          2040  2.117018e+06  34124.406122  114774.490297    99898
          2050  2.120085e+06  31058.964985  114774.490297   103918

                vacancy_rate
region    year
San Diego 2022      0.060835
          2026      0.066673
          2029      0.070253
          2032      0.070441
          2035      0.070558
          2040      0.070819
          2050      0.072242

[7 rows x 127 columns]

                        geotype  scenario  increment     taz     luz  \
jurisdiction year
Carlsbad     2022  jurisdiction         0    1532676  294881  126916
             2026  jurisdiction         0    1535708  294881  126916
             2029  jurisdiction         0    1537982  294881  126916
             2032  jurisdiction         0    1540256  294881  126916
             2035  jurisdiction         0    1542530  294881  126916
...                         ...       ...        ...     ...     ...
Vista        2029  jurisdiction         0    1446677  627759  135889
             2032  jurisdiction         0    1448816  627759  135889
             2035  jurisdiction         0    1450955  627759  135889
             2040  jurisdiction         0    1454520  627759  135889
             2050  jurisdiction         0    1461650  627759  135889

                        zip  pseudomsa  district27     pop     hhp  ...  \
jurisdiction year                                                   ...
Carlsbad     2022  69743180       4550         859  115585  114619  ...
             2026  69743180       4550         859  115841  114900  ...
             2029  69743180       4550         859  119035  118086  ...
             2032  69743180       4550         859  119702  118749  ...
             2035  69743180       4550         859  119937  118963  ...
...                     ...        ...         ...     ...     ...  ...
Vista        2029  65655038       4928         713  100832   98814  ...
             2032  65655038       4928         713  101224   99195  ...
             2035  65655038       4928         713  101584   99499  ...
             2040  65655038       4928         713   99947   97883  ...
             2050  65655038       4928         713   97676   95786  ...

                   redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
jurisdiction year
Carlsbad     2022      48.981013     266.827288   2.975080  24.947334
             2026      28.161705     240.786677   1.212635  16.958822
             2029      17.336878     227.419313   0.000000  16.767676
             2032      10.089850     219.585099   0.000000   4.870878
             2035       2.124913     210.520416   0.000000   4.870878
...                          ...            ...        ...        ...
Vista        2029      92.815252     107.438778  10.431880   0.000000
             2032      91.869684     106.753358   4.910551   0.000000
             2035      91.869684     104.393730   0.000000   0.000000
             2040      87.702155      82.583274   0.000000   0.000000
             2050      87.702155      62.673640   0.000000   0.000000

                   infill_emp           dev         vac     unusable  vacancy  \
jurisdiction year
Carlsbad     2022  627.031082  18724.597352  845.282086  5471.912863     3113
             2026  591.159335  18967.314063  613.085271  5471.912863     3499
             2029  556.995782  19067.001469  513.397865  5471.912863     3961
             2032  510.803826  19145.427920  434.971413  5471.912863     4045
             2035  482.153882  19189.035361  391.363972  5471.912863     4120
...                       ...           ...         ...          ...      ...
Vista        2029  486.567135  11027.050357  346.154416   539.573510     1468
             2032  483.229710  11040.105373  333.099399   539.573510     1492
             2035  464.743406  11052.284102  320.920671   539.573510     1514
             2040  412.180207  11104.367478  268.837294   539.573510     1604
             2050  361.497434  11129.475974  243.728798   539.573510     1660

                   vacancy_rate
jurisdiction year
Carlsbad     2022      0.064714
             2026      0.070520
             2029      0.076343
             2032      0.076784
             2035      0.077319
...                         ...
Vista        2029      0.041577
             2032      0.041705
             2035      0.041842
             2040      0.044113
             2050      0.045270

[133 rows x 127 columns]

 50%|██████████████████████████████████████████                                          | 3/6 [02:27<01:54, 38.19s/it]

          geotype  scenario  increment       taz      luz        zip  \
cpa  year
0    2022     cpa         0   18270792  19576400  1343072  831452093
     2026     cpa         0   18306936  19576400  1343072  831452093
     2029     cpa         0   18334044  19576400  1343072  831452093
     2032     cpa         0   18361152  19576400  1343072  831452093
     2035     cpa         0   18388260  19576400  1343072  831452093
...           ...       ...        ...       ...      ...        ...
1999 2029     cpa         0      56812     87662     2730    2574733
     2032     cpa         0      56896     87662     2730    2574733
     2035     cpa         0      56980     87662     2730    2574733
     2040     cpa         0      57120     87662     2730    2574733
     2050     cpa         0      57400     87662     2730    2574733

           pseudomsa  district27      pop      hhp  ...  redev_emp_emp  \
cpa  year                                           ...
0    2022      47673       49808  1399346  1372115  ...    1811.178538
     2026      47673       49808  1399803  1373636  ...    1656.061357
     2029      47673       49808  1417019  1390503  ...    1597.243749
     2032      47673       49808  1451434  1424008  ...    1517.895996
     2035      47673       49808  1466553  1438544  ...    1463.489250
...              ...         ...      ...      ...  ...            ...
1999 2029         60         274     2539     2539  ...      64.510573
     2032         60         274     2537     2537  ...      64.306363
     2035         60         274     2577     2577  ...      63.871183
     2040         60         274     2525     2525  ...      62.786514
     2050         60         274     2584     2584  ...      59.811422

           infill_sf   infill_mf   infill_emp            dev           vac  \
cpa  year
0    2022  70.521071  559.760262  4448.567459  177412.265136  14760.720904
     2026  29.169509  506.366823  4320.317121  180853.203741  11394.838346
     2029  22.780979  461.758200  4171.256838  182341.525777   9906.516309
     2032   7.672304  407.280975  4012.085057  183685.580225   8561.040730
     2035   2.510639  342.874423  3688.324460  184656.797300   7590.854737
...              ...         ...          ...            ...           ...
1999 2029   2.146079    0.000000     0.000000     366.552780      8.717923
     2032   2.146079    0.000000     0.000000     366.927985      8.342718
     2035   2.056487    0.000000     0.000000     367.817233      7.453470
     2040   2.056487    0.000000     0.000000     368.002352      7.268351
     2050   0.000000    0.000000     0.000000     371.018476      4.252227

               unusable  vacancy  vacancy_rate        cpa_name
cpa  year
0    2022  31874.072908    26057      0.051809      Not in CPA
     2026  31874.072908    29158      0.056224      Not in CPA
     2029  31874.072908    31607      0.059406      Not in CPA
     2032  31874.072908    32627      0.059422      Not in CPA
     2035  31874.072908    33390      0.059654      Not in CPA
...                 ...      ...           ...             ...
1999 2029      0.000000       40      0.053836  County Islands
     2032      0.000000       40      0.053262  County Islands
     2035      0.000000       40      0.051881  County Islands
     2040      0.000000       42      0.054124  County Islands
     2050      0.000000       46      0.055489  County Islands

[616 rows x 128 columns]

         geotype  scenario  increment     taz       zip  pseudomsa  \
luz year
1   2022     luz         0     299256  221777  13631580        296
    2026     luz         0     299848  221777  13631580        296
    2029     luz         0     300292  221777  13631580        296
    2032     luz         0     300736  221777  13631580        296
    2035     luz         0     301180  221777  13631580        296
...          ...       ...        ...     ...       ...        ...
245 2029     luz         0      79131  169137   3588811        195
    2032     luz         0      79248  169137   3588811        195
    2035     luz         0      79365  169137   3588811        195
    2040     luz         0      79560  169137   3588811        195
    2050     luz         0      79950  169137   3588811        195

          district27    pop    hhp  gq  ...  redev_emp_res  redev_emp_emp  \
luz year                                ...
1   2022        3996   7233   7191  42  ...       0.115001      17.192360
    2026        3996   7515   7474  41  ...       0.000000      17.192360
    2029        3996   7596   7555  41  ...       0.000000      17.192360
    2032        3996   7621   7580  41  ...       0.000000      17.192360
    2035        3996   7735   7694  41  ...       0.000000      17.192360
...              ...    ...    ...  ..  ...            ...            ...
245 2029         507  10707  10637  70  ...       4.691822      93.587226
    2032         507  10646  10576  70  ...       4.691822      92.369799
    2035         507  10668  10597  71  ...       4.491585      87.975826
    2040         507  11134  11064  70  ...       3.721173      73.319766
    2050         507  10911  10849  62  ...       3.470877      47.618641

          infill_sf  infill_mf  infill_emp         dev        vac   unusable  \
luz year
1   2022   0.000000   0.000000    6.912115  877.007383  18.844594  59.487941
    2026   0.000000   0.000000    6.912115  883.270231  13.729838  59.487941
    2029   0.000000   0.000000    6.912115  883.423150  13.576919  59.487941
    2032   0.000000   0.000000    6.912115  883.609566  13.390503  59.487941
    2035   0.000000   0.000000    6.912115  883.867322  13.132746  59.487941
...             ...        ...         ...         ...        ...        ...
245 2029  77.829521  27.032324    8.162603  687.867490  19.036380   0.000000
    2032  74.730239  26.902801    8.162603  688.179774  18.724097   0.000000
    2035  68.224587  25.996143    8.162603  689.502872  17.400998   0.000000
    2040   0.000000  24.441871    8.162603  696.191335  10.712536   0.000000
    2050   0.000000  22.499032    8.162603  698.968235   7.935635   0.000000

          vacancy  vacancy_rate
luz year
1   2022      188      0.049292
    2026      217      0.053646
    2029      236      0.057129
    2032      239      0.057259
    2035      242      0.056808
...           ...           ...
245 2029       56      0.014452
    2032       56      0.014396
    2035       55      0.013988
    2040       67      0.015983
    2050       70      0.016556

[1715 rows x 126 columns]

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [02:28<00:18, 18.98s/it]

          geotype  scenario  increment   luz     zip  pseudomsa  district27  \
taz  year
13   2022     taz         0       8088   676  370071         24           4
     2026     taz         0       8104   676  370071         24           4
     2029     taz         0       8116   676  370071         24           4
     2032     taz         0       8128   676  370071         24           4
     2035     taz         0       8140   676  370071         24           4
...           ...       ...        ...   ...     ...        ...         ...
4947 2029     taz         0      16232  1808  735472         64         112
     2032     taz         0      16256  1808  735472         64         112
     2035     taz         0      16280  1808  735472         64         112
     2040     taz         0      16320  1808  735472         64         112
     2050     taz         0      16400  1808  735472         64         112

            pop   hhp    gq  ...  redev_emp_res  redev_emp_emp  infill_sf  \
taz  year                    ...
13   2022  4646  2859  1787  ...            0.0            0.0        0.0
     2026  4591  2831  1760  ...            0.0            0.0        0.0
     2029  4565  2796  1769  ...            0.0            0.0        0.0
     2032  4550  2767  1783  ...            0.0            0.0        0.0
     2035  4536  2740  1796  ...            0.0            0.0        0.0
...         ...   ...   ...  ...            ...            ...        ...
4947 2029     7     7     0  ...            0.0            0.0        0.0
     2032     7     7     0  ...            0.0            0.0        0.0
     2035     7     7     0  ...            0.0            0.0        0.0
     2040     7     7     0  ...            0.0            0.0        0.0
     2050     7     7     0  ...            0.0            0.0        0.0

           infill_mf  infill_emp          dev        vac  unusable  vacancy  \
taz  year
13   2022        0.0         0.0  4889.004243    0.00000       0.0       83
     2026        0.0         0.0  4889.004243    0.00000       0.0       66
     2029        0.0         0.0  4889.004243    0.00000       0.0       67
     2032        0.0         0.0  4889.004243    0.00000       0.0       67
     2035        0.0         0.0  4889.004243    0.00000       0.0       67
...              ...         ...          ...        ...       ...      ...
4947 2029        0.0         0.0   960.073851  270.55383       0.0        5
     2032        0.0         0.0   960.073851  270.55383       0.0        5
     2035        0.0         0.0   960.073851  270.55383       0.0        5
     2040        0.0         0.0   960.073851  270.55383       0.0        5
     2050        0.0         0.0   960.073851  270.55383       0.0        5

           vacancy_rate
taz  year
13   2022      0.083585
     2026      0.066465
     2029      0.067472
     2032      0.067472
     2035      0.067472
...                 ...
4947 2029      0.625000
     2032      0.625000
     2035      0.625000
     2040      0.625000
     2050      0.625000

[34545 rows x 126 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [02:58<00:00, 29.68s/it]

In [9]:
# write year data into excel
for year in tqdm(years):
    writer = pd.ExcelWriter(r'Data/{}/mgra15_based_input_{}_{}.xlsx'.format(year, year, version), engine='xlsxwriter')
    for geo, df in tqdm(geo_dfs.items()):
        output = df.reset_index()
        output = output[output['year'].isin([year])].reset_index(drop=True)
        if 'taz' in list(output.columns)and geo != 'taz':
            output = output.drop('taz', axis=1)
        if 'LUZ' in list(output.columns):
            output = output.drop('LUZ', axis=1)
        output.insert(1, 'geozone', output[geo])
        display(output)
        output.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/7 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1336,1336,2022,mgra,0,2022,96,91950,2,10,...,0.0,0.0,0.0,0.0,0.000000,3.587805,0.000000,0.0,0,0.000000
1,1329,1329,2022,mgra,0,2022,34,92107,2,26,...,0.0,0.0,0.0,0.0,0.000000,1.620034,0.000000,0.0,0,0.000000
2,4925,4925,2022,mgra,0,2022,65,92123,3,5,...,0.0,0.0,0.0,0.0,0.000000,44.651054,1.931806,0.0,0,NaN
3,1331,1331,2022,mgra,0,2022,151,92007,6,2,...,0.0,0.0,0.0,0.0,0.070214,7.951683,0.000000,0.0,9,0.111111
4,4918,4918,2022,mgra,0,2022,101,91910,4,11,...,0.0,0.0,0.0,0.0,0.000000,20.618079,0.000000,0.0,3,0.040000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,14411,14411,2022,mgra,0,2022,107,92019,5,13,...,0.0,0.0,0.0,0.0,0.000000,45.631507,0.000000,0.0,1,0.066667
24317,14497,14497,2022,mgra,0,2022,239,92019,5,13,...,0.0,0.0,0.0,0.0,1.739239,7.289608,0.000000,0.0,0,0.000000
24318,493,493,2022,mgra,0,2022,2,92103,2,27,...,0.0,0.0,0.0,0.0,0.000000,3.145849,0.114938,0.0,7,0.101449
24319,14461,14461,2022,mgra,0,2022,108,92019,5,13,...,0.0,0.0,0.0,0.0,0.000000,29.604987,0.000000,0.0,10,0.061728
24320,14511,14511,2022,mgra,0,2022,107,92019,5,13,...,0.0,0.0,0.0,0.0,0.000000,34.395383,0.000000,0.0,1,0.083333

 17%|██████████████                                                                      | 1/6 [00:20<01:40, 20.18s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2022,region,0,49177062,2834354,2238859007,111419,232154,...,5777.011316,9795.482252,5077.68091,868.121367,8754.099688,2.087883e+06,63028.828763,114774.490297,75170,0.060835

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2022,jurisdiction,0,1532676,126916,69743180,4550,859,...,48.981013,266.827288,2.975080,24.947334,627.031082,1.872460e+04,845.282086,5471.912863,3113,0.064714
1,Chula Vista,Chula Vista,2022,jurisdiction,0,2173650,112956,98805269,4299,12401,...,245.136647,319.726038,0.503478,8.292870,499.112329,2.774602e+04,2730.834133,3057.663242,2731,0.030984
2,Coronado,Coronado,2022,jurisdiction,0,450906,23634,20542192,446,2243,...,2.190672,122.140115,9.515815,0.508823,26.040527,9.757778e+03,24.952730,309.573962,2210,0.228660
3,Del Mar,Del Mar,2022,jurisdiction,0,133452,2904,6072924,198,148,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.000006e+03,33.310773,102.908124,655,0.249144
4,El Cajon,El Cajon,2022,jurisdiction,0,1188936,82262,54107791,2940,7644,...,23.834850,63.628054,2.520019,4.246081,376.072664,8.846823e+03,272.873824,155.789973,1194,0.032632
5,Encinitas,Encinitas,2022,jurisdiction,0,1660062,123345,75548908,4926,1642,...,9.670661,52.607779,1.557644,0.000000,162.988627,9.839552e+03,426.598975,2246.207532,2068,0.077555
6,Escondido,Escondido,2022,jurisdiction,0,1900680,192371,86504804,6580,2820,...,64.587804,129.064203,5.776852,0.000000,560.361195,1.724417e+04,1665.539483,5034.396925,1810,0.036566
7,Imperial Beach,Imperial Beach,2022,jurisdiction,0,307344,29492,13973664,608,1672,...,3.533559,46.196002,0.130431,0.000000,10.468602,1.733914e+03,11.617292,1063.725145,714,0.071158
8,La Mesa,La Mesa,2022,jurisdiction,0,948318,51501,43120619,2345,4066,...,12.180635,6.519877,0.527566,0.000000,142.468202,5.676175e+03,122.549718,3.244729,1229,0.046792
9,Lemon Grove,Lemon Grove,2022,jurisdiction,0,363960,11559,16550100,879,1806,...,12.998008,1.001917,1.646096,0.000000,34.942079,2.384757e+03,63.252898,0.048723,337,0.036686
10,National City,National City,2022,jurisdiction,0,1031220,52689,46895144,1044,5133,...,4.889825,89.420318,8.272100,0.064160,31.126023,5.087032e+03,55.545936,0.000000,881,0.049561
11,Oceanside,Oceanside,2022,jurisdiction,0,2212068,179868,100708715,6590,1094,...,65.722963,114.087649,2.767024,495.581022,470.892380,2.344535e+04,1259.168503,2259.142826,4359,0.064410
12,Poway,Poway,2022,jurisdiction,0,1008978,67702,45939936,1505,2036,...,84.301294,142.815016,2.664571,0.000000,395.239469,1.412842e+04,2844.053619,8051.681044,491,0.029258
13,San Diego,San Diego,2022,jurisdiction,0,17836062,419898,812536173,23002,116457,...,457.999982,2962.934825,4.864501,202.122591,4037.145949,1.604332e+05,7439.050555,45382.897493,37507,0.067712
14,San Marcos,San Marcos,2022,jurisdiction,0,940230,86461,42814064,3240,1276,...,92.415755,220.010465,1.454013,3.652740,363.534391,1.165028e+04,1848.293928,2179.314838,1481,0.045832
15,Santee,Santee,2022,jurisdiction,0,604578,35795,27529226,1491,3887,...,67.200329,105.964332,3.948196,8.881538,208.044283,7.259500e+03,1931.600476,1359.100757,593,0.027675
16,Solana Beach,Solana Beach,2022,jurisdiction,0,372048,27728,16940519,1104,368,...,0.000000,8.432804,0.000000,12.909627,49.210524,2.105030e+03,34.897685,39.788713,942,0.144301
17,Unincorporated,Unincorporated,2022,jurisdiction,0,13070208,1071384,594870741,40744,65889,...,4469.218249,5021.368889,5002.295338,106.238515,268.386279,1.750037e+06,40829.057304,37517.519896,11606,0.064920
18,Vista,Vista,2022,jurisdiction,0,1441686,135889,65655038,4928,713,...,109.106870,112.751293,26.262185,0.676065,490.656296,1.078286e+04,590.348846,539.573510,1249,0.037103

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2022,cpa,0,18270792,1343072,831452093,47673,49808,...,1811.178538,70.521071,559.760262,4448.567459,177412.265136,14760.720904,31874.072908,26057,0.051809,Not in CPA
1,1401,1401,2022,cpa,0,58638,841,2670998,58,270,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,13,1.000000,Balboa Park
2,1402,1402,2022,cpa,0,113232,1291,5158328,112,715,...,15.106046,0.000000,0.184453,30.680444,543.807880,28.229508,0.013872,137,0.105223,Barrio Logan
3,1403,1403,2022,cpa,0,135474,9179,6172576,201,268,...,26.656978,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,142,0.028013,Carmel Mountain Ranch
4,1404,1404,2022,cpa,0,691524,9564,31498626,366,5163,...,125.379222,0.000000,0.315358,75.938618,1346.655893,102.109386,0.043054,4753,0.145347,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2022,cpa,0,1039308,88160,47302443,3585,1398,...,14.580239,0.455450,4.955533,0.000000,25611.194560,24.602626,5896.458971,850,0.049358,Fallbrook
84,1954,1954,2022,cpa,0,95034,8180,4328274,288,47,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,626,0.082706,Pendleton-De Luz
85,1955,1955,2022,cpa,0,216354,18725,9846996,749,1381,...,0.000000,0.000000,0.000000,0.000000,5359.601178,7.396269,589.345390,70,0.092470,Rainbow
86,1998,1998,2022,cpa,0,14154,895,644305,35,98,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2022,cpa,0,56616,2730,2574733,60,274,...,64.837661,7.134582,0.000000,0.000000,363.400941,11.869762,0.000000,27,0.042122,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.87s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2022,luz,0,299256,13631580,296,3996,7233,...,0.115001,17.192360,0.0000,0.000000,6.912115,877.007383,18.844594,59.487941,188,0.049292
1,2,2,2022,luz,0,461016,20999350,456,6156,16976,...,4.279503,0.792277,0.0000,0.119559,2.962959,865.622519,23.013471,22.277557,687,0.065348
2,3,3,2022,luz,0,281058,12802577,278,2404,17463,...,10.129949,2.121930,0.0000,0.201197,4.754184,1009.038857,22.518109,68.672775,1073,0.097466
3,4,4,2022,luz,0,501456,22842392,496,1984,37208,...,0.717252,3.794533,0.0000,0.318025,4.325681,1456.939137,19.335683,5.674370,1570,0.069038
4,5,5,2022,luz,0,260838,11881946,386,875,26164,...,9.160542,59.474927,0.0000,2.486945,170.657537,2708.425978,425.670497,84.335003,1399,0.094892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2022,luz,0,222420,10129220,770,110,12467,...,6.892834,4.796117,0.0000,0.000000,9.500615,1673.125502,121.683093,28.649474,88,0.021820
241,242,242,2022,luz,0,32352,1472592,48,267,2457,...,0.000000,34.226770,0.0000,101.548251,36.880099,387.804901,27.248322,0.000000,268,0.192253
242,243,243,2022,luz,0,54594,2487267,81,432,1670,...,0.000000,60.211690,0.0000,0.000000,74.380437,788.405251,37.026398,71.734428,43,0.056356
243,244,244,2022,luz,0,90990,4145477,135,720,9611,...,0.000000,9.687128,0.0000,0.000000,68.406062,665.911576,14.194654,19.166255,730,0.144297
244,245,245,2022,luz,0,78858,3588811,195,507,10666,...,4.942118,95.293554,100.3021,29.730329,8.162603,686.080143,20.453789,0.000000,49,0.013179

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2022,taz,0,8088,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,83,0.083585
1,14,14,2022,taz,0,18198,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,19,0.075697
2,15,15,2022,taz,0,6066,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2022,taz,0,6066,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,43,0.641791
4,17,17,2022,taz,0,34374,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,128,0.079652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2022,taz,0,12132,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,50,0.641026
4931,4944,4944,2022,taz,0,8088,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,16,0.099379
4932,4945,4945,2022,taz,0,4044,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2022,taz,0,8088,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2022,taz,0,16176,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,2,0.250000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:25<00:00,  4.21s/it]
 14%|████████████                                                                        | 1/7 [00:42<04:12, 42.01s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,25,25,2026,mgra,0,2026,28,92101,1,15,...,0.0,0.0,0.000000,0.0,0.0,10.994980,0.000000,0.0,0,NaN
1,28,28,2026,mgra,0,2026,28,92101,1,15,...,0.0,0.0,0.000000,0.0,0.0,2.287811,0.000000,0.0,25,1.000000
2,27,27,2026,mgra,0,2026,104,91977,5,12,...,0.0,0.0,3.202705,0.0,0.0,16.020178,5.274488,0.0,0,0.000000
3,30,30,2026,mgra,0,2026,140,92131,3,4,...,0.0,0.0,0.000000,0.0,0.0,8.799739,0.000000,0.0,2,0.027778
4,31,31,2026,mgra,0,2026,6,92104,2,8,...,0.0,0.0,0.000000,0.0,0.0,21.119591,0.084978,0.0,12,0.063492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,14182,14182,2026,mgra,0,2026,139,92064,3,4,...,0.0,0.0,0.000000,0.0,0.0,1.682090,0.000000,0.0,1,0.111111
24317,14195,14195,2026,mgra,0,2026,139,92064,3,4,...,0.0,0.0,0.000000,0.0,0.0,15.523837,0.000000,0.0,1,0.038462
24318,7164,7164,2026,mgra,0,2026,163,92056,6,1,...,0.0,0.0,0.000000,0.0,0.0,90.346726,0.000000,0.0,0,NaN
24319,6810,6810,2026,mgra,0,2026,34,92106,2,26,...,0.0,0.0,0.000000,0.0,0.0,12.478759,0.054882,0.0,0,0.000000
24320,13926,13926,2026,mgra,0,2026,41,92122,3,20,...,0.0,0.0,0.000000,0.0,0.0,72.767344,0.000000,0.0,4,0.024096

 17%|██████████████                                                                      | 1/6 [00:21<01:46, 21.38s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2026,region,0,49274346,2834354,2238859007,111419,232154,...,3892.168801,9345.646181,2880.242699,787.866338,8577.769974,2.106848e+06,44288.003429,114774.490297,85846,0.066673

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2026,jurisdiction,0,1535708,126916,69743180,4550,859,...,28.161705,240.786677,1.212635,16.958822,591.159335,1.896731e+04,613.085271,5471.912863,3499,0.070520
1,Chula Vista,Chula Vista,2026,jurisdiction,0,2177950,112956,98805269,4299,12401,...,243.591652,267.927524,0.503478,8.096730,459.438280,2.822263e+04,2263.684705,3057.663242,2994,0.032830
2,Coronado,Coronado,2026,jurisdiction,0,451798,23634,20542192,446,2243,...,1.151950,120.891159,0.000000,0.412424,25.578237,9.763301e+03,22.883460,309.573962,2323,0.237647
3,Del Mar,Del Mar,2026,jurisdiction,0,133716,2904,6072924,198,148,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.020528e+03,13.427491,102.908124,724,0.269948
4,El Cajon,El Cajon,2026,jurisdiction,0,1191288,82262,54107791,2940,7644,...,21.421999,62.254038,1.030613,4.246081,375.300705,8.882636e+03,238.712077,155.789973,1306,0.035231
5,Encinitas,Encinitas,2026,jurisdiction,0,1663346,123345,75548908,4926,1642,...,8.065495,52.607779,0.482288,0.000000,162.988627,9.928979e+03,345.717634,2246.207532,2285,0.084545
6,Escondido,Escondido,2026,jurisdiction,0,1904440,192371,86504804,6580,2820,...,59.806137,126.627556,5.306413,0.000000,544.237544,1.790396e+04,1006.150166,5034.396925,1964,0.038785
7,Imperial Beach,Imperial Beach,2026,jurisdiction,0,307952,29492,13973664,608,1672,...,0.286962,44.892906,0.000000,0.000000,9.622096,1.739372e+03,8.314966,1063.725145,787,0.078106
8,La Mesa,La Mesa,2026,jurisdiction,0,950194,51501,43120619,2345,4066,...,11.953500,6.519877,0.527566,0.000000,142.468202,5.686334e+03,117.392168,3.244729,1342,0.050762
9,Lemon Grove,Lemon Grove,2026,jurisdiction,0,364680,11559,16550100,879,1806,...,4.732130,0.924410,1.138965,0.000000,34.410389,2.410425e+03,38.494176,0.048723,375,0.039645
10,National City,National City,2026,jurisdiction,0,1033260,52689,46895144,1044,5133,...,3.482820,89.420318,1.481857,0.064160,30.994771,5.112274e+03,35.294952,0.000000,1008,0.054156
11,Oceanside,Oceanside,2026,jurisdiction,0,2216444,179868,100708715,6590,1094,...,51.355871,110.000482,2.621145,463.405234,444.991609,2.363963e+04,1083.377082,2259.142826,5207,0.074213
12,Poway,Poway,2026,jurisdiction,0,1010974,67702,45939936,1505,2036,...,59.871636,141.191266,0.000000,0.000000,395.239469,1.503214e+04,1940.341442,8051.681044,586,0.032208
13,San Diego,San Diego,2026,jurisdiction,0,17871346,419898,812536173,23002,116457,...,326.734222,2907.596131,0.319614,196.496997,3991.130533,1.615646e+05,6453.695832,45382.897493,44358,0.075575
14,San Marcos,San Marcos,2026,jurisdiction,0,942090,86461,42814064,3240,1276,...,77.918785,209.187101,1.454013,3.652740,360.345942,1.189378e+04,1609.803072,2179.314838,1661,0.048993
15,Santee,Santee,2026,jurisdiction,0,605774,35795,27529226,1491,3887,...,53.098399,56.512608,0.000000,8.854566,206.323800,7.508139e+03,1682.961678,1359.100757,660,0.029804
16,Solana Beach,Solana Beach,2026,jurisdiction,0,372784,27728,16940519,1104,368,...,0.000000,8.111984,0.000000,0.000000,49.210524,2.126570e+03,17.187385,39.788713,1070,0.159250
17,Unincorporated,Unincorporated,2026,jurisdiction,0,13096064,1071384,594870741,40744,65889,...,2844.575555,4781.988693,2850.753576,85.002519,266.322320,1.764430e+06,26439.469251,37517.519896,12330,0.067736
18,Vista,Vista,2026,jurisdiction,0,1444538,135889,65655038,4928,713,...,92.917786,108.220286,13.410536,0.676065,487.628805,1.101519e+04,358.010622,539.573510,1367,0.039184

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2026,cpa,0,18306936,1343072,831452093,47673,49808,...,1656.061357,29.169509,506.366823,4320.317121,180853.203741,11394.838346,31874.072908,29158,0.056224,Not in CPA
1,1401,1401,2026,cpa,0,58754,841,2670998,58,270,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,1,0.076923,Balboa Park
2,1402,1402,2026,cpa,0,113456,1291,5158328,112,715,...,15.106046,0.000000,0.184453,30.680444,547.832495,28.148559,0.013872,156,0.115985,Barrio Logan
3,1403,1403,2026,cpa,0,135742,9179,6172576,201,268,...,26.182990,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,182,0.029032,Carmel Mountain Ranch
4,1404,1404,2026,cpa,0,692892,9564,31498626,366,5163,...,114.827874,0.000000,0.000000,74.404634,1436.257078,74.941441,0.043054,7435,0.160809,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2026,cpa,0,1041364,88160,47302443,3585,1398,...,0.000000,0.000000,4.796455,0.000000,25628.793348,7.003838,5896.458971,896,0.051604,Fallbrook
84,1954,1954,2026,cpa,0,95222,8180,4328274,288,47,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,633,0.083631,Pendleton-De Luz
85,1955,1955,2026,cpa,0,216782,18725,9846996,749,1381,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,71,0.093791,Rainbow
86,1998,1998,2026,cpa,0,14182,895,644305,35,98,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2026,cpa,0,56728,2730,2574733,60,274,...,64.697480,2.235670,0.000000,0.000000,366.362694,8.908010,0.000000,37,0.050000,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:21<00:08,  4.09s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2026,luz,0,299848,13631580,296,3996,7515,...,0.000000,17.192360,0.000000,0.000000,6.912115,883.270231,13.729838,59.487941,217,0.053646
1,2,2,2026,luz,0,461928,20999350,456,6156,17738,...,3.979863,0.792277,0.000000,0.089669,2.962959,875.969635,16.140639,22.277557,790,0.070410
2,3,3,2026,luz,0,281614,12802577,278,2404,17789,...,10.129949,2.121930,0.000000,0.184388,4.754184,1017.799767,19.572046,68.672775,1242,0.107822
3,4,4,2026,luz,0,502448,22842392,496,1984,39389,...,0.567818,2.149742,0.000000,0.160697,4.004052,1477.595999,14.112931,5.674370,1847,0.075158
4,5,5,2026,luz,0,261354,11881946,386,875,28962,...,9.160542,59.474927,0.000000,2.486945,170.657537,2715.403708,418.692767,84.335003,1736,0.103642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2026,luz,0,222860,10129220,770,110,12407,...,4.965088,4.796117,0.000000,0.000000,9.500615,1742.058678,52.749916,28.649474,99,0.023901
241,242,242,2026,luz,0,32416,1472592,48,267,2418,...,0.000000,34.226770,0.000000,101.548251,36.880099,387.804901,27.248322,0.000000,266,0.190818
242,243,243,2026,luz,0,54702,2487267,81,432,1640,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,42,0.055046
243,244,244,2026,luz,0,91170,4145477,135,720,9326,...,0.000000,9.687128,0.000000,0.000000,68.406062,666.485996,13.620235,19.166255,810,0.159198
244,245,245,2026,luz,0,79014,3588811,195,507,10787,...,4.691822,94.611023,81.526878,27.161847,8.162603,687.597258,19.306612,0.000000,52,0.013468

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2026,taz,0,8104,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,66,0.066465
1,14,14,2026,taz,0,18234,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,115,0.458167
2,15,15,2026,taz,0,6078,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2026,taz,0,6078,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,14,0.208955
4,17,17,2026,taz,0,34442,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,241,0.149969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2026,taz,0,12156,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,47,0.602564
4931,4944,4944,2026,taz,0,8104,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,5,0.031056
4932,4945,4945,2026,taz,0,4052,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2026,taz,0,8104,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2026,taz,0,16208,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:26<00:00,  4.36s/it]
 29%|████████████████████████                                                            | 2/7 [01:23<03:27, 41.50s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,504,504,2029,mgra,0,2029,33,92107,2,26,...,0.0,0.000000,0.0,0.000000,0.0,2.816616,0.000000,0.000000,2,0.166667
1,503,503,2029,mgra,0,2029,26,92102,2,8,...,0.0,0.000000,0.0,0.000000,0.0,2.993516,0.021916,0.000000,9,0.310345
2,509,509,2029,mgra,0,2029,97,91950,2,10,...,0.0,0.000000,0.0,0.000000,0.0,2.626213,0.000000,0.000000,4,0.333333
3,28,28,2029,mgra,0,2029,28,92101,1,15,...,0.0,0.000000,0.0,0.000000,0.0,2.287811,0.000000,0.000000,25,1.000000
4,510,510,2029,mgra,0,2029,97,91950,2,10,...,0.0,0.000000,0.0,0.000000,0.0,9.627717,0.000000,0.000000,3,0.058824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,14545,14545,2029,mgra,0,2029,113,92019,5,13,...,0.0,0.000000,0.0,0.000000,0.0,49.652981,0.702742,0.422601,0,0.000000
24317,14543,14543,2029,mgra,0,2029,113,92021,5,13,...,0.0,9.225905,0.0,0.000000,0.0,48.244190,0.000000,0.000000,0,0.000000
24318,14550,14550,2029,mgra,0,2029,113,92019,5,14,...,0.0,0.000000,0.0,0.000000,0.0,2.029734,0.000000,0.000000,0,NaN
24319,14327,14327,2029,mgra,0,2029,163,92058,6,1,...,0.0,0.000000,0.0,6.716228,0.0,8.299638,0.000000,0.000000,5,0.092593
24320,14547,14547,2029,mgra,0,2029,113,92019,5,13,...,0.0,0.000000,0.0,0.000000,0.0,504.679502,0.000000,0.000000,0,0.000000

 17%|██████████████                                                                      | 1/6 [00:20<01:43, 20.78s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2029,region,0,49347309,2834354,2238859007,111419,232154,...,3683.472633,9142.241142,2704.19925,740.414556,8377.705003,2.109682e+06,41454.160088,114774.490297,92735,0.070253

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2029,jurisdiction,0,1537982,126916,69743180,4550,859,...,17.336878,227.419313,0.000000,16.767676,556.995782,1.906700e+04,513.397865,5471.912863,3961,0.076343
1,Chula Vista,Chula Vista,2029,jurisdiction,0,2181175,112956,98805269,4299,12401,...,242.387460,248.746214,0.503478,7.927645,419.591196,2.865067e+04,1835.645276,3057.663242,3223,0.034234
2,Coronado,Coronado,2029,jurisdiction,0,452467,23634,20542192,446,2243,...,1.107410,120.420316,0.000000,0.412424,25.578237,9.767195e+03,18.989094,309.573962,2350,0.240360
3,Del Mar,Del Mar,2029,jurisdiction,0,133914,2904,6072924,198,148,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.020627e+03,13.327751,102.908124,734,0.273574
4,El Cajon,El Cajon,2029,jurisdiction,0,1193052,82262,54107791,2940,7644,...,7.180259,62.254038,1.030613,0.366585,369.834684,8.885447e+03,235.901474,155.789973,1393,0.037428
5,Encinitas,Encinitas,2029,jurisdiction,0,1665809,123345,75548908,4926,1642,...,6.967409,52.607779,0.482288,0.000000,162.988627,9.977310e+03,297.387231,2246.207532,2502,0.090094
6,Escondido,Escondido,2029,jurisdiction,0,1907260,192371,86504804,6580,2820,...,29.696117,120.622586,4.365536,0.000000,528.088569,1.808942e+04,820.695398,5034.396925,2098,0.040425
7,Imperial Beach,Imperial Beach,2029,jurisdiction,0,308408,29492,13973664,608,1672,...,0.286962,44.892906,0.000000,0.000000,9.323946,1.740034e+03,7.652450,1063.725145,833,0.082606
8,La Mesa,La Mesa,2029,jurisdiction,0,951601,51501,43120619,2345,4066,...,11.953500,6.519877,0.527566,0.000000,142.468202,5.700893e+03,102.833586,3.244729,1448,0.054070
9,Lemon Grove,Lemon Grove,2029,jurisdiction,0,365220,11559,16550100,879,1806,...,4.732130,0.924410,1.138965,0.000000,31.064600,2.415210e+03,33.709325,0.048723,403,0.042403
10,National City,National City,2029,jurisdiction,0,1034790,52689,46895144,1044,5133,...,1.791789,89.420318,0.505218,0.064160,30.994771,5.112798e+03,34.771165,0.000000,1098,0.057650
11,Oceanside,Oceanside,2029,jurisdiction,0,2219726,179868,100708715,6590,1094,...,17.003740,103.540610,2.341421,423.820293,405.590061,2.389436e+04,828.651923,2259.142826,5753,0.078571
12,Poway,Poway,2029,jurisdiction,0,1012471,67702,45939936,1505,2036,...,59.412065,138.262027,0.000000,0.000000,391.787607,1.506276e+04,1909.713718,8051.681044,630,0.034575
13,San Diego,San Diego,2029,jurisdiction,0,17897809,419898,812536173,23002,116457,...,286.521266,2803.438853,0.319614,193.900976,3943.707331,1.619209e+05,6097.438789,45382.897493,48360,0.079937
14,San Marcos,San Marcos,2029,jurisdiction,0,943485,86461,42814064,3240,1276,...,42.802980,207.166772,1.454013,3.652740,358.774274,1.221112e+04,1292.470684,2179.314838,1884,0.053256
15,Santee,Santee,2029,jurisdiction,0,606671,35795,27529226,1491,3887,...,51.033602,48.937168,0.000000,8.746678,202.019837,7.593073e+03,1598.027567,1359.100757,708,0.031583
16,Solana Beach,Solana Beach,2029,jurisdiction,0,373336,27728,16940519,1104,368,...,0.000000,8.085249,0.000000,0.000000,49.210524,2.126570e+03,17.187385,39.788713,1121,0.166815
17,Unincorporated,Unincorporated,2029,jurisdiction,0,13115456,1071384,594870741,40744,65889,...,2807.401616,4741.558539,2681.098657,84.755380,262.740834,1.765420e+06,25450.204989,37517.519896,12768,0.069778
18,Vista,Vista,2029,jurisdiction,0,1446677,135889,65655038,4928,713,...,92.815252,107.438778,10.431880,0.000000,486.567135,1.102705e+04,346.154416,539.573510,1468,0.041577

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2029,cpa,0,18334044,1343072,831452093,47673,49808,...,1597.243749,22.780979,461.758200,4171.256838,182341.525777,9906.516309,31874.072908,31607,0.059406,Not in CPA
1,1401,1401,2029,cpa,0,58841,841,2670998,58,270,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,1,0.076923,Balboa Park
2,1402,1402,2029,cpa,0,113624,1291,5158328,112,715,...,15.106046,0.000000,0.184453,30.680444,547.832495,28.148559,0.013872,175,0.123850,Barrio Logan
3,1403,1403,2029,cpa,0,135943,9179,6172576,201,268,...,25.105575,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,188,0.029989,Carmel Mountain Ranch
4,1404,1404,2029,cpa,0,693918,9564,31498626,366,5163,...,114.827874,0.000000,0.000000,72.563487,1446.193146,65.005373,0.043054,8386,0.169627,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2029,cpa,0,1042906,88160,47302443,3585,1398,...,0.000000,0.000000,4.796455,0.000000,25628.793348,7.003838,5896.458971,921,0.053038,Fallbrook
84,1954,1954,2029,cpa,0,95363,8180,4328274,288,47,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,643,0.084952,Pendleton-De Luz
85,1955,1955,2029,cpa,0,217103,18725,9846996,749,1381,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,72,0.095112,Rainbow
86,1998,1998,2029,cpa,0,14203,895,644305,35,98,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2029,cpa,0,56812,2730,2574733,60,274,...,64.510573,2.146079,0.000000,0.000000,366.552780,8.717923,0.000000,40,0.053836,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:20<00:07,  3.98s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2029,luz,0,300292,13631580,296,3996,7596,...,0.000000,17.192360,0.000000,0.000000,6.912115,883.423150,13.576919,59.487941,236,0.057129
1,2,2,2029,luz,0,462612,20999350,456,6156,17967,...,3.520581,0.792277,0.000000,0.089669,2.962959,876.513740,15.596534,22.277557,852,0.074268
2,3,3,2029,luz,0,282031,12802577,278,2404,18537,...,7.654145,2.121930,0.000000,0.184388,4.621552,1017.861595,19.510218,68.672775,1392,0.114408
3,4,4,2029,luz,0,503192,22842392,496,1984,39457,...,0.521950,2.149742,0.000000,0.160697,4.004052,1477.747339,13.961591,5.674370,1977,0.079490
4,5,5,2029,luz,0,261741,11881946,386,875,37369,...,9.023074,59.474927,0.000000,2.486945,170.657537,2899.415361,234.681113,84.335003,2398,0.109328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2029,luz,0,223190,10129220,770,110,12437,...,4.965088,4.796117,0.000000,0.000000,9.500615,1742.260689,52.547906,28.649474,109,0.025909
241,242,242,2029,luz,0,32464,1472592,48,267,2400,...,0.000000,34.226770,0.000000,101.548251,36.880099,387.804901,27.248322,0.000000,266,0.190818
242,243,243,2029,luz,0,54783,2487267,81,432,1627,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,42,0.055046
243,244,244,2029,luz,0,91305,4145477,135,720,9190,...,0.000000,9.687128,0.000000,0.000000,68.406062,666.672735,13.433496,19.166255,854,0.167385
244,245,245,2029,luz,0,79131,3588811,195,507,10707,...,4.691822,93.587226,77.829521,27.032324,8.162603,687.867490,19.036380,0.000000,56,0.014452

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2029,taz,0,8116,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,67,0.067472
1,14,14,2029,taz,0,18261,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,117,0.466135
2,15,15,2029,taz,0,6087,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2029,taz,0,6087,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,20,0.298507
4,17,17,2029,taz,0,34493,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,245,0.152458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2029,taz,0,12174,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,47,0.602564
4931,4944,4944,2029,taz,0,8116,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,5,0.031056
4932,4945,4945,2029,taz,0,4058,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2029,taz,0,8116,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2029,taz,0,16232,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:25<00:00,  4.18s/it]
 43%|████████████████████████████████████                                                | 3/7 [02:00<02:39, 39.75s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,4671,4671,2032,mgra,0,2032,53,92126,3,4,...,0.0,0.0,0.0,0.0,0.000000,3.764135,0.000000,0.000000,0,NaN
1,591,591,2032,mgra,0,2032,94,92118,2,10,...,0.0,0.0,0.0,0.0,0.000000,5.104619,0.000000,0.000000,3,0.083333
2,1778,1778,2032,mgra,0,2032,245,92021,5,13,...,0.0,0.0,0.0,0.0,3.955174,19.359395,0.808164,0.000000,2,0.017699
3,2463,2463,2032,mgra,0,2032,2,92103,2,27,...,0.0,0.0,0.0,0.0,0.000000,6.319781,0.000000,0.000000,1,0.030303
4,2514,2514,2032,mgra,0,2032,75,92119,3,6,...,0.0,0.0,0.0,0.0,0.000000,31.132572,0.000000,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,17198,17198,2032,mgra,0,2032,175,92028,7,14,...,0.0,0.0,0.0,0.0,0.000000,40.429322,0.000000,1.405035,0,0.000000
24317,17917,17917,2032,mgra,0,2032,167,92084,7,1,...,0.0,0.0,0.0,0.0,0.000000,27.449654,0.000000,31.102175,1,0.037037
24318,17922,17922,2032,mgra,0,2032,189,92084,7,1,...,0.0,0.0,0.0,0.0,0.000000,48.983762,0.000000,0.000000,1,0.066667
24319,17186,17186,2032,mgra,0,2032,175,92028,7,14,...,0.0,0.0,0.0,0.0,0.000000,7.600013,0.000000,0.000000,1,0.500000
24320,12875,12875,2032,mgra,0,2032,239,92021,5,13,...,0.0,0.0,0.0,0.0,0.528653,7.612641,0.000000,0.000000,7,0.039326

 17%|██████████████                                                                      | 1/6 [00:19<01:36, 19.33s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2032,region,0,49420272,2834354,2238859007,111419,232154,...,3587.083845,8943.604243,2573.356699,581.599861,8171.67166,2.112020e+06,39114.916522,114774.490297,94882,0.070441

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2032,jurisdiction,0,1540256,126916,69743180,4550,859,...,10.089850,219.585099,0.000000,4.870878,510.803826,1.914543e+04,434.971413,5471.912863,4045,0.076784
1,Chula Vista,Chula Vista,2032,jurisdiction,0,2184400,112956,98805269,4299,12401,...,241.324327,245.671829,0.000000,7.813374,377.399915,2.889291e+04,1593.398798,3057.663242,3328,0.033682
2,Coronado,Coronado,2032,jurisdiction,0,453136,23634,20542192,446,2243,...,1.085140,120.190748,0.000000,0.412424,25.578237,9.767262e+03,18.921878,309.573962,2350,0.240335
3,Del Mar,Del Mar,2032,jurisdiction,0,134112,2904,6072924,198,148,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.021365e+03,12.589840,102.908124,736,0.273200
4,El Cajon,El Cajon,2032,jurisdiction,0,1194816,82262,54107791,2940,7644,...,7.180259,45.802116,1.030613,0.366585,363.635331,8.887754e+03,233.594222,155.789973,1396,0.037437
5,Encinitas,Encinitas,2032,jurisdiction,0,1668272,123345,75548908,4926,1642,...,6.549048,52.607779,0.000000,0.000000,161.746187,1.004644e+04,228.255712,2246.207532,2535,0.090197
6,Escondido,Escondido,2032,jurisdiction,0,1910080,192371,86504804,6580,2820,...,29.062274,112.540838,0.000000,0.000000,512.996607,1.818947e+04,719.158494,5034.396925,2177,0.040700
7,Imperial Beach,Imperial Beach,2032,jurisdiction,0,308864,29492,13973664,608,1672,...,0.286962,17.489489,0.000000,0.000000,6.898760,1.741551e+03,6.135935,1063.725145,840,0.082996
8,La Mesa,La Mesa,2032,jurisdiction,0,953008,51501,43120619,2345,4066,...,11.915644,6.519877,0.527566,0.000000,142.468202,5.702208e+03,101.517832,3.244729,1455,0.054188
9,Lemon Grove,Lemon Grove,2032,jurisdiction,0,365760,11559,16550100,879,1806,...,4.732130,0.924410,0.507132,0.000000,29.725097,2.417811e+03,31.108916,0.048723,406,0.042598
10,National City,National City,2032,jurisdiction,0,1036320,52689,46895144,1044,5133,...,1.791789,89.420318,0.505218,0.064160,30.289291,5.113127e+03,34.506055,0.000000,1110,0.057897
11,Oceanside,Oceanside,2032,jurisdiction,0,2223008,179868,100708715,6590,1094,...,7.217323,94.164161,0.191224,381.542941,375.045840,2.420695e+04,516.057336,2259.142826,6088,0.080439
12,Poway,Poway,2032,jurisdiction,0,1013968,67702,45939936,1505,2036,...,56.786822,133.893315,0.000000,0.000000,388.007906,1.519251e+04,1779.968626,8051.681044,641,0.034824
13,San Diego,San Diego,2032,jurisdiction,0,17924272,419898,812536173,23002,116457,...,271.198176,2741.711901,0.319614,90.018386,3902.358005,1.620525e+05,5965.796865,45382.897493,49400,0.080451
14,San Marcos,San Marcos,2032,jurisdiction,0,944880,86461,42814064,3240,1276,...,25.155638,206.877998,0.000000,3.652740,356.441549,1.248169e+04,1021.898667,2179.314838,2185,0.052993
15,Santee,Santee,2032,jurisdiction,0,607568,35795,27529226,1491,3887,...,48.837854,47.384023,0.000000,8.557874,198.229289,7.712334e+03,1478.766823,1359.100757,720,0.031686
16,Solana Beach,Solana Beach,2032,jurisdiction,0,373888,27728,16940519,1104,368,...,0.000000,8.085249,0.000000,0.000000,49.210524,2.126667e+03,17.090785,39.788713,1123,0.166766
17,Unincorporated,Unincorporated,2032,jurisdiction,0,13134848,1071384,594870741,40744,65889,...,2768.958726,4683.996346,2565.364782,84.300500,257.228598,1.766282e+06,24588.078927,37517.519896,12855,0.069914
18,Vista,Vista,2032,jurisdiction,0,1448816,135889,65655038,4928,713,...,91.869684,106.753358,4.910551,0.000000,483.229710,1.104011e+04,333.099399,539.573510,1492,0.041705

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2032,cpa,0,18361152,1343072,831452093,47673,49808,...,1517.895996,7.672304,407.280975,4012.085057,183685.580225,8561.040730,31874.072908,32627,0.059422,Not in CPA
1,1401,1401,2032,cpa,0,58928,841,2670998,58,270,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,1,0.076923,Balboa Park
2,1402,1402,2032,cpa,0,113792,1291,5158328,112,715,...,15.106046,0.000000,0.184453,30.680444,548.232139,27.748915,0.013872,181,0.124313,Barrio Logan
3,1403,1403,2032,cpa,0,136144,9179,6172576,201,268,...,24.063670,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,189,0.030148,Carmel Mountain Ranch
4,1404,1404,2032,cpa,0,694944,9564,31498626,366,5163,...,114.148448,0.000000,0.000000,72.261897,1448.293627,62.904892,0.043054,8511,0.169138,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2032,cpa,0,1044448,88160,47302443,3585,1398,...,0.000000,0.000000,4.796455,0.000000,25628.793348,7.003838,5896.458971,925,0.053247,Fallbrook
84,1954,1954,2032,cpa,0,95504,8180,4328274,288,47,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,646,0.085337,Pendleton-De Luz
85,1955,1955,2032,cpa,0,217424,18725,9846996,749,1381,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,72,0.095112,Rainbow
86,1998,1998,2032,cpa,0,14224,895,644305,35,98,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2032,cpa,0,56896,2730,2574733,60,274,...,64.306363,2.146079,0.000000,0.000000,366.927985,8.342718,0.000000,40,0.053262,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:07,  3.71s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2032,luz,0,300736,13631580,296,3996,7621,...,0.000000,17.192360,0.000000,0.000000,6.912115,883.609566,13.390503,59.487941,239,0.057259
1,2,2,2032,luz,0,463296,20999350,456,6156,18152,...,2.031165,0.792277,0.000000,0.089669,2.962959,876.822528,15.287747,22.277557,865,0.074179
2,3,3,2032,luz,0,282448,12802577,278,2404,18720,...,7.654145,2.121930,0.000000,0.184388,4.506758,1018.069288,19.302524,68.672775,1414,0.114374
3,4,4,2032,luz,0,503936,22842392,496,1984,39742,...,0.521950,2.149742,0.000000,0.160697,3.840649,1477.992873,13.716058,5.674370,2000,0.079365
4,5,5,2032,luz,0,262128,11881946,386,875,39045,...,8.610671,59.474927,0.000000,2.486945,170.657537,2918.849877,215.246598,84.335003,2517,0.109084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2032,luz,0,223520,10129220,770,110,12675,...,4.019519,4.796117,0.000000,0.000000,9.500615,1747.594445,47.214150,28.649474,112,0.025848
241,242,242,2032,luz,0,32512,1472592,48,267,5121,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,569,0.190047
242,243,243,2032,luz,0,54864,2487267,81,432,1614,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,42,0.055046
243,244,244,2032,luz,0,91440,4145477,135,720,9180,...,0.000000,9.687128,0.000000,0.000000,68.406062,667.072889,13.033342,19.166255,856,0.166797
244,245,245,2032,luz,0,79248,3588811,195,507,10646,...,4.691822,92.369799,74.730239,26.902801,8.162603,688.179774,18.724097,0.000000,56,0.014396

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2032,taz,0,8128,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,67,0.067472
1,14,14,2032,taz,0,18288,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,118,0.470120
2,15,15,2032,taz,0,6096,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2032,taz,0,6096,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,19,0.283582
4,17,17,2032,taz,0,34544,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,245,0.152458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2032,taz,0,12192,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,48,0.615385
4931,4944,4944,2032,taz,0,8128,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,5,0.031056
4932,4945,4945,2032,taz,0,4064,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2032,taz,0,8128,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2032,taz,0,16256,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:23<00:00,  3.96s/it]
 57%|████████████████████████████████████████████████                                    | 4/7 [02:37<01:55, 38.50s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,2948,2948,2035,mgra,0,2035,4,92104,2,8,...,0.0,0.0,0.0,0.0,0.0,4.989107,0.000000,0.000000,9,0.173077
1,3148,3148,2035,mgra,0,2035,35,92107,2,26,...,0.0,0.0,0.0,0.0,0.0,3.661609,0.105681,0.000000,3,0.050000
2,2377,2377,2035,mgra,0,2035,27,92104,2,8,...,0.0,0.0,0.0,0.0,0.0,8.153792,0.000000,0.000000,7,0.080460
3,3523,3523,2035,mgra,0,2035,2,92103,2,27,...,0.0,0.0,0.0,0.0,0.0,2.924190,0.000000,0.000000,6,0.193548
4,3333,3333,2035,mgra,0,2035,78,92154,4,11,...,0.0,0.0,0.0,0.0,0.0,60.324678,0.000000,0.000000,3,0.034884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,16848,16848,2035,mgra,0,2035,172,92028,7,1,...,0.0,0.0,0.0,0.0,0.0,3.961179,0.000000,6.047666,4,0.023669
24317,16847,16847,2035,mgra,0,2035,172,92028,7,1,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,4.114564,2,0.153846
24318,16849,16849,2035,mgra,0,2035,172,92028,7,1,...,0.0,0.0,0.0,0.0,0.0,2.415555,0.000000,2.404299,2,0.117647
24319,16888,16888,2035,mgra,0,2035,174,92028,7,1,...,0.0,0.0,0.0,0.0,0.0,103.356090,0.000000,0.000000,0,NaN
24320,16870,16870,2035,mgra,0,2035,172,92028,7,1,...,0.0,0.0,0.0,0.0,0.0,15.543625,0.000000,4.511224,1,0.045455

 17%|██████████████                                                                      | 1/6 [00:19<01:38, 19.62s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2035,region,0,49493235,2834354,2238859007,111419,232154,...,3494.090034,8147.655748,2354.9558,511.746377,7703.180016,2.114745e+06,36391.996523,114774.490297,96868,0.070558

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2035,jurisdiction,0,1542530,126916,69743180,4550,859,...,2.124913,210.520416,0.000000,4.870878,482.153882,1.918904e+04,391.363972,5471.912863,4120,0.077319
1,Chula Vista,Chula Vista,2035,jurisdiction,0,2187625,112956,98805269,4299,12401,...,238.483983,236.063857,0.000000,7.514169,282.621666,2.908559e+04,1400.720135,3057.663242,3383,0.033042
2,Coronado,Coronado,2035,jurisdiction,0,453805,23634,20542192,446,2243,...,0.862441,118.358849,0.000000,0.412424,25.010179,9.767464e+03,18.720230,309.573962,2349,0.239988
3,Del Mar,Del Mar,2035,jurisdiction,0,134310,2904,6072924,198,148,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.022904e+03,11.050573,102.908124,744,0.271038
4,El Cajon,El Cajon,2035,jurisdiction,0,1196580,82262,54107791,2940,7644,...,6.980023,45.500217,1.030613,0.366585,339.715951,8.894866e+03,226.482082,155.789973,1388,0.037020
5,Encinitas,Encinitas,2035,jurisdiction,0,1670735,123345,75548908,4926,1642,...,6.365651,50.716657,0.000000,0.000000,159.200418,1.004751e+04,227.186398,2246.207532,2550,0.090461
6,Escondido,Escondido,2035,jurisdiction,0,1912900,192371,86504804,6580,2820,...,29.062274,107.947407,0.000000,0.000000,483.001517,1.819635e+04,712.276405,5034.396925,2179,0.040507
7,Imperial Beach,Imperial Beach,2035,jurisdiction,0,309320,29492,13973664,608,1672,...,0.286962,17.489489,0.000000,0.000000,5.857960,1.741906e+03,5.781106,1063.725145,839,0.082922
8,La Mesa,La Mesa,2035,jurisdiction,0,954415,51501,43120619,2345,4066,...,11.564926,6.519877,0.527566,0.000000,142.468202,5.720834e+03,82.892478,3.244729,1469,0.053849
9,Lemon Grove,Lemon Grove,2035,jurisdiction,0,366300,11559,16550100,879,1806,...,4.732130,0.924410,0.507132,0.000000,24.448120,2.419671e+03,29.248211,0.048723,408,0.042638
10,National City,National City,2035,jurisdiction,0,1037850,52689,46895144,1044,5133,...,0.916335,89.420318,0.254105,0.064160,29.501303,5.114819e+03,33.477477,0.000000,1123,0.057661
11,Oceanside,Oceanside,2035,jurisdiction,0,2226290,179868,100708715,6590,1094,...,5.450097,74.839994,0.191224,317.813202,280.192279,2.435300e+04,370.380682,2259.142826,6613,0.084001
12,Poway,Poway,2035,jurisdiction,0,1015465,67702,45939936,1505,2036,...,56.020920,130.733093,0.000000,0.000000,381.217182,1.543025e+04,1542.225669,8051.681044,649,0.034773
13,San Diego,San Diego,2035,jurisdiction,0,17950735,419898,812536173,23002,116457,...,247.632215,2666.877345,0.000000,86.878364,3768.325459,1.623554e+05,5662.931616,45382.897493,50543,0.080522
14,San Marcos,San Marcos,2035,jurisdiction,0,946275,86461,42814064,3240,1276,...,25.155638,206.285251,0.000000,3.652740,356.441549,1.248805e+04,1015.537748,2179.314838,2184,0.052545
15,Santee,Santee,2035,jurisdiction,0,608465,35795,27529226,1491,3887,...,45.111129,46.017798,0.000000,8.180267,182.161536,8.005539e+03,1185.561775,1359.100757,756,0.031865
16,Solana Beach,Solana Beach,2035,jurisdiction,0,374440,27728,16940519,1104,368,...,0.000000,7.772502,0.000000,0.000000,49.210524,2.126729e+03,17.029123,39.788713,1122,0.166345
17,Unincorporated,Unincorporated,2035,jurisdiction,0,13154240,1071384,594870741,40744,65889,...,2718.428515,4017.289153,2352.445161,81.993590,246.530097,1.767733e+06,23138.210170,37517.519896,12935,0.069744
18,Vista,Vista,2035,jurisdiction,0,1450955,135889,65655038,4928,713,...,91.869684,104.393730,0.000000,0.000000,464.743406,1.105228e+04,320.920671,539.573510,1514,0.041842

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2035,cpa,0,18388260,1343072,831452093,47673,49808,...,1463.489250,2.510639,342.874423,3688.324460,184656.797300,7590.854737,31874.072908,33390,0.059654,Not in CPA
1,1401,1401,2035,cpa,0,59015,841,2670998,58,270,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,11,0.846154,Balboa Park
2,1402,1402,2035,cpa,0,113960,1291,5158328,112,715,...,15.106046,0.000000,0.184453,30.680444,548.337810,27.643244,0.013872,196,0.125722,Barrio Logan
3,1403,1403,2035,cpa,0,136345,9179,6172576,201,268,...,23.055254,0.000000,0.000000,65.298499,1486.416520,0.991999,78.723801,188,0.029989,Carmel Mountain Ranch
4,1404,1404,2035,cpa,0,695970,9564,31498626,366,5163,...,111.814087,0.000000,0.000000,71.692000,1454.068436,57.130084,0.043054,9038,0.167768,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2035,cpa,0,1045990,88160,47302443,3585,1398,...,0.000000,0.000000,4.796455,0.000000,25628.846344,6.950842,5896.458971,925,0.053210,Fallbrook
84,1954,1954,2035,cpa,0,95645,8180,4328274,288,47,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,649,0.085722,Pendleton-De Luz
85,1955,1955,2035,cpa,0,217745,18725,9846996,749,1381,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,72,0.095112,Rainbow
86,1998,1998,2035,cpa,0,14245,895,644305,35,98,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2035,cpa,0,56980,2730,2574733,60,274,...,63.871183,2.056487,0.000000,0.000000,367.817233,7.453470,0.000000,40,0.051881,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:07,  3.76s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2035,luz,0,301180,13631580,296,3996,7735,...,0.000000,17.192360,0.000000,0.000000,6.912115,883.867322,13.132746,59.487941,242,0.056808
1,2,2,2035,luz,0,463980,20999350,456,6156,18682,...,1.913110,0.792277,0.000000,0.089669,2.962959,877.322859,14.787415,22.277557,882,0.073189
2,3,3,2035,luz,0,282865,12802577,278,2404,19135,...,7.654145,2.121930,0.000000,0.167579,4.506758,1018.733478,18.638334,68.672775,1443,0.113721
3,4,4,2035,luz,0,504680,22842392,496,1984,40731,...,0.521950,1.761272,0.000000,0.160697,3.519451,1478.464527,13.244403,5.674370,2035,0.078477
4,5,5,2035,luz,0,262515,11881946,386,875,40756,...,8.610671,59.474927,0.000000,2.486945,170.657537,2920.781431,213.315043,84.335003,2614,0.108008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2035,luz,0,223850,10129220,770,110,12725,...,4.019519,3.699726,0.000000,0.000000,8.935435,1747.996839,46.811756,28.649474,112,0.025518
241,242,242,2035,luz,0,32560,1472592,48,267,5091,...,0.000000,34.226770,0.000000,0.000000,36.880099,387.804901,27.248322,0.000000,567,0.189379
242,243,243,2035,luz,0,54945,2487267,81,432,1602,...,0.000000,60.211690,0.000000,0.000000,74.380437,788.405251,37.026398,71.734428,42,0.055046
243,244,244,2035,luz,0,91575,4145477,135,720,9216,...,0.000000,9.687128,0.000000,0.000000,68.406062,667.699797,12.406433,19.166255,857,0.165476
244,245,245,2035,luz,0,79365,3588811,195,507,10668,...,4.491585,87.975826,68.224587,25.996143,8.162603,689.502872,17.400998,0.000000,55,0.013988

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2035,taz,0,8140,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,67,0.067472
1,14,14,2035,taz,0,18315,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,119,0.474104
2,15,15,2035,taz,0,6105,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2035,taz,0,6105,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,20,0.298507
4,17,17,2035,taz,0,34595,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,247,0.153703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2035,taz,0,12210,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,48,0.615385
4931,4944,4944,2035,taz,0,8140,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,5,0.031056
4932,4945,4945,2035,taz,0,4070,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2035,taz,0,8140,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2035,taz,0,16280,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:23<00:00,  3.97s/it]
 71%|████████████████████████████████████████████████████████████                        | 5/7 [03:13<01:15, 37.61s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,2277,2277,2040,mgra,0,2040,96,91950,2,10,...,0.0,0.000000,0.0,0.0,0.0,4.431313,0.000000,0.000000,0,0.000000
1,5919,5919,2040,mgra,0,2040,161,92054,6,1,...,0.0,0.000000,0.0,0.0,0.0,4.155415,0.000000,0.000000,6,0.315789
2,2511,2511,2040,mgra,0,2040,118,92021,5,13,...,0.0,0.000000,0.0,0.0,0.0,8.138511,0.000000,0.000000,5,0.092593
3,5719,5719,2040,mgra,0,2040,62,92111,3,23,...,0.0,0.000000,0.0,0.0,0.0,14.440507,1.975059,0.000000,4,0.057143
4,5728,5728,2040,mgra,0,2040,49,92129,3,4,...,0.0,0.000000,0.0,0.0,0.0,14.141992,0.000000,0.000000,3,0.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,22951,22951,2040,mgra,0,2040,114,91901,5,14,...,0.0,0.000000,0.0,0.0,0.0,412.990362,0.000000,0.000000,3,0.157895
24317,19041,19041,2040,mgra,0,2040,146,92009,6,2,...,0.0,0.000000,0.0,0.0,0.0,38.261845,0.000000,78.805597,2,0.018182
24318,19141,19141,2040,mgra,0,2040,188,92083,7,1,...,0.0,0.000000,0.0,0.0,0.0,9.258223,0.000000,13.349605,2,0.038462
24319,22785,22785,2040,mgra,0,2040,114,91901,5,14,...,0.0,1.805796,0.0,0.0,0.0,39.122515,6.497444,0.000000,2,0.017094
24320,22885,22885,2040,mgra,0,2040,114,91901,5,14,...,0.0,0.000000,0.0,0.0,0.0,122.884431,21.352532,0.000000,2,0.086957

 17%|██████████████                                                                      | 1/6 [00:19<01:35, 19.13s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2040,region,0,49614840,2834354,2238859007,111419,232154,...,3143.145179,7420.254174,2059.83674,464.33094,7140.053519,2.117018e+06,34124.406122,114774.490297,99898,0.070819

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2040,jurisdiction,0,1546320,126916,69743180,4550,859,...,1.913814,206.520964,0.00000,4.870878,457.819129,1.923027e+04,350.127687,5471.912863,4299,0.079657
1,Chula Vista,Chula Vista,2040,jurisdiction,0,2193000,112956,98805269,4299,12401,...,16.605245,165.085693,0.00000,6.941984,174.855548,2.932743e+04,1158.881589,3057.663242,3666,0.033639
2,Coronado,Coronado,2040,jurisdiction,0,454920,23634,20542192,446,2243,...,0.728821,117.231060,0.00000,0.412424,24.772089,9.768135e+03,18.049327,309.573962,2365,0.241400
3,Del Mar,Del Mar,2040,jurisdiction,0,134640,2904,6072924,198,148,...,3.042198,9.985388,0.00000,0.000000,0.378786,1.022904e+03,11.050573,102.908124,747,0.272032
4,El Cajon,El Cajon,2040,jurisdiction,0,1199520,82262,54107791,2940,7644,...,5.736097,32.167524,0.00000,0.366585,277.984178,8.937156e+03,184.191645,155.789973,1471,0.038994
5,Encinitas,Encinitas,2040,jurisdiction,0,1674840,123345,75548908,4926,1642,...,6.365651,48.104645,0.00000,0.000000,147.398958,1.005496e+04,219.736725,2246.207532,2643,0.092610
6,Escondido,Escondido,2040,jurisdiction,0,1917600,192371,86504804,6580,2820,...,29.062274,106.709112,0.00000,0.000000,475.802626,1.822831e+04,680.320416,5034.396925,2356,0.042463
7,Imperial Beach,Imperial Beach,2040,jurisdiction,0,310080,29492,13973664,608,1672,...,0.286962,16.495888,0.00000,0.000000,4.021093,1.743122e+03,4.565106,1063.725145,856,0.085352
8,La Mesa,La Mesa,2040,jurisdiction,0,956760,51501,43120619,2345,4066,...,8.105877,6.519877,0.00000,0.000000,139.851088,5.745406e+03,58.320411,3.244729,1547,0.055796
9,Lemon Grove,Lemon Grove,2040,jurisdiction,0,367200,11559,16550100,879,1806,...,0.000000,0.000000,0.00000,0.000000,4.147527,2.440791e+03,8.128556,0.048723,350,0.036097
10,National City,National City,2040,jurisdiction,0,1040400,52689,46895144,1044,5133,...,0.000000,88.906690,0.00000,0.064160,20.081595,5.118652e+03,30.567677,0.000000,1188,0.059816
11,Oceanside,Oceanside,2040,jurisdiction,0,2231760,179868,100708715,6590,1094,...,3.346404,45.630171,0.00000,285.419221,197.160623,2.445318e+04,270.197170,2259.142826,7124,0.088057
12,Poway,Poway,2040,jurisdiction,0,1017960,67702,45939936,1505,2036,...,56.020920,124.511147,0.00000,0.000000,377.272955,1.543211e+04,1540.366583,8051.681044,680,0.036434
13,San Diego,San Diego,2040,jurisdiction,0,17994840,419898,812536173,23002,116457,...,230.830287,2306.179479,0.00000,81.700275,3638.303168,1.630167e+05,5001.632452,45382.897493,51048,0.079082
14,San Marcos,San Marcos,2040,jurisdiction,0,948600,86461,42814064,3240,1276,...,12.621000,199.662594,0.00000,3.652740,356.441549,1.254024e+04,968.142423,2179.314838,2312,0.054388
15,Santee,Santee,2040,jurisdiction,0,609960,35795,27529226,1491,3887,...,36.902872,39.045816,0.00000,7.586883,161.180146,8.270435e+03,920.665107,1359.100757,811,0.032976
16,Solana Beach,Solana Beach,2040,jurisdiction,0,375360,27728,16940519,1104,368,...,0.000000,7.574048,0.00000,0.000000,49.210524,2.126949e+03,16.809199,39.788713,1135,0.167850
17,Unincorporated,Unincorporated,2040,jurisdiction,0,13186560,1071384,594870741,40744,65889,...,2643.874601,3817.340803,2059.83674,73.315791,221.191729,1.768457e+06,22413.816181,37517.519896,13696,0.071796
18,Vista,Vista,2040,jurisdiction,0,1454520,135889,65655038,4928,713,...,87.702155,82.583274,0.00000,0.000000,412.180207,1.110437e+04,268.837294,539.573510,1604,0.044113

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2040,cpa,0,18433440,1343072,831452093,47673,49808,...,1296.733892,0.000000,309.314874,3280.558621,185544.418513,6708.957489,31874.072908,35154,0.061207,Not in CPA
1,1401,1401,2040,cpa,0,59160,841,2670998,58,270,...,0.000000,0.000000,0.000000,68.980657,1216.725899,70.753268,0.000000,12,0.923077,Balboa Park
2,1402,1402,2040,cpa,0,114240,1291,5158328,112,715,...,15.106046,0.000000,0.184453,30.680444,549.454737,26.526317,0.013872,219,0.129586,Barrio Logan
3,1403,1403,2040,cpa,0,136680,9179,6172576,201,268,...,21.168095,0.000000,0.000000,61.347079,1486.448520,0.959999,78.723801,200,0.031898,Carmel Mountain Ranch
4,1404,1404,2040,cpa,0,697680,9564,31498626,366,5163,...,108.074113,0.000000,0.000000,62.494873,1461.119335,50.079184,0.043054,9428,0.169501,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2040,cpa,0,1048560,88160,47302443,3585,1398,...,0.000000,0.000000,4.796455,0.000000,25628.899340,6.897847,5896.458971,951,0.054658,Fallbrook
84,1954,1954,2040,cpa,0,95880,8180,4328274,288,47,...,0.000000,0.000000,0.000000,0.000000,150245.997039,0.000000,34.539931,660,0.087163,Pendleton-De Luz
85,1955,1955,2040,cpa,0,218280,18725,9846996,749,1381,...,0.000000,0.000000,0.000000,0.000000,5366.997447,0.000000,589.345390,73,0.096433,Rainbow
86,1998,1998,2040,cpa,0,14280,895,644305,35,98,...,0.000000,0.000000,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2040,cpa,0,57120,2730,2574733,60,274,...,62.786514,2.056487,0.000000,0.000000,368.002352,7.268351,0.000000,42,0.054124,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:07,  3.67s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2040,luz,0,301920,13631580,296,3996,7196,...,0.000000,17.192360,0.0,0.000000,6.912115,883.908631,13.091438,59.487941,510,0.118743
1,2,2,2040,luz,0,465120,20999350,456,6156,19382,...,1.879882,0.671545,0.0,0.089669,2.962959,878.014399,14.095875,22.277557,587,0.047635
2,3,3,2040,luz,0,283560,12802577,278,2404,22083,...,1.175431,2.121930,0.0,0.150770,4.506758,1022.317029,15.054783,68.672775,367,0.027083
3,4,4,2040,luz,0,505920,22842392,496,1984,42015,...,0.521950,0.832068,0.0,0.160697,1.734333,1481.873953,9.834977,5.674370,2188,0.080652
4,5,5,2040,luz,0,263160,11881946,386,875,42632,...,8.610671,59.474927,0.0,2.486945,170.657537,2925.042649,209.053826,84.335003,2833,0.110186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2040,luz,0,224400,10129220,770,110,11743,...,0.000000,0.000000,0.0,0.000000,0.000000,1751.198679,43.609916,28.649474,115,0.027784
241,242,242,2040,luz,0,32640,1472592,48,267,5004,...,0.000000,34.226770,0.0,0.000000,36.880099,387.804901,27.248322,0.000000,574,0.191717
242,243,243,2040,luz,0,55080,2487267,81,432,1574,...,0.000000,60.211690,0.0,0.000000,74.380437,788.405251,37.026398,71.734428,44,0.057667
243,244,244,2040,luz,0,91800,4145477,135,720,9193,...,0.000000,9.687128,0.0,0.000000,68.406062,668.673506,11.432725,19.166255,878,0.167174
244,245,245,2040,luz,0,79560,3588811,195,507,11134,...,3.721173,73.319766,0.0,24.441871,8.162603,696.191335,10.712536,0.000000,67,0.015983

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2040,taz,0,8160,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,68,0.068479
1,14,14,2040,taz,0,18360,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,121,0.482072
2,15,15,2040,taz,0,6120,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2040,taz,0,6120,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,22,0.328358
4,17,17,2040,taz,0,34680,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,253,0.157436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2040,taz,0,12240,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,48,0.615385
4931,4944,4944,2040,taz,0,8160,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,6,0.037267
4932,4945,4945,2040,taz,0,4080,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,303.168157,702.685813,0.000000,0,NaN
4933,4946,4946,2040,taz,0,8160,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2040,taz,0,16320,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:23<00:00,  3.94s/it]
 86%|████████████████████████████████████████████████████████████████████████            | 6/7 [03:49<00:36, 36.98s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

,mgra,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,675,675,2050,mgra,0,2050,38,92109,3,25,...,0.0,0.0,0.0,0.0,0.0,4.692449,0.000000,0.0,16,0.347826
1,676,676,2050,mgra,0,2050,64,92111,3,23,...,0.0,0.0,0.0,0.0,0.0,23.504007,0.000000,0.0,6,0.039735
2,1461,1461,2050,mgra,0,2050,14,92114,2,10,...,0.0,0.0,0.0,0.0,0.0,15.588779,1.052585,0.0,7,0.083333
3,1462,1462,2050,mgra,0,2050,6,92116,2,8,...,0.0,0.0,0.0,0.0,0.0,10.739547,0.000000,0.0,10,0.042553
4,1711,1711,2050,mgra,0,2050,28,92101,1,15,...,0.0,0.0,0.0,0.0,0.0,2.433982,0.000000,0.0,41,0.199029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,22399,22399,2050,mgra,0,2050,229,91906,8,14,...,0.0,0.0,0.0,0.0,0.0,612.689264,0.000000,0.0,4,0.444444
24317,22400,22400,2050,mgra,0,2050,229,91906,8,14,...,0.0,0.0,0.0,0.0,0.0,379.892975,0.000000,0.0,5,0.500000
24318,22435,22435,2050,mgra,0,2050,220,91916,8,14,...,0.0,0.0,0.0,0.0,0.0,227.739678,0.000000,0.0,1,0.021277
24319,22436,22436,2050,mgra,0,2050,220,91916,8,14,...,0.0,0.0,0.0,0.0,0.0,92.737743,0.000000,0.0,5,0.277778
24320,22450,22450,2050,mgra,0,2050,114,91901,8,14,...,0.0,0.0,0.0,0.0,0.0,145.801926,76.523444,0.0,0,NaN

 17%|██████████████                                                                      | 1/6 [00:19<01:36, 19.32s/it]

,region,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,San Diego,San Diego,2050,region,0,49858050,2834354,2238859007,111419,232154,...,3013.373941,6403.025883,1597.825257,431.514269,6582.422681,2.120085e+06,31058.964985,114774.490297,103918,0.072242

,jurisdiction,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,Carlsbad,Carlsbad,2050,jurisdiction,0,1553900,126916,69743180,4550,859,...,1.755491,201.295707,0.000000,4.870878,438.728674,1.924991e+04,330.487329,5471.912863,4414,0.081258
1,Chula Vista,Chula Vista,2050,jurisdiction,0,2203750,112956,98805269,4299,12401,...,12.877161,147.339129,0.000000,4.958376,137.424230,2.970758e+04,778.735237,3057.663242,3882,0.034073
2,Coronado,Coronado,2050,jurisdiction,0,457150,23634,20542192,446,2243,...,0.728821,115.666496,0.000000,0.316024,6.284029,9.769076e+03,17.108302,309.573962,2388,0.243599
3,Del Mar,Del Mar,2050,jurisdiction,0,135300,2904,6072924,198,148,...,3.042198,9.985388,0.000000,0.000000,0.378786,1.022904e+03,11.050573,102.908124,751,0.273389
4,El Cajon,El Cajon,2050,jurisdiction,0,1205400,82262,54107791,2940,7644,...,3.464063,31.795493,0.000000,0.366585,270.932164,8.955301e+03,166.046848,155.789973,1536,0.040230
5,Encinitas,Encinitas,2050,jurisdiction,0,1683050,123345,75548908,4926,1642,...,4.876553,42.019482,0.000000,0.000000,101.793107,1.009684e+04,177.861367,2246.207532,2716,0.094670
6,Escondido,Escondido,2050,jurisdiction,0,1927000,192371,86504804,6580,2820,...,29.062274,103.428265,0.000000,0.000000,467.280774,1.823372e+04,674.905613,5034.396925,2419,0.043379
7,Imperial Beach,Imperial Beach,2050,jurisdiction,0,311600,29492,13973664,608,1672,...,0.286962,11.377762,0.000000,0.000000,4.021093,1.744911e+03,2.775990,1063.725145,896,0.088643
8,La Mesa,La Mesa,2050,jurisdiction,0,961450,51501,43120619,2345,4066,...,6.978030,6.352039,0.000000,0.000000,112.551477,5.755971e+03,47.755219,3.244729,1613,0.057386
9,Lemon Grove,Lemon Grove,2050,jurisdiction,0,369000,11559,16550100,879,1806,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.442767e+03,6.152476,0.048723,360,0.036897
10,National City,National City,2050,jurisdiction,0,1045500,52689,46895144,1044,5133,...,0.000000,84.916968,0.000000,0.051328,9.242294,5.125061e+03,25.002133,0.000000,1245,0.061128
11,Oceanside,Oceanside,2050,jurisdiction,0,2242700,179868,100708715,6590,1094,...,2.677783,39.437944,0.000000,270.057273,165.778120,2.447995e+04,243.426022,2259.142826,7453,0.091133
12,Poway,Poway,2050,jurisdiction,0,1022950,67702,45939936,1505,2036,...,56.020920,118.106381,0.000000,0.000000,373.898242,1.543247e+04,1540.011465,8051.681044,694,0.037184
13,San Diego,San Diego,2050,jurisdiction,0,18083050,419898,812536173,23002,116457,...,210.705746,2194.421744,0.000000,76.310251,3466.645119,1.632519e+05,4766.452884,45382.897493,53525,0.080916
14,San Marcos,San Marcos,2050,jurisdiction,0,953250,86461,42814064,3240,1276,...,12.621000,190.656403,0.000000,3.652740,328.407762,1.256911e+04,939.276892,2179.314838,2373,0.055506
15,Santee,Santee,2050,jurisdiction,0,612950,35795,27529226,1491,3887,...,28.834836,26.968456,0.000000,6.939556,107.669572,8.499737e+03,691.363665,1359.100757,850,0.033419
16,Solana Beach,Solana Beach,2050,jurisdiction,0,377200,27728,16940519,1104,368,...,0.000000,7.574048,0.000000,0.000000,48.628061,2.127410e+03,16.348025,39.788713,1157,0.170398
17,Unincorporated,Unincorporated,2050,jurisdiction,0,13251200,1071384,594870741,40744,65889,...,2551.739947,3009.010538,1597.825257,63.991259,181.261744,1.770491e+06,20380.476148,37517.519896,13986,0.072426
18,Vista,Vista,2050,jurisdiction,0,1461650,135889,65655038,4928,713,...,87.702155,62.673640,0.000000,0.000000,361.497434,1.112948e+04,243.728798,539.573510,1660,0.045270

,cpa,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate,cpa_name
0,0,0,2050,cpa,0,18523800,1343072,831452093,47673,49808,...,1199.593601,0.0,291.212759,2934.515819,186342.184185,5912.035953,31874.072908,36407,0.062355,Not in CPA
1,1401,1401,2050,cpa,0,59450,841,2670998,58,270,...,0.000000,0.0,0.000000,68.980657,1256.647123,30.832045,0.000000,12,0.923077,Balboa Park
2,1402,1402,2050,cpa,0,114800,1291,5158328,112,715,...,15.106046,0.0,0.184453,30.680444,550.013693,25.967361,0.013872,250,0.134048,Barrio Logan
3,1403,1403,2050,cpa,0,137350,9179,6172576,201,268,...,16.665674,0.0,0.000000,60.058419,1486.512519,0.895999,78.723801,205,0.032695,Carmel Mountain Ranch
4,1404,1404,2050,cpa,0,701100,9564,31498626,366,5163,...,101.659177,0.0,0.000000,59.381235,1468.932909,42.265611,0.043054,9945,0.172536,Downtown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1953,1953,2050,cpa,0,1053700,88160,47302443,3585,1398,...,0.000000,0.0,4.796455,0.000000,25628.899340,6.897847,5896.458971,967,0.055549,Fallbrook
84,1954,1954,2050,cpa,0,96350,8180,4328274,288,47,...,0.000000,0.0,0.000000,0.000000,150245.997039,0.000000,34.539931,666,0.087956,Pendleton-De Luz
85,1955,1955,2050,cpa,0,219350,18725,9846996,749,1381,...,0.000000,0.0,0.000000,0.000000,5366.997447,0.000000,589.345390,74,0.097754,Rainbow
86,1998,1998,2050,cpa,0,14350,895,644305,35,98,...,0.000000,0.0,0.000000,0.000000,2620.091211,0.000000,41.454752,1,0.003472,Barona
87,1999,1999,2050,cpa,0,57400,2730,2574733,60,274,...,59.811422,0.0,0.000000,0.000000,371.018476,4.252227,0.000000,46,0.055489,County Islands

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:07,  3.70s/it]

,luz,geozone,year,geotype,scenario,increment,zip,pseudomsa,district27,pop,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,1,1,2050,luz,0,303400,13631580,296,3996,7132,...,0.000000,17.192360,0.0,0.000000,6.912115,883.949940,13.050129,59.487941,533,0.122332
1,2,2,2050,luz,0,467400,20999350,456,6156,19620,...,0.517866,0.671545,0.0,0.089669,2.513927,879.252141,12.858133,22.277557,623,0.048905
2,3,3,2050,luz,0,284950,12802577,278,2404,22329,...,1.060529,1.987185,0.0,0.133961,4.108407,1023.811261,13.560552,68.672775,385,0.027555
3,4,4,2050,luz,0,508400,22842392,496,1984,43471,...,0.361248,0.000000,0.0,0.160697,0.000000,1487.453727,4.255203,5.674370,2356,0.082329
4,5,5,2050,luz,0,264450,11881946,386,875,43798,...,8.610671,59.474927,0.0,2.486945,170.657537,2926.896508,207.199967,84.335003,3030,0.112280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,241,241,2050,luz,0,225500,10129220,770,110,11705,...,0.000000,0.000000,0.0,0.000000,0.000000,1751.858892,42.949702,28.649474,121,0.028384
241,242,242,2050,luz,0,32800,1472592,48,267,4898,...,0.000000,34.226770,0.0,0.000000,36.880099,387.804901,27.248322,0.000000,575,0.192051
242,243,243,2050,luz,0,55350,2487267,81,432,1540,...,0.000000,60.211690,0.0,0.000000,74.380437,788.405251,37.026398,71.734428,44,0.057667
243,244,244,2050,luz,0,92250,4145477,135,720,9139,...,0.000000,9.687128,0.0,0.000000,68.406062,670.007353,10.098877,19.166255,910,0.170030
244,245,245,2050,luz,0,79950,3588811,195,507,10911,...,3.470877,47.618641,0.0,22.499032,8.162603,698.968235,7.935635,0.000000,70,0.016556

,taz,geozone,year,geotype,scenario,increment,luz,zip,pseudomsa,district27,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
0,13,13,2050,taz,0,8200,676,370071,24,4,...,0.0,0.000000,0.0,0.000000,0.000000,4889.004243,0.000000,0.000000,69,0.069486
1,14,14,2050,taz,0,18450,1521,828495,54,9,...,0.0,0.000000,0.0,0.000000,0.000000,25603.832503,0.000000,0.000000,123,0.490040
2,15,15,2050,taz,0,6150,720,276165,18,3,...,0.0,0.000000,0.0,0.000000,0.000000,1108.992996,0.000000,0.000000,24,0.079470
3,16,16,2050,taz,0,6150,483,276162,18,3,...,0.0,0.000000,0.0,1.208995,1.562854,122.196625,0.023044,9.290139,25,0.373134
4,17,17,2050,taz,0,34850,2873,1564935,102,17,...,0.0,0.000000,0.0,0.000000,0.000000,73140.455309,0.000000,0.000000,254,0.158058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,4943,4943,2050,taz,0,12300,1350,552235,48,84,...,0.0,459.067789,0.0,0.000000,0.000000,94142.693533,0.000000,0.000000,48,0.615385
4931,4944,4944,2050,taz,0,8200,904,367736,32,56,...,0.0,4.215455,0.0,0.000000,0.000000,364.012742,43.630083,0.000000,6,0.037267
4932,4945,4945,2050,taz,0,4100,452,183868,16,28,...,0.0,0.000000,0.0,0.000000,0.000000,311.731702,694.122268,0.000000,3,0.428571
4933,4946,4946,2050,taz,0,8200,884,368016,32,56,...,0.0,0.000000,0.0,0.000000,0.000000,35300.498583,0.000000,0.000000,0,NaN
4934,4947,4947,2050,taz,0,16400,1808,735472,64,112,...,0.0,0.000000,0.0,0.000000,0.000000,960.073851,270.553830,0.000000,5,0.625000

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:23<00:00,  3.91s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 7/7 [04:24<00:00, 37.84s/it]

### 2026 and 2029 Diff file- Series 14 (Jurisdiction, CPA, LUZ, Region)

In [10]:
# get series 14 data
series14_df = {}

for geo in tqdm(geo_dfs.keys()):
    if geo == 'mgra':
        series14_df['mgra'] = mgra_output('41', False)
        series14_df['mgra']['vacancy'] = series14_df['mgra']['hs'] - series14_df['mgra']['hh']
        series14_df['mgra']['vacancy_rate'] = series14_df['mgra']['vacancy']/series14_df['mgra']['hs']
    else:
        sr14 = series14_df['mgra'].copy()
        sr14 = sr14[sr14['year'].astype(int)>2025]
        series14_df[geo] = create_mgra_denorm_table(mgra_denorm_path=sr14, 
                                         geo_level=geo, 
                                         output_folder_path=False, 
                                         version='SR14',
                                         series=14)
    if geo == 'cpa':
        series14_df[geo] = add_cpa_names(series14_df[geo].reset_index(), 14).set_index(['cpa', 'year'])
        
    series14_df[geo].insert(0, 'geotype', geo)

series14_df['cpa']

 50%|██████████████████████████████████████████                                          | 3/6 [00:09<00:08,  2.85s/it]C:\Users\jchu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:19<00:00,  3.32s/it]

            geotype  index        taz       hs   hs_sf    hs_mf  hs_mh  \
cpa    year
1442.0 2026     cpa  280.0  1633143.0  26556.0  7861.0  18695.0    0.0
       2029     cpa  281.0  1633143.0  28224.0  7892.0  20332.0    0.0
       2030     cpa  282.0  1633143.0  28794.0  7892.0  20902.0    0.0
       2032     cpa  283.0  1633143.0  29056.0  7896.0  21160.0    0.0
       2035     cpa  284.0  1633143.0  29523.0  7897.0  21626.0    0.0
...             ...    ...        ...      ...     ...      ...    ...
1906.0 2032     cpa  531.0   622253.0   3383.0  3251.0     36.0   96.0
       2035     cpa  532.0   622253.0   3474.0  3342.0     36.0   96.0
       2040     cpa  533.0   622253.0   3554.0  3419.0     39.0   96.0
       2045     cpa  534.0   622253.0   3593.0  3458.0     39.0   96.0
       2050     cpa  535.0   622253.0   3640.0  3505.0     39.0   96.0

                  hh   hh_sf    hh_mf  ...  milestocoast          acres  \
cpa    year                            ...
1442.0 2026  24968.0  7570.0  17398.0  ...     1941.9361    2684.380125
       2029  26460.0  7619.0  18841.0  ...     1941.9361    2684.380125
       2030  26966.0  7629.0  19337.0  ...     1941.9361    2684.380125
       2032  27266.0  7632.0  19634.0  ...     1941.9361    2684.380125
       2035  27637.0  7632.0  20005.0  ...     1941.9361    2684.380125
...              ...     ...      ...  ...           ...            ...
1906.0 2032   3236.0  3109.0     36.0  ...     3096.6867  107365.932568
       2035   3308.0  3181.0     36.0  ...     3096.6867  107365.932568
       2040   3370.0  3242.0     37.0  ...     3096.6867  107365.932568
       2045   3415.0  3286.0     38.0  ...     3096.6867  107365.932568
       2050   3456.0  3326.0     39.0  ...     3096.6867  107365.932568

             effective_acres     land_acres  MicroAccessTime  remoteAVParking  \
cpa    year
1442.0 2026      2640.743833    2684.380125           4600.0              2.0
       2029      2640.743833    2684.380125           4600.0              2.0
       2030      2640.743833    2684.380125           4600.0              2.0
       2032      2640.743833    2684.380125           4600.0              2.0
       2035      2640.743833    2684.380125           4600.0              2.0
...                      ...            ...              ...              ...
1906.0 2032     51550.884299  106651.799938          18960.0              0.0
       2035     51550.884299  106651.799938          18960.0              0.0
       2040     51550.884299  106651.799938          18960.0              0.0
       2045     51550.884299  106651.799938          18960.0              0.0
       2050     51550.884299  106651.799938          18960.0              0.0

             refueling_stations  vacancy  vacancy_rate       cpa_name
cpa    year
1442.0 2026                 9.0   1588.0      0.059798         Uptown
       2029                 9.0   1764.0      0.062500         Uptown
       2030                 9.0   1828.0      0.063485         Uptown
       2032                 9.0   1790.0      0.061605         Uptown
       2035                 9.0   1886.0      0.063882         Uptown
...                         ...      ...           ...            ...
1906.0 2032                 1.0    147.0      0.043453  Jamul-Dulzura
       2035                 1.0    166.0      0.047784  Jamul-Dulzura
       2040                 1.0    184.0      0.051773  Jamul-Dulzura
       2045                 1.0    178.0      0.049541  Jamul-Dulzura
       2050                 1.0    184.0      0.050549  Jamul-Dulzura

[697 rows x 111 columns]

In [11]:
# create df of all differences
def full_diff_pivot(df1, df2, geo, series14 = False):
    
    if 'taz' in list(df1.columns) and geo != 'taz':
        df1 = df1.drop('taz', axis=1)
    if 'LUZ' in list(df1.columns):
        df1 = df1.drop('LUZ', axis=1)
        
    if 'taz' in list(df2.columns) and geo != 'taz':
        df2 = df2.drop('taz', axis=1)
    if 'LUZ' in list(df2.columns):
        df2 = df2.drop('LUZ', axis=1)
    
    # attributes matching
    current_headers = common_values(df1, df2)

    correct_headers = pd.read_csv(
        rf"T:/socioec/Current_Projects/SR15/S0/version6/abm_csv/ForQApurposes/mgra15_based_input_2026_01.csv", nrows=0).columns

    attributes = [header for header in correct_headers if header in current_headers] + ['vacancy', 'vacancy_rate']
    
    if geo not in attributes:
        attributes = [geo] + attributes
    
    # create diffs
    df1_value_name = df1['year'].iloc[0]
    df2_value_name = df2['year'].iloc[0]
    num_years = abs(int(df2_value_name) - int(df1_value_name))
    
    if series14 == 'df2':
        df2_value_name = df2_value_name + ' SR14'
    elif series14 == 'df1':
        df1_value_name = df1_value_name + ' SR14'
    
    df1_pivot = df1[attributes].melt(id_vars=[geo],
                                               var_name = 'attribute',
                                               value_name = df1_value_name)
    df2_pivot = df2[attributes].melt(id_vars=[geo],
                                               var_name = 'attribute',
                                               value_name = df2_value_name)
    full_diff_df =  df1_pivot.merge(df2_pivot,
                                    how='outer',
                                    on=[geo, 'attribute'])
    full_diff_df['diff'] = full_diff_df[df1_value_name] - full_diff_df[df2_value_name]
    full_diff_df['pct diff'] = full_diff_df['diff']/full_diff_df[df2_value_name]
    
    # create CAGRs
    if num_years != 0:
        
        full_diff_df['CAGR'] = ((full_diff_df[df1_value_name]/full_diff_df[df2_value_name])**(1/num_years))-1
        
        # add in thresholds column
        threshold_dict = {'mgra': (350, .03), 'cpa': (500, .03), 'luz': (700, .03)}
        if geo in threshold_dict.keys():
            full_diff_df['threshold_passed'] = (full_diff_df['diff'] < threshold_dict[geo][0]) | (full_diff_df['CAGR'] < threshold_dict[geo][1])
    
    # merging the dataframes together
    full_diff_df = full_diff_df.merge(
        full_diff_df.groupby(['attribute']).sum().reset_index()[['attribute', df1_value_name, df2_value_name]],
        how='outer',
        on=['attribute'],
        suffixes=('',' Share'))
    full_diff_df[df1_value_name + ' Share'] = (full_diff_df[df1_value_name]/full_diff_df[df1_value_name + ' Share'])
    full_diff_df[df2_value_name + ' Share'] = (full_diff_df[df2_value_name]/full_diff_df[df2_value_name + ' Share'])
    full_diff_df['Geographic Share Change'] = full_diff_df[df1_value_name + ' Share'] - full_diff_df[df2_value_name + ' Share']
    
    full_diff_df.insert(0, 'geotype', geo)
    full_diff_df.insert(1, 'geozone', full_diff_df[geo])
    
    return full_diff_df

In [12]:
geo='cpa'
full_diff_pivot(geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == '2026'],
                   geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == '2022'],
                   geo
                   )

,geotype,geozone,cpa,attribute,2026,2022,diff,pct diff,CAGR,threshold_passed,2026 Share,2022 Share,Geographic Share Change
0,cpa,0,0,pop,1.399803e+06,1.399346e+06,457.000000,0.000327,0.000082,True,0.423895,0.425682,-0.001786
1,cpa,1401,1401,pop,4.060000e+02,4.130000e+02,-7.000000,-0.016949,-0.004264,True,0.000123,0.000126,-0.000003
2,cpa,1402,1402,pop,3.861000e+03,3.885000e+03,-24.000000,-0.006178,-0.001548,True,0.001169,0.001182,-0.000013
3,cpa,1403,1403,pop,1.483500e+04,1.229700e+04,2538.000000,0.206392,0.048026,False,0.004492,0.003741,0.000752
4,cpa,1404,1404,pop,6.385800e+04,4.789600e+04,15962.000000,0.333264,0.074556,False,0.019338,0.014570,0.004768
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,cpa,1953,1953,vacancy_rate,5.160399e-02,4.935834e-02,0.002246,0.045497,0.011185,True,0.005142,0.004774,0.000367
5364,cpa,1954,1954,vacancy_rate,8.363060e-02,8.270577e-02,0.000925,0.011182,0.002784,True,0.008332,0.008000,0.000332
5365,cpa,1955,1955,vacancy_rate,9.379128e-02,9.247028e-02,0.001321,0.014286,0.003552,True,0.009345,0.008945,0.000400
5366,cpa,1998,1998,vacancy_rate,3.472222e-03,3.472222e-03,0.000000,0.000000,0.000000,True,0.000346,0.000336,0.000010
5367,cpa,1999,1999,vacancy_rate,5.000000e-02,4.212168e-02,0.007878,0.187037,0.043797,True,0.004982,0.004074,0.000907

In [13]:
# adding in to excel files
for i in tqdm(range(1, len(years))):
    writer = pd.ExcelWriter(r'Results/mgra15_based_input_{}_{}_minus_SR14.xlsx'.format(version, years[i]), engine='xlsxwriter')
    for geo in tqdm(geo_dfs.keys()):
        df = full_diff_pivot(geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == years[i]],
                       series14_df[geo].reset_index()[series14_df[geo].reset_index()['year'] == years[i]],
                       geo,
                       series14 = 'df2'
                       )

        if geo == 'cpa':
            df = add_cpa_names(df, 15).rename(columns={'cpa_name':'cpa_name_SR15'})
            df = add_cpa_names(df, 14).rename(columns={'cpa_name':'cpa_name_SR14'})

        df.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()
    
    writer = pd.ExcelWriter(r'Results/mgra15_based_input_{}_{}_minus_{}.xlsx'.format(version, years[i], years[i-1]), engine='xlsxwriter')

    for geo in tqdm(geo_dfs.keys()):
        df = full_diff_pivot(geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == years[i]],
                       geo_dfs[geo].reset_index()[geo_dfs[geo].reset_index()['year'] == years[i-1]],
                       geo
                       )

        if geo == 'mgra':
            df.to_csv(r'Results/mgra15_based_input_{}_{}_minus_{}_{}.csv'.format(version, years[i], years[i-1], geo))
        else:
            df.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:02<05:13, 62.78s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:02<00:49, 16.36s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:05<00:23, 11.70s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:06<00:08,  8.05s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:19<00:00, 13.22s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:10<00:53, 10.69s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:10<00:08,  2.84s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:12<00:01,  1.84s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:34<00:00,  5.78s/it]
 17%|█████████████▊                                                                     | 1/6 [02:48<14:04, 168.85s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:02<05:14, 62.90s/it]
 33%|████████████████████████████                                                        | 2/6 [01:03<01:43, 25.97s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:03<00:42, 14.16s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:05<00:19,  9.61s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:06<00:06,  6.36s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:18<00:00, 13.08s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:11<00:57, 11.53s/it]
 33%|████████████████████████████                                                        | 2/6 [00:11<00:19,  4.81s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:11<00:08,  2.69s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:12<00:03,  1.86s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:13<00:01,  1.72s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:37<00:00,  6.27s/it]
 33%|███████████████████████████▋                                                       | 2/6 [05:42<11:25, 171.44s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:02<05:11, 62.38s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:02<00:48, 16.25s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:12<00:27, 13.92s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:12<00:09,  9.52s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:25<00:00, 14.21s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:10<00:52, 10.48s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:10<00:08,  2.80s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:11<00:04,  2.02s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:12<00:01,  1.84s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:34<00:00,  5.71s/it]
 50%|█████████████████████████████████████████▌                                         | 3/6 [08:36<08:37, 172.66s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:00<05:02, 60.50s/it]
 33%|████████████████████████████                                                        | 2/6 [01:00<01:39, 24.98s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:00<00:40, 13.62s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:04<00:19,  9.92s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:05<00:06,  6.57s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:16<00:00, 12.75s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:10<00:53, 10.62s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:10<00:08,  2.83s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:11<00:04,  2.01s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:12<00:01,  1.81s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:34<00:00,  5.74s/it]
 67%|███████████████████████████████████████████████████████▎                           | 4/6 [11:21<05:39, 169.68s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:03<05:18, 63.67s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:03<00:49, 16.59s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:11<00:26, 13.31s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:11<00:09,  9.12s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:23<00:00, 13.94s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:10<00:51, 10.36s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:10<00:08,  2.77s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:11<00:03,  1.96s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:12<00:01,  1.70s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:32<00:00,  5.45s/it]
 83%|█████████████████████████████████████████████████████████████████████▏             | 5/6 [14:12<02:50, 170.10s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [01:13<06:09, 73.97s/it]
 33%|████████████████████████████                                                        | 2/6 [01:14<02:02, 30.53s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [01:14<00:49, 16.66s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [01:23<00:27, 13.76s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [01:25<00:09,  9.39s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:44<00:00, 17.38s/it]

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:13<01:06, 13.36s/it]
 33%|████████████████████████████                                                        | 2/6 [00:13<00:22,  5.60s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:13<00:09,  3.14s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:14<00:04,  2.14s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:15<00:01,  1.95s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:46<00:00,  7.77s/it]
100%|███████████████████████████████████████████████████████████████████████████████████| 6/6 [18:01<00:00, 180.20s/it]

### Diff columns for hhi and emp

In [14]:
# employment
pattern = re.compile("^emp_")
emp_columns = [col for col in geo_dfs['mgra'].columns if pattern.match(col)]

# household income
pattern = re.compile("i\d+")
household_income_columns = [col for col in geo_dfs['mgra'].columns if pattern.match(col)]

In [15]:
def diff_columns(df, geo, columns, col_var_name, value_name, first_year, second_year):
    def column_pct(df, geo, columns, year, col_var_name):
        pct_df = df[df['year'] == year][[geo] + columns].set_index(geo)
        return (pct_df.T/pct_df.sum(axis=1)).T.reset_index().melt(id_vars = [geo], var_name = col_var_name, value_name=value_name)

    df_values_1 = df[df['year']==first_year][[geo]+columns].melt(id_vars = [geo], var_name = col_var_name, value_name=first_year)
    df1 = column_pct(df, geo, columns, first_year, col_var_name)
    
    df_values_2 = df[df['year']==second_year][[geo]+columns].melt(id_vars = [geo], var_name = col_var_name, value_name=second_year)
    df2 = column_pct(df, geo, columns, second_year, col_var_name)

    output = df_values_1.merge(df_values_2, how='outer', on=[geo, col_var_name])
    output['diff'] = output[first_year] - output[second_year]
    output['pct_diff'] = output['diff']/output[second_year]
    
    num_years = int(first_year) - int(second_year)
    output['CAGR'] = ((output[first_year]/output[second_year])**(1/num_years))-1
    
    output = output.merge(df1, how='outer', on=[geo, col_var_name])
    output = output.merge(df2, how='outer', on=[geo, col_var_name], suffixes=(' '+first_year, ' '+second_year))
    output[value_name + ' Change'] = output[value_name + ' ' + first_year] - output[value_name + ' ' + second_year]
    
    output.insert(0, 'geotype', geo)
    output.insert(1, 'geozone', output[geo])
    return output

In [16]:
for i in tqdm(range(1, len(years))):
    writer = pd.ExcelWriter(r'Results/houeshold_income_share_diffs_{}_{}_minus_{}.xlsx'.format(version, years[i], years[i-1]), engine='xlsxwriter')
    for geo in tqdm(geo_dfs.keys()):
        diff = diff_columns(geo_dfs[geo].reset_index(), geo, household_income_columns, 'hhi', 'Income Share', years[i], years[i-1])
        diff.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:22<01:52, 22.58s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:22<00:17,  5.89s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:28<00:00,  4.83s/it]
 17%|██████████████                                                                      | 1/6 [00:47<03:55, 47.13s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:30<02:31, 30.40s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:30<00:23,  7.94s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:31<00:04,  4.01s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:37<00:00,  6.33s/it]
 33%|████████████████████████████                                                        | 2/6 [01:55<03:58, 59.73s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:40<03:22, 40.47s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:40<00:31, 10.53s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:41<00:05,  5.32s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:47<00:00,  7.93s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [03:01<03:06, 62.29s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:28<02:24, 28.82s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:29<00:11,  5.51s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:36<00:00,  6.00s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [03:56<01:58, 59.48s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:30<02:33, 30.62s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:30<00:11,  5.85s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:37<00:00,  6.23s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [04:51<00:58, 58.14s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:27<02:15, 27.20s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:27<00:10,  5.21s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:33<00:00,  5.51s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [05:45<00:00, 57.52s/it]

In [17]:
for i in tqdm(range(1, len(years))):
    writer = pd.ExcelWriter(r'Results/sector_share_diffs_{}_{}_minus_{}.xlsx'.format(version, years[i], years[i-1]), engine='xlsxwriter')
    for geo in tqdm(geo_dfs.keys()):
        diff = diff_columns(geo_dfs[geo].reset_index(), geo, household_income_columns, 'hhi', 'Sector Share', years[i], years[i-1])
        diff.to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:32<02:43, 32.67s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:32<00:25,  8.52s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:33<00:04,  4.28s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:39<00:00,  6.59s/it]
 17%|██████████████                                                                      | 1/6 [01:00<05:04, 60.95s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:31<02:36, 31.39s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:31<00:11,  6.00s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:38<00:00,  6.34s/it]
 33%|████████████████████████████                                                        | 2/6 [02:02<04:04, 61.09s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:39<03:17, 39.41s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [00:39<00:30, 10.26s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:40<00:05,  5.13s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:48<00:00,  8.02s/it]
 50%|██████████████████████████████████████████                                          | 3/6 [03:15<03:20, 66.74s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:36<03:04, 36.93s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:37<00:14,  7.04s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:43<00:00,  7.19s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [04:20<02:12, 66.08s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:27<02:18, 27.63s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:27<00:10,  5.28s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:34<00:00,  5.74s/it]
 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [05:16<01:02, 62.32s/it]
  0%|                                                                                            | 0/6 [00:00<?, ?it/s]
 17%|██████████████                                                                      | 1/6 [00:29<02:29, 29.81s/it]
 67%|████████████████████████████████████████████████████████                            | 4/6 [00:30<00:11,  5.70s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:36<00:00,  6.14s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [06:11<00:00, 62.00s/it]

### Consolidated CGAR

In [18]:
geo_dfs['mgra'].reset_index()\
                                    .sort_values(['mgra', 'year'])\
                                    .set_index(['mgra', 'year'])\
                                    .select_dtypes(include='number')

            scenario  increment   taz  luz    zip  pseudomsa  district27  pop  \
mgra  year
1     2022         0       2022  3010   10  92105          2           9  440
      2026         0       2026  3010   10  92105          2           9  414
      2029         0       2029  3010   10  92105          2           9  409
      2032         0       2032  3010   10  92105          2           9  406
      2035         0       2035  3010   10  92105          2           9  401
...              ...        ...   ...  ...    ...        ...         ...  ...
24321 2029         0       2029  3039  200  92026          7           3   57
      2032         0       2032  3039  200  92026          7           3   56
      2035         0       2035  3039  200  92026          7           3   56
      2040         0       2040  3039  200  92026          7           3   55
      2050         0       2050  3039  200  92026          7           3   54

            hhp  gq  ...  redev_emp_res  redev_emp_emp  infill_sf  infill_mf  \
mgra  year           ...
1     2022  440   0  ...            0.0            0.0        0.0        0.0
      2026  414   0  ...            0.0            0.0        0.0        0.0
      2029  409   0  ...            0.0            0.0        0.0        0.0
      2032  406   0  ...            0.0            0.0        0.0        0.0
      2035  401   0  ...            0.0            0.0        0.0        0.0
...         ...  ..  ...            ...            ...        ...        ...
24321 2029   57   0  ...            0.0            0.0        0.0        0.0
      2032   56   0  ...            0.0            0.0        0.0        0.0
      2035   56   0  ...            0.0            0.0        0.0        0.0
      2040   55   0  ...            0.0            0.0        0.0        0.0
      2050   54   0  ...            0.0            0.0        0.0        0.0

            infill_emp        dev      vac  unusable  vacancy  vacancy_rate
mgra  year
1     2022         0.0  18.837695  0.00000       0.0        2      0.011364
      2026         0.0  18.837695  0.00000       0.0        8      0.045455
      2029         0.0  18.837695  0.00000       0.0        8      0.045455
      2032         0.0  18.837695  0.00000       0.0        8      0.045455
      2035         0.0  18.837695  0.00000       0.0        8      0.045455
...                ...        ...      ...       ...      ...           ...
24321 2029         0.0   7.849918  0.43073       0.0        2      0.086957
      2032         0.0   7.849918  0.43073       0.0        2      0.086957
      2035         0.0   7.849918  0.43073       0.0        2      0.086957
      2040         0.0   7.849918  0.43073       0.0        2      0.086957
      2050         0.0   7.849918  0.43073       0.0        2      0.086957

[170247 rows x 126 columns]

In [19]:
writer = pd.ExcelWriter(r'Data/mgra15_based_input_consolidated_CGAR_{}.xlsx'.format(version), engine='xlsxwriter')

for geo in tqdm(geo_dfs.keys()):
    consolidated_cgar = geo_dfs[geo].reset_index()\
                                        .sort_values([geo, 'year'])\
                                        .set_index([geo, 'year'])\
                                        .select_dtypes(include='number')

    year_diffs = consolidated_cgar.reset_index()
    year_diffs = year_diffs.assign(year_diff = year_diffs['year'].astype(int) - year_diffs['year'].astype(int).shift(1))
    year_diffs = year_diffs.assign(year = year_diffs['year'].astype(str)).set_index([geo, 'year'])

    cgar = consolidated_cgar.div(consolidated_cgar.shift(1))
    cgar = ((cgar.T.pow(1/year_diffs['year_diff']).T)-1).reset_index()
    
    cgar[cgar['year']!='2022'].sort_values([geo, 'year']).to_excel(writer, sheet_name = '{}'.format(geo), index=False)
writer.save()

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [03:28<00:00, 34.81s/it]

### Negative values (Region, Jurisdiction, CPA, LUZ, MGRA)

In [20]:
for geo, df in geo_dfs.items():
    df = df.reset_index()[df.reset_index()['year'] != '2022']
    print('------------------------------------------------------------------')
    print(geo, df[(df.select_dtypes(include='number') < 0).any(axis=1)].shape)
    print('******************************************************************')
    display(df.select_dtypes(include='number').loc[:,(df.select_dtypes(include='number') < 0).any()])

------------------------------------------------------------------
mgra (0, 129)
******************************************************************

Empty DataFrame
Columns: []
Index: [24321, 24322, 24323, 24324, 24325, 24326, 24327, 24328, 24329, 24330, 24331, 24332, 24333, 24334, 24335, 24336, 24337, 24338, 24339, 24340, 24341, 24342, 24343, 24344, 24345, 24346, 24347, 24348, 24349, 24350, 24351, 24352, 24353, 24354, 24355, 24356, 24357, 24358, 24359, 24360, 24361, 24362, 24363, 24364, 24365, 24366, 24367, 24368, 24369, 24370, 24371, 24372, 24373, 24374, 24375, 24376, 24377, 24378, 24379, 24380, 24381, 24382, 24383, 24384, 24385, 24386, 24387, 24388, 24389, 24390, 24391, 24392, 24393, 24394, 24395, 24396, 24397, 24398, 24399, 24400, 24401, 24402, 24403, 24404, 24405, 24406, 24407, 24408, 24409, 24410, 24411, 24412, 24413, 24414, 24415, 24416, 24417, 24418, 24419, 24420, ...]

[145926 rows x 0 columns]

------------------------------------------------------------------
region (0, 129)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6]

------------------------------------------------------------------
jurisdiction (0, 129)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[114 rows x 0 columns]

------------------------------------------------------------------
cpa (0, 130)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[528 rows x 0 columns]

------------------------------------------------------------------
luz (0, 128)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[1470 rows x 0 columns]

------------------------------------------------------------------
taz (0, 128)
******************************************************************

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114, 115, 116, ...]

[29610 rows x 0 columns]

### Zero Values (Region, Jurisdiction, CPA, LUZ)

In [21]:
for geo, df in geo_dfs.items():
    df = df.reset_index()[df.reset_index()['year'] != '2022'].loc[:, df.reset_index().columns != 'scenario']
    print('------------------------------------------------------------------')
    print(geo, df[(df.select_dtypes(include='number') == 0).any(axis=1)].shape)
    print('******************************************************************')
    display(df.select_dtypes(include='number').loc[:,(df.select_dtypes(include='number') == 0).any()])

------------------------------------------------------------------
mgra (145926, 128)
******************************************************************

,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hhs,hs,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
24321,0,0,0,0,0,0,0,0,0.000000,0,...,0.0,0.0,0.000000,0.0,0.0,10.994980,0.000000,0.0,0,NaN
24322,0,0,0,0,0,0,0,0,0.000000,25,...,0.0,0.0,0.000000,0.0,0.0,2.287811,0.000000,0.0,25,1.000000
24323,208,208,0,0,0,0,0,74,2.929577,71,...,0.0,0.0,3.202705,0.0,0.0,16.020178,5.274488,0.0,0,0.000000
24324,205,205,0,0,0,0,0,71,2.928571,72,...,0.0,0.0,0.000000,0.0,0.0,8.799739,0.000000,0.0,2,0.027778
24325,490,490,0,0,0,0,0,210,2.768362,189,...,0.0,0.0,0.000000,0.0,0.0,21.119591,0.084978,0.0,12,0.063492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170242,13,13,0,0,0,0,0,7,2.600000,9,...,0.0,0.0,0.000000,0.0,0.0,612.689264,0.000000,0.0,4,0.444444
170243,13,13,0,0,0,0,0,7,2.600000,10,...,0.0,0.0,0.000000,0.0,0.0,379.892975,0.000000,0.0,5,0.500000
170244,112,112,0,0,0,0,0,51,2.434783,47,...,0.0,0.0,0.000000,0.0,0.0,227.739678,0.000000,0.0,1,0.021277
170245,31,31,0,0,0,0,0,14,2.384615,18,...,0.0,0.0,0.000000,0.0,0.0,92.737743,0.000000,0.0,5,0.277778
170246,0,0,0,0,0,0,0,0,0.000000,0,...,0.0,0.0,0.000000,0.0,0.0,145.801926,76.523444,0.0,0,NaN

------------------------------------------------------------------
region (6, 128)
******************************************************************

   redev_mh_sf  redev_mh_mf  redev_mh_emp
1          0.0          0.0           0.0
2          0.0          0.0           0.0
3          0.0          0.0           0.0
4          0.0          0.0           0.0
5          0.0          0.0           0.0
6          0.0          0.0           0.0

------------------------------------------------------------------
jurisdiction (114, 128)
******************************************************************

,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,hs_mh,hh_mh,emp_mil,emp_utl,majorcollegeenroll_total,...,redev_ag_comm,redev_ag_office,redev_ag_schools,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,unusable
1,941,0,941,0,941,1317,1164,0,212,0,...,49.195514,7.769022,0.0,0.0,28.161705,240.786677,1.212635,16.958822,591.159335,5471.912863
2,949,0,949,0,949,1317,1164,0,214,0,...,49.195514,7.769022,0.0,0.0,17.336878,227.419313,0.000000,16.767676,556.995782,5471.912863
3,953,0,953,0,953,1317,1164,0,211,0,...,49.195514,7.769022,0.0,0.0,10.089850,219.585099,0.000000,4.870878,510.803826,5471.912863
4,974,0,974,0,974,1317,1164,0,194,0,...,49.195514,7.769022,0.0,0.0,2.124913,210.520416,0.000000,4.870878,482.153882,5471.912863
5,963,0,963,0,963,1317,1164,0,155,0,...,49.195514,7.769022,0.0,0.0,1.913814,206.520964,0.000000,4.870878,457.819129,5471.912863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2018,0,2018,0,2018,1998,1863,0,2,0,...,0.000000,0.000000,0.0,0.0,92.815252,107.438778,10.431880,0.000000,486.567135,539.573510
129,2029,0,2029,0,2029,1998,1863,0,2,0,...,0.000000,0.000000,0.0,0.0,91.869684,106.753358,4.910551,0.000000,483.229710,539.573510
130,2085,0,2085,0,2085,1998,1863,0,13,0,...,0.000000,0.000000,0.0,0.0,91.869684,104.393730,0.000000,0.000000,464.743406,539.573510
131,2064,0,2064,0,2064,1998,1863,0,31,0,...,0.000000,0.000000,0.0,0.0,87.702155,82.583274,0.000000,0.000000,412.180207,539.573510
132,1890,0,1890,0,1890,1998,1863,0,34,0,...,0.000000,0.000000,0.0,0.0,87.702155,62.673640,0.000000,0.000000,361.497434,539.573510

------------------------------------------------------------------
cpa (528, 129)
******************************************************************

,cpa,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hs,...,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy
1,0,1399803,1373636,26167,9141,17026,1751,15275,664891,518602,...,1.766242,720.859024,1656.061357,29.169509,506.366823,4320.317121,180853.203741,11394.838346,31874.072908,29158
2,0,1417019,1390503,26516,9221,17295,1775,15520,673445,532053,...,1.766242,589.549752,1597.243749,22.780979,461.758200,4171.256838,182341.525777,9906.516309,31874.072908,31607
3,0,1451434,1424008,27426,9361,18065,1945,16120,689540,549073,...,1.766242,546.926942,1517.895996,7.672304,407.280975,4012.085057,183685.580225,8561.040730,31874.072908,32627
4,0,1466553,1438544,28009,9501,18508,2060,16448,697726,559728,...,1.766242,528.029305,1463.489250,2.510639,342.874423,3688.324460,184656.797300,7590.854737,31874.072908,33390
5,0,1476557,1448813,27744,9428,18316,2008,16308,705303,574344,...,1.766242,268.440291,1296.733892,0.000000,309.314874,3280.558621,185544.418513,6708.957489,31874.072908,35154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,1999,2539,2539,0,0,0,0,0,967,743,...,0.000000,46.655787,64.510573,2.146079,0.000000,0.000000,366.552780,8.717923,0.000000,40
612,1999,2537,2537,0,0,0,0,0,970,751,...,0.000000,46.576316,64.306363,2.146079,0.000000,0.000000,366.927985,8.342718,0.000000,40
613,1999,2577,2577,0,0,0,0,0,990,771,...,0.000000,46.496845,63.871183,2.056487,0.000000,0.000000,367.817233,7.453470,0.000000,40
614,1999,2525,2525,0,0,0,0,0,981,776,...,0.000000,46.496845,62.786514,2.056487,0.000000,0.000000,368.002352,7.268351,0.000000,42
615,1999,2584,2584,0,0,0,0,0,1030,829,...,0.000000,43.347682,59.811422,0.000000,0.000000,0.000000,371.018476,4.252227,0.000000,46

------------------------------------------------------------------
luz (1470, 127)
******************************************************************

,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hs,hs_sf,...,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,vac,unusable,vacancy,vacancy_rate
1,7515,7474,41,0,41,0,41,4924,4045,2385,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,13.729838,59.487941,217,0.053646
2,7596,7555,41,0,41,0,41,4963,4131,2361,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,13.576919,59.487941,236,0.057129
3,7621,7580,41,0,41,0,41,4975,4174,2298,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,13.390503,59.487941,239,0.057259
4,7735,7694,41,0,41,0,41,5044,4260,2278,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,13.132746,59.487941,242,0.056808
5,7196,7155,41,0,41,0,41,4689,4295,2253,...,0.0,0.000000,17.192360,0.000000,0.000000,6.912115,13.091438,59.487941,510,0.118743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,10707,10637,70,0,70,0,70,4995,3875,1140,...,0.0,4.691822,93.587226,77.829521,27.032324,8.162603,19.036380,0.000000,56,0.014452
1711,10646,10576,70,0,70,0,70,4975,3890,1153,...,0.0,4.691822,92.369799,74.730239,26.902801,8.162603,18.724097,0.000000,56,0.014396
1712,10668,10597,71,0,71,0,71,4996,3932,1179,...,0.0,4.491585,87.975826,68.224587,25.996143,8.162603,17.400998,0.000000,55,0.013988
1713,11134,11064,70,0,70,0,70,5245,4192,1411,...,0.0,3.721173,73.319766,0.000000,24.441871,8.162603,10.712536,0.000000,67,0.015983
1714,10911,10849,62,0,62,0,62,5210,4228,1411,...,0.0,3.470877,47.618641,0.000000,22.499032,8.162603,7.935635,0.000000,70,0.016556

------------------------------------------------------------------
taz (29610, 127)
******************************************************************

,pop,hhp,gq,gq_mil,gq_civ,gq_civ_college,gq_civ_other,er,hs,hs_sf,...,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable,vacancy,vacancy_rate
1,4591,2831,1760,1760,0,0,0,1211,993,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,66,0.066465
2,4565,2796,1769,1769,0,0,0,1197,993,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,67,0.067472
3,4550,2767,1783,1783,0,0,0,1188,993,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,67,0.067472
4,4536,2740,1796,1796,0,0,0,1180,993,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,67,0.067472
5,4472,2682,1790,1790,0,0,0,1163,993,993,...,0.0,0.0,0.0,0.0,0.0,4889.004243,0.00000,0.0,68,0.068479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34540,7,7,0,0,0,0,0,6,8,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,5,0.625000
34541,7,7,0,0,0,0,0,6,8,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,5,0.625000
34542,7,7,0,0,0,0,0,6,8,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,5,0.625000
34543,7,7,0,0,0,0,0,6,8,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,5,0.625000
34544,7,7,0,0,0,0,0,5,8,8,...,0.0,0.0,0.0,0.0,0.0,960.073851,270.55383,0.0,5,0.625000

### Previous Version Comparison

In [4]:
query = """
Select *
from [sr15_staging].[2023_11_29].[mgrabase]
"""

prev_mgra_data = pd.read_sql(query, con=engine.connect())
prev_mgra_data

,scenario,increment,mgra,taz,luz,zip,pseudomsa,district27,pop,hhp,...,redev_ag_schools,redev_ag_roads,redev_emp_res,redev_emp_emp,infill_sf,infill_mf,infill_emp,dev,vac,unusable
0,0,2035,365,2469,92,91932,4,11,200,200,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,17.048736,0.0,0.0
1,0,2035,665,3364,11,92115,2,9,57,57,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,4.689694,0.0,0.0
2,0,2035,1535,2383,68,92126,3,4,2865,0,...,0.0,0.0,0.0,6.537975,0.0,0.0,0.0,122.979187,0.0,0.0
3,0,2035,4943,4198,105,91941,5,13,53,53,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,22.194187,0.0,0.0
4,0,2035,4945,3328,74,92120,3,6,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,13.391927,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170242,0,2050,22878,4780,114,91901,5,14,431,431,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,31.309829,0.0,0.0
170243,0,2050,22893,4793,114,91901,5,14,637,534,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,13.250893,0.0,0.0
170244,0,2050,22927,4769,114,91901,5,14,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,41.721484,0.0,0.0
170245,0,2050,22929,4769,114,91901,5,14,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,21.000025,0.0,0.0
170246,0,2050,22944,4810,114,91901,5,14,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0

In [12]:
ver_comp = (prev_mgra_data.sort_values(['increment', 'mgra']).set_index(['increment', 'mgra'])!=\
full_mgra_data.sort_values(['increment', 'mgra']).set_index(['increment', 'mgra']))
dict(ver_comp.sum())

{'scenario': 0,
 'taz': 0,
 'luz': 0,
 'zip': 0,
 'pseudomsa': 0,
 'district27': 0,
 'pop': 77180,
 'hhp': 76128,
 'gq': 2889,
 'gq_mil': 132,
 'gq_civ': 2757,
 'gq_civ_college': 163,
 'gq_civ_other': 2713,
 'er': 43166,
 'hhs': 76251,
 'hs': 10872,
 'hs_sf': 6494,
 'hs_mf': 7465,
 'hs_mh': 0,
 'hh': 26924,
 'hh_sf': 11856,
 'hh_mf': 18789,
 'hh_mh': 0,
 'emp_tot': 7367,
 'emp_tot_ws_only': 5217,
 'emp_civ': 7367,
 'emp_civ_ws_only': 5217,
 'emp_mil': 0,
 'emp_gov': 5839,
 'emp_ag_min': 3354,
 'emp_bus_svcs': 27180,
 'emp_fin_res_mgm': 17956,
 'emp_educ': 10623,
 'emp_hlth': 30210,
 'emp_ret': 16429,
 'emp_trn_wrh': 8241,
 'emp_con': 18460,
 'emp_utl': 3437,
 'emp_mnf': 10008,
 'emp_whl': 10597,
 'emp_ent': 8111,
 'emp_accm': 5060,
 'emp_food': 15453,
 'emp_oth': 18982,
 'emp_non_ws_wfh': 1411,
 'emp_non_ws_oth': 884,
 'emp_indus_lu': 1187,
 'emp_comm_lu': 4477,
 'emp_office_lu': 1020,
 'emp_other_lu': 2749,
 'i1': 76160,
 'i2': 81054,
 'i3': 83645,
 'i4': 83505,
 'i5': 82939,
 'i6': 87859,
 'i7': 87661,
 'i8': 84745,
 'i9': 87742,
 'i10': 91559,
 'enrollgradekto8': 0,
 'enrollgrade9to12': 0,
 'majorcollegeenroll_total': 0,
 'othercollegeenroll_total': 0,
 'hotelroomtotal': 0,
 'milestocoast': 0,
 'acre': 94112,
 'landacre': 94112,
 'effective_acres': 81695,
 'parkactive': 354,
 'openspaceparkpreserve': 4262,
 'beachactive': 54,
 'truckregiontype': 0,
 'dev_ldsf': 767,
 'dev_sf': 6017,
 'dev_mf': 4697,
 'dev_mh': 0,
 'dev_oth': 243,
 'dev_ag': 281,
 'dev_indus': 1342,
 'dev_comm': 4605,
 'dev_office': 1146,
 'dev_schools': 222,
 'dev_roads': 29,
 'dev_parks': 778,
 'dev_mil': 4,
 'dev_water': 13,
 'dev_mixed_use': 3928,
 'vac_ldsf': 571,
 'vac_sf': 1765,
 'vac_mf': 1450,
 'vac_mh': 0,
 'vac_oth': 37,
 'vac_ag': 8,
 'vac_indus': 482,
 'vac_comm': 829,
 'vac_office': 236,
 'vac_schools': 121,
 'vac_roads': 86,
 'vac_mixed_use': 818,
 'vac_parks': 333,
 'redev_sf_mf': 2547,
 'redev_sf_emp': 717,
 'redev_mf_emp': 355,
 'redev_mh_sf': 0,
 'redev_mh_mf': 0,
 'redev_mh_emp': 0,
 'redev_ag_ldsf': 142,
 'redev_ag_sf': 72,
 'redev_ag_mf': 21,
 'redev_ag_indus': 12,
 'redev_ag_comm': 12,
 'redev_ag_office': 0,
 'redev_ag_schools': 0,
 'redev_ag_roads': 0,
 'redev_emp_res': 1126,
 'redev_emp_emp': 1176,
 'infill_sf': 749,
 'infill_mf': 539,
 'infill_emp': 1060,
 'dev': 6515,
 'vac': 6379,
 'unusable': 14}

## PASEF rollup

In [3]:
server = 'ddamwsql16'
database = 'sr15_dev'
driver = 'ODBC Driver 17 for SQL Server'

engine = sql.create_engine('mssql+pyodbc://@{}/{}?trusted_connection=yes&driver={}'.format(server, database, driver))

query = """
Select *
from [sr15_staging].[2023_12_05].[pop_ase_mgra]
"""

pasef = pd.read_sql(query, con=engine.connect())
pasef['key'] = pasef['ethnicity_id'].astype(str)+'_'+pasef['sex_id'].astype(str)+'_'+pasef['age_group_id'].astype(str)
pasef

,scenario,increment,mgra,ethnicity_id,sex_id,age_group_id,pop,hhp,gq,key
0,0,2022,3730,2,2,7,0,0,0,2_2_7
1,0,2022,6041,2,2,8,0,0,0,2_2_8
2,0,2022,7421,4,2,10,0,0,0,4_2_10
3,0,2022,8767,5,1,5,0,0,0,5_1_5
4,0,2022,13924,2,2,4,0,0,0,2_2_4
...,...,...,...,...,...,...,...,...,...,...
54479035,0,2050,24321,8,2,16,0,0,0,8_2_16
54479036,0,2050,24321,8,2,17,0,0,0,8_2_17
54479037,0,2050,24321,8,2,18,0,0,0,8_2_18
54479038,0,2050,24321,8,2,19,0,0,0,8_2_19
54479039,0,2050,24321,8,2,20,0,0,0,8_2_20

In [4]:
def create_pasef_denorm_table(mgra_denorm_path, geo_level, version, series):

    if type(mgra_denorm_path) != str:
        df_1 = mgra_denorm_path
    else:
        df_1 = import_mgra_based_data(path = mgra_denorm_path)

    df_2 = download_mgra_denorm_data(geo_level=geo_level, series=series)
    
    df_3 = pd.merge(df_2, df_1, how='left')

    if geo_level != 'mgra':
        df_3 = df_3.drop('mgra', axis=1)

    if 'year' in list(df_3.columns):
        df_3 = df_3.groupby([geo_level, 'year', 'key']).sum()
    else:
        df_3 = df_3.groupby([geo_level, 'key']).sum()

    return df_3

In [5]:
pasef_dfs = {}
pasef_dfs['mgra'] = pasef.rename(columns={'increment':'year'})
for geo in tqdm(['region', 'jurisdiction', 'cpa', 'luz']):
    pasef_dfs[geo] = create_pasef_denorm_table(pasef_dfs['mgra'], 
                         geo_level=geo,
                         version='SR15',
                         series=15)
    if geo == 'cpa':
        pasef_dfs[geo] = add_cpa_names(pasef_dfs[geo], 15).set_index(['cpa', 'year'])
    pasef_dfs[geo].insert(0, 'geotype', geo)
    display(pasef_dfs[geo])
pasef_dfs['luz']

  0%|                                                                                            | 0/1 [00:00<?, ?it/s]

                geotype  scenario  ethnicity_id  sex_id  age_group_id  pop  \
luz year key
1   2022 1_1_1      luz         0           148     148           148   48
         1_1_10     luz         0           148     148          1480   27
         1_1_11     luz         0           148     148          1628   52
         1_1_12     luz         0           148     148          1776   21
         1_1_13     luz         0           148     148          1924   19
...                 ...       ...           ...     ...           ...  ...
245 2050 8_2_5      luz         0           312      78           195    6
         8_2_6      luz         0           312      78           234   17
         8_2_7      luz         0           312      78           273   21
         8_2_8      luz         0           312      78           312    2
         8_2_9      luz         0           312      78           351    2

                 hhp  gq
luz year key
1   2022 1_1_1    48   0
         1_1_10   27   0
         1_1_11   52   0
         1_1_12   21   0
         1_1_13   19   0
...              ...  ..
245 2050 8_2_5     6   0
         8_2_6    17   0
         8_2_7    21   0
         8_2_8     2   0
         8_2_9     2   0

[548800 rows x 8 columns]

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [02:46<00:00, 166.89s/it]

                geotype  scenario  ethnicity_id  sex_id  age_group_id  pop  \
luz year key
1   2022 1_1_1      luz         0           148     148           148   48
         1_1_10     luz         0           148     148          1480   27
         1_1_11     luz         0           148     148          1628   52
         1_1_12     luz         0           148     148          1776   21
         1_1_13     luz         0           148     148          1924   19
...                 ...       ...           ...     ...           ...  ...
245 2050 8_2_5      luz         0           312      78           195    6
         8_2_6      luz         0           312      78           234   17
         8_2_7      luz         0           312      78           273   21
         8_2_8      luz         0           312      78           312    2
         8_2_9      luz         0           312      78           351    2

                 hhp  gq
luz year key
1   2022 1_1_1    48   0
         1_1_10   27   0
         1_1_11   52   0
         1_1_12   21   0
         1_1_13   19   0
...              ...  ..
245 2050 8_2_5     6   0
         8_2_6    17   0
         8_2_7    21   0
         8_2_8     2   0
         8_2_9     2   0

[548800 rows x 8 columns]

In [6]:
# consolidated files:
writer = pd.ExcelWriter(r'Data/pasef_luz_{}.xlsx'.format(version), engine='xlsxwriter')
for geo, df in tqdm(pasef_dfs.items()):
    if geo != 'mgra':
        display(df)
        df.reset_index().sort_values([geo, 'key', 'year']).to_excel(writer, sheet_name = '{}'.format(geo), index=False)
writer.save()

  0%|                                                                                            | 0/2 [00:00<?, ?it/s]

                geotype  scenario  ethnicity_id  sex_id  age_group_id  pop  \
luz year key
1   2022 1_1_1      luz         0           148     148           148   48
         1_1_10     luz         0           148     148          1480   27
         1_1_11     luz         0           148     148          1628   52
         1_1_12     luz         0           148     148          1776   21
         1_1_13     luz         0           148     148          1924   19
...                 ...       ...           ...     ...           ...  ...
245 2050 8_2_5      luz         0           312      78           195    6
         8_2_6      luz         0           312      78           234   17
         8_2_7      luz         0           312      78           273   21
         8_2_8      luz         0           312      78           312    2
         8_2_9      luz         0           312      78           351    2

                 hhp  gq
luz year key
1   2022 1_1_1    48   0
         1_1_10   27   0
         1_1_11   52   0
         1_1_12   21   0
         1_1_13   19   0
...              ...  ..
245 2050 8_2_5     6   0
         8_2_6    17   0
         8_2_7    21   0
         8_2_8     2   0
         8_2_9     2   0

[548800 rows x 8 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:46<00:00, 23.45s/it]

In [7]:
server = 'ddamwsql16'
database = 'sr15_dev'
driver = 'ODBC Driver 17 for SQL Server'

engine = sql.create_engine('mssql+pyodbc://@{}/{}?trusted_connection=yes&driver={}'.format(server, database, driver))

ase_df = {}
ase_df['ethnicity_id'] = {}
ase_df['sex_id'] = {}
ase_df['age_group_id'] = {}

for ase_id in ['ethnicity_id', 'sex_id', 'age_group_id']:
    query = """
    Select increment, mgra, {ase},
    SUM(pop) as pop,
    SUM(hhp) as hhp,
    SUM(gq) as gq
    from [sr15_staging].[2023_12_05].[pop_ase_mgra] as pasef
    GROUP BY increment, mgra, {ase}
    """.format(ase = ase_id)

    pasef_ase = pd.read_sql(query, con=engine.connect())
    pasef_ase = pasef_ase.rename(columns={'increment':'year'})
    ase_df[ase_id]['mgra'] = pasef_ase
    
    for geo in tqdm(['region', 'jurisdiction', 'cpa', 'luz'])
        denorm = download_mgra_denorm_data(geo_level=geo, series=15)
        ase_df[ase_id][geo] = pd.merge(denorm, ase_df[ase_id]['mgra'], how='left')\
                                .drop('mgra', axis=1)\
                                .groupby([geo, 'year', ase_id])\
                                .sum()
        if geo == 'cpa':
            ase_df[ase_id][geo] = add_cpa_names(ase_df[ase_id][geo], 15).set_index(['cpa', 'year'])
        ase_df[ase_id][geo].insert(0, 'geotype', geo)
        display(ase_df[ase_id][geo])

  0%|                                                                                            | 0/1 [00:00<?, ?it/s]

                      geotype   pop   hhp  gq
luz year ethnicity_id
1   2022 1                luz   951   942   9
         2                luz  5271  5253  18
         3                luz   180   170  10
         4                luz     8     8   0
         5                luz   448   445   3
...                       ...   ...   ...  ..
245 2050 4                luz    56    56   0
         5                luz   763   752  11
         6                luz   128   128   0
         7                luz    66    66   0
         8                luz   469   467   2

[13720 rows x 4 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.67s/it]
  0%|                                                                                            | 0/1 [00:00<?, ?it/s]

                geotype   pop   hhp  gq
luz year sex_id
1   2022 1          luz  3677  3661  16
         2          luz  3556  3530  26
    2026 1          luz  3814  3794  20
         2          luz  3701  3680  21
    2029 1          luz  3898  3879  19
...                 ...   ...   ...  ..
245 2035 2          luz  4658  4619  39
    2040 1          luz  6268  6236  32
         2          luz  4866  4828  38
    2050 1          luz  6198  6170  28
         2          luz  4713  4679  34

[3430 rows x 4 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.08s/it]
  0%|                                                                                            | 0/1 [00:00<?, ?it/s]

                      geotype  pop  hhp  gq
luz year age_group_id
1   2022 1                luz  213  213   0
         2                luz  404  404   0
         3                luz  282  281   1
         4                luz  126  126   0
         5                luz   10   10   0
...                       ...  ...  ...  ..
245 2050 16               luz  434  431   3
         17               luz  389  377  12
         18               luz  275  265  10
         19               luz  276  273   3
         20               luz  606  600   6

[34300 rows x 4 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:03<00:00,  3.22s/it]

In [9]:
ase_df['sex_id']['luz']

                geotype   pop   hhp  gq
luz year sex_id
1   2022 1          luz  3677  3661  16
         2          luz  3556  3530  26
    2026 1          luz  3814  3794  20
         2          luz  3701  3680  21
    2029 1          luz  3898  3879  19
...                 ...   ...   ...  ..
245 2035 2          luz  4658  4619  39
    2040 1          luz  6268  6236  32
         2          luz  4866  4828  38
    2050 1          luz  6198  6170  28
         2          luz  4713  4679  34

[3430 rows x 4 columns]

In [10]:
for ase_id in ['ethnicity_id', 'sex_id', 'age_group_id']:
    # consolidated files:
    writer = pd.ExcelWriter(r'Data/pasef_{}_luz_{}.xlsx'.format(ase_id, version), engine='xlsxwriter')
    for geo, df in tqdm(ase_df[ase_id].items()):
        if geo != 'mgra':
            display(df)
            df.reset_index().sort_values([geo, 'year', ase_id]).to_excel(writer, sheet_name = '{}'.format(geo), index=False)
    writer.save()

  0%|                                                                                            | 0/2 [00:00<?, ?it/s]

                      geotype   pop   hhp  gq
luz year ethnicity_id
1   2022 1                luz   951   942   9
         2                luz  5271  5253  18
         3                luz   180   170  10
         4                luz     8     8   0
         5                luz   448   445   3
...                       ...   ...   ...  ..
245 2050 4                luz    56    56   0
         5                luz   763   752  11
         6                luz   128   128   0
         7                luz    66    66   0
         8                luz   469   467   2

[13720 rows x 4 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  2.94it/s]
  0%|                                                                                            | 0/2 [00:00<?, ?it/s]

                geotype   pop   hhp  gq
luz year sex_id
1   2022 1          luz  3677  3661  16
         2          luz  3556  3530  26
    2026 1          luz  3814  3794  20
         2          luz  3701  3680  21
    2029 1          luz  3898  3879  19
...                 ...   ...   ...  ..
245 2035 2          luz  4658  4619  39
    2040 1          luz  6268  6236  32
         2          luz  4866  4828  38
    2050 1          luz  6198  6170  28
         2          luz  4713  4679  34

[3430 rows x 4 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  7.99it/s]
  0%|                                                                                            | 0/2 [00:00<?, ?it/s]

                      geotype  pop  hhp  gq
luz year age_group_id
1   2022 1                luz  213  213   0
         2                luz  404  404   0
         3                luz  282  281   1
         4                luz  126  126   0
         5                luz   10   10   0
...                       ...  ...  ...  ..
245 2050 16               luz  434  431   3
         17               luz  389  377  12
         18               luz  275  265  10
         19               luz  276  273   3
         20               luz  606  600   6

[34300 rows x 4 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:01<00:00,  1.18it/s]

### PASEF Regional Controls Check

In [101]:
query = """
SELECT pasef.increment as year, eth.long_name as race, sex.abbreviation as sex, age.name as age, pop as total_population, hhp, gq as gq_pop
FROM (
select increment, ethnicity_id, sex_id, age_group_id, SUM(pop) as pop, SUM(hhp) as hhp, SUM(gq) as gq
from [sr15_staging].[2023_12_05].[pop_ase_mgra]
group by increment, ethnicity_id, sex_id, age_group_id) AS pasef
LEFT JOIN demographic_warehouse.dim.ethnicity AS eth
ON eth.ethnicity_id = pasef.ethnicity_id
LEFT JOIN demographic_warehouse.dim.sex AS sex
ON sex.sex_id = pasef.sex_id
LEFT JOIN demographic_warehouse.dim.age_group AS age
ON age.age_group_id = pasef.age_group_id
"""

race_dict = {
    'Non-Hispanic, American Indian or Alaska Native': 'AIAN_NH',
    'Non-Hispanic, White': 'White_NH',
    'Non-Hispanic, Other': 'White_NH',
    'Non-Hispanic, Black': 'Black_NH',
    'Non-Hispanic, Hawaiian or Pacific Islander': 'NHPI_NH',
    'Non-Hispanic, Two or More Races': 'Multi-Race NH',
    'Non-Hispanic, Asian': 'Asian_NH'
}

regional_output = pd.read_sql(query, con=engine.connect())
regional = regional_output.copy()
regional['race'] = regional_output['race'].replace(race_dict)

def age_groups(age):
    if age < 5: return 'Under 5'
    elif age < 10: return '5 to 9'
    elif age < 15: return '10 to 14'
    elif age < 18: return '15 to 17'
    elif age < 20: return '18 and 19'
    elif age < 25: return '20 to 24'
    elif age < 30: return '25 to 29'
    elif age < 35: return '30 to 34'
    elif age < 40: return '35 to 39'
    elif age < 45: return '40 to 44'
    elif age < 50: return '45 to 49'
    elif age < 55: return '50 to 54'
    elif age < 60: return '55 to 59'
    elif age < 62: return '60 and 61'
    elif age < 65: return '62 to 64'
    elif age < 70: return '65 to 69'
    elif age < 75: return '70 to 74'
    elif age < 80: return '75 to 79'
    elif age < 85: return '80 to 84'
    else: return '85 and Older'
ccm_output = pd.read_excel(r'C:\Users\jchu\OneDrive - San Diego Association of Governments\Projects\2023\2023-040 CCM Forecast Output (series 15)\Data\Version 5\Household_ characteristics_2020_2060_08312023.xlsx',
                   sheet_name = 'data')
ccm_output['hhp'] = ccm_output['total_population'] - ccm_output['gq_pop']
ccm = ccm_output.copy()

ccm['age'] = ccm['age'].apply(age_groups)
ccm = ccm[ccm['year'].isin([2022, 2026, 2029, 2032, 2035, 2040, 2050])]
ccm = ccm[regional.columns].sort_values(['year', 'race', 'sex', 'age']).groupby(['year', 'race', 'sex', 'age']).sum()
regional = regional.sort_values(['year', 'race', 'sex', 'age']).groupby(['year', 'race', 'sex', 'age']).sum()

display(regional)
display(ccm)

                                total_population    hhp  gq_pop
year race     sex age
2022 AIAN_NH  F   10 to 14                   367    362       5
                  15 to 17                   182    173       9
                  18 and 19                  127     71      56
                  20 to 24                   491    334     157
                  25 to 29                   600    572      28
...                                          ...    ...     ...
2050 White_NH M   70 to 74                 38153  37256     897
                  75 to 79                 34125  33233     892
                  80 to 84                 28098  27078    1020
                  85 and Older             31125  29420    1705
                  Under 5                  26119  26108      11

[1960 rows x 3 columns]

                                total_population    hhp  gq_pop
year race     sex age
2022 AIAN_NH  F   10 to 14                   367    362       5
                  15 to 17                   182    173       9
                  18 and 19                  127     71      56
                  20 to 24                   491    334     157
                  25 to 29                   600    572      28
...                                          ...    ...     ...
2050 White_NH M   70 to 74                 38153  37256     897
                  75 to 79                 34125  33233     892
                  80 to 84                 28098  27078    1020
                  85 and Older             31125  29420    1705
                  Under 5                  26119  26108      11

[1960 rows x 3 columns]

In [102]:
pasef_control_check = (ccm != regional)
pasef_control_check = pd.DataFrame(pasef_control_check)
pasef_control_check[(pasef_control_check['total_population'] == True) | (pasef_control_check['hhp'] == True) | (pasef_control_check['gq_pop'] == True)]

Empty DataFrame
Columns: [total_population, hhp, gq_pop]
Index: []