In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
#Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
from matplotlib.pyplot import figure
import pyodbc 
import glob

In [2]:
config_filename = 'C:/Users/cra/OneDrive - San Diego Association of Governments/DS41_42/ds41_42_config.yml'

In [3]:
with open(config_filename, "r") as yml_file:
    config = yaml.safe_load(yml_file)

In [4]:
DS41_datafiles = ['DS41_2016', 'DS41_2018', 'DS41_2020', 'DS41_2023', 'DS41_2025', 'DS41_2026', 'DS41_2029', 'DS41_2030', 'DS41_2032', 'DS41_2035', 'DS41_2040', 'DS41_2045', 'DS41_2050']

In [5]:
ds41_datafiles = ['DS41_2016', 'DS41_2018', 'DS41_2020', 'DS41_2023', 'DS41_2025', 'DS41_2026', 'DS41_2029', 'DS41_2030', 'DS41_2032', 'DS41_2035', 'DS41_2040', 'DS41_2045', 'DS41_2050']

In [6]:
ds38_datafiles = ['DS38_2016', 'DS38_2018', 'DS38_2020', 'DS38_2023', 'DS38_2025', 'DS38_2026', 'DS38_2029', 'DS38_2030', 'DS38_2032', 'DS38_2035', 'DS38_2040', 'DS38_2045', 'DS38_2050']

In [7]:
ds42_datafiles = ['DS42_2016', 'DS42_2018', 'DS42_2020', 'DS42_2023', 'DS42_2025', 'DS42_2026', 'DS42_2029', 'DS42_2030', 'DS42_2032', 'DS42_2035', 'DS42_2040', 'DS42_2045', 'DS42_2050']

# Downloading the data

In [8]:
# # DS38
# DS38_Data = pd.DataFrame()
# for file_name in ds38_datafiles:
#     working_df = pd.read_csv(config['DS38'][file_name])
#     working_df['year'] = f"{file_name[-4:]}"
#     DS38_Data = DS38_Data.append(working_df)

In [9]:
# DS38_Data.shape

In [10]:
# DS41
DS41_Data = pd.DataFrame()
for file_name in DS41_datafiles:
    working_df = pd.read_csv(config['DS41'][file_name])
    working_df['year'] = f"{file_name[-4:]}"
    DS41_Data = DS41_Data.append(working_df)

In [11]:
DS41_Data.shape

(299026, 105)

In [23]:
DS41_Data['duden']

0        3.2781
1        3.5140
2        3.7263
3        4.1160
4        4.0452
          ...
22997    2.3604
22998    2.0801
22999    2.3331
23000    2.9670
23001    2.7047
Name: duden, Length: 299026, dtype: float64

In [12]:
# DS42
DS42_Data = pd.DataFrame()
for file_name in ds42_datafiles:
    working_df = pd.read_csv(config['DS42'][file_name])
    working_df['year'] = f"{file_name[-4:]}"
    DS42_Data = DS42_Data.append(working_df)

In [17]:
DS42_Data.shape

(299026, 108)

In [14]:
col41 = list(DS41_Data.columns)
col42 = list(DS42_Data.columns)

In [15]:
list(set(col42) - set(col41))

['remoteAVParking', 'MicroAccessTime', 'refueling_stations']

In [18]:
DS42_Data = DS42_Data.drop(['remoteAVParking', 'MicroAccessTime', 'refueling_stations'], axis=1)

In [24]:
# # DS42
# DS42_Data = pd.DataFrame()
# for file_name in ds42_datafiles:
#     working_df = pd.read_csv(config['DS42'][file_name])
#     working_df['year'] = f"{file_name[-4:]}"
#     DS42_Data = DS42_Data.append(working_df)

In [29]:
DS41_Data.shape

(299026, 105)

In [31]:
DS41_Data['empden']

0        0.2811
1        0.3391
2        0.5596
3        2.1813
4        0.3591
          ...
22997    5.2749
22998    0.8891
22999    0.8737
23000    0.1874
23001    0.8413
Name: empden, Length: 299026, dtype: float64

In [30]:
DS41_Data['empden'].isnull().sum()

0

# Create Diff Tables

In [19]:
diff_4241 = (DS42_Data.set_index(['mgra', 'year'])- DS41_Data.set_index(['mgra', 'year'])).reset_index()
diff_4241

,mgra,year,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,...,midpriceroom,upscaleroom,hotelroomtotal,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres
0,1,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,2,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,3,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,4,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,5,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,22998,2050,0,-2,-2,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
299022,22999,2050,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
299023,23000,2050,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
299024,23001,2050,0,-2,-2,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
299025,23002,2050,0,-120,-20,-100,0,-110,-20,-90,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [27]:
# diff_4238 = (DS42_Data.set_index(['mgra', 'year'])- DS38_Data.set_index(['mgra', 'year'])).reset_index()
# diff_4238

In [21]:
diff_4241['duden']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
299021   NaN
299022   NaN
299023   NaN
299024   NaN
299025   NaN
Name: duden, Length: 299026, dtype: float64

# Output to CSV

In [20]:
diff_4241.to_csv(r'C:/Users/cra/OneDrive - San Diego Association of Governments/DS41_42/diff_4241.csv', index = True)

In [29]:
# diff_4238.to_csv(r'C:/Users/cra/OneDrive - San Diego Association of Governments/DS41_42/DS4238_v2_results/New_DS4238_complete_diff.csv', index = True)