In [2]:
%reload_ext autoreload
%autoreload 2

from IPython.core.display import Markdown
from tqdm.auto import tqdm
import config
import docs
import pandas as pd
import requests

pd.set_option('display.max_colwidth', None)

INDICATOR = 'key_areas'
CONFIG = config.get_config(INDICATOR, '../config.toml')

display(Markdown('## Raw data path'))
raw_dir_path = str(CONFIG['raw_dir']).replace('\\', '/')
display(Markdown(f"[{raw_dir_path}]({raw_dir_path})"))

## Raw data path

[C:/Users/tan/src/regional-pm-2023/data/raw/housing/housing_development/key_areas](C:/Users/tan/src/regional-pm-2023/data/raw/housing/housing_development/key_areas)

# Housing: Housing Development

## New Housing and Jobs

In [3]:
docs.describe_indicator(
    indicator=INDICATOR,
    indicators_xlsx_path=CONFIG['indicators_xlsx_path'],
)

New housing and jobs in key strategic areas.

nan

In [4]:
docs.list_schema(
    indicator=INDICATOR,
    indicators_xlsx_path=CONFIG['indicators_xlsx_path'],
)

,name,description,type
column,,,
year,Year,Year of record.,datetime
area_type,Area Type,Key area of record.,string
housing,New Housing,"New housing units in key area, in a given year for a given key area type.",int
jobs,New Jobs,"New jobs in key area, in a given year for a given key area type.",int

In [5]:
docs.list_sources(
    indicator=INDICATOR,
    indicators_xlsx_path=CONFIG['indicators_xlsx_path'],
)

,name,organization,active,notes
source,,,,
mhub_db,Mobility Hub Geometry,SANDAG,True,"Was based on SGOA, now should be based on mobilitiy hub since SGOA's are no longer key strategic areas."
lu_db,Land Use Data,SANDAG,True,NaN

In [6]:
steps = docs.list_update_steps(
    indicator=INDICATOR,
    indicators_xlsx_path=CONFIG['indicators_xlsx_path'],
)
steps

                                                                                                                  step
0  Extract new housing and job numbers from the database based on new process (using mobilities hubs instead of SGOAs)

In [7]:
docs.list_remarks(
    indicator=INDICATOR,
    indicators_xlsx_path=CONFIG['indicators_xlsx_path'],
)

  author note
0    NaN  NaN

Note

### Step 0: Extract new data

In [8]:
display(steps.loc[0])

step    Extract new housing and job numbers from the database based on new process (using mobilities hubs instead of SGOAs)
Name: 0, dtype: object

Note: Does anyone know if there is geometry for mobilitity hubs on one of the SANDAG SQL servers?

If not, I can use [this geometry](https://sdforwarddata-sandag.hub.arcgis.com/datasets/SANDAG::mobility-hubs-and-flexible-fleets/explore?location=32.792948%2C-116.966116%2C13.12). But there is already a SQL query that I could use out of the box if that is the case.

### Save Data

In [ ]:
display(Markdown('#### Clean data path'))
clean_dir_path = str(CONFIG['clean_dir']).replace('\\', '/')
display(Markdowns(f"[{clean_dir_path}]({clean_dir_path})"))

In [ ]:
key_areas.to_csv(
    CONFIG['clean_dir']
    / f'{INDICATOR}_odp.csv'
)