# Debugging Script 
This is a manual script of the functions for debugging purposes

In [4]:
# Import Libraries
import pandas as pd
import numpy as np
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
#Libraries 
import os
import pyodbc
import glob
import copy
import PySimpleGUI as sg
import traceback

# Bring in Part 1 Code

In [5]:
!pip -q install -r ./config_files/requirements.txt
import pandas as pd
pd.options.mode.chained_assignment = None

In [3]:
# Bring in functions
%run ./scripts/Part_1.ipynb

 # Individual Files

In [4]:
# inputs 
ds_ID = 'DS42'

comparison_processed_data vs comparison_no_geozone_df:
- comparison_processed_data has columns appending the DSID and has the geozone at the end (jurisdiction level)
- features are all of teh columns

In [5]:
# mgra_ind
comparison_processed_data, comparison_no_geozone_df, features = download_DS_data(ds_ID, jur_level)

DS42's jurisdiction did not merge correctly.

In [6]:
# CPA Level Aggregation
comparison_processed_data_cpa = cpa_aggregation_ind(comparison_no_geozone_df, cpa_level)

In [7]:
# Jurisdiction aggregation
comparison_processed_data_jur = jur_aggregation_ind(comparison_no_geozone_df, jur_level)

In [8]:
# Region Aggregation
comparison_processed_data_reg = region_aggregation_ind(comparison_no_geozone_df)

# Comparison Files

In [9]:
# Inputs for comparison 
first_ID = "DS38"
second_ID = 'DS41'

In [10]:
# Download the necessary data
# First ID
comparison_first_ID_processed_data, comparison_first_ID_no_geozone_df, first_ID_features = download_DS_data(first_ID, jur_level)

# Second ID
comparison_second_ID_processed_data, comparison_second_ID_no_geozone_df, second_ID_features = download_DS_data(second_ID, jur_level)

DS38's jurisdiction did not merge correctly.
DS41's jurisdiction did not merge correctly.

## Both Files

In [11]:
# MGRA_Both Files
# This does the right thing and drops 'secondary' not sure how it knows to do that but it does 
mgra_both = concat_dfs_temp(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df)

In [12]:
# CPA both
cpa_both = cpa_aggregation(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df, cpa_level)

In [13]:
# Jur both 
jur_both = jur_aggregation(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df, jur_level)

In [14]:
# Region Both
region_both = region_aggregation(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df)

## Diff Files

In [15]:
'''The issue is that in mgra_both 'secondary' does not exist '''

'''The issue with this code originally is that the input originally was create_diff(features_first_ID, features_second_ID, first_second_ID_comparison) and the features_first_ID had non numeric columns such as secondary and elementary while mgra-both only had numeric (because of the groupby at the end) so the way the code was written it was trying to subtract columns that were alike in 'features_first_ID' and 'features_second_ID' but some didn't exist in mgra_both'''

'''Create diff goes and keeps things in the same order, it doesn't use set. Now the code is grabbing columns from the both file itself. '''

mgra_diff = create_diff(list([x[:-5] for x in mgra_both if x[-5:] == '_' + first_ID]), list([x[:-5] for x in mgra_both if x[-5:] == '_' + second_ID]), mgra_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\564207998.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

In [16]:
cpa_diff = create_diff_temp(list([x[:-5] for x in cpa_both if x[-5:] == '_' + first_ID]),list([x[:-5] for x in cpa_both if x[-5:] == '_' + second_ID]), cpa_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\3044449395.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

In [17]:
jur_diff = create_diff_temp(list([x[:-5] for x in jur_both if x[-5:] == '_' + first_ID]), list([x[:-5] for x in jur_both if x[-5:] == '_' + second_ID]), jur_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\3044449395.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

In [18]:
region_diff = create_diff_temp(list([x[:-5] for x in region_both if x[-5:] == '_' + first_ID]), list([x[:-5] for x in region_both if x[-5:] == '_' + first_ID]), region_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\3044449395.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

# Creating outputs for J Drive

In [6]:
dsids = ['DS35', 'DS38', 'DS41', 'DS42']

In [7]:
# Test with DS35
comparison_processed_data, comparison_no_geozone_df, features = download_DS_data('DS35', jur_level)

DS35's jurisdiction did not merge correctly.

In [11]:
comparison_no_geozone_df

,mgra,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,...,American Indian,Asian,Black,Hispanic,Other,Pacific Islander,Two or More,White,Female,Male
0,1,3331,19,19,0,0,18,18,0,0,...,0.0,1.0,0.0,1.0,1.0,0.0,2.0,36.0,23.0,18.0
1,2,3331,35,35,0,0,34,34,0,0,...,0.0,5.0,0.0,11.0,0.0,0.0,2.0,63.0,41.0,40.0
2,3,3358,52,52,0,0,52,52,0,0,...,0.0,5.0,0.0,11.0,0.0,0.0,0.0,95.0,57.0,54.0
3,4,3358,30,30,0,0,30,30,0,0,...,1.0,0.0,0.0,12.0,0.0,1.0,4.0,55.0,35.0,38.0
4,5,3358,28,28,0,0,28,28,0,0,...,1.0,2.0,1.0,8.0,0.0,0.0,1.0,50.0,29.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,22998,1290,92,92,0,0,87,87,0,0,...,0.0,56.0,8.0,44.0,0.0,0.0,9.0,95.0,108.0,104.0
299022,22999,1290,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299023,23000,1290,131,131,0,0,126,126,0,0,...,0.0,109.0,1.0,71.0,0.0,0.0,3.0,122.0,138.0,168.0
299024,23001,1254,85,85,0,0,82,82,0,0,...,0.0,63.0,7.0,33.0,1.0,0.0,14.0,87.0,96.0,109.0
299025,23002,1254,120,20,100,0,109,17,92,0,...,2.0,76.0,2.0,48.0,0.0,0.0,10.0,107.0,114.0,131.0

In [ ]:
# Rollup to LUZ

In [14]:
comparison_no_geozone_df.to_csv('J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_13_outputs_CSV_data/aggregated_data/forecast_35_mgra_ind_QA.csv', index=False)

In [ ]:
for DSID in dsids:
    comparison_processed_data, comparison_no_geozone_df, features = download_DS_data(DSID, jur_level)