# Debugging Script 
This is a manual script of the functions for debugging purposes

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
#Libraries 
import os
import pyodbc
import glob
import copy
import PySimpleGUI as sg
import traceback

# Bring in Part 1 Code

In [2]:
!pip -q install -r ./config_files/requirements.txt
import pandas as pd
pd.options.mode.chained_assignment = None

In [3]:
# Bring in functions
%run ./scripts/Part_1.ipynb

 # Individual Files

In [4]:
# inputs 
ds_ID = 'DS42'

comparison_processed_data vs comparison_no_geozone_df:
- comparison_processed_data has columns appending the DSID and has the geozone at the end (jurisdiction level)
- features are all of teh columns

In [5]:
# mgra_ind
comparison_processed_data, comparison_no_geozone_df, features = download_DS_data(ds_ID, jur_level)

DS42's jurisdiction did not merge correctly.

In [6]:
# CPA Level Aggregation
comparison_processed_data_cpa = cpa_aggregation_ind(comparison_no_geozone_df, cpa_level)

In [7]:
# Jurisdiction aggregation
comparison_processed_data_jur = jur_aggregation_ind(comparison_no_geozone_df, jur_level)

In [8]:
# Region Aggregation
comparison_processed_data_reg = region_aggregation_ind(comparison_no_geozone_df)

# Comparison Files

In [9]:
# Inputs for comparison 
first_ID = "DS38"
second_ID = 'DS41'

In [10]:
# Download the necessary data
# First ID
comparison_first_ID_processed_data, comparison_first_ID_no_geozone_df, first_ID_features = download_DS_data(first_ID, jur_level)

# Second ID
comparison_second_ID_processed_data, comparison_second_ID_no_geozone_df, second_ID_features = download_DS_data(second_ID, jur_level)

DS38's jurisdiction did not merge correctly.
DS41's jurisdiction did not merge correctly.

## Both Files

In [11]:
# MGRA_Both Files
# This does the right thing and drops 'secondary' not sure how it knows to do that but it does 
mgra_both = concat_dfs_temp(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df)

In [12]:
# CPA both
cpa_both = cpa_aggregation(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df, cpa_level)

In [13]:
# Jur both 
jur_both = jur_aggregation(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df, jur_level)

In [14]:
# Region Both
region_both = region_aggregation(comparison_first_ID_no_geozone_df, comparison_second_ID_no_geozone_df)

## Diff Files

In [15]:
'''The issue is that in mgra_both 'secondary' does not exist '''

'''The issue with this code originally is that the input originally was create_diff(features_first_ID, features_second_ID, first_second_ID_comparison) and the features_first_ID had non numeric columns such as secondary and elementary while mgra-both only had numeric (because of the groupby at the end) so the way the code was written it was trying to subtract columns that were alike in 'features_first_ID' and 'features_second_ID' but some didn't exist in mgra_both'''

'''Create diff goes and keeps things in the same order, it doesn't use set. Now the code is grabbing columns from the both file itself. '''

mgra_diff = create_diff(list([x[:-5] for x in mgra_both if x[-5:] == '_' + first_ID]), list([x[:-5] for x in mgra_both if x[-5:] == '_' + second_ID]), mgra_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\564207998.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

In [16]:
cpa_diff = create_diff_temp(list([x[:-5] for x in cpa_both if x[-5:] == '_' + first_ID]),list([x[:-5] for x in cpa_both if x[-5:] == '_' + second_ID]), cpa_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\3044449395.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

In [17]:
jur_diff = create_diff_temp(list([x[:-5] for x in jur_both if x[-5:] == '_' + first_ID]), list([x[:-5] for x in jur_both if x[-5:] == '_' + second_ID]), jur_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\3044449395.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

In [18]:
region_diff = create_diff_temp(list([x[:-5] for x in region_both if x[-5:] == '_' + first_ID]), list([x[:-5] for x in region_both if x[-5:] == '_' + first_ID]), region_both)

C:\Users\cra\AppData\Local\Temp\ipykernel_20132\3044449395.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  diff_df[f'{column}_diff'] = first_second_ID_comparison[f'{column}_{first_ID}'] - first_second_ID_comparison[f'{column}_{second_ID}']

# Creating outputs for J Drive

In [4]:
dsids = ['DS35', 'DS38', 'DS41', 'DS42']

In [5]:
# Test with DS35
comparison_processed_data, comparison_no_geozone_df, features = download_DS_data('DS35', jur_level)

DS35's jurisdiction did not merge correctly.

In [6]:
comparison_no_geozone_df.head()

,mgra,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,...,American Indian,Asian,Black,Hispanic,Other,Pacific Islander,Two or More,White,Female,Male
0,1,3331,19,19,0,0,18,18,0,0,...,0.0,1.0,0.0,1.0,1.0,0.0,2.0,36.0,23.0,18.0
1,2,3331,35,35,0,0,34,34,0,0,...,0.0,5.0,0.0,11.0,0.0,0.0,2.0,63.0,41.0,40.0
2,3,3358,52,52,0,0,52,52,0,0,...,0.0,5.0,0.0,11.0,0.0,0.0,0.0,95.0,57.0,54.0
3,4,3358,30,30,0,0,30,30,0,0,...,1.0,0.0,0.0,12.0,0.0,1.0,4.0,55.0,35.0,38.0
4,5,3358,28,28,0,0,28,28,0,0,...,1.0,2.0,1.0,8.0,0.0,0.0,1.0,50.0,29.0,34.0

In [8]:
# Rollup to LUZ
luz_data = comparison_no_geozone_df.drop('mgra', axis=1).groupby(['luz_id', 'year']).sum()
luz_data

                taz     hs  hs_sf  hs_mf  hs_mh    hh  hh_sf  hh_mf  hh_mh  \
luz_id year
1      2016  176334  10165   3662   5343   1160  8216   3064   4129   1023
       2018  176334  10321   3669   5492   1160  8402   3079   4294   1029
       2020  176334  10501   3673   5668   1160  8575   3106   4437   1032
       2023  176334  10898   3688   6050   1160  8891   3146   4711   1034
       2025  176334  10994   3702   6132   1160  9038   3168   4834   1036
...             ...    ...    ...    ...    ...   ...    ...    ...    ...
229    2032   69834   1784    636   1016    132  1714    585    999    130
       2035   69834   1793    645   1016    132  1714    585    999    130
       2040   69834   1796    648   1016    132  1714    585    999    130
       2045   69834   1806    658   1016    132  1714    585    999    130
       2050   69834   1816    668   1016    132  1714    585    999    130

             gq_civ  ...  American Indian   Asian  Black  Hispanic  Other  \
luz_id year          ...
1      2016     246  ...            136.0   707.0  315.0    7874.0   34.0
       2018     246  ...            177.0   970.0  401.0    7920.0   35.0
       2020     246  ...            186.0  1124.0  430.0    7984.0   35.0
       2023     246  ...              0.0     0.0    0.0       0.0    0.0
       2025     246  ...            193.0  1398.0  486.0    8379.0   40.0
...             ...  ...              ...     ...    ...       ...    ...
229    2032       0  ...              0.0     0.0    0.0       0.0    0.0
       2035       0  ...             30.0    73.0   59.0    4726.0    4.0
       2040       0  ...             43.0   102.0   65.0    4497.0    4.0
       2045       0  ...             40.0    90.0   71.0    4353.0    5.0
       2050       0  ...             44.0   121.0   49.0    4228.0    5.0

             Pacific Islander  Two or More    White   Female     Male
luz_id year
1      2016             100.0        850.0  11637.0  10797.0  10856.0
       2018              81.0        888.0  11994.0  11112.0  11354.0
       2020              83.0        943.0  12251.0  11323.0  11713.0
       2023               0.0          0.0      0.0      0.0      0.0
       2025              90.0       1138.0  12476.0  11972.0  12228.0
...                       ...          ...      ...      ...      ...
229    2032               0.0          0.0      0.0      0.0      0.0
       2035              19.0        117.0    403.0   2742.0   2689.0
       2040              17.0        128.0    349.0   2643.0   2562.0
       2045              21.0        131.0    366.0   2576.0   2501.0
       2050              24.0        130.0    356.0   2544.0   2413.0

[2977 rows x 138 columns]

In [9]:
DSID = 'DS35'
level = 'mgra'
comparison_no_geozone_df.to_csv(f'J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_13_outputs_CSV_data/aggregated_data/{level}_{DSID}_ind_QA.csv', index=False)



level = 'luz'
luz_data.to_csv(f'J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_13_outputs_CSV_data/aggregated_data/{level}_{DSID}_ind_QA.csv', index=True)

In [10]:
region_data = comparison_no_geozone_df.drop(['mgra', 'luz_id'], axis=1).groupby(['year']).sum()
region_data

,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,gq_civ,...,American Indian,Asian,Black,Hispanic,Other,Pacific Islander,Two or More,White,Female,Male
year,,,,,,,,,,,,,,,,,,,,,
2016,53370775,1190554,717626,430716,42212,1134848,687509,407158,40181,63014,...,15013.0,359333.0,147802.0,1133247.0,7292.0,14569.0,110607.0,1521647.0,1645779.0,1663731.0
2018,53370775,1205852,723209,440536,42107,1147635,692426,415193,40016,69372,...,21783.0,428207.0,168451.0,1093476.0,7935.0,14265.0,108313.0,1511006.0,1662764.0,1690672.0
2020,53370775,1226462,730452,453903,42107,1166240,698993,427158,40089,72056,...,22212.0,447318.0,168830.0,1110869.0,8073.0,14282.0,111743.0,1500627.0,1676160.0,1707794.0
2023,53370775,1262957,739359,481491,42107,1197072,705785,451128,40159,73875,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025,53370775,1288217,746460,499650,42107,1219745,711877,467676,40192,74447,...,23387.0,495087.0,169426.0,1171494.0,8467.0,14444.0,121871.0,1466662.0,1713616.0,1757222.0
2026,53370775,1300847,749930,508810,42107,1231007,714801,475993,40213,74733,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2029,53370775,1338737,758815,537815,42107,1264151,722304,501605,40242,75591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2030,53370775,1351367,760811,548449,42107,1274948,724048,510655,40245,75877,...,24485.0,540755.0,169305.0,1238717.0,8895.0,14579.0,132163.0,1423576.0,1755119.0,1797356.0
2032,53370775,1376162,764402,569653,42107,1296193,727127,528813,40253,76043,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2035,53370775,1409867,769000,598760,42107,1327588,731335,555995,40258,76292,...,25449.0,583980.0,168578.0,1303634.0,9257.0,14579.0,142337.0,1372515.0,1791712.0,1828617.0
2040,53370775,1443635,775685,625843,42107,1348283,734528,573494,40261,76292,...,26485.0,627095.0,166957.0,1369585.0,9464.0,14463.0,151712.0,1310395.0,1817486.0,1858670.0
2045,53370775,1460856,778161,640588,42107,1364815,736890,587662,40263,76292,...,27323.0,669242.0,164399.0,1432012.0,9657.0,14221.0,160643.0,1242169.0,1837800.0,1881866.0
2050,53370775,1471300,779960,649233,42107,1374841,738664,595914,40263,76292,...,27946.0,708948.0,160334.0,1485511.0,9857.0,13983.0,168563.0,1170912.0,1852828.0,1893226.0

In [11]:
for DSID in ['DS38', 'DS41', 'DS42']:
    # MGRA LEVEL
    comparison_processed_data, comparison_no_geozone_df, features = download_DS_data(DSID, jur_level)
    print(f"{DSID} mgra level output created")
    # Luz
    luz_data = comparison_no_geozone_df.drop('mgra', axis=1).groupby(['luz_id', 'year']).sum()

    # Region
    region_data = comparison_no_geozone_df.drop(['mgra', 'luz_id'], axis=1).groupby(['year']).sum()

    # Send to proper folder 
    level = 'mgra'
    comparison_no_geozone_df.to_csv(f'J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_13_outputs_CSV_data/aggregated_data/{level}_{DSID}_ind_QA.csv', index=False)

    level = 'luz'
    luz_data.to_csv(f'J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_13_outputs_CSV_data/aggregated_data/{level}_{DSID}_ind_QA.csv', index=True)
    print(f"{DSID} is completed and in J drive")

    level = 'region'
    region_data.to_csv(f'J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_13_outputs_CSV_data/aggregated_data/{level}_{DSID}_ind_QA.csv', index=True)
    print(f"{DSID} is completed and in J drive")

DS38's jurisdiction did not merge correctly.
DS38 mgra level output created
DS38 is completed and in J drive
DS38 is completed and in J drive
DS41's jurisdiction did not merge correctly.
DS41 mgra level output created
DS41 is completed and in J drive
DS41 is completed and in J drive
DS42's jurisdiction did not merge correctly.
DS42 mgra level output created
DS42 is completed and in J drive
DS42 is completed and in J drive

In [ ]:
for DSID in dsids:
    comparison_processed_data, comparison_no_geozone_df, features = download_DS_data(DSID, jur_level)

# MGRA series 15 outputs

In [16]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=SQL2014B8.sandag.org;'
                      'Database=GeoDepot;'
                      'Trusted_Connection=yes;')

In [17]:
query_all = '''SELECT
      [MGRA]
	  ,cpa_data.NAME AS CPA
	  ,jur_data.Name AS Jurisdiction
      ,[LUZ]
  FROM [GeoDepot].[gis].[MGRA15] as mgra_base
  LEFT JOIN [GeoDepot].[gis].[CITIES] AS jur_data
  ON mgra_base.City = jur_data.City
  LEFT JOIN [GeoDepot].[gis].[CITYCPA] AS cpa_data
  ON mgra_base.CPA = cpa_data.CPA'''

In [18]:
sql_query = pd.read_sql_query(query_all,conn)
sql_df_all = pd.DataFrame(sql_query)

In [19]:
sql_df_all

        MGRA                    CPA    Jurisdiction  LUZ
0          1  Mid-City:Eastern Area       San Diego   10
1          2               Downtown       San Diego   28
2          3                   None        El Cajon  112
3          4                   None       Encinitas  151
4          5                   None       Encinitas  151
...      ...                    ...             ...  ...
24346  24317                   None  Unincorporated   11
24347  24318                   None  Unincorporated  133
24348  24319                   None  Unincorporated  225
24349  24320                   None  Unincorporated  224
24350  24321                   None       Escondido  200

[24351 rows x 4 columns]

In [40]:
# Bringing in the data 
mgra_15_forecast_data = pd.read_csv('T:/socioec/Current_Projects/XPEF39/abm_csv_mgra15/mgra15_based_input2019_rev.csv')

In [41]:
mgra_level_data = mgra_15_forecast_data.merge(sql_df_all, how='left', left_on='mgra', right_on='MGRA')

In [50]:
mgra_level_data.groupby('LUZ').sum().drop(['mgra', 'MGRA'], axis=1)

,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,i1,i2,...,midpriceroom,upscaleroom,hotelroomtotal,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres
LUZ,,,,,,,,,,,,,,,,,,,,,
1,4619,2595,2024,0,4443,2517,1926,0,408,448,...,0,0,3118.0,17928,189,2457,0.0,0.0,0.0,0.0
2,10918,2846,8072,0,10404,2727,7677,0,934,1215,...,0,0,482.0,23754,247,3443,0.0,0.0,0.0,0.0
3,11215,2827,8388,0,10862,2746,8116,0,978,955,...,0,0,1928.0,13689,146,2139,0.0,0.0,0.0,0.0
4,22506,7569,14937,0,21934,7391,14543,0,2043,2723,...,0,0,292.0,24295,262,3578,0.0,0.0,0.0,0.0
5,17339,2910,14429,0,16537,2836,13701,0,1578,1367,...,0,0,2322.0,12996,155,1264,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2205,1825,349,31,2125,1759,335,31,77,178,...,0,0,44.0,1276,54,162,0.0,0.0,0.0,0.0
242,941,44,897,0,917,43,874,0,207,121,...,0,0,0.0,771,14,110,0.0,0.0,0.0,0.0
243,356,0,356,0,351,0,351,0,69,45,...,0,0,0.0,657,12,54,0.0,0.0,0.0,0.0
244,4041,236,3805,0,3840,227,3613,0,691,254,...,0,0,340.0,1482,26,276,0.0,0.0,0.0,0.0
245,726,310,348,68,696,299,331,66,74,105,...,0,0,0.0,1490,8,95,0.0,0.0,0.0,0.0

In [39]:
# MGRA level output 
mgra_level_data = mgra_15_forecast_data.groupby(['mgra']).sum()
mgra_level_data

,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,i1,i2,...,midpriceroom,upscaleroom,hotelroomtotal,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres
mgra,,,,,,,,,,,,,,,,,,,,,
1,176,110,66,0,172,107,65,0,29,24,...,0,0,0.0,87,1,27,0.0,0.0,0.0,0.0
2,56,0,56,0,52,0,52,0,9,8,...,0,0,0.0,103,1,27,0.0,0.0,0.0,0.0
3,200,23,177,0,195,23,172,0,14,40,...,0,0,0.0,142,1,27,0.0,0.0,0.0,0.0
4,4,4,0,0,2,2,0,0,2,0,...,0,0,0.0,221,1,27,0.0,0.0,0.0,0.0
5,43,43,0,0,39,39,0,0,1,3,...,0,0,0.0,221,1,27,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24317,2,2,0,0,2,2,0,0,1,1,...,0,0,0.0,137,1,11,0.0,0.0,0.0,0.0
24318,46,46,0,0,41,41,0,0,0,2,...,0,0,0.0,170,1,1,0.0,0.0,0.0,0.0
24319,0,0,0,0,0,0,0,0,0,0,...,0,0,0.0,210,1,14,0.0,0.0,0.0,0.0
24320,0,0,0,0,0,0,0,0,0,0,...,0,0,0.0,205,1,1,0.0,0.0,0.0,0.0
24321,0,0,0,0,0,0,0,0,0,0,...,0,0,0.0,22,1,3,0.0,0.0,0.0,0.0

In [57]:
mgra_level_data['Region'] = 'San Diego'

In [61]:
mgra_level_data.drop(['mgra', 'MGRA', 'luz_id', 'LUZ'], axis = 1).groupby('Region').sum()

,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,i1,i2,...,luxuryroom,midpriceroom,upscaleroom,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres
Region,,,,,,,,,,,,,,,,,,,,,
San Diego,1204471,723514,438921,42036,1153032,694623,418294,40115,102683,125820,...,0,0,0,63564.0,24351,222799,0.0,0.0,0.0,0.0

In [55]:
mgra_level_data.groupby('Jurisdiction').sum().drop(['mgra', 'MGRA'], axis=1)

,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,i1,i2,...,upscaleroom,hotelroomtotal,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,LUZ
Jurisdiction,,,,,,,,,,,,,,,,,,,,,
Carlsbad,46376,31775,13284,1317,43833,30078,12560,1195,2153,3329,...,0,4836.0,19724,758,4420,0.0,0.0,0.0,0.0,125029
Chula Vista,84102,50998,29249,3855,82551,49962,28778,3811,7192,8709,...,0,1920.0,130162,1075,12506,0.0,0.0,0.0,0.0,103616
Coronado,9588,5482,4106,0,7509,4457,3052,0,539,478,...,0,1717.0,29397,223,3272,0.0,0.0,0.0,0.0,21511
Del Mar,2613,1889,724,0,2083,1506,577,0,112,179,...,0,350.0,2244,66,1008,0.0,0.0,0.0,0.0,2901
El Cajon,36056,15280,18581,2195,34997,14785,18098,2114,4815,5234,...,0,898.0,83625,588,4690,0.0,0.0,0.0,0.0,71995
Encinitas,26189,21370,4080,739,24680,20135,3852,693,1670,1942,...,0,624.0,84624,821,4617,0.0,0.0,0.0,0.0,122756
Escondido,48473,28005,16730,3738,47315,27309,16353,3653,4864,6385,...,0,912.0,35613,940,9399,0.0,0.0,0.0,0.0,189526
Imperial Beach,9980,5797,3998,185,9577,5549,3851,177,1237,1470,...,0,78.0,19519,152,2130,0.0,0.0,0.0,0.0,25362
La Mesa,25763,13939,11521,303,25138,13596,11252,290,2890,3165,...,0,543.0,64192,469,4413,0.0,0.0,0.0,0.0,46881
Lemon Grove,9073,7028,2009,36,8564,6720,1809,35,760,1449,...,0,38.0,24136,180,2278,0.0,0.0,0.0,0.0,8581
National City,17108,9190,7531,387,16218,8855,6984,379,2635,3072,...,0,766.0,61792,510,6842,0.0,0.0,0.0,0.0,48021
Oceanside,66206,42999,19767,3440,61779,40548,18040,3191,5481,7360,...,0,1806.0,3340,1094,9256,0.0,0.0,0.0,0.0,179193
Poway,16710,13306,2701,703,16276,12955,2641,680,952,1173,...,0,198.0,18422,499,3476,0.0,0.0,0.0,0.0,66260
San Diego,539751,285879,248911,4961,518871,277164,236893,4814,49313,54597,...,0,43027.0,746806,8851,98130,0.0,0.0,0.0,0.0,396455
San Marcos,31473,16549,11287,3637,30568,16161,10869,3538,2635,3888,...,0,382.0,9323,465,1875,0.0,0.0,0.0,0.0,85039
Santee,20645,13017,5360,2268,20475,12919,5314,2242,1123,1933,...,0,157.0,42957,299,2526,0.0,0.0,0.0,0.0,34146
Solana Beach,6498,3867,2631,0,5923,3586,2337,0,298,402,...,0,195.0,28752,184,404,0.0,0.0,0.0,0.0,25846
Unincorporated,175538,139279,23985,12274,165434,131137,22938,11359,12054,17631,...,0,4581.0,1122149,6464,49515,0.0,0.0,0.0,0.0,1040687
Vista,32329,17865,12466,1998,31241,17201,12096,1944,1960,3424,...,0,536.0,17047,713,2042,0.0,0.0,0.0,0.0,131414

In [62]:
mgra_level_data.drop(['mgra', 'MGRA', 'luz_id', 'LUZ'], axis = 1).groupby('Region').sum().to_csv(f'J:/DataScience/DataQuality/QAQC/forecast_automation/mgra_series_15_2019_CSV_outputs/region_2019_CSV_Data_ind_QA.csv', index=True)

In [29]:
mgra_level_data = mgra_level_data.reset_index()
mgra_level_data

,mgra,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,i1,...,midpriceroom,upscaleroom,hotelroomtotal,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres
0,1,176,110,66,0,172,107,65,0,29,...,0,0,0.0,87,1,27,0.0,0.0,0.0,0.0
1,2,56,0,56,0,52,0,52,0,9,...,0,0,0.0,103,1,27,0.0,0.0,0.0,0.0
2,3,200,23,177,0,195,23,172,0,14,...,0,0,0.0,142,1,27,0.0,0.0,0.0,0.0
3,4,4,4,0,0,2,2,0,0,2,...,0,0,0.0,221,1,27,0.0,0.0,0.0,0.0
4,5,43,43,0,0,39,39,0,0,1,...,0,0,0.0,221,1,27,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,24317,2,2,0,0,2,2,0,0,1,...,0,0,0.0,137,1,11,0.0,0.0,0.0,0.0
24317,24318,46,46,0,0,41,41,0,0,0,...,0,0,0.0,170,1,1,0.0,0.0,0.0,0.0
24318,24319,0,0,0,0,0,0,0,0,0,...,0,0,0.0,210,1,14,0.0,0.0,0.0,0.0
24319,24320,0,0,0,0,0,0,0,0,0,...,0,0,0.0,205,1,1,0.0,0.0,0.0,0.0
24320,24321,0,0,0,0,0,0,0,0,0,...,0,0,0.0,22,1,3,0.0,0.0,0.0,0.0

In [33]:
mgra_level_data = mgra_level_data.merge(sql_df_all, how='left', left_on='mgra', right_on='MGRA')

In [37]:
mgra_level_data['lUZ']

KeyError: 'lUZ'

In [35]:
mgra_level_data['luz_id'] == mgra_level_data['LUZ']

KeyError: 'LUZ'

In [38]:
mgra_level_data.columns

Index(['mgra', 'hs', 'hs_sf', 'hs_mf', 'hs_mh', 'hh', 'hh_sf', 'hh_mf',
       'hh_mh', 'i1',
       ...
       'effective_acres', 'land_acres', 'MGRA_x', 'CPA_x', 'Jurisdiction_x',
       'LUZ_x', 'MGRA_y', 'CPA_y', 'Jurisdiction_y', 'LUZ_y'],
      dtype='object', length=112)