# User Notebook

In [1]:
import pandas as pd
import numpy as np
import pyodbc
from data_prep_functions import *
import warnings
warnings.filterwarnings('ignore')

# Individual File Creation

### MGRA Level

In [2]:
mgra_ind_df = mgra_output(dsid='36R', to_jdrive=True)
mgra_ind_df

NameError: name 'mgra_output' is not defined

In [3]:
mgra_ind_df = mgra_ind_df.set_index(['mgra', 'year'])

### Region Level
- Requires MGRA output to have already been created

In [4]:
region_ind = region_foldup(dsid='36R', to_jdrive=True)
region_ind

                     hs   hs_sf   hs_mf  hs_mh       hh   hh_sf   hh_mf  \
region    year
San Diego 2016  1190554  717626  430716  42212  1134848  687509  407158
          2018  1205852  722804  440941  42107  1147635  692115  415489
          2020  1226462  726240  458115  42107  1166240  696051  430081
          2023  1262957  728452  492398  42107  1197072  698405  458524
          2025  1288217  729790  516320  42107  1219745  699761  479834
          2026  1300847  730445  528295  42107  1231007  700382  490473
          2029  1338737  732381  564249  42107  1264151  702254  521737
          2030  1351367  732915  576345  42107  1274948  702823  531964
          2032  1376162  734194  599861  42107  1296193  703889  552143
          2035  1409867  735001  632759  42107  1327588  705047  582379
          2040  1443635  735965  665563  42107  1348283  705795  602316
          2045  1460856  736597  682152  42107  1364815  706490  618147
          2050  1471300  737012  692181  42107  1374841  706970  627690

                hh_mh  gq_civ  gq_mil  ...  hotelroomtotal  truckregiontype  \
region    year                         ...
San Diego 2016  40181   63014   43285  ...           56646            23002
          2018  40031   69372   46797  ...           61917            23002
          2020  40108   72056   48307  ...           61917            23002
          2023  40143   73875   50572  ...           63707            23002
          2025  40150   74447   51327  ...           64889            23002
          2026  40152   74733   51327  ...           65379            23002
          2029  40160   75591   51327  ...           66938            23002
          2030  40161   75877   51327  ...           67428            23002
          2032  40161   76043   51327  ...           68233            23002
          2035  40162   76292   51327  ...           69454            23002
          2040  40172   76292   51327  ...           70971            23002
          2045  40178   76292   51327  ...           72189            23002
          2050  40181   76292   51327  ...           73319            23002

                district27  milestocoast         acres  effective_acres  \
region    year
San Diego 2016      221100   245307.3086  2.727204e+06     1.251249e+06
          2018      221100   245307.3086  2.727204e+06     1.251249e+06
          2020      221100   245307.3086  2.727204e+06     1.251249e+06
          2023      221100   245307.3086  2.727204e+06     1.251249e+06
          2025      221100   245307.3086  2.727204e+06     1.251249e+06
          2026      221100   245307.3086  2.727204e+06     1.251249e+06
          2029      221100   245307.3086  2.727204e+06     1.251249e+06
          2030      221100   245307.3086  2.727204e+06     1.251249e+06
          2032      221100   245307.3086  2.727204e+06     1.251249e+06
          2035      221100   245307.3086  2.727204e+06     1.251249e+06
          2040      221100   245307.3086  2.727204e+06     1.251249e+06
          2045      221100   245307.3086  2.727204e+06     1.251249e+06
          2050      221100   245307.3086  2.727204e+06     1.251249e+06

                  land_acres  MicroAccessTime  remoteAVParking  \
region    year
San Diego 2016  2.698589e+06          2333475                5
          2018  2.698589e+06          2333475                5
          2020  2.698589e+06          2333475                5
          2023  2.698589e+06          2049556                5
          2025  2.698589e+06          1688220                5
          2026  2.698589e+06          1688220                5
          2029  2.698589e+06          1688220                5
          2030  2.698589e+06          1688220                5
          2032  2.698589e+06          1688220                5
          2035  2.698589e+06          1688220                5
          2040  2.698589e+06          1688220                5
          2045  2.698589e+06          1688220                5
          2050  2.698589e+06          1688220                5

                refueling_stations
region    year
San Diego 2016                 699
          2018                 699
          2020                 699
          2023                 699
          2025                 699
          2026                 699
          2029                 699
          2030                 699
          2032                 699
          2035                 699
          2040                 699
          2045                 699
          2050                 699

[13 rows x 104 columns]

In [5]:
region_ind

                     hs   hs_sf   hs_mf  hs_mh       hh   hh_sf   hh_mf  \
region    year
San Diego 2016  1190554  717626  430716  42212  1134848  687509  407158
          2018  1205852  722804  440941  42107  1147635  692115  415489
          2020  1226462  726240  458115  42107  1166240  696051  430081
          2023  1262957  728452  492398  42107  1197072  698405  458524
          2025  1288217  729790  516320  42107  1219745  699761  479834
          2026  1300847  730445  528295  42107  1231007  700382  490473
          2029  1338737  732381  564249  42107  1264151  702254  521737
          2030  1351367  732915  576345  42107  1274948  702823  531964
          2032  1376162  734194  599861  42107  1296193  703889  552143
          2035  1409867  735001  632759  42107  1327588  705047  582379
          2040  1443635  735965  665563  42107  1348283  705795  602316
          2045  1460856  736597  682152  42107  1364815  706490  618147
          2050  1471300  737012  692181  42107  1374841  706970  627690

                hh_mh  gq_civ  gq_mil  ...  hotelroomtotal  truckregiontype  \
region    year                         ...
San Diego 2016  40181   63014   43285  ...           56646            23002
          2018  40031   69372   46797  ...           61917            23002
          2020  40108   72056   48307  ...           61917            23002
          2023  40143   73875   50572  ...           63707            23002
          2025  40150   74447   51327  ...           64889            23002
          2026  40152   74733   51327  ...           65379            23002
          2029  40160   75591   51327  ...           66938            23002
          2030  40161   75877   51327  ...           67428            23002
          2032  40161   76043   51327  ...           68233            23002
          2035  40162   76292   51327  ...           69454            23002
          2040  40172   76292   51327  ...           70971            23002
          2045  40178   76292   51327  ...           72189            23002
          2050  40181   76292   51327  ...           73319            23002

                district27  milestocoast         acres  effective_acres  \
region    year
San Diego 2016      221100   245307.3086  2.727204e+06     1.251249e+06
          2018      221100   245307.3086  2.727204e+06     1.251249e+06
          2020      221100   245307.3086  2.727204e+06     1.251249e+06
          2023      221100   245307.3086  2.727204e+06     1.251249e+06
          2025      221100   245307.3086  2.727204e+06     1.251249e+06
          2026      221100   245307.3086  2.727204e+06     1.251249e+06
          2029      221100   245307.3086  2.727204e+06     1.251249e+06
          2030      221100   245307.3086  2.727204e+06     1.251249e+06
          2032      221100   245307.3086  2.727204e+06     1.251249e+06
          2035      221100   245307.3086  2.727204e+06     1.251249e+06
          2040      221100   245307.3086  2.727204e+06     1.251249e+06
          2045      221100   245307.3086  2.727204e+06     1.251249e+06
          2050      221100   245307.3086  2.727204e+06     1.251249e+06

                  land_acres  MicroAccessTime  remoteAVParking  \
region    year
San Diego 2016  2.698589e+06          2333475                5
          2018  2.698589e+06          2333475                5
          2020  2.698589e+06          2333475                5
          2023  2.698589e+06          2049556                5
          2025  2.698589e+06          1688220                5
          2026  2.698589e+06          1688220                5
          2029  2.698589e+06          1688220                5
          2030  2.698589e+06          1688220                5
          2032  2.698589e+06          1688220                5
          2035  2.698589e+06          1688220                5
          2040  2.698589e+06          1688220                5
          2045  2.698589e+06          1688220                5
          2050  2.698589e+06          1688220                5

                refueling_stations
region    year
San Diego 2016                 699
          2018                 699
          2020                 699
          2023                 699
          2025                 699
          2026                 699
          2029                 699
          2030                 699
          2032                 699
          2035                 699
          2040                 699
          2045                 699
          2050                 699

[13 rows x 104 columns]

In [18]:
def compare_df_sums(df1, df2):
    # Check if the dataframes have the same number of columns
    if df1.shape[1] != df2.shape[1]:
        return False
    
    # Iterate over the columns in df1
    for col in df1.columns:
        # Check if the sum of the column in df1 is equal to the sum of the same column in df2
        if df1[col].sum() != df2[col].sum():
            return False
    
    # If all the sums are equal, return True
    return True

In [6]:
import pandas as pd

def compare_df_sums(df1, df2):
    
    print('run')
    print(df1.columns)
    # Check if the dataframes have the same number of columns
    if df1.shape[1] != df2.shape[1]:
        return []
    
    # Initialize an empty list to store the columns with unequal sums
    unequal_columns = []
    
    # Iterate over the columns in df1
    for col in df1.columns:
        print(col)
        # Check if the sum of the column in df1 is equal to the sum of the same column in df2
        if df1[col].sum() != df2[col].sum():
            # If the sums are not equal, add the column to the list
            unequal_columns.append(col)
    
    # Return the list of unequal columns
    return unequal_columns

In [10]:
def compare_df_sums(df1, df2):
    # Initialize an empty list to store the columns with unequal sums
    unequal_columns = []
    
    # Common columns 
    common_columns = common_values(df1.columns, df2.columns)

    # Iterate over the columns in df1
    for col in common_columns:
        print(col)
        # Check if the sum of the column in df1 is equal to the sum of the same column in df2
        if df1[col].sum() != df2[col].sum():
            # If the sums are not equal, add the column to the list
            unequal_columns.append(col)
    
    # Return the list of unequal columns
    return unequal_columns

In [11]:
compare_df_sums(mgra_ind_df, region_ind)

emp_utilities_prod
i3
hstallssam
empden
emp_state_local_gov_blue
enrollgrade9to12
mstallssam
hs_mh
emp_const_non_bldg_prod
gq_civ
hch_dist
midpriceroom
refueling_stations
i6
emp_personal_svcs_office
hs_sf
emp_amusement
remoteAVParking
i8
land_acres
hs
i4
emp_cap_accts
emp_public_ed
hs_mf
hh
emp_fed_non_mil
emp_prof_bus_svcs
emp_fed_mil
hotelroomtotal
openspaceparkpreserve
truckregiontype
emp_const_bldg_office
beachactive
luxuryroom
dparkcost
totintbin
emp_fed_gov_accts
empdenbin
dudenbin
district27
popden
emp_health
retempden
effective_acres
adultschenrl
pseudomsa
i7
emp_hotel
upscaleroom
emp_state_local_gov_ent
emp_whsle_whs
emp_retail
pop
emp_utilities_office
hh_mf
mstallsoth
emp_const_bldg_prod
enrollgradekto8
parkarea
emp_pvt_ed_k12
zip09
gq_mil
hstallsoth
i10
hh_mh
emp_religious
emp_personal_svcs_retail
hhp
dstallsoth
MicroAccessTime
i2
emp_mfg_prod
i5
emp_pvt_hh
parkactive
dstallssam
emp_st_lcl_gov_accts
mparkcost
i1
emp_restaurant_bar
emp_total
emp_trans
emp_state_local_gov_white
numfreehrs
acres
othercollegeenroll
ech_dist
emp_mfg_office
duden
totint
milestocoast
hparkcost
i9
emp_pvt_ed_post_k12_oth
emp_ag
hh_sf
hhs
collegeenroll
economyroom
budgetroom
emp_const_non_bldg_office
emp_prof_bus_svcs_bldg_maint
emp_own_occ_dwell_mgmt

['land_acres',
 'beachactive',
 'dparkcost',
 'effective_acres',
 'parkactive',
 'acres',
 'milestocoast',
 'hparkcost',
 'hhs']

# Both File Creation
- Last run took: 2m 3.1s

In [8]:
both_df = create_both_df(dsid_1='36', dsid_2='36R', geo_level='mgra', to_jdrive=True)
both_df

            taz_36  hs_36  hs_sf_36  hs_mf_36  hs_mh_36  hh_36  hh_sf_36  \
year mgra
2016 1        3331     19        19         0         0     18        18
     2        3331     35        35         0         0     34        34
     3        3358     52        52         0         0     52        52
     4        3358     30        30         0         0     30        30
     5        3358     28        28         0         0     28        28
...            ...    ...       ...       ...       ...    ...       ...
2050 22998    1290     90        90         0         0     87        87
     22999    1290      0         0         0         0      0         0
     23000    1290    131       131         0         0    126       126
     23001    1254     83        83         0         0     81        81
     23002    1254      0         0         0         0      0         0

            hh_mf_36  hh_mh_36  gq_civ_36  ...  luz_id_36R  \
year mgra                                  ...
2016 1             0         0          0  ...          95
     2             0         0          0  ...          95
     3             0         0          0  ...          95
     4             0         0          0  ...          95
     5             0         0          0  ...          95
...              ...       ...        ...  ...         ...
2050 22998         0         0          0  ...          14
     22999         0         0          0  ...          14
     23000         0         0          0  ...          14
     23001         0         0          0  ...          14
     23002         0         0          0  ...          14

            truckregiontype_36R  district27_36R  milestocoast_36R  acres_36R  \
year mgra
2016 1                        1              27            3.7997  16.615444
     2                        1              27            3.9761  19.519185
     3                        1              27            4.1939  27.845124
     4                        1              27            4.2782   7.976178
     5                        1              27            4.0062   7.072502
...                         ...             ...               ...        ...
2050 22998                    1               1            2.6193  41.241522
     22999                    1               1            2.3703  35.842780
     23000                    1               1            2.1721  28.735275
     23001                    1               1            2.7063  41.006144
     23002                    1               1            2.4553  50.823736

            effective_acres_36R  land_acres_36R  MicroAccessTime_36R  \
year mgra
2016 1                12.961482       16.615444                   10
     2                19.519185       19.519185                   10
     3                26.867938       27.845124                   10
     4                 7.976178        7.976178                   10
     5                 7.063693        7.072502                   10
...                         ...             ...                  ...
2050 22998            26.863578       41.241522                  120
     22999            30.635095       35.842780                  120
     23000            16.109816       28.735275                  120
     23001            28.126056       41.006144                  120
     23002            34.131049       50.823736                  120

            remoteAVParking_36R  refueling_stations_36R
year mgra
2016 1                        0                       0
     2                        0                       0
     3                        0                       0
     4                        0                       0
     5                        0                       0
...                         ...                     ...
2050 22998                    0                       0
     22999                    0                       0
     23000                    0                       0
     23001                    0                       0
     23002                    0                       0

[299026 rows x 212 columns]

# Diff File Creation
- This is going to do dsid_1 minus dsid_2
- Last run took 4m 21.8s

In [2]:
diff_df = create_diff_df(dsid_1='36', dsid_2='36R', geo_level='mgra', to_jdrive=True)
diff_df

,,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,gq_civ,gq_mil,...,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations
mgra,year,,,,,,,,,,,,,,,,,,,,,
1,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
2,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
3,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
4,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
5,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
22999,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23000,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23001,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23002,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0

# Population comparison (between household csv and input files)
- Output name  is: mgra_households_dataset_population_comparison_{output_type}_DS{dsid}_QA.csv
- Last run took: 3m 16.3s

In [2]:
pop_comp_household_input = population_comparison_households_and_input_files(dsid='36R', gq_only=True, no_gq=False, to_jdrive=True)
pop_comp_household_input

     mgra   year  pop_count_household_file  pop_input_files  Diff
0    2016   1065                       193              193     0
1    2016   1070                       178              178     0
2    2016   1071                        31               31     0
3    2016   1073                        49               49     0
4    2016   1076                       588              588     0
..    ...    ...                       ...              ...   ...
579  2050  19191                      2694             2694     0
580  2050  19214                       566              566     0
581  2050  22593                       577              577     0
582  2050  22705                      1074             1074     0
583  2050  22840                      5176             5176     0

[584 rows x 5 columns]

In [3]:
pop_comp_household_input = population_comparison_households_and_input_files(dsid='36R', gq_only=False, no_gq=True, to_jdrive=True)
pop_comp_household_input

        mgra   year  pop_count_household_file  pop_input_files  Diff
0       2016      1                        41               41     0
1       2016      2                        81               81     0
2       2016      3                       111              111     0
3       2016      4                        73               73     0
4       2016      5                        63               63     0
...      ...    ...                       ...              ...   ...
237675  2050  22995                       105              105     0
237676  2050  22996                       248              248     0
237677  2050  22998                       242              242     0
237678  2050  23000                       323              323     0
237679  2050  23001                       204              204     0

[237680 rows x 5 columns]

# Household number comparison (between households csv file and input files)
- Output file looks like: mgra_households_dataset_hh_count_comparison_no_GQ_DS{dsid}_QA.csv   
- Compare number of households between input files and households dataset. Only at the 'No GQ' level.
- Last run took: 3m 33.8s

In [2]:
hs_comp_households_input_files = household_number_comparison_houseolds_and_input_files(dsid='36R', to_jdrive=True)
hs_comp_households_input_files

         mgra  year  house_count_household_file  hh_count_input_files  Diff
0           1  2016                          18                    18     0
1           2  2016                          34                    34     0
2           3  2016                          52                    52     0
3           4  2016                          30                    30     0
4           5  2016                          28                    28     0
...       ...   ...                         ...                   ...   ...
237675  22995  2050                          37                    37     0
237676  22996  2050                         103                   103     0
237677  22998  2050                          87                    87     0
237678  23000  2050                         126                   126     0
237679  23001  2050                          81                    81     0

[237680 rows x 5 columns]

# Population comparison (Between households csv and persons csv)
- Output looks like: DS{dsid}_persons_household_population_comparison_{gq_status}_QA.csv
- Last run took: 9m 48.7s
- Data completed around: 8m 15s

In [7]:
pop_comp_households_persons = aggregate_persons_households_population_comparison(dsid='36R', gq_only=True, to_jdrive=True)
pop_comp_households_persons

2016 is complete
2018 is complete
2020 is complete
2023 is complete
2025 is complete
2026 is complete
2029 is complete
2030 is complete
2032 is complete
2035 is complete
2040 is complete
2045 is complete
2050 is complete

,hhid,Persons_Dataset_Pop,Households_Dataset_Pop,Diff_P_minus_H,year
0,886,1,NaN,NaN,2016
1,2000,1,NaN,NaN,2016
2,2554,1,NaN,NaN,2016
3,2608,1,NaN,NaN,2016
4,2852,1,NaN,NaN,2016
...,...,...,...,...,...
84340,1453334,1,1.0,0.0,2050
84341,1453335,1,1.0,0.0,2050
84342,1453336,1,1.0,0.0,2050
84343,1453337,1,1.0,0.0,2050
84344,1453338,1,1.0,0.0,2050