# User Notebook

In [8]:
import pandas as pd
import numpy as np
import pyodbc
from data_prep_functions import *
import warnings
warnings.filterwarnings('ignore')

# Individual File Creation

### MGRA Level

In [3]:
mgra_ind_df = mgra_output(dsid='99', to_jdrive=True)
mgra_ind_df

,year,mgra,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,...,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations
0,2016,1,3331,19,19,0,0,18,18,0,...,95,1,27,3.7997,16.615444,12.961482,16.615444,10,0,0
1,2016,2,3331,35,35,0,0,34,34,0,...,95,1,27,3.9761,19.519185,19.519185,19.519185,10,0,0
2,2016,3,3358,52,52,0,0,52,52,0,...,95,1,27,4.1939,27.845124,26.867938,27.845124,10,0,0
3,2016,4,3358,30,30,0,0,30,30,0,...,95,1,27,4.2782,7.976178,7.976178,7.976178,10,0,0
4,2016,5,3358,28,28,0,0,28,28,0,...,95,1,27,4.0062,7.072502,7.063693,7.072502,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,2050,22998,1290,90,90,0,0,87,87,0,...,14,1,1,2.6193,41.241522,26.863578,41.241522,120,0,0
22998,2050,22999,1290,0,0,0,0,0,0,0,...,14,1,1,2.3703,35.842780,30.635095,35.842780,120,0,0
22999,2050,23000,1290,131,131,0,0,126,126,0,...,14,1,1,2.1721,28.735275,16.109816,28.735275,120,0,0
23000,2050,23001,1254,83,83,0,0,81,81,0,...,14,1,1,2.7063,41.006144,28.126056,41.006144,120,0,0
23001,2050,23002,1254,0,0,0,0,0,0,0,...,14,1,1,2.4553,50.823736,34.131049,50.823736,120,0,0

### Region Level
- Requires MGRA output to have already been created

In [11]:
region_ind = region_foldup(dsid='99', to_jdrive=True)
region_ind

                     hs   hs_sf   hs_mf  hs_mh       hh   hh_sf   hh_mf  \
region    year
San Diego 2016  1190554  717626  430716  42212  1134848  687509  407158
          2018  1205852  721197  442548  42107  1147635  690662  416984
          2020  1226462  722838  461517  42107  1166240  692841  433380
          2023  1262957  726724  494126  42107  1197072  696655  460274
          2025  1288217  728371  517739  42107  1219745  698560  481026
          2026  1300847  729354  529386  42107  1231007  699431  491412
          2029  1338737  730943  565687  42107  1264151  701159  522824
          2030  1351367  731412  577848  42107  1274948  701620  533159
          2032  1376162  732534  601521  42107  1296193  702540  553480
          2035  1409867  734934  632826  42107  1327588  704257  583158
          2040  1443635  737896  663632  42107  1348283  706499  601608
          2045  1460856  738005  680744  42107  1364815  707948  616679
          2050  1471300  738133  691060  42107  1374841  708722  625915

                hh_mh  gq_civ  gq_mil  ...  hotelroomtotal  truckregiontype  \
region    year                         ...
San Diego 2016  40181   63014   43285  ...           56646            23002
          2018  39989   69372   46797  ...           61917            23002
          2020  40019   72056   48307  ...           61917            23002
          2023  40143   73875   50572  ...           63707            23002
          2025  40159   74447   51327  ...           64889            23002
          2026  40164   74733   51327  ...           65379            23002
          2029  40168   75591   51327  ...           66938            23002
          2030  40169   75877   51327  ...           67428            23002
          2032  40173   76043   51327  ...           68233            23002
          2035  40173   76292   51327  ...           69454            23002
          2040  40176   76292   51327  ...           70971            23002
          2045  40188   76292   51327  ...           72189            23002
          2050  40204   76292   51327  ...           73319            23002

                district27  milestocoast         acres  effective_acres  \
region    year
San Diego 2016      221100   245307.3086  2.727204e+06     1.251249e+06
          2018      221100   245307.3086  2.727204e+06     1.251249e+06
          2020      221100   245307.3086  2.727204e+06     1.251249e+06
          2023      221100   245307.3086  2.727204e+06     1.251249e+06
          2025      221100   245307.3086  2.727204e+06     1.251249e+06
          2026      221100   245307.3086  2.727204e+06     1.251249e+06
          2029      221100   245307.3086  2.727204e+06     1.251249e+06
          2030      221100   245307.3086  2.727204e+06     1.251249e+06
          2032      221100   245307.3086  2.727204e+06     1.251249e+06
          2035      221100   245307.3086  2.727204e+06     1.251249e+06
          2040      221100   245307.3086  2.727204e+06     1.251249e+06
          2045      221100   245307.3086  2.727204e+06     1.251249e+06
          2050      221100   245307.3086  2.727204e+06     1.251249e+06

                  land_acres  MicroAccessTime  remoteAVParking  \
region    year
San Diego 2016  2.698589e+06          2333475                5
          2018  2.698589e+06          2333475                5
          2020  2.698589e+06          2333475                5
          2023  2.698589e+06          2333475                5
          2025  2.698589e+06          2333475                5
          2026  2.698589e+06          2333475                5
          2029  2.698589e+06          2333475                5
          2030  2.698589e+06          2333475                5
          2032  2.698589e+06          2333475                5
          2035  2.698589e+06          2333475                5
          2040  2.698589e+06          2333475                5
          2045  2.698589e+06          2333475                5
          2050  2.698589e+06          2333475                5

                refueling_stations
region    year
San Diego 2016                 699
          2018                 699
          2020                 699
          2023                 699
          2025                 699
          2026                 699
          2029                 699
          2030                 699
          2032                 699
          2035                 699
          2040                 699
          2045                 699
          2050                 699

[13 rows x 96 columns]

# Both File Creation
- Last run took: 2m 3.1s

In [3]:
both_df = create_both_df(dsid_1='35', dsid_2='41', geo_level='mgra', to_jdrive=True)
both_df

            taz_35  hs_35  hs_sf_35  hs_mf_35  hs_mh_35  hh_35  hh_sf_35  \
year mgra
2016 1        3331     19        19         0         0     18        18
     2        3331     35        35         0         0     34        34
     3        3358     52        52         0         0     52        52
     4        3358     30        30         0         0     30        30
     5        3358     28        28         0         0     28        28
...            ...    ...       ...       ...       ...    ...       ...
2050 22998    1290     92        92         0         0     87        87
     22999    1290      0         0         0         0      0         0
     23000    1290    131       131         0         0    126       126
     23001    1254     85        85         0         0     82        82
     23002    1254    120        20       100         0    109        17

            hh_mf_35  hh_mh_35  gq_civ_35  ...  luz_id_41  truckregiontype_41  \
year mgra                                  ...
2016 1             0         0          0  ...         95                   1
     2             0         0          0  ...         95                   1
     3             0         0          0  ...         95                   1
     4             0         0          0  ...         95                   1
     5             0         0          0  ...         95                   1
...              ...       ...        ...  ...        ...                 ...
2050 22998         0         0          0  ...         14                   1
     22999         0         0          0  ...         14                   1
     23000         0         0          0  ...         14                   1
     23001         0         0          0  ...         14                   1
     23002        92         0          0  ...         14                   1

            district27_41  milestocoast_41   acres_41  effective_acres_41  \
year mgra
2016 1                 27           3.7997  16.615444           12.961482
     2                 27           3.9761  19.519185           19.519185
     3                 27           4.1939  27.845124           26.867938
     4                 27           4.2782   7.976178            7.976178
     5                 27           4.0062   7.072502            7.063693
...                   ...              ...        ...                 ...
2050 22998              1           2.6193  41.241522           26.863578
     22999              1           2.3703  35.842780           30.635095
     23000              1           2.1721  28.735275           16.109816
     23001              1           2.7063  41.006144           28.126056
     23002              1           2.4553  50.823736           34.131049

            land_acres_41  MicroAccessTime  remoteAVParking  \
year mgra
2016 1          16.615444               10                0
     2          19.519185               10                0
     3          27.845124               10                0
     4           7.976178               10                0
     5           7.072502               10                0
...                   ...              ...              ...
2050 22998      41.241522              120                0
     22999      35.842780              120                0
     23000      28.735275              120                0
     23001      41.006144              120                0
     23002      50.823736              120                0

            refueling_stations
year mgra
2016 1                       0
     2                       0
     3                       0
     4                       0
     5                       0
...                        ...
2050 22998                   0
     22999                   0
     23000                   0
     23001                   0
     23002                   0

[299026 rows x 209 columns]

# Diff File Creation
- Last run took 4m 21.8s

In [4]:
diff_df = create_diff_df(dsid_1='35', dsid_2='41', geo_level='mgra', to_jdrive=True)
diff_df

            emp_public_ed  effective_acres  numfreehrs  district27  \
year mgra
2016 1                  0              0.0           0           0
     2                  0              0.0           0           0
     3                  0              0.0           0           0
     4                  0              0.0           0           0
     5                  0              0.0           0           0
...                   ...              ...         ...         ...
2050 22998              0              0.0           0           0
     22999              0              0.0           0           0
     23000              0              0.0           0           0
     23001              0              0.0           0           0
     23002              0              0.0           0           0

            emp_health  hhp  hh_sf  i3  acres  mstallsoth  ...  i6  zip09  \
year mgra                                                  ...
2016 1               0    0      0   0    0.0           0  ...   0      0
     2               0    0      0   0    0.0           0  ...   0      0
     3               0    0      0   0    0.0           0  ...   0      0
     4               0    0      0   0    0.0           0  ...   0      0
     5               0    0      0   0    0.0           0  ...   0      0
...                ...  ...    ...  ..    ...         ...  ...  ..    ...
2050 22998           0   -6      0  -2    0.0           0  ...  -7      0
     22999           0    0      0   0    0.0           0  ...   0      0
     23000           0   -6      0   1    0.0           0  ...   5      0
     23001           0   10      1   0    0.0           0  ...  -4      0
     23002           0  -23     -3   1    0.0           0  ...  -7      0

            emp_prof_bus_svcs_bldg_maint  adultschenrl  i4  hstallsoth  \
year mgra
2016 1                                 0             0   0           0
     2                                 0             0   0           0
     3                                 0             0   0           0
     4                                 0             0   0           0
     5                                 0             0   0           0
...                                  ...           ...  ..         ...
2050 22998                             0             0   2           0
     22999                             0             0   0           0
     23000                             0             0   3           0
     23001                             1             0  -2           0
     23002                             0             0  -5           0

            emp_const_non_bldg_office  duden  hs_mh  emp_const_bldg_prod
year mgra
2016 1                              0    0.0      0                    0
     2                              0    0.0      0                    0
     3                              0    0.0      0                    0
     4                              0    0.0      0                    0
     5                              0    0.0      0                    0
...                               ...    ...    ...                  ...
2050 22998                          0    0.0      0                    0
     22999                          0    0.0      0                    0
     23000                          0    0.0      0                    0
     23001                          0    0.0      0                    0
     23002                          0    0.0      0                    0

[299026 rows x 101 columns]

# Population comparison (between household csv and input files)
- Last run took: 3m 16.3s

In [9]:
pop_comp_household_input = population_comparison_households_and_input_files(dsid='42', gq_only=False, no_gq=False, to_jdrive=True)
pop_comp_household_input

        year   mgra  pop_count_household_file  pop_input_files  Diff
0       2016      1                        41               41     0
1       2016      2                        81               81     0
2       2016      3                       111              111     0
3       2016      4                        73               73     0
4       2016      5                        63               63     0
...      ...    ...                       ...              ...   ...
237160  2050  22995                        99               99     0
237161  2050  22996                       269              269     0
237162  2050  22998                       221              221     0
237163  2050  23000                       282              282     0
237164  2050  23001                       193              193     0

[237165 rows x 5 columns]

# Household number comparison (between households csv file and input files)
- Compare number of households between input files and households dataset. Only at the 'No GQ' level.
- Last run took: 3m 33.8s

In [10]:
hs_comp_households_input_files = household_number_comparison_houseolds_and_input_files(dsid='42', to_jdrive=True)
hs_comp_households_input_files

        year   mgra  house_count_household_file  hh_count_input_files  Diff
0       2016      1                          18                    18     0
1       2016      2                          34                    34     0
2       2016      3                          52                    52     0
3       2016      4                          30                    30     0
4       2016      5                          28                    28     0
...      ...    ...                         ...                   ...   ...
236889  2050  22995                          37                    37     0
236890  2050  22996                         103                   103     0
236891  2050  22998                          87                    87     0
236892  2050  23000                         126                   126     0
236893  2050  23001                          81                    81     0

[236894 rows x 5 columns]

# Population comparison (Between households csv and persons csv)
- Last run took: 9m 48.7s
- Data completed around: 8m 15s

In [6]:
pop_comp_households_persons = aggregate_persons_households_population_comparison(dsid='42', gq_only=False, to_jdrive=True)
pop_comp_households_persons

2016 is complete
2018 is complete
2020 is complete
2023 is complete
2025 is complete
2026 is complete
2029 is complete
2030 is complete
2032 is complete
2035 is complete
2040 is complete
2045 is complete
2050 is complete